workflows/.json
{"workflow_data":{"createdAt":"2025-08-18T09:34:15.862Z","updatedAt":"2025-08-23T12:34:35.000Z","id":"A95boTwgsMKW2A75","name":"Auto support with Bunkerbot","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2752,-880],"id":"7cbeaf85-2363-4e9e-9c5f-1c6b00a5d21f","name":"Extract from File"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[512,-816],"id":"bed4287c-df29-4e0a-b7c2-a88752835aca","name":"Every hour"},{"parameters":{"operation":"set","key":"bunkerweb_documentation_hash","value":"={{ $json.data }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2304,-672],"id":"ab58013e-0532-4210-a80d-06fdbe11a75f","name":"Cache hash","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"type":"SHA256","binaryData":true},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1184,-736],"id":"4ee2de36-3b72-445a-b6ba-2cd0e212cd0f","name":"Generate SHA256 from file"},{"parameters":{"operation":"get","propertyName":"cached_hash","key":"=bunkerweb_documentation_hash","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1408,-672],"id":"125654b6-73c9-42f1-99ed-01c449eb11ef","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"content":"## 💾 Filter already unchanged file.","height":320,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1376,-832],"typeVersion":1,"id":"f5d1b6b4-59cc-47e6-9dbb-bb9b974aa1c1","name":"Sticky Note3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1632,-736],"id":"821e0a34-644d-4d93-9376-6ebf87f1628b","name":"Merge data with cache"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.cached_hash }}","rightValue":"={{ $json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2080,-816],"id":"39288426-5a3f-45d3-bc76-c85ef25cde9c","name":"Have changed"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[512,-1312],"id":"5b01b58c-6736-4b8d-90a5-246232c00bbb","name":"Clear cached hash"},{"parameters":{"operation":"delete","key":"bunkerweb_documentation_hash"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[736,-1312],"id":"b1741b5d-3a15-4cff-849d-4e347a4967c6","name":"Clear hash","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[3104,-656],"id":"8665e26b-83e3-4156-8f6d-09f755ed9d98","name":"Default Data Loader"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1856,-816],"id":"5f7aa3c5-2572-40c4-8518-fe682a7129ea","name":"Merge data with hash"},{"parameters":{"chunkSize":1200,"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3184,-448],"id":"0eaf1379-c104-451c-8a73-02af140d1523","name":"Recursive Character Text Splitter"},{"parameters":{"promptType":"define","text":"Help me with the BunkerWeb's antibot","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1024,-48],"id":"026a45ee-6bf8-4b8b-b0d9-0a886889346e","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[2976,-656],"id":"220543c3-f075-48cb-a98f-eb0c6dfccfbb","name":"text-embedding-004","credentials":{"googlePalmApi":{"id":"IVbQk98ytIeqg4nB","name":"Gemini Api - theophile.diot900@gmail.com"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1296,400],"id":"81eac840-193e-410e-bef0-66639b843c59","name":"text)embedding-004 read","credentials":{"googlePalmApi":{"id":"IVbQk98ytIeqg4nB","name":"Gemini Api - theophile.diot900@gmail.com"}}},{"parameters":{"mode":"insert","tableName":"doc_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[3008,-880],"id":"d1df38d4-15a1-4480-a56d-87529af972e4","name":"Postgres PGVector Store - file","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1216,192],"id":"23ee7a97-e8a8-4eda-9559-ae2422554331","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"url":"https://api.github.com/repos/bunkerity/bunkerweb/releases/latest","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,-816],"id":"3a296f77-36d0-4e82-9e85-7865b49f4fd6","name":"Get latest stable version of BunkerWeb"},{"parameters":{"url":"=https://github.com/bunkerity/bunkerweb/releases/download/{{ $json.name }}/BunkerWeb_documentation_{{ $json.name }}.pdf","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-816],"id":"6d23f434-4dbf-4268-bd07-83a95a4ce250","name":"Fetch latest documentation file"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"doc_embeddings","mode":"list","cachedResultName":"doc_embeddings"},"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2304,-960],"id":"ccf2f79c-86c1-4e87-beb9-0496ce63d676","name":"Delete table or rows","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,192],"id":"ea6b5fa8-eaf1-4fef-baf9-1f2260f7f494","name":"Gemini 2.5 PRO","credentials":{"googlePalmApi":{"id":"IVbQk98ytIeqg4nB","name":"Gemini Api - theophile.diot900@gmail.com"}}},{"parameters":{"model":"mistral:7b-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1088,192],"id":"772637e1-bce5-47c7-9347-818bef1ed8ff","name":"Mistal","credentials":{"ollamaApi":{"id":"1LHuJ7liAjGaSUJT","name":"Ollama account"}}},{"parameters":{"httpMethod":"POST","path":"352d4e59-1627-421d-ab74-21f53bf39640","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[512,-240],"id":"1748bf7b-4835-4ddf-a2f2-c82ae76fe714","name":"Webhook","webhookId":"352d4e59-1627-421d-ab74-21f53bf39640","credentials":{"httpBasicAuth":{"id":"ELDI12BmaEcIBnEO","name":"BunkerBot support Webhook"}}},{"parameters":{"respondWith":"noData","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1072,-224],"id":"91c9f372-af30-4288-a644-8b72f3b43995","name":"Reply with error"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1584,-48],"id":"06eb35ac-b59d-4ee3-9123-1832721fc78b","name":"Reply with Agent output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2751dbba-7e53-480c-85e6-5d4a5fba6583","leftValue":{},"rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}},{"id":"2e947ef6-bccd-4091-bce4-969cf430a09e","leftValue":"message","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,-240],"id":"b7535e06-a407-4346-b88a-523b44989d71","name":"If doesn't have correct fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2528,-880],"id":"c47692a4-9cad-47f7-a04e-2851ee980eb9","name":"Merge data with postgres output"}],"connections":{"Extract from File":{"main":[[{"node":"Postgres PGVector Store - file","type":"main","index":0}]]},"Every hour":{"main":[[{"node":"Get latest stable version of BunkerWeb","type":"main","index":0}]]},"Generate SHA256 from file":{"main":[[{"node":"Get cached ID","type":"main","index":0},{"node":"Merge data with cache","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge data with cache","type":"main","index":1}]]},"Merge data with cache":{"main":[[{"node":"Merge data with hash","type":"main","index":1}]]},"Have changed":{"main":[[{"node":"Cache hash","type":"main","index":0},{"node":"Delete table or rows","type":"main","index":0},{"node":"Merge data with postgres output","type":"main","index":1}]]},"Clear cached hash":{"main":[[{"node":"Clear hash","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store - file","type":"ai_document","index":0}]]},"Merge data with hash":{"main":[[{"node":"Have changed","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"AI Agent":{"main":[[{"node":"Reply with Agent output","type":"main","index":0}]]},"text-embedding-004":{"ai_embedding":[[{"node":"Postgres PGVector Store - file","type":"ai_embedding","index":0}]]},"text)embedding-004 read":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get latest stable version of BunkerWeb":{"main":[[{"node":"Fetch latest documentation file","type":"main","index":0}]]},"Fetch latest documentation file":{"main":[[{"node":"Generate SHA256 from file","type":"main","index":0},{"node":"Merge data with hash","type":"main","index":0}]]},"Delete table or rows":{"main":[[{"node":"Merge data with postgres output","type":"main","index":0}]]},"Gemini 2.5 PRO":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mistal":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Webhook":{"main":[[{"node":"If doesn't have correct fields","type":"main","index":0}]]},"If doesn't have correct fields":{"main":[[{"node":"Reply with error","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Merge data with postgres output":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every hour":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3baf8584-af19-4704-a850-5b736d9acf16","triggerCount":2,"tags":[]},"workflow_hash":"b408dcdda9a4619eaf4c3de0b5bab99a77753e7dff463916ad82c69e1f77c0a1","error":"The resource you are requesting could not be found"}