workflows/baf8XdW20UtWXYTe.json
{"createdAt":"2025-08-20T09:46:24.426Z","updatedAt":"2025-09-15T15:13:47.373Z","id":"baf8XdW20UtWXYTe","name":"Search BunkerWeb through Stack Exchange","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3104,248],"id":"0dd11c3a-674c-4fba-aa99-896469d67ebc","name":"Every day"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1312,588],"id":"f08033c2-d787-4ac7-b9e9-48b9d891c2c6","name":"Loop Over entities"},{"parameters":{"content":"### 📝 Create a summary from the tweet using Gemini 2.5 flash and fallback to llama3.2.","height":448,"width":800,"color":5},"type":"n8n-nodes-base.stickyNote","position":[200,436],"typeVersion":1,"id":"272ab6e7-2cb2-4679-bf1e-4427d2254216","name":"Sticky Note"},{"parameters":{"content":"## ⏳ Handle Gemini 2.5 flash API rate limit (10 requests per minute).","height":640,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1376,252],"typeVersion":1,"id":"8104aa73-e94a-4f3e-aca2-d47abd7ade69","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1536,248],"id":"970683cf-0cc0-48d9-bf36-2b09147ee6a7","name":"Hasn't been processed already"},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=stack_exchange_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1984,320],"id":"587c8e08-fb0e-4cf2-9033-16c5d1b5179b","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1760,248],"id":"0ed46ef7-8a85-44d1-a368-df8cfa6f8c70","name":"Merge cached response and entity"},{"parameters":{"content":"## 💾 Filter already processed tweets.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2032,128],"typeVersion":1,"id":"e7e9be94-78e9-4f48-9044-f9c4cbe6ed4a","name":"Sticky Note3"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"creation_date"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-640,-40],"id":"bda0d793-ec30-42cb-b252-ddbac3939c12","name":"Sort by creation date"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1088,-40],"id":"5f6d251f-cf2f-48df-ac98-f1136d49f308","name":"Merge summary"},{"parameters":{"authentication":"webhook","content":"=","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.summary }}","author":"={{ $json.owner_name }}","color":"#14171A","timestamp":"={{ $json.creation_date }}","title":"=⚙ New {{ $json.site }} mention!","url":"={{ $json.link }}\n","thumbnail":"={{ $json.owner_avatar }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-192,-40],"id":"a976279a-17d5-48f8-8018-7847ca5174fb","name":"Alert discord","webhookId":"681c73b2-5218-4e52-b2b1-3719bbaef48d","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"2oqKEjJqfEfwORxZ","name":"Discord Webhook social alerts"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-416,-40],"id":"8d8f24c5-42c9-4cc9-a185-a62176e8187b","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,-40],"id":"94e951b7-9767-4fac-8617-303477fc47e9","name":"Wait 1 second","webhookId":"053646d8-fa9f-4740-8782-a5fd00977e7d"},{"parameters":{"content":"## 📨 Inform the Bunker team on Discord and save processed entities in the cache","height":384,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-480,-264],"typeVersion":1,"id":"26cbb676-d713-49af-ab1e-5e110defd626","name":"Sticky Note2"},{"parameters":{"operation":"set","key":"=stack_exchange_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ DateTime.fromSeconds(0).plus(1, \"year\").toSeconds() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[440,-112],"id":"1a1e570e-8ce6-451d-9f65-9762f7df1f4a","name":"Save processed ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"session_stack_exchange"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[512,740],"id":"acb7ab88-03ad-48c1-9e6d-960988f7c814","name":"Redis","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[640,740],"id":"396029c5-c847-43d9-9d56-07491ba7b80d","name":"Tavily search","credentials":{"tavilyApi":{"id":"CpAx4VhG0PmKrOZR","name":"Tavily account - GitHub"}}},{"parameters":{"keys":{"key":[{"currentKey":"output","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[848,640],"id":"e348129d-cdbb-4400-83f1-bf356210e5da","name":"Rename output -> summary"},{"parameters":{"assignments":{"assignments":[{"id":"955d62d6-8516-4ba3-85ff-1c9d16cc679c","name":"creation_date","value":"={{ DateTime.fromISO($json.creation_date) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,-40],"id":"d5aaa970-a566-4bb4-9162-3d5df9267764","name":"Convert date string to datetime"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[32,-112],"id":"796560b2-14e9-42f8-9097-1b3f2a18f142","name":"Merge tweet data with discord response"},{"parameters":{"model":"llama3.2:3b","options":{"lowVram":true,"useMLock":true,"useMMap":true}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[384,740],"id":"dc94aaf3-dee0-4687-909f-4af5388d5602","name":"llama3.2","credentials":{"ollamaApi":{"id":"1LHuJ7liAjGaSUJT","name":"Ollama account"}}},{"parameters":{"promptType":"define","text":"=**Purpose:**\nSummarize a Stack Exchange question using **structured metadata**, the **question body**, your **long-term memory**, and optionally the **Tavily search tool**, in order to help the creator of **BunkerWeb** monitor how their product is mentioned.\n\nUse **Tavily only when essential** — specifically if an acronym, tool, or concept (that is **not BunkerWeb**) is critical to understanding the issue, and not known from your memory or the input.\n\n⚠️ **Never use Tavily to look up anything related to BunkerWeb.** If BunkerWeb is mentioned, use only the provided content and your own memory to understand how it’s being discussed.\n\n---\n\n### 🧾 Input Format\n\n```\n===== BEGIN META =====\ntitle: {{ $json.title }}\ntags: {{ $json.tags.toJsonString() }}\nis_answered: {{ $json.is_answered }}\nauthor_name: {{ $json.owner_name }}\nauthor_reputation: {{ $json.owner_reputation }}\ncreation_date: {{ $json.creation_date }}\n===== END META =====\n\n===== BEGIN BODY =====\n{{ $json.body }}\n===== END BODY =====\n```\n\n---\n\n### 📤 Output Rules\n\nReturn **only a plain-text paragraph** that:\n\n1. Summarizes the user’s core issue in **1–2 sentences**.\n2. **Mentions BunkerWeb only if central** to the problem.\n3. Does **not** include metadata, markdown, or structured formatting.\n4. Appends **(Sensitive)** only if the issue suggests infrastructure, proxy config, or security/privacy exposure.\n5. Mentions the author **only if critical for understanding**.\n6. Uses your memory and logic before considering Tavily.\n\n---\n\n### 🧠 Interpretation Tips\n\n* Parse HTML as meaningful text (`<p>`, `<code>`, `<ul>`, etc.).\n* Focus on understanding the technical **problem**, **setup**, and **what the user tried**.\n* Avoid copying phrases unless essential — paraphrase precisely.\n* No speculation — everything must be grounded in input or memory.","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[376,516],"id":"8a2584c9-5be8-443d-abff-83278227b5c5","name":"Agent summarizer"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3104,956],"id":"9ef070cd-b993-4e9a-a2db-36a8dae4dec0","name":"Clear processed IDs"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2656,956],"id":"fdf2d984-a1bc-497a-acf3-797fa46cd8cd","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2432,956],"id":"bc2b6210-07d7-4a0f-982b-11064da86d81","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[256,740],"id":"a4c2a843-53c7-4baa-a1d6-f17ee7757e28","name":"Gemini 2.5 flash","credentials":{"googlePalmApi":{"id":"GNtLDT3w0YRmjHrT","name":"Gemini Api -  tdiot@bunkerity.com"}}},{"parameters":{"amount":65},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,372],"id":"b557e140-d3bd-47ce-936f-8cd112cd9a52","name":"Wait for the gemini API rate limit to end","webhookId":"c895d0d9-8d47-4bbf-bc91-87ad99b3badb"},{"parameters":{"operation":"get","propertyName":"gemini_flash_executions","key":"gemini_flash_executions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1088,732],"id":"cf26f933-68c9-4bbb-b5a9-09ebacad8eef","name":"Get gemini flash executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-864,588],"id":"21ddf061-445d-4b2e-8ff3-8bd40a0324ec","name":"Add gemini_flash_executions key"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.gemini_flash_executions }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,588],"id":"a93a5cc8-2e2b-450a-8748-9a7582ee0f3c","name":"If there's been 10 executions or more"},{"parameters":{"operation":"delete","key":"gemini_flash_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-192,300],"id":"b64481c6-ffc4-4cc8-9b3f-346396f1eb59","name":"Delete gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"incr","key":"gemini_flash_executions","expire":true,"ttl":65},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-416,732],"id":"3ff7a594-3c0a-4a9a-af93-fe2dbda9904b","name":"Increment gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"url":"https://api.stackexchange.com/2.3/search/advanced","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"BunkerWeb"},{"name":"order","value":"desc"},{"name":"sort","value":"creation"},{"name":"site","value":"={{ $json.site }}"},{"name":"filter","value":"withbody"},{"name":"pagesize","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2432,248],"id":"ba78d9a0-a90e-4624-912e-0d05d8db74d6","name":"Fetch latest posts containing the keyword BunkerWeb"},{"parameters":{"assignments":{"assignments":[{"id":"561e1cf6-ed65-4beb-a22c-e1b28bae9d5f","name":"sites","value":"[\"stackoverflow\", \"serverfault\", \"superuser\", \"askubuntu\", \"unix\", \"security\", \"devops\", \"webmasters\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,248],"id":"72d4b0ff-2e77-4be7-87ae-a5fcb56b8226","name":"Select sites to search from"},{"parameters":{"jsCode":"const sites = $json.sites || [];\nreturn sites.map(site => ({ json: { site } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2656,248],"id":"c162c4df-1f95-492b-8ca6-c01c68be509e","name":"Parse sites"},{"parameters":{"operation":"keys","keyPattern":"stack_exchange_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2880,956],"id":"15a5c554-a872-447c-86db-0e589aa51cce","name":"Get all stack_exchange_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"// Normalize Stack Exchange results + generate stable id\n// Works even if the upstream HTTP node didn't carry the \"site\" slug.\n\nconst out = [];\n\nfor (const item of items) {\n  const res = item.json || {};\n  const list = Array.isArray(res.items) ? res.items : [];\n\n  for (const q of list) {\n    // --- Derive site host/slug/url from the question link ---\n    let site_host = null;\n    let site_slug = null;\n    let site_url = null;\n\n    if (q.link) {\n      try {\n        const u = new URL(q.link);                    // e.g., https://unix.stackexchange.com/questions/...\n        site_host = u.hostname;                       // unix.stackexchange.com | stackoverflow.com\n        if (site_host.endsWith('stackexchange.com')) {\n          // For *.stackexchange.com, API site param is the first label (e.g., \"unix\", \"security\", \"webmasters\")\n          site_slug = site_host.split('.')[0];\n        } else {\n          // For standalone hosts (stackoverflow.com, serverfault.com, askubuntu.com, superuser.com, ru.stackoverflow.com)\n          // API site param is the hostname without \".com\"\n          site_slug = site_host.replace(/\\.com$/,''); // => \"stackoverflow\", \"askubuntu\", \"ru.stackoverflow\"\n        }\n        site_url = `${u.protocol}//${site_host}`;\n      } catch (e) {\n        // Fallbacks if URL parsing fails\n        site_url = q.link?.split('/questions/')[0] || null;\n        site_host = site_url ? site_url.replace(/^https?:\\/\\//, '') : null;\n        site_slug = site_host\n          ? (site_host.endsWith('stackexchange.com')\n              ? site_host.split('.')[0]\n              : site_host.replace(/\\.com$/,''))\n          : 'unknown';\n      }\n    } else {\n      site_slug = 'unknown';\n      site_url  = null;\n      site_host = null;\n    }\n\n    // --- Stable unique id across sites/runs ---\n    const id = `${site_slug}-${q.question_id}`;\n\n    out.push({\n      json: {\n        // Unique\n        id,\n\n        // Site\n        site: site_slug,                 // e.g., \"stackoverflow\", \"unix\", \"security\", \"ru.stackoverflow\"\n        site_host,                       // e.g., \"stackoverflow.com\", \"unix.stackexchange.com\"\n        site_url,                        // e.g., \"https://stackoverflow.com\"\n        site_api_link: `https://api.stackexchange.com/2.3/questions/${q.question_id}?site=${site_slug}`,\n\n        // Question\n        question_id: q.question_id,\n        title: q.title,\n        link: q.link,\n        tags: q.tags,\n        content_license: q.content_license || null,\n\n        // Dates → ISO strings\n        creation_date: q.creation_date ? new Date(q.creation_date * 1000).toISOString() : null,\n        last_activity_date: q.last_activity_date ? new Date(q.last_activity_date * 1000).toISOString() : null,\n        last_edit_date: q.last_edit_date ? new Date(q.last_edit_date * 1000).toISOString() : null,\n\n        // Stats\n        is_answered: q.is_answered,\n        answer_count: q.answer_count,\n        score: q.score,\n        view_count: q.view_count,\n\n        // Owner\n        owner_id: q.owner?.user_id ?? null,\n        owner_name: q.owner?.display_name ?? null,\n        owner_profile: q.owner?.link ?? null,\n        owner_reputation: q.owner?.reputation ?? null,\n        owner_avatar: q.owner?.profile_image ?? null,\n        owner_type: q.owner?.user_type ?? null,\n\n        // Content\n        body: q.body,\n        excerpt: q.title ? q.title.slice(0, 140) : null,\n      }\n    });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,248],"id":"11e13dde-2cd9-40af-b1da-9457c8c6c87b","name":"Normalize and merge results"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-192,660],"id":"149a2d98-9f85-426e-a952-d96b6d987645","name":"Merge increment"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[32,372],"id":"d1a4503c-41e6-434e-a92d-9e59302d70bb","name":"Merge wait"}],"connections":{"Every day":{"main":[[{"node":"Select sites to search from","type":"main","index":0}]]},"Loop Over entities":{"main":[[{"node":"Merge summary","type":"main","index":1}],[{"node":"Get gemini flash executions","type":"main","index":0},{"node":"Add gemini_flash_executions key","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge cached response and entity","type":"main","index":1}]]},"Merge cached response and entity":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"Hasn't been processed already":{"main":[[{"node":"Merge summary","type":"main","index":0},{"node":"Loop Over entities","type":"main","index":0}]]},"Sort by creation date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge summary":{"main":[[{"node":"Convert date string to datetime","type":"main","index":0}]]},"Alert discord":{"main":[[{"node":"Merge tweet data with discord response","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Merge tweet data with discord response","type":"main","index":0},{"node":"Alert discord","type":"main","index":0}]]},"Wait 1 second":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Save processed ID":{"main":[[{"node":"Wait 1 second","type":"main","index":0}]]},"Redis":{"ai_memory":[[{"node":"Agent summarizer","type":"ai_memory","index":0}]]},"Tavily search":{"ai_tool":[[{"node":"Agent summarizer","type":"ai_tool","index":0}]]},"Rename output -> summary":{"main":[[{"node":"Loop Over entities","type":"main","index":0}]]},"Convert date string to datetime":{"main":[[{"node":"Sort by creation date","type":"main","index":0}]]},"Merge tweet data with discord response":{"main":[[{"node":"Save processed ID","type":"main","index":0}]]},"llama3.2":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":1}]]},"Agent summarizer":{"main":[[{"node":"Rename output -> summary","type":"main","index":0}]]},"Clear processed IDs":{"main":[[{"node":"Get all stack_exchange_* keys","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Gemini 2.5 flash":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":0}]]},"Wait for the gemini API rate limit to end":{"main":[[{"node":"Delete gemini_flash_executions","type":"main","index":0},{"node":"Merge wait","type":"main","index":1}]]},"Get gemini flash executions":{"main":[[{"node":"Add gemini_flash_executions key","type":"main","index":1}]]},"Add gemini_flash_executions key":{"main":[[{"node":"If there's been 10 executions or more","type":"main","index":0}]]},"If there's been 10 executions or more":{"main":[[{"node":"Wait for the gemini API rate limit to end","type":"main","index":0}],[{"node":"Increment gemini_flash_executions","type":"main","index":0},{"node":"Merge increment","type":"main","index":0}]]},"Select sites to search from":{"main":[[{"node":"Parse sites","type":"main","index":0}]]},"Parse sites":{"main":[[{"node":"Fetch latest posts containing the keyword BunkerWeb","type":"main","index":0}]]},"Get all stack_exchange_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Fetch latest posts containing the keyword BunkerWeb":{"main":[[{"node":"Normalize and merge results","type":"main","index":0}]]},"Normalize and merge results":{"main":[[{"node":"Get cached ID","type":"main","index":0},{"node":"Merge cached response and entity","type":"main","index":0}]]},"Increment gemini_flash_executions":{"main":[[{"node":"Merge increment","type":"main","index":1}]]},"Merge increment":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]},"Delete gemini_flash_executions":{"main":[[{"node":"Merge wait","type":"main","index":0}]]},"Merge wait":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4195d531-fdd0-43c0-bf21-d889a1d59611","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"baf8XdW20UtWXYTe","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"createdAt":"2025-08-13T09:13:48.874Z","updatedAt":"2025-08-13T09:13:48.874Z","id":"Af5V1Rr0ynGVFcvN","name":"Social"}]}