workflows/c7mpQG9QCOj8wfK3.json
{"updatedAt":"2025-09-15T15:14:00.366Z","createdAt":"2025-08-19T15:31:14.881Z","id":"c7mpQG9QCOj8wfK3","name":"Discord summarizations","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"mode":"id","value":"1347192719088549960"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1120,-1424],"id":"c1de3f45-72b0-41e7-8f32-16a0cfd6936f","name":"Get messages from ❓🇫🇷・aide","webhookId":"19c655a1-1eb9-4d84-a2ed-d8091ce64e17","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15f8babf-b772-4758-9fcb-3467f23fb1c6","leftValue":"={{ DateTime.fromISO($json.timestamp) }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime().minus(1, 'day') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"da98403d-2485-4149-b71c-a9cd70da547d","leftValue":"={{ DateTime.fromISO($json.timestamp) }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-672,-1328],"id":"be110b0d-53e4-4bc3-bac6-6cbb6ceac18f","name":"Only fetch yesterday's messages"},{"parameters":{"content":"## 💾 Filter already processed messages.","height":512,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-720,-1680],"typeVersion":1,"id":"bf73dba2-bd49-488d-92a4-0ee2326cc762","name":"Sticky Note"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,-1104],"id":"e02c2887-a398-471f-8f9d-9920f620acc3","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-448,-1104],"id":"2348ce19-ed67-442c-8705-0c1d2341f245","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"keys","keyPattern":"discord_aide_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,-1104],"id":"332b39bc-4782-4bf2-8ab9-3322d33784b5","name":"Get all discord_support_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=discord_summarize_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-448,-1616],"id":"ed946054-a090-4517-8dae-09cfd4f7214f","name":"Get cached ID - support","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,-1472],"id":"72a425cd-7625-467d-a93a-bb84de8c7944","name":"Merge cached with messages - support"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,-1472],"id":"fef0a8ca-e6d1-40e2-88a8-60f3e8911233","name":"Hasn't been processed already - support"},{"parameters":{"operation":"set","key":"=discord_summarize_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ $now.plus(1, 'day').plus(1, 'hour').toSeconds().round() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[224,-1376],"id":"c1cfe8b2-6556-4f42-bac1-3facc54d6811","name":"Set cached messages - support","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      messages: $input.all()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-1568],"id":"c0cd357d-936e-4873-bf6b-4713429d89e1","name":"Merge messages data - support"},{"parameters":{"model":"gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[448,-1344],"id":"349969a6-e736-45a2-b288-468ec3bdf63c","name":"gpt-5-mini - support","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Open AI GPT 5 - Bunkerity"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"948967522575720448","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1120,-1616],"id":"54a7638f-7f21-4d3c-ba0f-dc8a7f058993","name":"Get messages from ❓・help","webhookId":"19c655a1-1eb9-4d84-a2ed-d8091ce64e17","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-896,-1568],"id":"b6ebfc90-e93f-4afb-9fde-b4825d863b61","name":"Merge messages"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1236580887727177798","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1120,-1808],"id":"6adcbe7a-dd80-4af8-948e-ba517f0dae5b","name":"Get messages from ⚙・testers","webhookId":"19c655a1-1eb9-4d84-a2ed-d8091ce64e17","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,-1648],"id":"ec493813-83d0-4e84-897f-c1df15771be9","name":"Create a community support summary"},{"parameters":{"sessionIdType":"customKey","sessionKey":"discord_support_memory"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[576,-1344],"id":"23f580b9-da94-43d8-9af8-afdb05c50c03","name":"Redis - support","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[1296,-1136],"id":"8933a9cc-35a8-4eec-a706-ba6420963125","name":"text-embedding-3-small - read","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"authentication":"webhook","options":{},"files":{"values":[{}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1808,-1568],"id":"ac939d5d-00bf-4352-a058-3ef213b32f99","name":"Send summary to Discord","webhookId":"feb067ce-5a57-4274-8e96-886499b745b6","credentials":{"discordWebhookApi":{"id":"t4imPcVx6Q26utt3","name":"Discord Webhook - follow ups"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15f8babf-b772-4758-9fcb-3467f23fb1c6","leftValue":"={{ DateTime.fromISO($json.timestamp) }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime().minus(1, 'week') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-672,-1552],"id":"fc0a5532-627d-41c5-9575-b44641712222","name":"Only fetch last week's messages - support"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"summary.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1584,-1568],"id":"4cc24faa-5c5b-4962-a54b-61cc9298bada","name":"Convert to File"},{"parameters":{"operation":"delete","key":"discord_support_memory"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1120,-1104],"id":"0b4b8c39-e660-40b5-a782-780a243a8d7d","name":"Delete support memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}","mode":"id"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[704,-1344],"id":"82c253bd-c6ea-4a22-92e8-9540860bfdc0","name":"Get messages","webhookId":"58098c94-b6fd-477b-b77b-948e25466dbf","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"operation":"get","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}","mode":"id"}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[832,-1344],"id":"cd6373d9-52a8-42e1-ae2d-8e70b6532721","name":"Get channel","webhookId":"23a39dc9-2998-4d75-bb3e-66e2d6b41e4f","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"get","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}","mode":"id"},"messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[960,-1344],"id":"424949a0-ca64-4bea-b528-ca3ab9624d6b","name":"Get message","webhookId":"c3caed7b-4c62-42b2-bcce-fdc4c71fe80f","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1088,-1344],"id":"c292378e-a025-4d44-ad8c-33649f21d372","name":"Think"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1216,-1344],"id":"e0e2c408-a55a-4a3b-ac74-5100e9d618da","name":"Latest BunkerWeb documentation","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"promptType":"define","text":"=Here is a JSON array of Discord messages:\n\n```json\n{{ $json.messages.toJsonString() }}\n```","options":{"systemMessage":"You are the **BunkerWeb Community Support Agent**.\nYour mission is to **analyze Discord JSON conversations, fetch missing details if needed, consult the official BunkerWeb documentation, and publish a clear, professional summary in French (Markdown).**\nYou are autonomous and **must never request or invite user replies**.\n\n---\n\n## 🎯 Responsibilities\n\n1. Parse the JSON once to identify:\n\n   * Support requests\n   * Helpful responses\n   * Users, channels, and threads\n   * Missing content\n2. Fetch missing messages or threads from Discord if required.\n3. Validate and enrich answers using the **BunkerWeb documentation tool**.\n4. Produce a **final structured summary in French (Markdown)**.\n\n---\n\n## 🧩 Think Tool — Allowed Checkpoints\n\nYou may only use the think tool at these points:\n\n1. **Before JSON analysis** → plan extraction (requests, responses, missing info).\n2. **Before final summary** → verify clarity, documentation alignment, and Markdown compliance.\n\n---\n\n## 🛠️ Tool Rules\n\n### Discord\n\n* `Get Channel` → only if the target is a thread derived from a root channel.\n* `Get Messages (multiple)` → preferred, to fetch the full content of a thread.\n* `Get Message (single)` → only if a referenced message is missing from JSON.\n* Fetch the **minimum required data**; avoid redundant calls.\n\n### BunkerWeb Documentation\n\n* Use to validate answers, confirm technical details, and craft a good follow-up.\n* Avoid multiple lookups if one query suffices.\n\n---\n\n## 🔄 Workflow\n\n1. **Think → JSON plan.**\n2. Extract requests, responses, and threads.\n3. Fetch missing info from Discord if required.\n4. Consult the **BunkerWeb documentation tool** to validate suggestions.\n5. **Think → Final check.**\n6. Publish the summary in Markdown.\n\n---\n\n## 📄 Output Format (Markdown)\n\n```\n❌ **<@user_id>** in <#channel_id>: [problem summary]\n- <@user_id>: [helpful response]\nℹ️ Suggestion: [validated answer based on BunkerWeb documentation]\n🔎 Follow-up: [next step or verification to perform]\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[768,-1568],"id":"528da5a0-9863-4130-90de-11441a93d8ed","name":"BunkerWeb Community Support Agent"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1344,-1104],"id":"9ab5272b-2573-46a9-afa6-e10019078d8a","name":"Clear agents memory + cache"}],"connections":{"Get messages from ❓🇫🇷・aide":{"main":[[{"node":"Merge messages","type":"main","index":2}]]},"Only fetch yesterday's messages":{"main":[[{"node":"Get cached ID - support","type":"main","index":0},{"node":"Merge cached with messages - support","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Get all discord_support_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Get cached ID - support":{"main":[[{"node":"Merge cached with messages - support","type":"main","index":1}]]},"Merge cached with messages - support":{"main":[[{"node":"Hasn't been processed already - support","type":"main","index":0}]]},"Hasn't been processed already - support":{"main":[[{"node":"Set cached messages - support","type":"main","index":0},{"node":"Merge messages data - support","type":"main","index":0}]]},"Set cached messages - support":{"main":[[]]},"Merge messages data - support":{"main":[[{"node":"BunkerWeb Community Support Agent","type":"main","index":0}]]},"gpt-5-mini - support":{"ai_languageModel":[[{"node":"BunkerWeb Community Support Agent","type":"ai_languageModel","index":0}]]},"Get messages from ❓・help":{"main":[[{"node":"Merge messages","type":"main","index":1}]]},"Merge messages":{"main":[[{"node":"Only fetch last week's messages - support","type":"main","index":0}]]},"Get messages from ⚙・testers":{"main":[[{"node":"Merge messages","type":"main","index":0}]]},"Create a community support summary":{"main":[[{"node":"Get messages from ❓・help","type":"main","index":0},{"node":"Get messages from ❓🇫🇷・aide","type":"main","index":0},{"node":"Get messages from ⚙・testers","type":"main","index":0}]]},"Redis - support":{"ai_memory":[[{"node":"BunkerWeb Community Support Agent","type":"ai_memory","index":0}]]},"text-embedding-3-small - read":{"ai_embedding":[[{"node":"Latest BunkerWeb documentation","type":"ai_embedding","index":0}]]},"Only fetch last week's messages - support":{"main":[[{"node":"Get cached ID - support","type":"main","index":0},{"node":"Merge cached with messages - support","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send summary to Discord","type":"main","index":0}]]},"Get messages":{"ai_tool":[[{"node":"BunkerWeb Community Support Agent","type":"ai_tool","index":0}]]},"Get channel":{"ai_tool":[[{"node":"BunkerWeb Community Support Agent","type":"ai_tool","index":0}]]},"Get message":{"ai_tool":[[{"node":"BunkerWeb Community Support Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"BunkerWeb Community Support Agent","type":"ai_tool","index":0}]]},"Delete support memory":{"main":[[{"node":"Get all discord_support_* keys","type":"main","index":0}]]},"Latest BunkerWeb documentation":{"ai_tool":[[{"node":"BunkerWeb Community Support Agent","type":"ai_tool","index":0}]]},"BunkerWeb Community Support Agent":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Clear agents memory + cache":{"main":[[{"node":"Delete support memory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:At the end of the week":{"recurrenceRules":[]},"node:At the start of the week":{"recurrenceRules":[]},"node:Every day at 9am":{"recurrenceRules":[]},"node:Fetch latest BunkerWeb documentation":{"recurrenceRules":[]},"node:Create a community support summary":{"recurrenceRules":[]},"node:Create an ideas summary":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a764933-06ae-42fa-b156-eba3295f4ce5","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"c7mpQG9QCOj8wfK3","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":null,"tags":[{"updatedAt":"2025-08-26T13:05:46.387Z","createdAt":"2025-08-26T13:05:46.387Z","id":"KDJm2H5ESMPxJovN","name":"Bunkerity"}]}