workflows/DbGe6X9qPlQqyROs.json
{"createdAt":"2025-08-26T14:25:37.017Z","updatedAt":"2025-08-26T14:59:32.000Z","id":"DbGe6X9qPlQqyROs","name":"n8n backups","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,312],"id":"31fc17b4-daa2-4ae9-9406-19d8475f9a78","name":"Every day at 8pm"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-176,312],"id":"7f7220ad-1c0d-4d6f-badc-e41eece39868","name":"Get all workflows","credentials":{"n8nApi":{"id":"dIz8CYuPAdejfXj4","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,312],"id":"0135fc99-6d81-402a-aa86-3a5d876b883c","name":"Loop Over workflows"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"=workflows/{{ $json.workflow_data.id }}.json","binaryPropertyName":"github_workflow","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[496,-240],"id":"1ec86314-7df7-4fb7-88fb-7770fa7a0ed2","name":"Get workflow file","webhookId":"5b5958c1-c232-4ec5-a37e-4107ac7284f0","alwaysOutputData":false,"credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}},"onError":"continueErrorOutput"},{"parameters":{"type":"SHA256","value":"={{ $json.workflow_data.toJsonString() }}","dataPropertyName":"workflow_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[720,120],"id":"75029d9c-8662-4a65-8b1d-b459de4f38fe","name":"Get workflow hash"},{"parameters":{"type":"SHA256","binaryData":true,"binaryPropertyName":"github_workflow","dataPropertyName":"github_workflow_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[944,144],"id":"ac4700d2-9fe6-4df9-9e94-f15f81f37147","name":"Get github_workflow hash"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"=workflows/{{ $json.workflow_data.id }}.json","fileContent":"={{ $json.workflow_data.toJsonString() }}","commitMessage":"=[N8N Backup] workflows/{{ $json.workflow_data.id }}.json - \"{{ $json.workflow_data.name }}\" (created)"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[944,-240],"id":"2d0c5a86-7b7a-413f-a32f-c04dd6986e7f","name":"Create workflow file","webhookId":"21fb42ca-24b5-4b7d-a990-d7f98d2b44f9","credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}}},{"parameters":{"assignments":{"assignments":[{"id":"21fb3d89-9b00-4550-ab17-957c47f51e8c","name":"workflow_data","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-240],"id":"73f21ed8-3413-4709-b412-e02b1608a924","name":"Extract workflow data to field"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe89d200-f8db-43cc-82a3-a77ca62ac3dd","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,240],"id":"10701606-7dc9-445b-a83e-232d05ae3e46","name":"If file changed"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2411aac-b69d-4cd6-b66c-80d95f83d7e0","leftValue":"={{ $json.error }}","rightValue":"could not be found","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-240],"id":"159bc904-89a0-4236-b5d1-b42f8f86fee1","name":"If file not found"},{"parameters":{"errorMessage":"=GITHUB ERROR: {{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[944,-48],"id":"a1524be5-22f4-43a1-aad9-609e5d775900","name":"Stop and Error"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"=workflows/{{ $json.workflow_data.id }}.json","fileContent":"={{ $json.workflow_data.toJsonString() }}","commitMessage":"=[N8N Backup] workflows/{{ $json.workflow_data.id }}.json - \"{{ $json.workflow_data.name }}\" (changed)"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1392,312],"id":"6b6b3742-cb15-4920-a3f8-b4828f561521","name":"Edit workflow file","webhookId":"21fb42ca-24b5-4b7d-a990-d7f98d2b44f9","credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}}}],"connections":{"Every day at 8pm":{"main":[[{"node":"Get all workflows","type":"main","index":0}]]},"Get all workflows":{"main":[[{"node":"Loop Over workflows","type":"main","index":0}]]},"Loop Over workflows":{"main":[[],[{"node":"Extract workflow data to field","type":"main","index":0}]]},"Get workflow file":{"main":[[{"node":"Get workflow hash","type":"main","index":0}],[{"node":"If file not found","type":"main","index":0}]]},"Create workflow file":{"main":[[{"node":"Loop Over workflows","type":"main","index":0}]]},"Extract workflow data to field":{"main":[[{"node":"Get workflow file","type":"main","index":0}]]},"Get workflow hash":{"main":[[{"node":"Get github_workflow hash","type":"main","index":0}]]},"Get github_workflow hash":{"main":[[{"node":"If file changed","type":"main","index":0}]]},"If file not found":{"main":[[{"node":"Create workflow file","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"If file changed":{"main":[[{"node":"Edit workflow file","type":"main","index":0}],[{"node":"Loop Over workflows","type":"main","index":0}]]},"Edit workflow file":{"main":[[{"node":"Loop Over workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day at 8pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2d41765-0d39-48d7-bc38-afcc37ea1d59","triggerCount":1,"tags":[{"createdAt":"2025-08-13T11:33:42.562Z","updatedAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"}]}