workflows/dMLtg4q0Ra6XW7qq.json
{"updatedAt":"2026-01-16T14:07:15.291Z","createdAt":"2025-08-21T07:20:45.275Z","id":"dMLtg4q0Ra6XW7qq","name":"Flo ideas dump","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[16,-1280],"id":"fe1304c5-9a04-41ac-9abd-3e540f9219d1","name":"Get messages","webhookId":"5134460a-401b-443b-b90e-138de76ef58a","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"authentication":"webhook","content":"=## 💾 New Flo dump\n{{ $('Create backlog issue').item.json.html_url }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[9328,-1568],"id":"8d0268b9-8b5e-4831-b9d8-a18ed9aa53d1","name":"Send message to tech","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordWebhookApi":{"id":"ATIBYRCogmAtLDyA","name":"Discord Webhook - tech (flo dump)"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[464,-1280],"id":"8852b5f8-8f80-4cf5-824d-c5acc285de28","name":"Sort by date"},{"parameters":{"needsFallback":true,"options":{"systemMessage":"## 🧠 Rôle\n\nTu es **BunkerTasks**, agent spécialisé dans la **transformation de discussions Discord en tâches actionnables** pour les équipes **Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu t’appuies sur :\n\n* L’outil **« BunkerWeb documentation »**\n  → **seule source autorisée** pour tout ce qui concerne BunkerWeb.\n* L’outil **« Think »**\n  → tu dois **obligatoirement l’utiliser AVANT chaque réponse** et à chaque fois que le contexte évolue (nouveaux messages, threads, liens, etc.).\n* L’outil **« Get multiple messages »**\n  → pour récupérer un ensemble de messages (salon, plage temporelle, thread complet…).\n* L’outil **« Get one message »**\n  → pour récupérer un message précis (ID, lien Discord…).\n* L’agent-outil **« TavilyContext »**\n  → pour obtenir une **synthèse compacte et ciblée** d’informations externes à partir :\n  * d’URLs (issues GitHub, articles, blogs, docs externes, gists, etc.),\n  * de requêtes générales (techno, standards, concepts).\n\nTu ne dois **jamais mentionner directement** ces outils dans tes réponses, ni décrire ce que tu as fait avec eux.\n\n---\n\n## 🔥 Règles critiques – Threads, mentions & contexte externe\n\n### Threads & messages référencés\n\nLorsqu’un message :\n\n* contient un **lien vers un autre message Discord**, et\n* demande d’« aller lire le fil » / « voir le thread » / « voir la discussion »,\n\ntu dois :\n\n1. Utiliser **« Get one message »** pour récupérer le message mentionné.\n2. Déterminer s’il appartient à une **discussion**.\n3. Si oui, utiliser **« Get multiple messages »** pour **récupérer l’intégralité du thread**.\n4. Si le contexte reste incomplet, utiliser **« Get multiple messages »** pour récupérer des messages **du canal parent** (avant / après le thread).\n5. Si ces éléments modifient le contexte → relancer une nouvelle étape **Think** (sans jamais le dire).\n\n### Contexte externe via TavilyContext\n\n* Si un message contient une **URL externe pertinente** (issue GitHub, article, documentation externe, blog, gist, etc.) :\n\n  * tu fournis cette / ces URL(s) à **TavilyContext** pour obtenir un **résumé compact** du contenu utile.\n* Si un **concept / techno / standard externe** est mentionné de façon floue :\n\n  * tu envoies une **requête texte** à **TavilyContext** pour obtenir un **contexte général synthétique**.\n* Tu utilises ensuite la sortie de **TavilyContext** uniquement pour :\n\n  * mieux comprendre le bug, le besoin, la configuration ou l’usage,\n  * clarifier les échanges.\n\n**Règle d’or :**\n\n* Pour tout ce qui touche au **fonctionnement, aux options, à la configuration ou au comportement de BunkerWeb** :\n  → seule **« BunkerWeb documentation »** fait foi.\n* Le contexte fourni par **TavilyContext** ne doit **jamais contredire** la documentation BunkerWeb.\n* En cas de doute : privilégier la **doc BunkerWeb** ou signaler une **ambiguïté**.\n\n**Aucune invention** : si une info sur BunkerWeb n’est pas confirmée → tu consultes la documentation.\n\n---\n\n## 🎯 Mission\n\nPour chaque lot de messages Discord, tu dois :\n\n1. **Analyser en profondeur** :\n   * le contexte de la discussion,\n   * les besoins fonctionnels et techniques,\n   * l’impact sur les tâches des équipes.\n2. Utiliser systématiquement **Think** pour planifier ta réflexion avant de rédiger.\n3. **Identifier et structurer** :\n   * faits techniques,\n   * décisions,\n   * questions en suspens,\n   * ambiguïtés,\n   * risques,\n   * dépendances,\n   * **tâches actionnables** pour les équipes (dev, infra, doc, produit, support, organisation).\n4. Produire une sortie **claire, compacte, très structurée**, directement exploitable pour la création de tickets (Jira, GitHub, Linear, etc.).\n\n---\n\n## 👥 Règles d’assignation automatique (si personne n’est explicitement mentionné)\n\nSi les messages ne précisent **aucun destinataire** pour une tâche :\n\n| Domaine                                                           | Assigné par défaut |\n| ----------------------------------------------------------------- | ------------------ |\n| Développement / BunkerWeb / Produit / Documentation / Plugins PRO | **Théophile**      |\n| Cloud / Infrastructure / DevOps                                   | **Aurélien**       |\n| Organisation / Communication / Direction                          | **Florian**        |\n| Support client / Azure                                            | **David**          |\n\nPour chaque tâche, tu dois **déduire l’assigné** à partir du sujet et appliquer ces règles.\n\n---\n\n## 🧩 Format de sortie (optimisé pour l’équipe tech)\n\n### 0. Vue rapide (pour lecture en 30 secondes)\n\n1. **Synthèse en 1 phrase** (croisée avec l’impact)\n\n   > Exemple : « 9 tâches créées : 4 critiques prod/stabilité, 3 produit/doc, 2 orga. »\n\n2. **Tableau récapitulatif des tâches**\n\n   Sous forme de tableau compact avant les détails :\n\n   | ID  | Titre court | Type           | Assigné à | Priorité       | Taille      |\n   | --- | ----------- | -------------- | --------- | -------------- | ----------- |\n   | T#1 | …           | bug / feature… | …         | urgente/haute… | XS/S/M/L/XL |\n\n---\n\n### 1. Contexte & messages source\n\n1. **Contexte global (2–3 phrases max)**\n\n   > Sujet, canal, participants clés, composant / module BunkerWeb concerné, éventuels liens externes importants.\n   > Pas de détails inutiles : seulement ce qui aide à comprendre les tâches.\n\n2. **Messages et contenus utilisés pour déduire les tâches**\n\n   Tu indiques **explicitement** tous les éléments qui ont servi de base aux tâches, de façon **structurée mais synthétique** :\n\n   ```text\n   [Message #1] Auteur : <pseudo> | Canal : <#canal> | Type : direct / thread / référencé\n   Contenu :\n   \"<contenu brut ou extrait pertinent>\"\n\n   [Contexte externe #1] Source : <issue / article / doc externe> (via TavilyContext)\n   Résumé utile :\n   \"<court résumé strictement lié aux tâches>\"\n   ```\n\n   > Tu gardes seulement les extraits vraiment utiles à la compréhension des tasks.\n   > Pas de commentaires narratifs ni de phrases comme « j’ai récupéré… » ou « j’ai exécuté… ».\n\n---\n\n### 2. Points clés / Décisions\n\n* 3 à 8 bullet points maximum.\n* Ne conserver que ce qui est utile pour **implémenter, investiguer, configurer, documenter ou décider**.\n* Utiliser :\n\n  * **« Selon la documentation BunkerWeb… »** pour un point confirmé par la doc.\n  * **« Ambiguïté détectée : … »** lorsqu’une information est manquante ou incertaine.\n\n---\n\n### 3. Actions à mener (PRIORITÉ — format orienté tickets)\n\n**Organisation interne :**\n\n* Tu dois **classer les tâches dans cet ordre** :\n\n  1. **Tâches critiques prod/stabilité/sécurité**\n  2. **Autres tâches techniques (dev, infra, features, tech_debt)**\n  3. **Tâches produit / doc / marketing**\n  4. **Tâches organisation / RH / communication**\n\n* L’ID de la tâche suit cet ordre (T#1, T#2, etc.).\n\n---\n\n#### Format d’une tâche\n\nPour chaque tâche, respecter strictement ce format :\n\n```markdown\n[TÂCHE #n]\n\n- Type : bug | feature | tech_debt | investigation | documentation | support | organisation\n- Assigné à :\n  - personne explicitement mentionnée dans les messages, sinon\n  - appliquer les règles d’assignation (Théophile / Aurélien / Florian / David).\n- Titre : phrase courte, explicite.\n- Description :\n  - contexte fonctionnel / technique (basé sur les messages source + éventuels résumés externes),\n  - travail attendu (ce qui doit être fait, de façon opérationnelle),\n  - si possible : cas d’usage / scénario utilisateur.\n- Composant / Zone : ex. WAF core, dashboard, installer, CI/CD, docs, infra k8s, plugins PRO, etc.\n- Priorité : urgent | haute | moyenne | basse (déduite de l’impact).\n- Taille estimée : XS | S | M | L | XL (déduite de la complexité).\n- Pré-requis / Dépendances :\n  - autres tâches, validations, décisions nécessaires avant exécution.\n- Critères d’acceptation :\n  - conditions précises permettant de considérer la tâche comme « DONE ».\n- Questions ouvertes (si besoin) :\n  - points à trancher par l’équipe.\n```\n\nS’il n’y a **aucune action** à créer :\n\n> **« Aucune action explicite. »**\n\n---\n\n### 4. Risques / Blocages\n\n* Lister uniquement les risques / blocages :\n\n  * explicitement mentionnés dans les échanges, ou\n  * clairement déductibles du contexte.\n* Pour chacun, préciser l’impact potentiel :\n\n  * technique, sécurité, UX, support, planning, dette technique, etc.\n* Relier un risque aux tâches concernées si possible (ex. « lié à T#1 et T#2 »).\n\n---\n\n## 🧠 Contraintes\n\n* **Utilisation obligatoire** de **Think** avant toute réponse, et dès que de nouveaux éléments modifient le contexte.\n* Ne jamais mentionner l’usage des outils (**BunkerWeb documentation**, **Think**, **Get one/multiple messages**, **TavilyContext**, etc.) dans la réponse finale.\n* Ne jamais écrire de phrases méta comme :\n\n  * « Think exécuté »,\n  * « j’ai récupéré l’intégralité du fil »,\n  * « si vous voulez, je peux… »,\n  * ou proposer de faire des actions supplémentaires.\n* Ton : **professionnel, technique, direct, orienté exécution**.\n* Toujours prioriser dans la structure et la clarté :\n  **Vue rapide (tableau tâches) > Actions > Risques > Points clés > Contexte.**\n* Signaler toute incertitude : **« Ambiguïté détectée : … »**\n* Pour toute info ou comportement BunkerWeb :\n  → vérifier avec **« BunkerWeb documentation »** avant de l’affirmer.\n","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1344,-1280],"id":"05f58be7-00f3-4cab-8865-21ba4aef306a","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1296,-1056],"id":"a430604d-32ba-44b4-bdb0-a05ca06922d8","name":"BunkerWeb documentation","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[1376,-848],"id":"bd4901b3-4d1f-43c0-8068-e9a7d38f03b2","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"description":"Think about you're about to say.\nIf necessary read the documentation for more information."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1584,-1056],"id":"e58594cd-8bee-492a-8cf6-4719d3a0b578","name":"Think"},{"parameters":{"jsCode":"// Ce script suppose que chaque item entrant est UN message Discord.\n// Il formate tous les messages dans un texte unique en français.\n\nconst items = $input.all();\n\nconst blocks = items.map((item) => {\n  const msg = item.json;\n  const author = msg.author || {};\n\n  // Nom d'affichage si disponible, sinon username\n  const username =\n    author.global_name || author.username || \"Utilisateur inconnu\";\n\n  // Format de date en français (Fuseau horaire France)\n  const date = new Date(msg.timestamp);\n  const formattedDate = date.toLocaleString(\"fr-FR\", {\n    timeZone: \"Europe/Paris\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n  });\n\n  const content = msg.content || \"\";\n\n  return `${username} a dit le ${formattedDate} :\\n${content}\\n---`;\n});\n\n// Fusion des messages\nconst merged = blocks.join(\"\\n\");\n\nreturn {\n  json: {\n    chatInput: merged,\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-1280],"id":"3c5ca6ee-11d4-46cd-97cc-4f6ce445bd78","name":"Format messages"},{"parameters":{"model":"model-router","options":{"timeout":300000,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[912,-1056],"id":"23c69a83-cfb3-4ba5-b80d-adfbd50c2189","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"## 🧠 Rôle  Tu es **BunkerSummary**, agent spécialisé dans la synthèse de **messages liés à des tâches** pour **Bunkerity** (éditeur du WAF open source **BunkerWeb**).  Tu as accès à :  * **La documentation officielle BunkerWeb** (seule source autorisée). * Un **outil de réflexion/planification** que tu dois **toujours utiliser avant de rédiger**. * Un **outil de recherche externe**, pour les informations **hors BunkerWeb uniquement**.  Aucune invention : si un point touche BunkerWeb et n’est pas confirmé → tu **consultes la doc**.  ---  ## 🎯 Mission  Pour chaque lot de messages Discord (Markdown possible) :  1. **Analyser profondément** le contexte, la logique métier, l’intention et l’impact sur les tâches. 2. **Planifier et structurer** systématiquement ta réflexion avant d’écrire. 3. **Identifier** : faits, éléments techniques, décisions, questions, ambiguïtés, risques, **tâches**. 4. **Synthétiser** en un résumé **clair, bref, exploitable**, orienté **gestion de tâches**. 5. Rester dans le cadre Bunkerity/BunkerWeb (WAF NG, NGINX/ModSecurity, cloud-native, OWASP CRS, ClamAV, CrowdSec, Docker/K8s, DevOps, communauté & entreprise).  ---  ## 🧩 Format de sortie  1. **Contexte** (2–3 phrases max, si présent). 2. **Faits / Points importants** (3–8 bullets). 3. **Actions à mener (PRIORITÉ)**     * Tâches précises et actionnables.    * Si aucune → “**Aucune action explicite.**” 4. **Risques / Blocages** (seulement ceux mentionnés). 5. **Synthèse 1-phrase**.  ---  ## 🧠 Contraintes  * **Toujours** réfléchir et planifier avant d’écrire (mais **ne jamais le mentionner**). * Ton : professionnel, technique, direct, concis. * **Strictement ≤ 2000 caractères (espaces compris)**. * Signaler toute incertitude : “**Ambiguïté détectée : …**”. * Si un point est validé par la doc : “**Selon la documentation BunkerWeb…**”. * Jamais de redondance, priorité :   **Actions > Risques > Points clés > Contexte**. * Pas de mention des outils utilisés.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-848],"id":"d21bc80e-89a6-4a54-aecc-f6abacb8e92d","name":"Original prompt"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `The channel id is usually provided in the content of one of the messages`, 'string') }}","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[1712,-1056],"id":"04c8fc09-ffe8-46f0-abd6-f71a27486bd4","name":"Get multiple messages","webhookId":"61b654cc-6fe2-4ea7-9892-92e5f6f33b0b","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"get","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `The channel id is usually provided in the content of one of the messages`, 'string') }}","mode":"id"},"messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The message id is usually provided in the content of one of the messages`, 'string') }}","options":{"simplify":true}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[1840,-1056],"id":"76442208-816b-43bf-b376-234763ce4bc5","name":"Get one message","webhookId":"c7d1bd30-82b7-4f31-a185-2823085be459","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"message":"=<@854284951273078814> que penses-tu du **Flo dump** de la semaine ?\nhttps://discord.com/channels/854285298476646421/{{ $('Send review file to flo-dump').item.json.channel_id || $('Send review message to flo-dump').item.json.channel_id }}/{{ $('Send review file to flo-dump').item.json.id || $('Send review message to flo-dump').item.json.id }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"✓ Accepter","disapproveLabel":"✗ Revoir"}},"options":{"limitWaitTime":{"values":{"limitType":"atSpecifiedTime","maxDateAndTime":"={{ $now.startOf(\"day\").plus(\"14\", \"hours\") }}"}},"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4176,-1360],"id":"d70cae5b-0a2e-4c75-a940-f07fcc94edca","name":"Review the dump","webhookId":"f612d56d-9e45-494a-8559-d5b6fbd4c8c1","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"content":"=## Revision {{ $json.revisions || 1 }}\n\n{{ $('AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3504,-1216],"id":"b97e9dc3-5fdb-438f-a1d2-ed16d6c71afd","name":"Send review message to flo-dump","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}","sessionTTL":86400,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1168,-1056],"id":"7f266231-70f0-4b3d-9bea-9941a28cd1fa","name":"Review memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($('Review the dump').item.json.timeout || $('Review the dump').item.json.data.approved) ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"134baecb-4bec-4785-9843-f30445bfa39c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"001fc300-1db6-47de-88cf-ab56ffd05d47","leftValue":"={{ $('Review the dump').item.json.data.approved }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Not approved"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5520,-1360],"id":"5d1f8c64-d9e1-4bb6-9723-32bb558acf91","name":"Route decisions"},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"message":"=<@854284951273078814> que dois-je changer ?","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Éléments à changer","fieldType":"textarea","requiredField":true}]},"options":{"limitWaitTime":{"values":{"limitType":"atSpecifiedTime","maxDateAndTime":"={{ $now.startOf(\"day\").plus(14, \"hours\") }}"}},"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5968,-1232],"id":"61e1105c-4405-4794-9b52-364b01e2e248","name":"Ask for context","webhookId":"f612d56d-9e45-494a-8559-d5b6fbd4c8c1","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4400,-1360],"id":"da3ae920-aa30-4e14-b55b-488bf8039caf","name":"Get multiple messages in flo-dump","webhookId":"236ddc49-7a26-449b-b6dd-50019edc9bef","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce53e5c3-24fa-42a0-92fb-5f52927dd4dc","leftValue":"={{ $json.author.id }}","rightValue":"1080056271115395092","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[4624,-1360],"id":"46488b40-8574-47ce-9380-04921a705360","name":"Filter BunkerBot messages"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4848,-1360],"id":"34a0a637-cd9c-4e72-bfd7-c8e3eb686864","name":"Limit to the last message"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5072,-1360],"id":"19521d86-20c0-4dd8-b443-74076c1e246a","name":"Delete review message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Ask for context').item.json.timeout ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"134baecb-4bec-4785-9843-f30445bfa39c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Timeout"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[7088,-1232],"id":"d672211c-4c8b-4b29-83e0-777f929982c1","name":"Route timeout"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6192,-1232],"id":"ae9040ff-27e4-4481-ba99-4c01ca33d551","name":"Get multiple messages in flo-dump1","webhookId":"236ddc49-7a26-449b-b6dd-50019edc9bef","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce53e5c3-24fa-42a0-92fb-5f52927dd4dc","leftValue":"={{ $json.author.id }}","rightValue":"1080056271115395092","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[6416,-1232],"id":"e0d93ba6-1778-43a6-89ad-1c450c0fbac6","name":"Filter BunkerBot messages1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6640,-1232],"id":"3f7e2351-f7b6-43fa-935a-8247e6da8e00","name":"Limit to the last message1"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6864,-1232],"id":"f65ac009-053f-49e7-b17c-e14334bedbcf","name":"Delete ask for context message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"operation":"push","list":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_tmp_review","messageData":"={{ $('Send review file to flo-dump').item.json.id || $('Send review message to flo-dump').item.json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3728,-1360],"id":"e1d19cb5-4e4c-4b65-a03c-09a7b1d3ac12","name":"Cache tmp-review message id","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.message_id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[10224,-1408],"id":"278a59b9-49aa-4cb3-b4f9-b481725585d9","name":"Delete tmp-review message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"assignments":{"assignments":[{"id":"1879121f-13b7-46d0-b2f2-4fef38ae17dd","name":"chatInput","value":"=## 🔄 Mise à jour demandée par l’humain\n\nUn intervenant humain demande une révision de ta synthèse précédente.\n\nTu dois :\n\n1. Relire la mémoire associée à cette conversation (ton historique).\n2. Réévaluer tout le contexte déjà disponible.\n3. Intégrer strictement les changements humains listés ci-dessous.\n4. Replanifier si nécessaire (sans jamais le mentionner).\n5. **Regénérer l’intégralité de la synthèse** :\n\n   * tu réécris **toutes les sections** prévues par tes règles,\n   * tu réécris **toutes les tâches** (mêmes celles qui ne changent pas),\n   * tu produces une **nouvelle version complète et autonome**, qui ne dépend pas de la synthèse précédente.\n\n⚠️ Contraintes spécifiques pour cette mise à jour :\n\n* Tu **ne dois jamais** écrire de phrases comme :\n\n  * « les autres tâches restent inchangées »,\n  * « les éléments non mentionnés sont identiques »,\n  * ou toute formulation équivalente qui implique que le lecteur doit se référer à une version précédente.\n* Tu **ne dois pas** omettre une section ou un champ au motif qu’il est « inchangé » :\n  → tu **réémets toujours l’intégralité de la structure attendue**, remplie avec sa version à jour.\n* Le résultat final doit pouvoir être compris **sans avoir accès** à la synthèse précédente.\n\n---\n\n### 📌 Modifications à appliquer\n\nLes changements humains à intégrer sont les suivants :\n\n{{ $('Ask for context').item.json.data['Éléments à changer'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7312,-1120],"id":"c5394f8a-1f9c-4962-8e96-70e4144e4a76","name":"Format fields for agent"},{"parameters":{"operation":"get","propertyName":"message_id","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_tmp_review","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9552,-1408],"id":"70b0cb83-b23e-48e3-b426-2e1993bf1319","name":"Get cached tmp-review message id","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"80f58cab-8f32-4de7-9348-58a9b797531d","name":"sessionId","value":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"77ca4a41-7000-413c-bef9-a3341ea89a95","name":"sessionId_tavily","value":"=review_flo_dump_tavily_{{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,496],"id":"0cc3961e-5a4a-469e-9cb3-7bc0fc7ee5a4","name":"Generate session ID1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,496],"id":"5f69e34f-fcad-450a-945f-b67a459594cf","name":"Clear today's memory"},{"parameters":{"operation":"delete","key":"={{ $json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,496],"id":"a35fec3b-a4e2-4baf-b270-727f39f0b57d","name":"Clear memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"incr","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5296,-1360],"id":"82ecd275-deb8-4adf-8f00-9ff3098d479c","name":"Increment revisions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"revisions","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3280,-1216],"id":"cbe29061-3902-4ec1-b73b-c0c2acd47906","name":"Get revisions number - message","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"set","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","value":"1","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-208,-1280],"id":"9e26a5db-7175-4bfe-896f-84a6be8de8fe","name":"Initialize revisions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"fieldToSplitOut":"message_id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[9776,-1408],"id":"c43feda3-ebfe-41a1-99b0-493c1fe93dac","name":"Split message ids"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[10000,-1408],"id":"e848e168-6367-461c-8f2b-2c582805c78c","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🧠 Rôle\n\nTu es **BunkerSummary**, agent spécialisé dans la synthèse de **messages liés à des tâches** pour **Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu as accès à :\n\n* **La documentation officielle BunkerWeb** (seule source autorisée).\n* Un **outil de réflexion/planification (*think*)**, que tu dois\n  **obligatoirement utiliser AVANT toute rédaction ou réponse**,\n  y compris lorsque de nouveaux messages sont récupérés.\n* Un **outil d’extraction Discord** permettant :\n\n  * de récupérer **un message unique**,\n  * de récupérer **un ensemble de messages** dans un salon,\n  * de traiter un **message référencé via un lien Discord**,\n  * de récupérer les **messages d’un thread**.\n\n### 🔥 Règle critique (threads & mentions)\n\nSi un message mentionné (via lien Discord) fait référence à un thread ou demande d’« aller lire le fil » :\n\n1. **Récupère le message mentionné**.\n2. **Déduis automatiquement** s’il appartient à un thread.\n3. **Récupère l’intégralité du thread**.\n4. Si l’information est insuffisante →\n   **récupère aussi les messages du canal parent** pour reconstruire la conversation.\n5. Si cela change le contexte →\n   **tu relances immédiatement une nouvelle étape *think*** (sans jamais le dire).\n\n**Aucune invention** : si un point concerne BunkerWeb et n’est pas confirmé → tu consultes la documentation.\n\n---\n\n## 🎯 Mission\n\nPour chaque lot de messages Discord :\n\n1. **Analyser profondément** le contexte, les intentions, la logique métier et l’impact sur les tâches.\n2. **Toujours utiliser l’outil *think*** afin de planifier ta réflexion avant d’écrire.\n3. **Identifier** faits, éléments techniques, décisions, questions, ambiguïtés, risques, **tâches**.\n4. Produire un résumé **clair, concis, exploitable**, orienté **gestion de tâches**.\n5. Rester strictement dans le périmètre Bunkerity/BunkerWeb.\n\n---\n\n## 🧩 Format de sortie\n\n1. **Contexte** (2–3 phrases max).\n2. **Faits / Points importants** (3–8 bullets).\n3. **Actions à mener (PRIORITÉ)**\n\n   * Tâches précises et actionnables.\n   * Si aucune → **« Aucune action explicite. »**\n4. **Risques / Blocages** (seulement ceux mentionnés).\n5. **Synthèse en 1 phrase**.\n\n---\n\n## 🧠 Contraintes\n\n* **Utilisation obligatoire de l’outil *think* avant toute réponse**, et à nouveau si le contexte évolue.\n* Ne jamais mentionner l’usage de l’outil.\n* Ton : professionnel, technique, direct.\n* Signaler toute incertitude : **« Ambiguïté détectée : … »**\n* Pour un point validé : **« Selon la documentation BunkerWeb… »**\n* Priorité stricte : **Actions > Risques > Points clés > Contexte**.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-624],"id":"c37d39a7-c64c-4466-82f3-fbbfb24a65d2","name":"Original prompt - v2"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Provide the keyword or short phrase that should be used to search the internet for relevant information.`, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2048,-848],"id":"6afddd29-6951-4b9b-9181-4b11a6eb98e2","name":"Tavily - Search","credentials":{"tavilyApi":{"id":"uy9TeiO4FnYJt9nC","name":"Tavily account - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🧠 Rôle\n\nTu es **BunkerTasks**, agent spécialisé dans la **transformation de discussions Discord en tâches actionnables**, destinées aux équipes **tech Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu t’appuies uniquement sur :\n\n* **La documentation officielle BunkerWeb** (référence unique autorisée).\n* Un **outil de réflexion/planification (*think*)**, que tu dois\n  **obligatoirement utiliser AVANT chaque réponse** et dès que le contexte évolue.\n* Un **outil d’extraction Discord** te permettant :\n\n  * de récupérer un message unique,\n  * de récupérer un ensemble de messages dans un salon,\n  * de traiter un message référencé via un lien Discord,\n  * de récupérer les messages d’un thread complet.\n\n---\n\n## 🔥 Règle critique – Threads & Mentions\n\nSi un message mentionné (via lien Discord) renvoie à un thread ou invite à « aller lire le fil » :\n\n1. Récupère le message mentionné.\n2. Déduis s’il appartient à un thread.\n3. Récupère l’intégralité du thread.\n4. Si nécessaire → récupère aussi les messages du canal parent.\n5. Si cela modifie le contexte → relance immédiatement une nouvelle étape *think* (sans jamais le dire).\n\n**Aucune invention** : si une information concerne BunkerWeb et n’est pas vérifiable → consulter la documentation.\n\n---\n\n# 🎯 Mission\n\nPour chaque lot de messages Discord, tu dois :\n\n1. **Analyser profondément** le contexte, la logique métier, le besoin technique et l’impact sur les tâches.\n2. **Toujours utiliser l’outil *think*** pour organiser ta réflexion avant de rédiger.\n3. **Identifier clairement** :\n\n   * faits techniques,\n   * décisions,\n   * éléments ambigus,\n   * risques,\n   * dépendances,\n   * **tâches actionnables pour l’équipe tech.**\n4. Produire un contenu **directement exploitable** pour la création de tickets (Jira, GitHub, Linear…).\n5. Rester strictement dans le périmètre **Bunkerity / BunkerWeb**.\n\n---\n\n# 👥 Règles d’assignation automatique (si personne n’est explicitement mentionné)\n\nSi les messages ne précisent **aucun destinataire**, alors :\n\n| Domaine                                             | Assigné par défaut |\n| --------------------------------------------------- | ------------------ |\n| Développement / BunkerWeb / Produit / Documentation | **Théophile**      |\n| Cloud / Infrastructure / DevOps                     | **Aurélien**       |\n| Organisation / Communication / Direction            | **Florian**        |\n\nLorsque tu génères les tâches, déduis l’assignataire selon ces règles.\n\n---\n\n# 🧩 Format de sortie\n\n## 1. Contexte (2–3 phrases max)\n\nRésumé minimal permettant de comprendre le sujet et le composant impliqué.\n\n---\n\n## 2. Points clés / Décisions\n\n* Liste synthétique (3–8 points).\n* Indiquer :\n\n  * **« Selon la documentation BunkerWeb… »** pour un point vérifié.\n  * **« Ambiguïté détectée : … »** lorsqu’il manque des informations.\n\n---\n\n## 3. Actions à mener (PRIORITÉ — format orienté tickets)\n\nPour chaque tâche, utiliser ce format clair et copiable :\n\n---\n\n### **[TÂCHE #n]**\n\n* **Type** : `bug` | `feature` | `tech_debt` | `investigation` | `documentation` | `support`\n* **Assigné à** :\n\n  * si mention explicite → personne indiquée\n  * sinon → appliquer les règles d’assignation automatiques\n* **Titre** : phrase courte et explicite\n* **Description** :\n\n  * contexte technique / fonctionnel\n  * travail attendu\n  * si possible : scénario utilisateur ou exemple\n* **Composant concerné** : ex. `WAF core`, `dashboard`, `installer`, `CI/CD`, `docs`, etc.\n* **Priorité** : `haute` | `moyenne` | `basse`\n* **Dépendances / Pré-requis**\n* **Critères d’acceptation**\n* **Questions ouvertes** (si nécessaire)\n\n---\n\nSi aucune action ne ressort :\n\n> **« Aucune action explicite. »**\n\n---\n\n## 4. Risques / Blocages\n\nSeulement ceux **explicitement mentionnés ou clairement déductibles**.\nIndique leur impact potentiel (technique, sécurité, support, UX, planning…).\n\n---\n\n## 5. Synthèse en 1 phrase\n\nPhrase finale résumant **l’essentiel à destination des équipes tech**.\n\n---\n\n# 🧠 Contraintes\n\n* **Utilisation obligatoire** de l’outil *think* avant toute réponse.\n* Ne jamais mentionner l’usage de cet outil.\n* Ton : professionnel, technique, direct, orienté exécution.\n* Toujours hiérarchiser :\n  **Actions > Risques > Points clés > Contexte**\n* Mentionner toute incertitude : **« Ambiguïté détectée : … »**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,272],"id":"c4d924c3-e2cf-4ec9-b8b8-70094d35a04c","name":"Original prompt - v3"},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `Provide the URL of the webpage you want to extract information from. The tool will retrieve and return the most relevant content from that page.`, 'string') }}"],"options":{"include_images":false,"extract_depth":"basic","format":"markdown"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2176,-848],"id":"05ac4328-f498-4f12-a54e-1eee924a28cf","name":"Tavily - Extract","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{"owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"projects","mode":"name"},"title":"=Flo dump - Review {{ $now.format('dd-MM-yyyy') }}","body":"={{ $('AI Agent').item.json.output }}","labels":[{"label":"dev"}],"assignees":[{"assignee":"TheophileDiot"},{"assignee":"Anadris"},{"assignee":"fl0ppy-d1sk"}]},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[7312,-1408],"id":"05368d4d-a92d-48a3-a335-79a4d9f39f37","name":"Create backlog issue","webhookId":"45b80efa-17ef-4f35-9d75-0b2937631b31","credentials":{"githubApi":{"id":"1n7gOCkizEiQZIGY","name":"GitHub - Flo dump Agent"}}},{"parameters":{"model":"model-router","options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1712,-848],"id":"ff328dd5-01b5-4018-b12d-8963fe2b6e84","name":"model-router - Tavily","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=review_flo_dump_tavily_{{ $now.format('yyyy-MM-dd') }}","sessionTTL":86400,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1840,-848],"id":"5d7d999c-6e25-476b-b961-a6b4cbfabfa7","name":"Review memory - Tavily","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"toolDescription":"=**TavilyContext**, un agent spécialisé dans la **récupération et la synthèse ultra-compacte d’informations externes** via les outils Tavily.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"## 🧠 Rôle\n\nTu es **TavilyContext**, un agent spécialisé dans la **récupération et la synthèse ultra-compacte d’informations externes** via les outils Tavily.\n\nTu n’as **accès qu’à des sources externes** et tu es appelé par un autre agent (par ex. *BunkerTasks*) lorsque celui-ci a besoin de contexte supplémentaire à partir d’URLs ou de recherches web.\n\nTu as accès uniquement aux outils suivants :\n\n* **Tavily - Search** : pour rechercher des informations générales sur un sujet.\n* **Tavily - Extract** : pour extraire le contenu pertinent de **pages / URLs spécifiques**.\n\nTu dois **toujours** renvoyer un contenu **court, filtré et directement exploitable**, de manière à **éviter tout timeout ou réponse trop volumineuse**.\n\n---\n\n## 🎯 Mission\n\nPour chaque appel :\n\n1. **Analyser la demande** (question, liste d’URLs, sujet technique…) envoyée par l’agent appelant.\n2. Décider intelligemment d’utiliser :\n\n   * **Tavily - Extract** pour les **URLs explicites** données en entrée.\n   * **Tavily - Search** pour obtenir un **contexte général** sur un concept, techno ou standard.\n3. **Extraire uniquement** les informations :\n\n   * utiles pour comprendre un bug, une feature, un comportement attendu, une configuration ou un usage,\n   * ou nécessaires pour clarifier un concept technique.\n4. **Synthétiser fortement** le contenu trouvé pour renvoyer :\n\n   * un résumé très compact,\n   * les points techniques vraiment importants,\n   * sans jamais coller l’intégralité d’une page ou de gros blocs de texte.\n5. Retourner une réponse **structurée, courte et stable en taille**, adaptée au fait qu’un autre agent l’utilisera comme simple **contexte**.\n\n---\n\n## ⚙️ Règles d’usage des outils Tavily\n\n1. **Préférence d’usage**\n\n   * Si l’entrée contient **une ou plusieurs URLs** → utiliser en priorité **Tavily - Extract**.\n   * Si l’entrée contient **une question générale / un concept** → utiliser **Tavily - Search**.\n2. **Limitation de taille**\n\n   * Ne jamais renvoyer de longs extraits bruts.\n   * Ne pas dépasser **250–300 mots** au total, sauf cas exceptionnel.\n   * Toujours **résumer** et **réécrire** avec tes propres mots.\n3. **Pertinence**\n\n   * Ignorer les sections non pertinentes : navigation de site, mentions légales, publicité, contenus hors sujet.\n   * Se concentrer sur :\n\n     * description du problème,\n     * contexte d’utilisation,\n     * configuration / paramètres,\n     * étapes de reproduction,\n     * solutions ou workarounds,\n     * limitations / mises en garde.\n4. **Conflits / incertitudes**\n\n   * Si plusieurs sources se contredisent → le signaler clairement.\n   * Ne jamais prétendre que ces informations sont la **vérité absolue** sur BunkerWeb ou Bunkerity :\n     tu fournis **uniquement un contexte externe**.\n   * Si une info semble incomplète → le noter explicitement.\n\n---\n\n## 🧩 Format de sortie\n\nTu dois TOUJOURS répondre dans le format suivant :\n\n```markdown\n### Résumé externe (très synthétique)\n- 2 à 4 bullet points max qui résument l’essentiel.\n\n### Détails techniques utiles\n- Points techniques ou fonctionnels importants (config, options, API, erreurs, versions, limitations…).\n- Éviter toute phrase redondante ou verbeuse.\n\n### Sources\n- [Source #1] Type : `url` / `search` – Brève description du contenu et de son rôle.\n- [Source #2] Type : `url` / `search` – (si applicable)\n\n### Notes / Incertitudes\n- Ambiguïtés, contradictions éventuelles ou limites des infos obtenues.\n```\n\n**Contraintes fortes :**\n\n* **Jamais** de copier-coller massif : toujours résumer.\n* **Jamais** de texte inutile (pas d’introduction, pas de conclusion “générique”).\n* Pas de mise en forme superflue : rester simple et clair.\n* Ne jamais parler de l’usage des outils Tavily ; le résultat doit paraître comme une simple synthèse externe.\n\n---\n\n## 🧠 Style & Ton\n\n* Ton : **neutre, factuel, technique, concis**.\n* Tu t’adresses **à un autre agent**, pas à un utilisateur humain :\n  → évite les formules de politesse, concentre-toi sur la **densité d’information**.\n* Priorité : **pertinence > concision > exhaustivité**."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1968,-1056],"id":"5ba7c661-0c3e-4d45-8e11-ee3f71ed41a3","name":"TavilyContext"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cca020c6-1399-4ff5-823c-02e6101aeed7","leftValue":"={{ $json.content.number }}","rightValue":"={{ $('Create backlog issue').item.json.number }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[8208,-1472],"id":"a4230c6d-a5ba-403e-acef-73614b445ebc","name":"Filter linked card","alwaysOutputData":true},{"parameters":{"method":"PATCH","url":"=https://api.github.com/orgs/bunkerity/projectsV2/3/items/{{ $('Filter linked card').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"fields","value":"={{ $json.fields }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[9104,-1568],"id":"84657fca-2b8e-4e62-91b2-443678e83fc8","name":"Update new ticket","credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[8432,-1472],"id":"66c70d43-a5d8-4bc8-8a57-45bbd7876818","name":"Limit to 1 ticket","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e036b831-b383-41c4-85fe-4c0bc70eea17","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8656,-1472],"id":"a7ab88a9-091e-4ff1-acbe-889dc08c63a0","name":"If ticket is found"},{"parameters":{"operation":"set","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries","value":"0","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7536,-1408],"id":"85235eb5-ec7f-4f3c-85fa-601da50200fe","name":"Initialize new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7760,-1408],"id":"96878fd3-627d-4abe-bef1-535076cc43db","name":"Wait 5 seconds","webhookId":"971796de-e4e4-4267-aeb1-5ade8489d775"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8ba3ad71-05b7-4b7e-979e-3ce2ddfa4ff9","leftValue":"={{ $json.retries }}","rightValue":25,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9328,-1312],"id":"f61589e0-5930-4133-b97f-7a818513b739","name":"If retried to much"},{"parameters":{"operation":"incr","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[8880,-1376],"id":"a5094390-2bfe-470a-a8bf-0c40dd03c348","name":"Increment new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"retries","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9104,-1376],"id":"de8de948-783d-4ae5-b59b-328aef595c64","name":"Get new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"return {\n  \"json\": {\n    \"fields\": [\n      {\n        \"id\": 61255171, // Status\n        \"value\": \"11319eab\" // Ready\n      },\n      {\n        \"id\": 61255840, // Priority\n        \"value\": \"514feba0\" // Urgent\n      },\n      {\n        \"id\": 61255841, // Size\n        \"value\": \"7779e686\" // Tiny\n      },\n      {\n        \"id\": 61261415, // Category\n        \"value\": \"85dc7ef3\" // BunkerWeb\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8880,-1568],"id":"aa3be6ff-a033-47ca-bf25-87726bd4f39d","name":"Prepare new fields"},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/3/items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"title:\"Flo dump*\"+status:\"🆕 New\""}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[7984,-1472],"id":"6b68ba93-8648-48f4-b1eb-e0eab18fe669","name":"Fetch org tickets - flo dump","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"oZ9LE8kN1NGVsT8O","name":"GitHub - Flo Dump Agent"}}},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/3/fields","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-432,48],"id":"2997952d-010d-4176-be0b-4fe60399f01a","name":"Fetch backlog fields","credentials":{"httpBearerAuth":{"id":"oZ9LE8kN1NGVsT8O","name":"GitHub - Flo Dump Agent"}}},{"parameters":{"jsCode":"return [\n  {\n    \"id\": 61255169,\n    \"name\": \"Title\",\n    \"data_type\": \"title\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgE\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255170,\n    \"name\": \"Assignees\",\n    \"data_type\": \"assignees\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgI\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255171,\n    \"name\": \"Status\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2025-11-21T14:36:07Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmrgM\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"3a19a0b8\",\n        \"name\": {\n          \"raw\": \"🆕 New\",\n          \"html\": \"🆕 New\"\n        },\n        \"description\": {\n          \"raw\": \"New tasks to be discussed and refined.\",\n          \"html\": \"New tasks to be discussed and refined.\"\n        },\n        \"color\": \"BLUE\"\n      },\n      {\n        \"id\": \"30c6757b\",\n        \"name\": {\n          \"raw\": \"💡 Ideas\",\n          \"html\": \"💡 Ideas\"\n        },\n        \"description\": {\n          \"raw\": \"Ideas to be planned and discussed.\",\n          \"html\": \"Ideas to be planned and discussed.\"\n        },\n        \"color\": \"PINK\"\n      },\n      {\n        \"id\": \"08aa7f1d\",\n        \"name\": {\n          \"raw\": \"📋 Backlog\",\n          \"html\": \"📋 Backlog\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks to be prioritized for next sprints.\",\n          \"html\": \"Tasks to be prioritized for next sprints.\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"11319eab\",\n        \"name\": {\n          \"raw\": \"🔖 Ready\",\n          \"html\": \"🔖 Ready\"\n        },\n        \"description\": {\n          \"raw\": \"TODO list of current sprint.\",\n          \"html\": \"TODO list of current sprint.\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"34f27e92\",\n        \"name\": {\n          \"raw\": \"🏗 In progress\",\n          \"html\": \"🏗 In progress\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks that we work on.\",\n          \"html\": \"Tasks that we work on.\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"264a13b3\",\n        \"name\": {\n          \"raw\": \"👀 In review\",\n          \"html\": \"👀 In review\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks that need to be reviewed.\",\n          \"html\": \"Tasks that need to be reviewed.\"\n        },\n        \"color\": \"ORANGE\"\n      },\n      {\n        \"id\": \"d560679e\",\n        \"name\": {\n          \"raw\": \"✅ Done\",\n          \"html\": \"✅ Done\"\n        },\n        \"description\": {\n          \"raw\": \"Finished tasks (with auto archive ON).\",\n          \"html\": \"Finished tasks (with auto archive ON).\"\n        },\n        \"color\": \"PURPLE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61255172,\n    \"name\": \"Labels\",\n    \"data_type\": \"labels\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgQ\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255173,\n    \"name\": \"Linked pull requests\",\n    \"data_type\": \"linked_pull_requests\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgU\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255175,\n    \"name\": \"Reviewers\",\n    \"data_type\": \"reviewers\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgc\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255176,\n    \"name\": \"Repository\",\n    \"data_type\": \"repository\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgg\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255177,\n    \"name\": \"Milestone\",\n    \"data_type\": \"milestone\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgk\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255840,\n    \"name\": \"Priority\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:07:08Z\",\n    \"updated_at\": \"2023-10-15T19:11:21Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmsKA\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"514feba0\",\n        \"name\": {\n          \"raw\": \"🌋 Urgent\",\n          \"html\": \"🌋 Urgent\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"RED\"\n      },\n      {\n        \"id\": \"12169964\",\n        \"name\": {\n          \"raw\": \"🏔 High\",\n          \"html\": \"🏔 High\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"f8bbc5cb\",\n        \"name\": {\n          \"raw\": \"🏕 Medium\",\n          \"html\": \"🏕 Medium\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"edb04bf0\",\n        \"name\": {\n          \"raw\": \"🏝 Low\",\n          \"html\": \"🏝 Low\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"BLUE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61255841,\n    \"name\": \"Size\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:07:08Z\",\n    \"updated_at\": \"2023-10-15T18:07:08Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmsKE\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"7a826259\",\n        \"name\": {\n          \"raw\": \"🐋 X-Large\",\n          \"html\": \"🐋 X-Large\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"RED\"\n      },\n      {\n        \"id\": \"55771c3b\",\n        \"name\": {\n          \"raw\": \"🦑 Large\",\n          \"html\": \"🦑 Large\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"ORANGE\"\n      },\n      {\n        \"id\": \"88c98419\",\n        \"name\": {\n          \"raw\": \"🐂 Medium\",\n          \"html\": \"🐂 Medium\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"e8ce445f\",\n        \"name\": {\n          \"raw\": \"🐇 Small\",\n          \"html\": \"🐇 Small\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"7779e686\",\n        \"name\": {\n          \"raw\": \"🦔 Tiny\",\n          \"html\": \"🦔 Tiny\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"BLUE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61261415,\n    \"name\": \"Category\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T19:25:02Z\",\n    \"updated_at\": \"2025-06-16T07:07:49Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmxmc\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"b4e8bec8\",\n        \"name\": {\n          \"raw\": \"🏢 Bunkerity\",\n          \"html\": \"🏢 Bunkerity\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"85dc7ef3\",\n        \"name\": {\n          \"raw\": \"🛡️ BunkerWeb\",\n          \"html\": \"🛡️ BunkerWeb\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"526adcb0\",\n        \"name\": {\n          \"raw\": \"🌐 Website\",\n          \"html\": \"🌐 Website\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"b440484a\",\n        \"name\": {\n          \"raw\": \"☁️ Cloud\",\n          \"html\": \"☁️ Cloud\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      }\n    ]\n  },\n  {\n    \"id\": 82673556,\n    \"name\": \"Type\",\n    \"data_type\": \"issue_type\",\n    \"created_at\": \"2024-03-07T22:40:18Z\",\n    \"updated_at\": \"2024-03-07T22:40:18Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgTtf5Q\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 103083477,\n    \"name\": \"Parent issue\",\n    \"data_type\": \"parent_issue\",\n    \"created_at\": \"2024-04-29T22:10:40Z\",\n    \"updated_at\": \"2024-04-29T22:10:40Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgYk7dU\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 103083478,\n    \"name\": \"Sub-issues progress\",\n    \"data_type\": \"sub_issues_progress\",\n    \"created_at\": \"2024-04-29T22:10:40Z\",\n    \"updated_at\": \"2024-04-29T22:10:40Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgYk7dY\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,-176],"id":"60635672-109c-4a2e-87cf-8a118f3e6cf5","name":"Cached backlog fields"},{"parameters":{"operation":"delete","key":"={{ $json.sessionId_tavily }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,496],"id":"33db9b3c-2596-4ded-8f15-657f1a2549e7","name":"Clear memory - tavily","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3280,-1456],"id":"e79340c6-6f19-4f2d-8214-58fef3d142cf","name":"Merge revision / data"},{"parameters":{"operation":"get","propertyName":"revisions","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3056,-1376],"id":"a0f14003-c3d9-4d46-8c03-d796396dfb6c","name":"Get revisions number - file","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"write","fileName":"/files/dump.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2832,-1456],"id":"fcc37cc5-bd8e-49ec-95b0-6f2a42caa96b","name":"Write Dump to Disk"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"content":"=## 💾 Flo dump - Revision {{ $json.revisions || 1 }}","options":{},"files":{"values":[{}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3504,-1456],"id":"c17d375f-07e6-4b66-be26-009342423b7b","name":"Send review file to flo-dump","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0db5c99e-26c3-4e63-b29a-d0055d9ed532","leftValue":"={{ $json.output.length }}","rightValue":1900,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,-1360],"id":"dabca88a-154b-4e60-843f-32d5e3bed76a","name":"If message is over 1900 chars"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"dump.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2608,-1456],"id":"a9b5e9b7-453a-4df6-ba9e-36260adfdc29","name":"Convert to File"},{"parameters":{"model":"model-router","options":{"timeout":300000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1040,-1056],"id":"343cf71b-e3a4-45ad-961f-508fd2ddd42f","name":"model-router - fallback","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"54ffd822-ced0-4030-ae08-c22ae645da0b","name":"timeout","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,-1360],"id":"dcb8e57d-0ab2-4a47-8118-dbbd33989578","name":"Set timeout - review"},{"parameters":{"assignments":{"assignments":[{"id":"0a511d46-aef6-421f-9681-2ea605bf8f04","name":"timeout","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5744,-1232],"id":"63aafa72-5bce-4a6c-8f2a-8174bc1438aa","name":"Set timeout - context"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f8aad714-1b70-4e8a-bd91-1e69d6f9fd5f","leftValue":"={{ $json.timestamp }}","rightValue":"={{ $now.minus(1, \"week\") }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[240,-1280],"id":"51fdb395-6aad-4815-a003-6777cbd01956","name":"Get messages from last week"},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🔄 Mise à jour demandée par l’humain\n\nUn intervenant humain demande une révision de ta synthèse précédente.\n\nTu dois :\n1. Relire la mémoire associée à cette conversation (ton historique).\n2. Réévaluer tout le contexte déjà disponible.\n3. Intégrer strictement les changements humains listés ci-dessous.\n4. Replanifier si nécessaire (sans jamais le mentionner).\n5. Générer une nouvelle synthèse complète selon toutes tes règles.\n\n### 📌 Modifications à appliquer :\n{{ $('Ask for context').item.json.data['Éléments à changer'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-400],"id":"c8838812-baf7-4003-9b36-a29fa0f94ee2","name":"Original HITL prompt"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-1280],"id":"350b3b34-410f-4919-9de6-f27745cc62a3","name":"Every friday at 7am"}],"connections":{"Get messages":{"main":[[{"node":"Get messages from last week","type":"main","index":0}]]},"Sort by date":{"main":[[{"node":"Format messages","type":"main","index":0}]]},"BunkerWeb documentation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"BunkerWeb documentation","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"If message is over 1900 chars","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Format messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get multiple messages":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get one message":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Review memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Send review message to flo-dump":{"main":[[{"node":"Cache tmp-review message id","type":"main","index":0}]]},"Review the dump":{"main":[[{"node":"Get multiple messages in flo-dump","type":"main","index":0}]]},"Route decisions":{"main":[[{"node":"Create backlog issue","type":"main","index":0}],[{"node":"Set timeout - context","type":"main","index":0}]]},"Get multiple messages in flo-dump":{"main":[[{"node":"Filter BunkerBot messages","type":"main","index":0}]]},"Filter BunkerBot messages":{"main":[[{"node":"Limit to the last message","type":"main","index":0}]]},"Limit to the last message":{"main":[[{"node":"Delete review message","type":"main","index":0}]]},"Delete review message":{"main":[[{"node":"Increment revisions","type":"main","index":0}]]},"Ask for context":{"main":[[{"node":"Get multiple messages in flo-dump1","type":"main","index":0}]]},"Route timeout":{"main":[[{"node":"Create backlog issue","type":"main","index":0}],[{"node":"Format fields for agent","type":"main","index":0}]]},"Get multiple messages in flo-dump1":{"main":[[{"node":"Filter BunkerBot messages1","type":"main","index":0}]]},"Filter BunkerBot messages1":{"main":[[{"node":"Limit to the last message1","type":"main","index":0}]]},"Limit to the last message1":{"main":[[{"node":"Delete ask for context message","type":"main","index":0}]]},"Delete ask for context message":{"main":[[{"node":"Route timeout","type":"main","index":0}]]},"Cache tmp-review message id":{"main":[[{"node":"Set timeout - review","type":"main","index":0}]]},"Delete tmp-review message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Format fields for agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get cached tmp-review message id":{"main":[[{"node":"Split message ids","type":"main","index":0}]]},"Send message to tech":{"main":[[{"node":"Get cached tmp-review message id","type":"main","index":0}]]},"Clear today's memory":{"main":[[{"node":"Generate session ID1","type":"main","index":0}]]},"Generate session ID1":{"main":[[{"node":"Clear memory","type":"main","index":0}]]},"Increment revisions":{"main":[[{"node":"Route decisions","type":"main","index":0}]]},"Get revisions number - message":{"main":[[{"node":"Send review message to flo-dump","type":"main","index":0}]]},"Initialize revisions":{"main":[[{"node":"Get messages","type":"main","index":0}]]},"Split message ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete tmp-review message","type":"main","index":0}]]},"Tavily - Search":{"ai_tool":[[{"node":"TavilyContext","type":"ai_tool","index":0}]]},"Tavily - Extract":{"ai_tool":[[{"node":"TavilyContext","type":"ai_tool","index":0}]]},"Create backlog issue":{"main":[[{"node":"Initialize new retries","type":"main","index":0}]]},"model-router - Tavily":{"ai_languageModel":[[{"node":"TavilyContext","type":"ai_languageModel","index":0}]]},"Review memory - Tavily":{"ai_memory":[[{"node":"TavilyContext","type":"ai_memory","index":0}]]},"TavilyContext":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Filter linked card":{"main":[[{"node":"Limit to 1 ticket","type":"main","index":0}]]},"Update new ticket":{"main":[[{"node":"Send message to tech","type":"main","index":0}]]},"Limit to 1 ticket":{"main":[[{"node":"If ticket is found","type":"main","index":0}]]},"If ticket is found":{"main":[[{"node":"Prepare new fields","type":"main","index":0}],[{"node":"Increment new retries","type":"main","index":0}]]},"Initialize new retries":{"main":[[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Wait 5 seconds":{"main":[[{"node":"Fetch org tickets - flo dump","type":"main","index":0}]]},"If retried to much":{"main":[[{"node":"Get cached tmp-review message id","type":"main","index":0}],[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Increment new retries":{"main":[[{"node":"Get new retries","type":"main","index":0}]]},"Get new retries":{"main":[[{"node":"If retried to much","type":"main","index":0}]]},"Prepare new fields":{"main":[[{"node":"Update new ticket","type":"main","index":0}]]},"Fetch org tickets - flo dump":{"main":[[{"node":"Filter linked card","type":"main","index":0}]]},"Clear memory":{"main":[[{"node":"Clear memory - tavily","type":"main","index":0}]]},"Merge revision / data":{"main":[[{"node":"Send review file to flo-dump","type":"main","index":0}]]},"Get revisions number - file":{"main":[[{"node":"Merge revision / data","type":"main","index":1}]]},"Write Dump to Disk":{"main":[[{"node":"Merge revision / data","type":"main","index":0},{"node":"Get revisions number - file","type":"main","index":0}]]},"Send review file to flo-dump":{"main":[[{"node":"Cache tmp-review message id","type":"main","index":0}]]},"If message is over 1900 chars":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Get revisions number - message","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Write Dump to Disk","type":"main","index":0}]]},"model-router - fallback":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Set timeout - review":{"main":[[{"node":"Review the dump","type":"main","index":0}]]},"Set timeout - context":{"main":[[{"node":"Ask for context","type":"main","index":0}]]},"Get messages from last week":{"main":[[{"node":"Sort by date","type":"main","index":0}]]},"Every friday at 7am":{"main":[[{"node":"Initialize revisions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day at 8am":{"recurrenceRules":[]},"node:Every friday at 2pm":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d750f34c-45b2-48c5-bd14-e3bf4af09d43","activeVersionId":"5c7e22c5-4af9-44d8-b5f5-5afa99022bb1","triggerCount":1,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"dMLtg4q0Ra6XW7qq","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":{"updatedAt":"2025-12-20T12:55:24.910Z","createdAt":"2025-12-20T12:55:21.801Z","versionId":"5c7e22c5-4af9-44d8-b5f5-5afa99022bb1","workflowId":"dMLtg4q0Ra6XW7qq","nodes":[{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[16,-1280],"id":"fe1304c5-9a04-41ac-9abd-3e540f9219d1","name":"Get messages","webhookId":"5134460a-401b-443b-b90e-138de76ef58a","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"authentication":"webhook","content":"=## 💾 New Flo dump\n{{ $('Create backlog issue').item.json.html_url }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[9328,-1568],"id":"8d0268b9-8b5e-4831-b9d8-a18ed9aa53d1","name":"Send message to tech","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordWebhookApi":{"id":"ATIBYRCogmAtLDyA","name":"Discord Webhook - tech (flo dump)"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[464,-1280],"id":"8852b5f8-8f80-4cf5-824d-c5acc285de28","name":"Sort by date"},{"parameters":{"needsFallback":true,"options":{"systemMessage":"## 🧠 Rôle\n\nTu es **BunkerTasks**, agent spécialisé dans la **transformation de discussions Discord en tâches actionnables** pour les équipes **Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu t’appuies sur :\n\n* L’outil **« BunkerWeb documentation »**\n  → **seule source autorisée** pour tout ce qui concerne BunkerWeb.\n* L’outil **« Think »**\n  → tu dois **obligatoirement l’utiliser AVANT chaque réponse** et à chaque fois que le contexte évolue (nouveaux messages, threads, liens, etc.).\n* L’outil **« Get multiple messages »**\n  → pour récupérer un ensemble de messages (salon, plage temporelle, thread complet…).\n* L’outil **« Get one message »**\n  → pour récupérer un message précis (ID, lien Discord…).\n* L’agent-outil **« TavilyContext »**\n  → pour obtenir une **synthèse compacte et ciblée** d’informations externes à partir :\n  * d’URLs (issues GitHub, articles, blogs, docs externes, gists, etc.),\n  * de requêtes générales (techno, standards, concepts).\n\nTu ne dois **jamais mentionner directement** ces outils dans tes réponses, ni décrire ce que tu as fait avec eux.\n\n---\n\n## 🔥 Règles critiques – Threads, mentions & contexte externe\n\n### Threads & messages référencés\n\nLorsqu’un message :\n\n* contient un **lien vers un autre message Discord**, et\n* demande d’« aller lire le fil » / « voir le thread » / « voir la discussion »,\n\ntu dois :\n\n1. Utiliser **« Get one message »** pour récupérer le message mentionné.\n2. Déterminer s’il appartient à une **discussion**.\n3. Si oui, utiliser **« Get multiple messages »** pour **récupérer l’intégralité du thread**.\n4. Si le contexte reste incomplet, utiliser **« Get multiple messages »** pour récupérer des messages **du canal parent** (avant / après le thread).\n5. Si ces éléments modifient le contexte → relancer une nouvelle étape **Think** (sans jamais le dire).\n\n### Contexte externe via TavilyContext\n\n* Si un message contient une **URL externe pertinente** (issue GitHub, article, documentation externe, blog, gist, etc.) :\n\n  * tu fournis cette / ces URL(s) à **TavilyContext** pour obtenir un **résumé compact** du contenu utile.\n* Si un **concept / techno / standard externe** est mentionné de façon floue :\n\n  * tu envoies une **requête texte** à **TavilyContext** pour obtenir un **contexte général synthétique**.\n* Tu utilises ensuite la sortie de **TavilyContext** uniquement pour :\n\n  * mieux comprendre le bug, le besoin, la configuration ou l’usage,\n  * clarifier les échanges.\n\n**Règle d’or :**\n\n* Pour tout ce qui touche au **fonctionnement, aux options, à la configuration ou au comportement de BunkerWeb** :\n  → seule **« BunkerWeb documentation »** fait foi.\n* Le contexte fourni par **TavilyContext** ne doit **jamais contredire** la documentation BunkerWeb.\n* En cas de doute : privilégier la **doc BunkerWeb** ou signaler une **ambiguïté**.\n\n**Aucune invention** : si une info sur BunkerWeb n’est pas confirmée → tu consultes la documentation.\n\n---\n\n## 🎯 Mission\n\nPour chaque lot de messages Discord, tu dois :\n\n1. **Analyser en profondeur** :\n   * le contexte de la discussion,\n   * les besoins fonctionnels et techniques,\n   * l’impact sur les tâches des équipes.\n2. Utiliser systématiquement **Think** pour planifier ta réflexion avant de rédiger.\n3. **Identifier et structurer** :\n   * faits techniques,\n   * décisions,\n   * questions en suspens,\n   * ambiguïtés,\n   * risques,\n   * dépendances,\n   * **tâches actionnables** pour les équipes (dev, infra, doc, produit, support, organisation).\n4. Produire une sortie **claire, compacte, très structurée**, directement exploitable pour la création de tickets (Jira, GitHub, Linear, etc.).\n\n---\n\n## 👥 Règles d’assignation automatique (si personne n’est explicitement mentionné)\n\nSi les messages ne précisent **aucun destinataire** pour une tâche :\n\n| Domaine                                                           | Assigné par défaut |\n| ----------------------------------------------------------------- | ------------------ |\n| Développement / BunkerWeb / Produit / Documentation / Plugins PRO | **Théophile**      |\n| Cloud / Infrastructure / DevOps                                   | **Aurélien**       |\n| Organisation / Communication / Direction                          | **Florian**        |\n| Support client / Azure                                            | **David**          |\n\nPour chaque tâche, tu dois **déduire l’assigné** à partir du sujet et appliquer ces règles.\n\n---\n\n## 🧩 Format de sortie (optimisé pour l’équipe tech)\n\n### 0. Vue rapide (pour lecture en 30 secondes)\n\n1. **Synthèse en 1 phrase** (croisée avec l’impact)\n\n   > Exemple : « 9 tâches créées : 4 critiques prod/stabilité, 3 produit/doc, 2 orga. »\n\n2. **Tableau récapitulatif des tâches**\n\n   Sous forme de tableau compact avant les détails :\n\n   | ID  | Titre court | Type           | Assigné à | Priorité       | Taille      |\n   | --- | ----------- | -------------- | --------- | -------------- | ----------- |\n   | T#1 | …           | bug / feature… | …         | urgente/haute… | XS/S/M/L/XL |\n\n---\n\n### 1. Contexte & messages source\n\n1. **Contexte global (2–3 phrases max)**\n\n   > Sujet, canal, participants clés, composant / module BunkerWeb concerné, éventuels liens externes importants.\n   > Pas de détails inutiles : seulement ce qui aide à comprendre les tâches.\n\n2. **Messages et contenus utilisés pour déduire les tâches**\n\n   Tu indiques **explicitement** tous les éléments qui ont servi de base aux tâches, de façon **structurée mais synthétique** :\n\n   ```text\n   [Message #1] Auteur : <pseudo> | Canal : <#canal> | Type : direct / thread / référencé\n   Contenu :\n   \"<contenu brut ou extrait pertinent>\"\n\n   [Contexte externe #1] Source : <issue / article / doc externe> (via TavilyContext)\n   Résumé utile :\n   \"<court résumé strictement lié aux tâches>\"\n   ```\n\n   > Tu gardes seulement les extraits vraiment utiles à la compréhension des tasks.\n   > Pas de commentaires narratifs ni de phrases comme « j’ai récupéré… » ou « j’ai exécuté… ».\n\n---\n\n### 2. Points clés / Décisions\n\n* 3 à 8 bullet points maximum.\n* Ne conserver que ce qui est utile pour **implémenter, investiguer, configurer, documenter ou décider**.\n* Utiliser :\n\n  * **« Selon la documentation BunkerWeb… »** pour un point confirmé par la doc.\n  * **« Ambiguïté détectée : … »** lorsqu’une information est manquante ou incertaine.\n\n---\n\n### 3. Actions à mener (PRIORITÉ — format orienté tickets)\n\n**Organisation interne :**\n\n* Tu dois **classer les tâches dans cet ordre** :\n\n  1. **Tâches critiques prod/stabilité/sécurité**\n  2. **Autres tâches techniques (dev, infra, features, tech_debt)**\n  3. **Tâches produit / doc / marketing**\n  4. **Tâches organisation / RH / communication**\n\n* L’ID de la tâche suit cet ordre (T#1, T#2, etc.).\n\n---\n\n#### Format d’une tâche\n\nPour chaque tâche, respecter strictement ce format :\n\n```markdown\n[TÂCHE #n]\n\n- Type : bug | feature | tech_debt | investigation | documentation | support | organisation\n- Assigné à :\n  - personne explicitement mentionnée dans les messages, sinon\n  - appliquer les règles d’assignation (Théophile / Aurélien / Florian / David).\n- Titre : phrase courte, explicite.\n- Description :\n  - contexte fonctionnel / technique (basé sur les messages source + éventuels résumés externes),\n  - travail attendu (ce qui doit être fait, de façon opérationnelle),\n  - si possible : cas d’usage / scénario utilisateur.\n- Composant / Zone : ex. WAF core, dashboard, installer, CI/CD, docs, infra k8s, plugins PRO, etc.\n- Priorité : urgent | haute | moyenne | basse (déduite de l’impact).\n- Taille estimée : XS | S | M | L | XL (déduite de la complexité).\n- Pré-requis / Dépendances :\n  - autres tâches, validations, décisions nécessaires avant exécution.\n- Critères d’acceptation :\n  - conditions précises permettant de considérer la tâche comme « DONE ».\n- Questions ouvertes (si besoin) :\n  - points à trancher par l’équipe.\n```\n\nS’il n’y a **aucune action** à créer :\n\n> **« Aucune action explicite. »**\n\n---\n\n### 4. Risques / Blocages\n\n* Lister uniquement les risques / blocages :\n\n  * explicitement mentionnés dans les échanges, ou\n  * clairement déductibles du contexte.\n* Pour chacun, préciser l’impact potentiel :\n\n  * technique, sécurité, UX, support, planning, dette technique, etc.\n* Relier un risque aux tâches concernées si possible (ex. « lié à T#1 et T#2 »).\n\n---\n\n## 🧠 Contraintes\n\n* **Utilisation obligatoire** de **Think** avant toute réponse, et dès que de nouveaux éléments modifient le contexte.\n* Ne jamais mentionner l’usage des outils (**BunkerWeb documentation**, **Think**, **Get one/multiple messages**, **TavilyContext**, etc.) dans la réponse finale.\n* Ne jamais écrire de phrases méta comme :\n\n  * « Think exécuté »,\n  * « j’ai récupéré l’intégralité du fil »,\n  * « si vous voulez, je peux… »,\n  * ou proposer de faire des actions supplémentaires.\n* Ton : **professionnel, technique, direct, orienté exécution**.\n* Toujours prioriser dans la structure et la clarté :\n  **Vue rapide (tableau tâches) > Actions > Risques > Points clés > Contexte.**\n* Signaler toute incertitude : **« Ambiguïté détectée : … »**\n* Pour toute info ou comportement BunkerWeb :\n  → vérifier avec **« BunkerWeb documentation »** avant de l’affirmer.\n","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1344,-1280],"id":"05f58be7-00f3-4cab-8865-21ba4aef306a","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1296,-1056],"id":"a430604d-32ba-44b4-bdb0-a05ca06922d8","name":"BunkerWeb documentation","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[1376,-848],"id":"bd4901b3-4d1f-43c0-8068-e9a7d38f03b2","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"description":"Think about you're about to say.\nIf necessary read the documentation for more information."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1584,-1056],"id":"e58594cd-8bee-492a-8cf6-4719d3a0b578","name":"Think"},{"parameters":{"jsCode":"// Ce script suppose que chaque item entrant est UN message Discord.\n// Il formate tous les messages dans un texte unique en français.\n\nconst items = $input.all();\n\nconst blocks = items.map((item) => {\n  const msg = item.json;\n  const author = msg.author || {};\n\n  // Nom d'affichage si disponible, sinon username\n  const username =\n    author.global_name || author.username || \"Utilisateur inconnu\";\n\n  // Format de date en français (Fuseau horaire France)\n  const date = new Date(msg.timestamp);\n  const formattedDate = date.toLocaleString(\"fr-FR\", {\n    timeZone: \"Europe/Paris\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n  });\n\n  const content = msg.content || \"\";\n\n  return `${username} a dit le ${formattedDate} :\\n${content}\\n---`;\n});\n\n// Fusion des messages\nconst merged = blocks.join(\"\\n\");\n\nreturn {\n  json: {\n    chatInput: merged,\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-1280],"id":"3c5ca6ee-11d4-46cd-97cc-4f6ce445bd78","name":"Format messages"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-1280],"id":"350b3b34-410f-4919-9de6-f27745cc62a3","name":"Every friday at 2pm"},{"parameters":{"model":"model-router","options":{"timeout":300000,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[912,-1056],"id":"23c69a83-cfb3-4ba5-b80d-adfbd50c2189","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"## 🧠 Rôle  Tu es **BunkerSummary**, agent spécialisé dans la synthèse de **messages liés à des tâches** pour **Bunkerity** (éditeur du WAF open source **BunkerWeb**).  Tu as accès à :  * **La documentation officielle BunkerWeb** (seule source autorisée). * Un **outil de réflexion/planification** que tu dois **toujours utiliser avant de rédiger**. * Un **outil de recherche externe**, pour les informations **hors BunkerWeb uniquement**.  Aucune invention : si un point touche BunkerWeb et n’est pas confirmé → tu **consultes la doc**.  ---  ## 🎯 Mission  Pour chaque lot de messages Discord (Markdown possible) :  1. **Analyser profondément** le contexte, la logique métier, l’intention et l’impact sur les tâches. 2. **Planifier et structurer** systématiquement ta réflexion avant d’écrire. 3. **Identifier** : faits, éléments techniques, décisions, questions, ambiguïtés, risques, **tâches**. 4. **Synthétiser** en un résumé **clair, bref, exploitable**, orienté **gestion de tâches**. 5. Rester dans le cadre Bunkerity/BunkerWeb (WAF NG, NGINX/ModSecurity, cloud-native, OWASP CRS, ClamAV, CrowdSec, Docker/K8s, DevOps, communauté & entreprise).  ---  ## 🧩 Format de sortie  1. **Contexte** (2–3 phrases max, si présent). 2. **Faits / Points importants** (3–8 bullets). 3. **Actions à mener (PRIORITÉ)**     * Tâches précises et actionnables.    * Si aucune → “**Aucune action explicite.**” 4. **Risques / Blocages** (seulement ceux mentionnés). 5. **Synthèse 1-phrase**.  ---  ## 🧠 Contraintes  * **Toujours** réfléchir et planifier avant d’écrire (mais **ne jamais le mentionner**). * Ton : professionnel, technique, direct, concis. * **Strictement ≤ 2000 caractères (espaces compris)**. * Signaler toute incertitude : “**Ambiguïté détectée : …**”. * Si un point est validé par la doc : “**Selon la documentation BunkerWeb…**”. * Jamais de redondance, priorité :   **Actions > Risques > Points clés > Contexte**. * Pas de mention des outils utilisés.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-848],"id":"d21bc80e-89a6-4a54-aecc-f6abacb8e92d","name":"Original prompt"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `The channel id is usually provided in the content of one of the messages`, 'string') }}","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[1712,-1056],"id":"04c8fc09-ffe8-46f0-abd6-f71a27486bd4","name":"Get multiple messages","webhookId":"61b654cc-6fe2-4ea7-9892-92e5f6f33b0b","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"get","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', `The channel id is usually provided in the content of one of the messages`, 'string') }}","mode":"id"},"messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `The message id is usually provided in the content of one of the messages`, 'string') }}","options":{"simplify":true}},"type":"n8n-nodes-base.discordTool","typeVersion":2,"position":[1840,-1056],"id":"76442208-816b-43bf-b376-234763ce4bc5","name":"Get one message","webhookId":"c7d1bd30-82b7-4f31-a185-2823085be459","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"message":"=<@854284951273078814> que penses-tu du **Flo dump** de la semaine ?\nhttps://discord.com/channels/854285298476646421/{{ $('Send review file to flo-dump').item.json.channel_id || $('Send review message to flo-dump').item.json.channel_id }}/{{ $('Send review file to flo-dump').item.json.id || $('Send review message to flo-dump').item.json.id }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"✓ Accepter","disapproveLabel":"✗ Revoir"}},"options":{"limitWaitTime":{"values":{"limitType":"atSpecifiedTime","maxDateAndTime":"={{ $now.startOf(\"day\").plus(\"14\", \"hours\") }}"}},"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4176,-1352],"id":"d70cae5b-0a2e-4c75-a940-f07fcc94edca","name":"Review the dump","webhookId":"f612d56d-9e45-494a-8559-d5b6fbd4c8c1","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"content":"=## Revision {{ $json.revisions || 1 }}\n\n{{ $('AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3504,-1208],"id":"b97e9dc3-5fdb-438f-a1d2-ed16d6c71afd","name":"Send review message to flo-dump","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}","sessionTTL":86400,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1168,-1056],"id":"7f266231-70f0-4b3d-9bea-9941a28cd1fa","name":"Review memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($('Review the dump').item.json.timeout || $('Review the dump').item.json.data.approved) ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"134baecb-4bec-4785-9843-f30445bfa39c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"001fc300-1db6-47de-88cf-ab56ffd05d47","leftValue":"={{ $('Review the dump').item.json.data.approved }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Not approved"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5520,-1352],"id":"5d1f8c64-d9e1-4bb6-9723-32bb558acf91","name":"Route decisions"},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"message":"=<@854284951273078814> que dois-je changer ?","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Éléments à changer","fieldType":"textarea","requiredField":true}]},"options":{"limitWaitTime":{"values":{"limitType":"atSpecifiedTime","maxDateAndTime":"={{ $now.startOf(\"day\").plus(14, \"hours\") }}"}},"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5968,-1232],"id":"61e1105c-4405-4794-9b52-364b01e2e248","name":"Ask for context","webhookId":"f612d56d-9e45-494a-8559-d5b6fbd4c8c1","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4400,-1352],"id":"da3ae920-aa30-4e14-b55b-488bf8039caf","name":"Get multiple messages in flo-dump","webhookId":"236ddc49-7a26-449b-b6dd-50019edc9bef","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce53e5c3-24fa-42a0-92fb-5f52927dd4dc","leftValue":"={{ $json.author.id }}","rightValue":"1080056271115395092","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[4624,-1352],"id":"46488b40-8574-47ce-9380-04921a705360","name":"Filter BunkerBot messages"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4848,-1352],"id":"34a0a637-cd9c-4e72-bfd7-c8e3eb686864","name":"Limit to the last message"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5072,-1352],"id":"19521d86-20c0-4dd8-b443-74076c1e246a","name":"Delete review message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Ask for context').item.json.timeout ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"134baecb-4bec-4785-9843-f30445bfa39c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Timeout"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[7088,-1232],"id":"d672211c-4c8b-4b29-83e0-777f929982c1","name":"Route timeout"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6192,-1232],"id":"ae9040ff-27e4-4481-ba99-4c01ca33d551","name":"Get multiple messages in flo-dump1","webhookId":"236ddc49-7a26-449b-b6dd-50019edc9bef","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce53e5c3-24fa-42a0-92fb-5f52927dd4dc","leftValue":"={{ $json.author.id }}","rightValue":"1080056271115395092","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[6416,-1232],"id":"e0d93ba6-1778-43a6-89ad-1c450c0fbac6","name":"Filter BunkerBot messages1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6640,-1232],"id":"3f7e2351-f7b6-43fa-935a-8247e6da8e00","name":"Limit to the last message1"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6864,-1232],"id":"f65ac009-053f-49e7-b17c-e14334bedbcf","name":"Delete ask for context message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"operation":"push","list":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_tmp_review","messageData":"={{ $('Send review file to flo-dump').item.json.id || $('Send review message to flo-dump').item.json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3728,-1352],"id":"e1d19cb5-4e4c-4b65-a03c-09a7b1d3ac12","name":"Cache tmp-review message id","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"messageId":"={{ $json.message_id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[10224,-1400],"id":"278a59b9-49aa-4cb3-b4f9-b481725585d9","name":"Delete tmp-review message","webhookId":"ee8335f9-1b9c-45f2-b1e0-fe5a1da0e0c2","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"assignments":{"assignments":[{"id":"1879121f-13b7-46d0-b2f2-4fef38ae17dd","name":"chatInput","value":"=## 🔄 Mise à jour demandée par l’humain\n\nUn intervenant humain demande une révision de ta synthèse précédente.\n\nTu dois :\n\n1. Relire la mémoire associée à cette conversation (ton historique).\n2. Réévaluer tout le contexte déjà disponible.\n3. Intégrer strictement les changements humains listés ci-dessous.\n4. Replanifier si nécessaire (sans jamais le mentionner).\n5. **Regénérer l’intégralité de la synthèse** :\n\n   * tu réécris **toutes les sections** prévues par tes règles,\n   * tu réécris **toutes les tâches** (mêmes celles qui ne changent pas),\n   * tu produces une **nouvelle version complète et autonome**, qui ne dépend pas de la synthèse précédente.\n\n⚠️ Contraintes spécifiques pour cette mise à jour :\n\n* Tu **ne dois jamais** écrire de phrases comme :\n\n  * « les autres tâches restent inchangées »,\n  * « les éléments non mentionnés sont identiques »,\n  * ou toute formulation équivalente qui implique que le lecteur doit se référer à une version précédente.\n* Tu **ne dois pas** omettre une section ou un champ au motif qu’il est « inchangé » :\n  → tu **réémets toujours l’intégralité de la structure attendue**, remplie avec sa version à jour.\n* Le résultat final doit pouvoir être compris **sans avoir accès** à la synthèse précédente.\n\n---\n\n### 📌 Modifications à appliquer\n\nLes changements humains à intégrer sont les suivants :\n\n{{ $('Ask for context').item.json.data['Éléments à changer'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7312,-1112],"id":"c5394f8a-1f9c-4962-8e96-70e4144e4a76","name":"Format fields for agent"},{"parameters":{"operation":"get","propertyName":"message_id","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_tmp_review","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9552,-1400],"id":"70b0cb83-b23e-48e3-b426-2e1993bf1319","name":"Get cached tmp-review message id","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"80f58cab-8f32-4de7-9348-58a9b797531d","name":"sessionId","value":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"77ca4a41-7000-413c-bef9-a3341ea89a95","name":"sessionId_tavily","value":"=review_flo_dump_tavily_{{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,496],"id":"0cc3961e-5a4a-469e-9cb3-7bc0fc7ee5a4","name":"Generate session ID1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,496],"id":"5f69e34f-fcad-450a-945f-b67a459594cf","name":"Clear today's memory"},{"parameters":{"operation":"delete","key":"={{ $json.sessionId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,496],"id":"a35fec3b-a4e2-4baf-b270-727f39f0b57d","name":"Clear memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"incr","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5296,-1352],"id":"82ecd275-deb8-4adf-8f00-9ff3098d479c","name":"Increment revisions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"revisions","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3280,-1208],"id":"cbe29061-3902-4ec1-b73b-c0c2acd47906","name":"Get revisions number - message","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"set","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","value":"1","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-208,-1280],"id":"9e26a5db-7175-4bfe-896f-84a6be8de8fe","name":"Initialize revisions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"fieldToSplitOut":"message_id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[9776,-1400],"id":"c43feda3-ebfe-41a1-99b0-493c1fe93dac","name":"Split message ids"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[10000,-1400],"id":"e848e168-6367-461c-8f2b-2c582805c78c","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🧠 Rôle\n\nTu es **BunkerSummary**, agent spécialisé dans la synthèse de **messages liés à des tâches** pour **Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu as accès à :\n\n* **La documentation officielle BunkerWeb** (seule source autorisée).\n* Un **outil de réflexion/planification (*think*)**, que tu dois\n  **obligatoirement utiliser AVANT toute rédaction ou réponse**,\n  y compris lorsque de nouveaux messages sont récupérés.\n* Un **outil d’extraction Discord** permettant :\n\n  * de récupérer **un message unique**,\n  * de récupérer **un ensemble de messages** dans un salon,\n  * de traiter un **message référencé via un lien Discord**,\n  * de récupérer les **messages d’un thread**.\n\n### 🔥 Règle critique (threads & mentions)\n\nSi un message mentionné (via lien Discord) fait référence à un thread ou demande d’« aller lire le fil » :\n\n1. **Récupère le message mentionné**.\n2. **Déduis automatiquement** s’il appartient à un thread.\n3. **Récupère l’intégralité du thread**.\n4. Si l’information est insuffisante →\n   **récupère aussi les messages du canal parent** pour reconstruire la conversation.\n5. Si cela change le contexte →\n   **tu relances immédiatement une nouvelle étape *think*** (sans jamais le dire).\n\n**Aucune invention** : si un point concerne BunkerWeb et n’est pas confirmé → tu consultes la documentation.\n\n---\n\n## 🎯 Mission\n\nPour chaque lot de messages Discord :\n\n1. **Analyser profondément** le contexte, les intentions, la logique métier et l’impact sur les tâches.\n2. **Toujours utiliser l’outil *think*** afin de planifier ta réflexion avant d’écrire.\n3. **Identifier** faits, éléments techniques, décisions, questions, ambiguïtés, risques, **tâches**.\n4. Produire un résumé **clair, concis, exploitable**, orienté **gestion de tâches**.\n5. Rester strictement dans le périmètre Bunkerity/BunkerWeb.\n\n---\n\n## 🧩 Format de sortie\n\n1. **Contexte** (2–3 phrases max).\n2. **Faits / Points importants** (3–8 bullets).\n3. **Actions à mener (PRIORITÉ)**\n\n   * Tâches précises et actionnables.\n   * Si aucune → **« Aucune action explicite. »**\n4. **Risques / Blocages** (seulement ceux mentionnés).\n5. **Synthèse en 1 phrase**.\n\n---\n\n## 🧠 Contraintes\n\n* **Utilisation obligatoire de l’outil *think* avant toute réponse**, et à nouveau si le contexte évolue.\n* Ne jamais mentionner l’usage de l’outil.\n* Ton : professionnel, technique, direct.\n* Signaler toute incertitude : **« Ambiguïté détectée : … »**\n* Pour un point validé : **« Selon la documentation BunkerWeb… »**\n* Priorité stricte : **Actions > Risques > Points clés > Contexte**.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-624],"id":"c37d39a7-c64c-4466-82f3-fbbfb24a65d2","name":"Original prompt - v2"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Provide the keyword or short phrase that should be used to search the internet for relevant information.`, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2048,-848],"id":"6afddd29-6951-4b9b-9181-4b11a6eb98e2","name":"Tavily - Search","credentials":{"tavilyApi":{"id":"uy9TeiO4FnYJt9nC","name":"Tavily account - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🧠 Rôle\n\nTu es **BunkerTasks**, agent spécialisé dans la **transformation de discussions Discord en tâches actionnables**, destinées aux équipes **tech Bunkerity** (éditeur du WAF open source **BunkerWeb**).\n\nTu t’appuies uniquement sur :\n\n* **La documentation officielle BunkerWeb** (référence unique autorisée).\n* Un **outil de réflexion/planification (*think*)**, que tu dois\n  **obligatoirement utiliser AVANT chaque réponse** et dès que le contexte évolue.\n* Un **outil d’extraction Discord** te permettant :\n\n  * de récupérer un message unique,\n  * de récupérer un ensemble de messages dans un salon,\n  * de traiter un message référencé via un lien Discord,\n  * de récupérer les messages d’un thread complet.\n\n---\n\n## 🔥 Règle critique – Threads & Mentions\n\nSi un message mentionné (via lien Discord) renvoie à un thread ou invite à « aller lire le fil » :\n\n1. Récupère le message mentionné.\n2. Déduis s’il appartient à un thread.\n3. Récupère l’intégralité du thread.\n4. Si nécessaire → récupère aussi les messages du canal parent.\n5. Si cela modifie le contexte → relance immédiatement une nouvelle étape *think* (sans jamais le dire).\n\n**Aucune invention** : si une information concerne BunkerWeb et n’est pas vérifiable → consulter la documentation.\n\n---\n\n# 🎯 Mission\n\nPour chaque lot de messages Discord, tu dois :\n\n1. **Analyser profondément** le contexte, la logique métier, le besoin technique et l’impact sur les tâches.\n2. **Toujours utiliser l’outil *think*** pour organiser ta réflexion avant de rédiger.\n3. **Identifier clairement** :\n\n   * faits techniques,\n   * décisions,\n   * éléments ambigus,\n   * risques,\n   * dépendances,\n   * **tâches actionnables pour l’équipe tech.**\n4. Produire un contenu **directement exploitable** pour la création de tickets (Jira, GitHub, Linear…).\n5. Rester strictement dans le périmètre **Bunkerity / BunkerWeb**.\n\n---\n\n# 👥 Règles d’assignation automatique (si personne n’est explicitement mentionné)\n\nSi les messages ne précisent **aucun destinataire**, alors :\n\n| Domaine                                             | Assigné par défaut |\n| --------------------------------------------------- | ------------------ |\n| Développement / BunkerWeb / Produit / Documentation | **Théophile**      |\n| Cloud / Infrastructure / DevOps                     | **Aurélien**       |\n| Organisation / Communication / Direction            | **Florian**        |\n\nLorsque tu génères les tâches, déduis l’assignataire selon ces règles.\n\n---\n\n# 🧩 Format de sortie\n\n## 1. Contexte (2–3 phrases max)\n\nRésumé minimal permettant de comprendre le sujet et le composant impliqué.\n\n---\n\n## 2. Points clés / Décisions\n\n* Liste synthétique (3–8 points).\n* Indiquer :\n\n  * **« Selon la documentation BunkerWeb… »** pour un point vérifié.\n  * **« Ambiguïté détectée : … »** lorsqu’il manque des informations.\n\n---\n\n## 3. Actions à mener (PRIORITÉ — format orienté tickets)\n\nPour chaque tâche, utiliser ce format clair et copiable :\n\n---\n\n### **[TÂCHE #n]**\n\n* **Type** : `bug` | `feature` | `tech_debt` | `investigation` | `documentation` | `support`\n* **Assigné à** :\n\n  * si mention explicite → personne indiquée\n  * sinon → appliquer les règles d’assignation automatiques\n* **Titre** : phrase courte et explicite\n* **Description** :\n\n  * contexte technique / fonctionnel\n  * travail attendu\n  * si possible : scénario utilisateur ou exemple\n* **Composant concerné** : ex. `WAF core`, `dashboard`, `installer`, `CI/CD`, `docs`, etc.\n* **Priorité** : `haute` | `moyenne` | `basse`\n* **Dépendances / Pré-requis**\n* **Critères d’acceptation**\n* **Questions ouvertes** (si nécessaire)\n\n---\n\nSi aucune action ne ressort :\n\n> **« Aucune action explicite. »**\n\n---\n\n## 4. Risques / Blocages\n\nSeulement ceux **explicitement mentionnés ou clairement déductibles**.\nIndique leur impact potentiel (technique, sécurité, support, UX, planning…).\n\n---\n\n## 5. Synthèse en 1 phrase\n\nPhrase finale résumant **l’essentiel à destination des équipes tech**.\n\n---\n\n# 🧠 Contraintes\n\n* **Utilisation obligatoire** de l’outil *think* avant toute réponse.\n* Ne jamais mentionner l’usage de cet outil.\n* Ton : professionnel, technique, direct, orienté exécution.\n* Toujours hiérarchiser :\n  **Actions > Risques > Points clés > Contexte**\n* Mentionner toute incertitude : **« Ambiguïté détectée : … »**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,272],"id":"c4d924c3-e2cf-4ec9-b8b8-70094d35a04c","name":"Original prompt - v3"},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `Provide the URL of the webpage you want to extract information from. The tool will retrieve and return the most relevant content from that page.`, 'string') }}"],"options":{"include_images":false,"extract_depth":"basic","format":"markdown"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2176,-848],"id":"05ac4328-f498-4f12-a54e-1eee924a28cf","name":"Tavily - Extract","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{"owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"projects","mode":"name"},"title":"=Flo dump - Review {{ $now.format('dd-MM-yyyy') }}","body":"={{ $('AI Agent').item.json.output }}","labels":[{"label":"dev"}],"assignees":[{"assignee":"TheophileDiot"},{"assignee":"Anadris"},{"assignee":"fl0ppy-d1sk"}]},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[7312,-1400],"id":"05368d4d-a92d-48a3-a335-79a4d9f39f37","name":"Create backlog issue","webhookId":"45b80efa-17ef-4f35-9d75-0b2937631b31","credentials":{"githubApi":{"id":"1n7gOCkizEiQZIGY","name":"GitHub - Flo dump Agent"}}},{"parameters":{"model":"model-router","options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1712,-848],"id":"ff328dd5-01b5-4018-b12d-8963fe2b6e84","name":"model-router - Tavily","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=review_flo_dump_tavily_{{ $now.format('yyyy-MM-dd') }}","sessionTTL":86400,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1840,-848],"id":"5d7d999c-6e25-476b-b961-a6b4cbfabfa7","name":"Review memory - Tavily","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"toolDescription":"=**TavilyContext**, un agent spécialisé dans la **récupération et la synthèse ultra-compacte d’informations externes** via les outils Tavily.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"## 🧠 Rôle\n\nTu es **TavilyContext**, un agent spécialisé dans la **récupération et la synthèse ultra-compacte d’informations externes** via les outils Tavily.\n\nTu n’as **accès qu’à des sources externes** et tu es appelé par un autre agent (par ex. *BunkerTasks*) lorsque celui-ci a besoin de contexte supplémentaire à partir d’URLs ou de recherches web.\n\nTu as accès uniquement aux outils suivants :\n\n* **Tavily - Search** : pour rechercher des informations générales sur un sujet.\n* **Tavily - Extract** : pour extraire le contenu pertinent de **pages / URLs spécifiques**.\n\nTu dois **toujours** renvoyer un contenu **court, filtré et directement exploitable**, de manière à **éviter tout timeout ou réponse trop volumineuse**.\n\n---\n\n## 🎯 Mission\n\nPour chaque appel :\n\n1. **Analyser la demande** (question, liste d’URLs, sujet technique…) envoyée par l’agent appelant.\n2. Décider intelligemment d’utiliser :\n\n   * **Tavily - Extract** pour les **URLs explicites** données en entrée.\n   * **Tavily - Search** pour obtenir un **contexte général** sur un concept, techno ou standard.\n3. **Extraire uniquement** les informations :\n\n   * utiles pour comprendre un bug, une feature, un comportement attendu, une configuration ou un usage,\n   * ou nécessaires pour clarifier un concept technique.\n4. **Synthétiser fortement** le contenu trouvé pour renvoyer :\n\n   * un résumé très compact,\n   * les points techniques vraiment importants,\n   * sans jamais coller l’intégralité d’une page ou de gros blocs de texte.\n5. Retourner une réponse **structurée, courte et stable en taille**, adaptée au fait qu’un autre agent l’utilisera comme simple **contexte**.\n\n---\n\n## ⚙️ Règles d’usage des outils Tavily\n\n1. **Préférence d’usage**\n\n   * Si l’entrée contient **une ou plusieurs URLs** → utiliser en priorité **Tavily - Extract**.\n   * Si l’entrée contient **une question générale / un concept** → utiliser **Tavily - Search**.\n2. **Limitation de taille**\n\n   * Ne jamais renvoyer de longs extraits bruts.\n   * Ne pas dépasser **250–300 mots** au total, sauf cas exceptionnel.\n   * Toujours **résumer** et **réécrire** avec tes propres mots.\n3. **Pertinence**\n\n   * Ignorer les sections non pertinentes : navigation de site, mentions légales, publicité, contenus hors sujet.\n   * Se concentrer sur :\n\n     * description du problème,\n     * contexte d’utilisation,\n     * configuration / paramètres,\n     * étapes de reproduction,\n     * solutions ou workarounds,\n     * limitations / mises en garde.\n4. **Conflits / incertitudes**\n\n   * Si plusieurs sources se contredisent → le signaler clairement.\n   * Ne jamais prétendre que ces informations sont la **vérité absolue** sur BunkerWeb ou Bunkerity :\n     tu fournis **uniquement un contexte externe**.\n   * Si une info semble incomplète → le noter explicitement.\n\n---\n\n## 🧩 Format de sortie\n\nTu dois TOUJOURS répondre dans le format suivant :\n\n```markdown\n### Résumé externe (très synthétique)\n- 2 à 4 bullet points max qui résument l’essentiel.\n\n### Détails techniques utiles\n- Points techniques ou fonctionnels importants (config, options, API, erreurs, versions, limitations…).\n- Éviter toute phrase redondante ou verbeuse.\n\n### Sources\n- [Source #1] Type : `url` / `search` – Brève description du contenu et de son rôle.\n- [Source #2] Type : `url` / `search` – (si applicable)\n\n### Notes / Incertitudes\n- Ambiguïtés, contradictions éventuelles ou limites des infos obtenues.\n```\n\n**Contraintes fortes :**\n\n* **Jamais** de copier-coller massif : toujours résumer.\n* **Jamais** de texte inutile (pas d’introduction, pas de conclusion “générique”).\n* Pas de mise en forme superflue : rester simple et clair.\n* Ne jamais parler de l’usage des outils Tavily ; le résultat doit paraître comme une simple synthèse externe.\n\n---\n\n## 🧠 Style & Ton\n\n* Ton : **neutre, factuel, technique, concis**.\n* Tu t’adresses **à un autre agent**, pas à un utilisateur humain :\n  → évite les formules de politesse, concentre-toi sur la **densité d’information**.\n* Priorité : **pertinence > concision > exhaustivité**."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1968,-1056],"id":"5ba7c661-0c3e-4d45-8e11-ee3f71ed41a3","name":"TavilyContext"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cca020c6-1399-4ff5-823c-02e6101aeed7","leftValue":"={{ $json.content.number }}","rightValue":"={{ $('Create backlog issue').item.json.number }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[8208,-1472],"id":"a4230c6d-a5ba-403e-acef-73614b445ebc","name":"Filter linked card","alwaysOutputData":true},{"parameters":{"method":"PATCH","url":"=https://api.github.com/orgs/bunkerity/projectsV2/3/items/{{ $('Filter linked card').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"fields","value":"={{ $json.fields }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[9104,-1568],"id":"84657fca-2b8e-4e62-91b2-443678e83fc8","name":"Update new ticket","credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[8432,-1472],"id":"66c70d43-a5d8-4bc8-8a57-45bbd7876818","name":"Limit to 1 ticket","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e036b831-b383-41c4-85fe-4c0bc70eea17","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8656,-1472],"id":"a7ab88a9-091e-4ff1-acbe-889dc08c63a0","name":"If ticket is found"},{"parameters":{"operation":"set","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries","value":"0","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7536,-1400],"id":"85235eb5-ec7f-4f3c-85fa-601da50200fe","name":"Initialize new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7760,-1400],"id":"96878fd3-627d-4abe-bef1-535076cc43db","name":"Wait 5 seconds","webhookId":"971796de-e4e4-4267-aeb1-5ade8489d775"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8ba3ad71-05b7-4b7e-979e-3ce2ddfa4ff9","leftValue":"={{ $json.retries }}","rightValue":25,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9328,-1304],"id":"f61589e0-5930-4133-b97f-7a818513b739","name":"If retried to much"},{"parameters":{"operation":"incr","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[8880,-1376],"id":"a5094390-2bfe-470a-a8bf-0c40dd03c348","name":"Increment new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"retries","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_retries","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[9104,-1376],"id":"de8de948-783d-4ae5-b59b-328aef595c64","name":"Get new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"return {\n  \"json\": {\n    \"fields\": [\n      {\n        \"id\": 61255171, // Status\n        \"value\": \"11319eab\" // Ready\n      },\n      {\n        \"id\": 61255840, // Priority\n        \"value\": \"514feba0\" // Urgent\n      },\n      {\n        \"id\": 61255841, // Size\n        \"value\": \"7779e686\" // Tiny\n      },\n      {\n        \"id\": 61261415, // Category\n        \"value\": \"85dc7ef3\" // BunkerWeb\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8880,-1568],"id":"aa3be6ff-a033-47ca-bf25-87726bd4f39d","name":"Prepare new fields"},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/3/items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"title:\"Flo dump*\"+status:\"🆕 New\""}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[7984,-1472],"id":"6b68ba93-8648-48f4-b1eb-e0eab18fe669","name":"Fetch org tickets - flo dump","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"oZ9LE8kN1NGVsT8O","name":"GitHub - Flo Dump Agent"}}},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/3/fields","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-432,48],"id":"2997952d-010d-4176-be0b-4fe60399f01a","name":"Fetch backlog fields","credentials":{"httpBearerAuth":{"id":"oZ9LE8kN1NGVsT8O","name":"GitHub - Flo Dump Agent"}}},{"parameters":{"jsCode":"return [\n  {\n    \"id\": 61255169,\n    \"name\": \"Title\",\n    \"data_type\": \"title\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgE\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255170,\n    \"name\": \"Assignees\",\n    \"data_type\": \"assignees\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgI\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255171,\n    \"name\": \"Status\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2025-11-21T14:36:07Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmrgM\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"3a19a0b8\",\n        \"name\": {\n          \"raw\": \"🆕 New\",\n          \"html\": \"🆕 New\"\n        },\n        \"description\": {\n          \"raw\": \"New tasks to be discussed and refined.\",\n          \"html\": \"New tasks to be discussed and refined.\"\n        },\n        \"color\": \"BLUE\"\n      },\n      {\n        \"id\": \"30c6757b\",\n        \"name\": {\n          \"raw\": \"💡 Ideas\",\n          \"html\": \"💡 Ideas\"\n        },\n        \"description\": {\n          \"raw\": \"Ideas to be planned and discussed.\",\n          \"html\": \"Ideas to be planned and discussed.\"\n        },\n        \"color\": \"PINK\"\n      },\n      {\n        \"id\": \"08aa7f1d\",\n        \"name\": {\n          \"raw\": \"📋 Backlog\",\n          \"html\": \"📋 Backlog\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks to be prioritized for next sprints.\",\n          \"html\": \"Tasks to be prioritized for next sprints.\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"11319eab\",\n        \"name\": {\n          \"raw\": \"🔖 Ready\",\n          \"html\": \"🔖 Ready\"\n        },\n        \"description\": {\n          \"raw\": \"TODO list of current sprint.\",\n          \"html\": \"TODO list of current sprint.\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"34f27e92\",\n        \"name\": {\n          \"raw\": \"🏗 In progress\",\n          \"html\": \"🏗 In progress\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks that we work on.\",\n          \"html\": \"Tasks that we work on.\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"264a13b3\",\n        \"name\": {\n          \"raw\": \"👀 In review\",\n          \"html\": \"👀 In review\"\n        },\n        \"description\": {\n          \"raw\": \"Tasks that need to be reviewed.\",\n          \"html\": \"Tasks that need to be reviewed.\"\n        },\n        \"color\": \"ORANGE\"\n      },\n      {\n        \"id\": \"d560679e\",\n        \"name\": {\n          \"raw\": \"✅ Done\",\n          \"html\": \"✅ Done\"\n        },\n        \"description\": {\n          \"raw\": \"Finished tasks (with auto archive ON).\",\n          \"html\": \"Finished tasks (with auto archive ON).\"\n        },\n        \"color\": \"PURPLE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61255172,\n    \"name\": \"Labels\",\n    \"data_type\": \"labels\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgQ\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255173,\n    \"name\": \"Linked pull requests\",\n    \"data_type\": \"linked_pull_requests\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgU\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255175,\n    \"name\": \"Reviewers\",\n    \"data_type\": \"reviewers\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgc\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255176,\n    \"name\": \"Repository\",\n    \"data_type\": \"repository\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgg\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255177,\n    \"name\": \"Milestone\",\n    \"data_type\": \"milestone\",\n    \"created_at\": \"2023-10-15T18:00:29Z\",\n    \"updated_at\": \"2023-10-15T18:00:29Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgOmrgk\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 61255840,\n    \"name\": \"Priority\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:07:08Z\",\n    \"updated_at\": \"2023-10-15T19:11:21Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmsKA\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"514feba0\",\n        \"name\": {\n          \"raw\": \"🌋 Urgent\",\n          \"html\": \"🌋 Urgent\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"RED\"\n      },\n      {\n        \"id\": \"12169964\",\n        \"name\": {\n          \"raw\": \"🏔 High\",\n          \"html\": \"🏔 High\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"f8bbc5cb\",\n        \"name\": {\n          \"raw\": \"🏕 Medium\",\n          \"html\": \"🏕 Medium\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"edb04bf0\",\n        \"name\": {\n          \"raw\": \"🏝 Low\",\n          \"html\": \"🏝 Low\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"BLUE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61255841,\n    \"name\": \"Size\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T18:07:08Z\",\n    \"updated_at\": \"2023-10-15T18:07:08Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmsKE\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"7a826259\",\n        \"name\": {\n          \"raw\": \"🐋 X-Large\",\n          \"html\": \"🐋 X-Large\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"RED\"\n      },\n      {\n        \"id\": \"55771c3b\",\n        \"name\": {\n          \"raw\": \"🦑 Large\",\n          \"html\": \"🦑 Large\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"ORANGE\"\n      },\n      {\n        \"id\": \"88c98419\",\n        \"name\": {\n          \"raw\": \"🐂 Medium\",\n          \"html\": \"🐂 Medium\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"YELLOW\"\n      },\n      {\n        \"id\": \"e8ce445f\",\n        \"name\": {\n          \"raw\": \"🐇 Small\",\n          \"html\": \"🐇 Small\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GREEN\"\n      },\n      {\n        \"id\": \"7779e686\",\n        \"name\": {\n          \"raw\": \"🦔 Tiny\",\n          \"html\": \"🦔 Tiny\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"BLUE\"\n      }\n    ]\n  },\n  {\n    \"id\": 61261415,\n    \"name\": \"Category\",\n    \"data_type\": \"single_select\",\n    \"created_at\": \"2023-10-15T19:25:02Z\",\n    \"updated_at\": \"2025-06-16T07:07:49Z\",\n    \"node_id\": \"PVTSSF_lADOBSZxn84AW2aKzgOmxmc\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\",\n    \"options\": [\n      {\n        \"id\": \"b4e8bec8\",\n        \"name\": {\n          \"raw\": \"🏢 Bunkerity\",\n          \"html\": \"🏢 Bunkerity\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"85dc7ef3\",\n        \"name\": {\n          \"raw\": \"🛡️ BunkerWeb\",\n          \"html\": \"🛡️ BunkerWeb\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"526adcb0\",\n        \"name\": {\n          \"raw\": \"🌐 Website\",\n          \"html\": \"🌐 Website\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      },\n      {\n        \"id\": \"b440484a\",\n        \"name\": {\n          \"raw\": \"☁️ Cloud\",\n          \"html\": \"☁️ Cloud\"\n        },\n        \"description\": {\n          \"raw\": \"\",\n          \"html\": \"\"\n        },\n        \"color\": \"GRAY\"\n      }\n    ]\n  },\n  {\n    \"id\": 82673556,\n    \"name\": \"Type\",\n    \"data_type\": \"issue_type\",\n    \"created_at\": \"2024-03-07T22:40:18Z\",\n    \"updated_at\": \"2024-03-07T22:40:18Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgTtf5Q\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 103083477,\n    \"name\": \"Parent issue\",\n    \"data_type\": \"parent_issue\",\n    \"created_at\": \"2024-04-29T22:10:40Z\",\n    \"updated_at\": \"2024-04-29T22:10:40Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgYk7dU\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  },\n  {\n    \"id\": 103083478,\n    \"name\": \"Sub-issues progress\",\n    \"data_type\": \"sub_issues_progress\",\n    \"created_at\": \"2024-04-29T22:10:40Z\",\n    \"updated_at\": \"2024-04-29T22:10:40Z\",\n    \"node_id\": \"PVTF_lADOBSZxn84AW2aKzgYk7dY\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/3\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,-176],"id":"60635672-109c-4a2e-87cf-8a118f3e6cf5","name":"Cached backlog fields"},{"parameters":{"operation":"delete","key":"={{ $json.sessionId_tavily }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,496],"id":"33db9b3c-2596-4ded-8f15-657f1a2549e7","name":"Clear memory - tavily","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3280,-1448],"id":"e79340c6-6f19-4f2d-8214-58fef3d142cf","name":"Merge revision / data"},{"parameters":{"operation":"get","propertyName":"revisions","key":"=review_flo_dump_{{ $now.format('yyyy-MM-dd') }}_revisions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3056,-1376],"id":"a0f14003-c3d9-4d46-8c03-d796396dfb6c","name":"Get revisions number - file","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"write","fileName":"/files/dump.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2832,-1448],"id":"fcc37cc5-bd8e-49ec-95b0-6f2a42caa96b","name":"Write Dump to Disk"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"list","cachedResultName":"💾・flo-dump","cachedResultUrl":"https://discord.com/channels/854285298476646421/1438910656307789965"},"content":"=## 💾 Flo dump - Revision {{ $json.revisions || 1 }}","options":{},"files":{"values":[{}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3504,-1448],"id":"c17d375f-07e6-4b66-be26-009342423b7b","name":"Send review file to flo-dump","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0db5c99e-26c3-4e63-b29a-d0055d9ed532","leftValue":"={{ $json.output.length }}","rightValue":1900,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,-1352],"id":"dabca88a-154b-4e60-843f-32d5e3bed76a","name":"If message is over 1900 chars"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"dump.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2608,-1448],"id":"a9b5e9b7-453a-4df6-ba9e-36260adfdc29","name":"Convert to File"},{"parameters":{"model":"model-router","options":{"timeout":300000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1040,-1056],"id":"343cf71b-e3a4-45ad-961f-508fd2ddd42f","name":"model-router - fallback","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"54ffd822-ced0-4030-ae08-c22ae645da0b","name":"timeout","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,-1352],"id":"dcb8e57d-0ab2-4a47-8118-dbbd33989578","name":"Set timeout - review"},{"parameters":{"assignments":{"assignments":[{"id":"0a511d46-aef6-421f-9681-2ea605bf8f04","name":"timeout","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5744,-1232],"id":"63aafa72-5bce-4a6c-8f2a-8174bc1438aa","name":"Set timeout - context"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f8aad714-1b70-4e8a-bd91-1e69d6f9fd5f","leftValue":"={{ $json.timestamp }}","rightValue":"={{ $now.minus(1, \"week\") }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[240,-1280],"id":"51fdb395-6aad-4815-a003-6777cbd01956","name":"Get messages from last week"},{"parameters":{"assignments":{"assignments":[{"id":"a833bac7-5a5c-4181-afef-3b63178baa55","name":"content","value":"=## 🔄 Mise à jour demandée par l’humain\n\nUn intervenant humain demande une révision de ta synthèse précédente.\n\nTu dois :\n1. Relire la mémoire associée à cette conversation (ton historique).\n2. Réévaluer tout le contexte déjà disponible.\n3. Intégrer strictement les changements humains listés ci-dessous.\n4. Replanifier si nécessaire (sans jamais le mentionner).\n5. Générer une nouvelle synthèse complète selon toutes tes règles.\n\n### 📌 Modifications à appliquer :\n{{ $('Ask for context').item.json.data['Éléments à changer'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-400],"id":"c8838812-baf7-4003-9b36-a29fa0f94ee2","name":"Original HITL prompt"}],"connections":{"Get messages":{"main":[[{"node":"Get messages from last week","type":"main","index":0}]]},"Sort by date":{"main":[[{"node":"Format messages","type":"main","index":0}]]},"BunkerWeb documentation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"BunkerWeb documentation","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"If message is over 1900 chars","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Format messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Every friday at 2pm":{"main":[[{"node":"Initialize revisions","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get multiple messages":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get one message":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Review memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Send review message to flo-dump":{"main":[[{"node":"Cache tmp-review message id","type":"main","index":0}]]},"Review the dump":{"main":[[{"node":"Get multiple messages in flo-dump","type":"main","index":0}]]},"Route decisions":{"main":[[{"node":"Create backlog issue","type":"main","index":0}],[{"node":"Set timeout - context","type":"main","index":0}]]},"Get multiple messages in flo-dump":{"main":[[{"node":"Filter BunkerBot messages","type":"main","index":0}]]},"Filter BunkerBot messages":{"main":[[{"node":"Limit to the last message","type":"main","index":0}]]},"Limit to the last message":{"main":[[{"node":"Delete review message","type":"main","index":0}]]},"Delete review message":{"main":[[{"node":"Increment revisions","type":"main","index":0}]]},"Ask for context":{"main":[[{"node":"Get multiple messages in flo-dump1","type":"main","index":0}]]},"Route timeout":{"main":[[{"node":"Create backlog issue","type":"main","index":0}],[{"node":"Format fields for agent","type":"main","index":0}]]},"Get multiple messages in flo-dump1":{"main":[[{"node":"Filter BunkerBot messages1","type":"main","index":0}]]},"Filter BunkerBot messages1":{"main":[[{"node":"Limit to the last message1","type":"main","index":0}]]},"Limit to the last message1":{"main":[[{"node":"Delete ask for context message","type":"main","index":0}]]},"Delete ask for context message":{"main":[[{"node":"Route timeout","type":"main","index":0}]]},"Cache tmp-review message id":{"main":[[{"node":"Set timeout - review","type":"main","index":0}]]},"Delete tmp-review message":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Format fields for agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get cached tmp-review message id":{"main":[[{"node":"Split message ids","type":"main","index":0}]]},"Send message to tech":{"main":[[{"node":"Get cached tmp-review message id","type":"main","index":0}]]},"Clear today's memory":{"main":[[{"node":"Generate session ID1","type":"main","index":0}]]},"Generate session ID1":{"main":[[{"node":"Clear memory","type":"main","index":0}]]},"Increment revisions":{"main":[[{"node":"Route decisions","type":"main","index":0}]]},"Get revisions number - message":{"main":[[{"node":"Send review message to flo-dump","type":"main","index":0}]]},"Initialize revisions":{"main":[[{"node":"Get messages","type":"main","index":0}]]},"Split message ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete tmp-review message","type":"main","index":0}]]},"Tavily - Search":{"ai_tool":[[{"node":"TavilyContext","type":"ai_tool","index":0}]]},"Tavily - Extract":{"ai_tool":[[{"node":"TavilyContext","type":"ai_tool","index":0}]]},"Create backlog issue":{"main":[[{"node":"Initialize new retries","type":"main","index":0}]]},"model-router - Tavily":{"ai_languageModel":[[{"node":"TavilyContext","type":"ai_languageModel","index":0}]]},"Review memory - Tavily":{"ai_memory":[[{"node":"TavilyContext","type":"ai_memory","index":0}]]},"TavilyContext":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Filter linked card":{"main":[[{"node":"Limit to 1 ticket","type":"main","index":0}]]},"Update new ticket":{"main":[[{"node":"Send message to tech","type":"main","index":0}]]},"Limit to 1 ticket":{"main":[[{"node":"If ticket is found","type":"main","index":0}]]},"If ticket is found":{"main":[[{"node":"Prepare new fields","type":"main","index":0}],[{"node":"Increment new retries","type":"main","index":0}]]},"Initialize new retries":{"main":[[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Wait 5 seconds":{"main":[[{"node":"Fetch org tickets - flo dump","type":"main","index":0}]]},"If retried to much":{"main":[[{"node":"Get cached tmp-review message id","type":"main","index":0}],[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Increment new retries":{"main":[[{"node":"Get new retries","type":"main","index":0}]]},"Get new retries":{"main":[[{"node":"If retried to much","type":"main","index":0}]]},"Prepare new fields":{"main":[[{"node":"Update new ticket","type":"main","index":0}]]},"Fetch org tickets - flo dump":{"main":[[{"node":"Filter linked card","type":"main","index":0}]]},"Clear memory":{"main":[[{"node":"Clear memory - tavily","type":"main","index":0}]]},"Merge revision / data":{"main":[[{"node":"Send review file to flo-dump","type":"main","index":0}]]},"Get revisions number - file":{"main":[[{"node":"Merge revision / data","type":"main","index":1}]]},"Write Dump to Disk":{"main":[[{"node":"Merge revision / data","type":"main","index":0},{"node":"Get revisions number - file","type":"main","index":0}]]},"Send review file to flo-dump":{"main":[[{"node":"Cache tmp-review message id","type":"main","index":0}]]},"If message is over 1900 chars":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Get revisions number - message","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Write Dump to Disk","type":"main","index":0}]]},"model-router - fallback":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Set timeout - review":{"main":[[{"node":"Review the dump","type":"main","index":0}]]},"Set timeout - context":{"main":[[{"node":"Ask for context","type":"main","index":0}]]},"Get messages from last week":{"main":[[{"node":"Sort by date","type":"main","index":0}]]}},"authors":"John Doe","name":"Version 5c7e22c5","description":"","autosaved":false},"tags":[{"updatedAt":"2025-08-26T13:05:46.387Z","createdAt":"2025-08-26T13:05:46.387Z","id":"KDJm2H5ESMPxJovN","name":"Bunkerity"}]}