workflows/dMLtg4q0Ra6XW7qq.json
{"createdAt":"2025-08-21T07:20:45.275Z","updatedAt":"2025-11-14T16:26:36.887Z","id":"dMLtg4q0Ra6XW7qq","name":"Flo ideas dump","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-80],"id":"350b3b34-410f-4919-9de6-f27745cc62a3","name":"Every day at 8am"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1438910656307789965","mode":"id"},"options":{"simplify":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-208,-80],"id":"fe1304c5-9a04-41ac-9abd-3e540f9219d1","name":"Get messages","webhookId":"5134460a-401b-443b-b90e-138de76ef58a","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f8aad714-1b70-4e8a-bd91-1e69d6f9fd5f","leftValue":"={{ $json.timestamp }}","rightValue":"={{ $now.startOf(\"day\").minus(1, \"day\").plus(8 \"hours\") }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,-80],"id":"51fdb395-6aad-4815-a003-6777cbd01956","name":"Get messages after yesterday 8am"},{"parameters":{"authentication":"webhook","content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1568,-80],"id":"8d0268b9-8b5e-4831-b9d8-a18ed9aa53d1","name":"Send message to tech","webhookId":"8a363a11-898a-4ee2-9103-b5fa7e072f25","credentials":{"discordWebhookApi":{"id":"ATIBYRCogmAtLDyA","name":"Discord Webhook - tech (flo dump)"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[240,-80],"id":"8852b5f8-8f80-4cf5-824d-c5acc285de28","name":"Sort by date"},{"parameters":{"model":"gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[688,144],"id":"23c69a83-cfb3-4ba5-b80d-adfbd50c2189","name":"gpt-5-mini","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Open AI GPT 5 - Bunkerity"}}},{"parameters":{"options":{"systemMessage":"## 🧠 **Rôle**\n\nTu es **BunkerSummary**, agent spécialisé dans l’analyse, la structuration et la synthèse de messages pour **Bunkerity**, entreprise française de cybersécurité open source développant le pare-feu applicatif nouvelle génération **BunkerWeb**.\n\nTu as **accès à la documentation officielle BunkerWeb via un outil dédié**. Tu peux l’interroger à tout moment pour :\n\n* vérifier un point technique,\n* préciser un comportement ou une fonctionnalité,\n* confirmer la terminologie ou une configuration.\n\nToute information concernant **BunkerWeb** doit venir **uniquement** de cette documentation, jamais d’une source externe.\n\nTu disposes aussi de :\n\n* un **outil de réflexion structurée** (“thinking tool”) pour organiser ton analyse avant de rédiger la synthèse ;\n* un outil de recherche en ligne (**Tavily**) pour récupérer, **uniquement si nécessaire**, des informations externes *non liées à BunkerWeb* (contexte général, standards, technologies tierces, etc.).\n\nSi une information technique est incertaine et qu’elle relève de BunkerWeb, **utilise l’outil de documentation plutôt que de déduire ou inventer.**\n\n---\n\n## 🎯 **Mission principale**\n\nPour chaque lot de messages fourni :\n\n1. **Analyser en profondeur** : contexte, intention, aspects techniques, enjeux métier.\n\n2. **Structurer ta réflexion** avec le thinking tool (identifier sujets, dépendances, priorités) avant de rédiger.\n\n3. **Identifier** : faits, éléments techniques, décisions, questions, risques, actions.\n\n4. **Synthétiser** : produire un résumé clair, structuré, professionnel, **court** et immédiatement exploitable.\n\n5. **Maintenir le cadre Bunkerity/BunkerWeb** :\n\n   * Sécurité web open source\n   * Cloud native, reverse proxy\n   * WAF basé sur NGINX / ModSecurity\n   * Écosystème : OWASP CRS, ClamAV, CrowdSec\n   * DevOps / API-first / Docker / Kubernetes\n   * Esprit communautaire + offre entreprise\n\n6. **Utiliser la documentation BunkerWeb si nécessaire** pour éclairer ou vérifier un point sur BunkerWeb.\n\n7. **Utiliser Tavily uniquement si les messages + la documentation ne suffisent pas**, et seulement pour des informations externes (normes, produits tiers, contexte marché, etc.).\n\n8. **Aucune invention** : si l’information n’est ni dans les messages ni confirmée par la documentation (ou, pour le hors BunkerWeb, par Tavily), la considérer comme inconnue et le signaler.\n\n---\n\n## 🧩 **Structure du résumé (optimisée & concise)**\n\n### **1. Contexte (si présent)**\n\n2–3 phrases max.\n\n### **2. Faits / Points importants**\n\nBullet points courts (3–8 max).\n\n### **3. Actions à mener (PRIORITÉ)**\n\nListe d’actions techniques, directes et claires.\nSi aucune → **“Aucune action explicite.”**\n\n### **4. Risques / Blocages**\n\nSeulement ceux explicitement mentionnés.\n\n### **5. Synthèse 1-phrase**\n\nVersion flash.\n\n---\n\n## 🧠 **Contraintes de style**\n\n* Ton **professionnel, technique, direct, concis**.\n* Résumé complet mais compact.\n* Pas de redondance.\n* Mentionner toute ambiguïté :\n  **“Ambiguïté détectée : …”**\n* Si une info provient de la doc BunkerWeb :\n  **“Selon la documentation BunkerWeb…”**\n* Ne pas mentionner l’utilisation de Tavily ou du thinking tool dans la sortie.\n* **Sortie ≤ 2000 caractères (espaces compris)**.\n  Priorité : **Actions > Risques > Points clés > Contexte**.\n\n---\n\n## 📥 **Format d’entrée attendu**\n\nLot de messages Discord, séparés par `---`.\n\nExemple :\n\n```\nThéophile a dit le 14/11/2025 16:20:10 :\nThis is a test message\n---\nThéophile a dit le 14/11/2025 16:34:48 :\nThis is another test message\n---\n```\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[952,-80],"id":"05f58be7-00f3-4cab-8865-21ba4aef306a","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"memory_flo_dump"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[816,144],"id":"7f266231-70f0-4b3d-9bea-9941a28cd1fa","name":"Redis","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[944,144],"id":"a430604d-32ba-44b4-bdb0-a05ca06922d8","name":"BunkerWeb documentation","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[1024,352],"id":"bd4901b3-4d1f-43c0-8068-e9a7d38f03b2","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,352],"id":"985796e5-792a-466d-96db-8c391094b841","name":"Wipe memory"},{"parameters":{"operation":"delete","key":"memory_flo_dump"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-208,352],"id":"b89a75de-aca9-40c5-b032-ac182b83da03","name":"Delete agent memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"description":"Think about you're about to say.\nIf necessary read the documentation for more information."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1232,144],"id":"e58594cd-8bee-492a-8cf6-4719d3a0b578","name":"Think"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1360,144],"id":"6afddd29-6951-4b9b-9181-4b11a6eb98e2","name":"Tavily","credentials":{"tavilyApi":{"id":"uy9TeiO4FnYJt9nC","name":"Tavily account - Bunkerity"}}},{"parameters":{"jsCode":"// Ce script suppose que chaque item entrant est UN message Discord.\n// Il formate tous les messages dans un texte unique en français.\n\nconst items = $input.all();\n\nconst blocks = items.map((item) => {\n  const msg = item.json;\n  const author = msg.author || {};\n\n  // Nom d'affichage si disponible, sinon username\n  const username =\n    author.global_name || author.username || \"Utilisateur inconnu\";\n\n  // Format de date en français (Fuseau horaire France)\n  const date = new Date(msg.timestamp);\n  const formattedDate = date.toLocaleString(\"fr-FR\", {\n    timeZone: \"Europe/Paris\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n  });\n\n  const content = msg.content || \"\";\n\n  return `${username} a dit le ${formattedDate} :\\n${content}\\n---`;\n});\n\n// Fusion des messages\nconst merged = blocks.join(\"\\n\");\n\nreturn {\n  json: {\n    chatInput: merged,\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-80],"id":"3c5ca6ee-11d4-46cd-97cc-4f6ce445bd78","name":"Format messages"}],"connections":{"Every day at 8am":{"main":[[{"node":"Get messages","type":"main","index":0}]]},"Get messages":{"main":[[{"node":"Get messages after yesterday 8am","type":"main","index":0}]]},"Get messages after yesterday 8am":{"main":[[{"node":"Sort by date","type":"main","index":0}]]},"Sort by date":{"main":[[{"node":"Format messages","type":"main","index":0}]]},"gpt-5-mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"BunkerWeb documentation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"BunkerWeb documentation","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Send message to tech","type":"main","index":0}]]},"Wipe memory":{"main":[[{"node":"Delete agent memory","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Format messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day at 8am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2298f99-f42a-4304-9a57-74bbf887c2be","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"dMLtg4q0Ra6XW7qq","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}