workflows/DXFQINVv6h9zCIuq.json
{"createdAt":"2025-09-23T09:24:06.974Z","updatedAt":"2025-09-23T13:27:23.099Z","id":"DXFQINVv6h9zCIuq","name":"Check changes compared to BunkerWeb config","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-368],"id":"a34c2b40-55bd-4480-8d55-69ae95f21412","name":"Every day at 10am"},{"parameters":{"url":"https://raw.githubusercontent.com/mdn/browser-compat-data/main/http/headers/Permissions-Policy.json","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,-464],"id":"5071596e-99fd-4fb2-965a-0396b121953e","name":"Fetch Mozilla Permissions-Policy"},{"parameters":{"jsCode":"// Grab the JSON from the first item\nconst json = items[0].json;\n\n// Navigate into Permissions-Policy\nconst permsPolicy = json.http?.headers?.['Permissions-Policy'];\nif (!permsPolicy) {\n  throw new Error('Cannot find Permissions-Policy in JSON');\n}\n\n// Collect directive names = all keys except \"__compat\"\nconst directives = Object.keys(permsPolicy).filter(k => k !== \"__compat\");\n\n// Sort for consistency\ndirectives.sort();\n\n// Return a single item with the whole list\nreturn [\n  {\n    json: {\n      directives\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-464],"id":"ff77a01e-8b90-49cb-bd94-74ca59b19d83","name":"Extract directives"},{"parameters":{"jsCode":"let current = items[0].json.directives || [];\nconst previous = items[0].json.bunkerweb_directives || [];\n\n// Ensure \"interest-cohort\" is always considered present\nif (!current.includes(\"interest-cohort\")) {\n  current = [...current, \"interest-cohort\"];\n}\n\n// Find added = in current but not in previous\nconst added = current.filter(x => !previous.includes(x));\n\n// Find removed = in previous but not in current\nconst removed = previous.filter(x => !current.includes(x));\n\nreturn [\n  {\n    json: {\n      type: \"added\",\n      directives: added,\n      current,\n      previous\n    }\n  },\n  {\n    json: {\n      type: \"removed\",\n      directives: removed,\n      current,\n      previous\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-368],"id":"d298ac2c-f54d-4eb2-98e1-f9224fe0703f","name":"Check changes"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"added","operator":{"type":"string","operation":"equals"},"id":"2ec6ae6e-7ce6-4ede-8047-b4be6199fcdb"}],"combinator":"and"},"renameOutput":true,"outputKey":"Added"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1398ccd1-6129-46d2-9684-7e4f46022d97","leftValue":"={{ $json.type }}","rightValue":"removed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Removed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[944,-368],"id":"bf7d3375-4343-499c-a061-60bc0550952c","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d5cb673-6627-4c23-b1af-f612451a8601","leftValue":"={{ $json.directives }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[720,-368],"id":"b32269b8-69de-4045-a57c-9bd4dd44b5d7","name":"Filter changes"},{"parameters":{"authentication":"webhook","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.description }}","color":"#2ecc71","timestamp":"={{ $now }}","title":"New Permissions-Policy directives Added","url":"https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Permissions_Policy"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1392,-464],"id":"bafe8ba4-9928-41ea-ad21-c4a049051560","name":"Alert added","webhookId":"681c73b2-5218-4e52-b2b1-3719bbaef48d","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"IdC7voNSP2Pynhvq","name":"Discord Webhook dev"}}},{"parameters":{"authentication":"webhook","content":"=","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.description }}","color":"#e74c3c","timestamp":"={{ $now }}","title":"New Permissions-Policy directives Removed","url":"https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Permissions_Policy"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1392,-272],"id":"1f5cc484-c9e3-4682-9bd5-1ebfd3eba52c","name":"Alert removed","webhookId":"681c73b2-5218-4e52-b2b1-3719bbaef48d","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"IdC7voNSP2Pynhvq","name":"Discord Webhook dev"}}},{"parameters":{"jsCode":"const directives = $json.directives || [];\n\n// Format as diff block with + prefix\nconst formatted = \"```diff\\n\" + directives.map(d => \"+ \" + d).join(\"\\n\") + \"\\n```\";\n\nreturn [\n  {\n    json: {\n      description: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-464],"id":"34d8494f-a029-4a6a-a962-854c23a4fa0c","name":"Format added"},{"parameters":{"jsCode":"const directives = $json.directives || [];\n\n// Format as diff block with + prefix\nconst formatted = \"```diff\\n\" + directives.map(d => \"- \" + d).join(\"\\n\") + \"\\n```\";\n\nreturn [\n  {\n    json: {\n      description: formatted\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-272],"id":"7005f317-aae3-4dac-9b33-79813716903f","name":"Format removed"},{"parameters":{"url":"https://github.com/bunkerity/bunkerweb/raw/refs/heads/dev/src/common/core/headers/plugin.json","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,-272],"id":"69616a0d-09e4-402f-9051-971637a8f850","name":"Fetch BunkerWeb Headers plugin"},{"parameters":{"assignments":{"assignments":[{"id":"bd5d9256-3c3d-4eca-b5c7-e5be1a15f1fa","name":"bunkerweb_directives","value":"={{ $json.settings.PERMISSIONS_POLICY.default.replaceAll(\"=()\", \"\").split(\",\").map(item => item.trim()) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-272],"id":"6b5774e6-88a0-413b-b62b-04987342cd32","name":"Get Permissions-Policy directives"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[272,-368],"id":"251085e0-862b-4e34-abd0-2ca2bcbcea4f","name":"Merge"}],"connections":{"Every day at 10am":{"main":[[{"node":"Fetch Mozilla Permissions-Policy","type":"main","index":0},{"node":"Fetch BunkerWeb Headers plugin","type":"main","index":0}]]},"Fetch Mozilla Permissions-Policy":{"main":[[{"node":"Extract directives","type":"main","index":0}]]},"Extract directives":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Check changes":{"main":[[{"node":"Filter changes","type":"main","index":0}]]},"Filter changes":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Format added","type":"main","index":0}],[{"node":"Format removed","type":"main","index":0}]]},"Format added":{"main":[[{"node":"Alert added","type":"main","index":0}]]},"Format removed":{"main":[[{"node":"Alert removed","type":"main","index":0}]]},"Fetch BunkerWeb Headers plugin":{"main":[[{"node":"Get Permissions-Policy directives","type":"main","index":0}]]},"Get Permissions-Policy directives":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Check changes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day at 10am":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8ac5f776-b1bf-4292-9934-88139f030fcd","triggerCount":1,"shared":[{"createdAt":"2025-09-23T09:24:06.974Z","updatedAt":"2025-09-23T09:24:06.974Z","role":"workflow:owner","workflowId":"DXFQINVv6h9zCIuq","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}