workflows/eKvlSwKBJzsZrCV0.json
{"updatedAt":"2025-11-19T15:22:09.860Z","createdAt":"2025-08-26T13:02:57.421Z","id":"eKvlSwKBJzsZrCV0","name":"RAG - Update latest BunkerWeb documentation","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[160,560],"id":"9b45ce61-132f-4c16-9bc6-5457b0f9ba18","name":"Extract from File"},{"parameters":{"operation":"set","key":"bunkerweb_documentation_hash","value":"={{ $('Generate SHA256 from file').item.json.data }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,488],"id":"3800b6c7-c89d-4c37-8260-bf4899be4e11","name":"Cache hash","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"type":"SHA256","binaryData":true},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1632,488],"id":"fdf78280-f9c5-459e-b744-301671e95abf","name":"Generate SHA256 from file"},{"parameters":{"operation":"get","propertyName":"cached_hash","key":"=bunkerweb_documentation_hash","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1408,488],"id":"de618c46-5925-4320-b171-b1436af59aca","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.cached_hash }}","rightValue":"={{ $('Generate SHA256 from file').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1184,488],"id":"e28c4bc3-f896-4f5a-9bea-d3bd60690fde","name":"Have changed"},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[512,784],"id":"042457b5-ec6a-46c8-bfb7-4a077844c71a","name":"Default Data Loader"},{"parameters":{"chunkSize":1200,"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[592,992],"id":"16a2d11b-6f5f-4891-b12b-6950de2bfd2c","name":"Recursive Character Text Splitter"},{"parameters":{"url":"=https://github.com/bunkerity/bunkerweb/releases/download/{{ $('Get latest version of BunkerWeb').item.json.name }}/BunkerWeb_documentation_{{ $('Get latest version of BunkerWeb').item.json.name }}.pdf","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,560],"id":"0a674fcf-ee6a-4e69-90ae-8bc540e197e9","name":"Fetch latest documentation file"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2976,560],"id":"256b0563-355e-4bd4-9ca0-67e27e93837b","name":"Fetch latest BunkerWeb documentation"},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[384,784],"id":"6f1ee30d-50ae-45f6-9733-117bd5e26c2e","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"doc_embeddings","mode":"list","cachedResultName":"doc_embeddings"},"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-736,488],"id":"5a4263eb-971d-41e9-8769-1243071ce338","name":"Clear embeddings","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"operation":"delete","key":"bunkerweb_documentation_hash"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2752,-96],"id":"d92078f3-f68b-40f1-b656-801e4d45dd5e","name":"Delete doc cache","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2976,-96],"id":"18d4821b-fd6d-41f7-b3bb-635c27cc531c","name":"Delete cached doc hash"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"doc_embeddings","mode":"list","cachedResultName":"doc_embeddings"},"deleteCommand":"drop","options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2976,128],"id":"7f6ce84e-ba87-4bad-a0c4-3f62908f6ba7","name":"Drop embedding table","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"operation":"get","propertyName":"cached_tag","key":"=bunkerweb_documentation_tag","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2304,560],"id":"acda80f0-bb0a-4586-acf4-94e4fefa9bcd","name":"Get cached tag","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.cached_tag }}","rightValue":"={{ $('Get latest version of BunkerWeb').item.json.name }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2080,560],"id":"4210d830-b333-49d5-8240-c4d6492d3e84","name":"Is not cached"},{"parameters":{"operation":"set","key":"bunkerweb_documentation_tag","value":"={{ $('Get latest version of BunkerWeb').item.json.name }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-512,488],"id":"17f07ae4-d952-4ec1-a572-e5a6c7b0a590","name":"Cache tag","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"delete","key":"bunkerweb_documentation_tag"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2528,-96],"id":"d6246e73-829e-47da-842d-03e0c6cacbdc","name":"Delete tag cache","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"insert","tableName":"doc_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[416,560],"id":"bc3a3c19-e185-48ce-94ef-e03a83c94fe0","name":"PGVector Save Doc","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-64,560],"id":"04eb6f00-1807-41a6-9c9d-6a827d268976","name":"Merge data"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-960,560],"id":"0accabe0-9364-487f-8f29-3cb27fadbb21","name":"Merge data after filter"},{"parameters":{"url":"https://api.github.com/repos/bunkerity/bunkerweb/releases","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2752,560],"id":"b9c1e3a9-312b-40c7-a81a-ee7318a42542","name":"Get latest version of BunkerWeb"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2528,560],"id":"2831ece0-4ac2-448c-b68d-22db9ef7186a","name":"Only get the first one"}],"connections":{"Extract from File":{"main":[[{"node":"PGVector Save Doc","type":"main","index":0}]]},"Cache hash":{"main":[[{"node":"Merge data","type":"main","index":0}]]},"Generate SHA256 from file":{"main":[[{"node":"Get cached ID","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Have changed","type":"main","index":0}]]},"Have changed":{"main":[[{"node":"Merge data after filter","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"PGVector Save Doc","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Fetch latest documentation file":{"main":[[{"node":"Generate SHA256 from file","type":"main","index":0},{"node":"Merge data after filter","type":"main","index":1}]]},"Fetch latest BunkerWeb documentation":{"main":[[{"node":"Get latest version of BunkerWeb","type":"main","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"PGVector Save Doc","type":"ai_embedding","index":0}]]},"Clear embeddings":{"main":[[{"node":"Cache tag","type":"main","index":0}]]},"Delete cached doc hash":{"main":[[{"node":"Delete doc cache","type":"main","index":0}]]},"Get cached tag":{"main":[[{"node":"Is not cached","type":"main","index":0}]]},"Is not cached":{"main":[[{"node":"Fetch latest documentation file","type":"main","index":0}]]},"Cache tag":{"main":[[{"node":"Cache hash","type":"main","index":0}]]},"Delete doc cache":{"main":[[{"node":"Delete tag cache","type":"main","index":0}]]},"Merge data":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Merge data after filter":{"main":[[{"node":"Clear embeddings","type":"main","index":0},{"node":"Merge data","type":"main","index":1}]]},"Get latest version of BunkerWeb":{"main":[[{"node":"Only get the first one","type":"main","index":0}]]},"Only get the first one":{"main":[[{"node":"Get cached tag","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Fetch latest BunkerWeb documentation":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1b7eb929-bf33-401b-8b9b-faaf22fb72a6","triggerCount":1,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"eKvlSwKBJzsZrCV0","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"updatedAt":"2025-08-13T11:33:42.562Z","createdAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"}]}