workflows/eKvlSwKBJzsZrCV0.json
{"createdAt":"2025-08-26T13:02:57.421Z","updatedAt":"2025-08-27T18:41:42.000Z","id":"eKvlSwKBJzsZrCV0","name":"RAG - Update latest BunkerWeb documentation","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-384,560],"id":"9b45ce61-132f-4c16-9bc6-5457b0f9ba18","name":"Extract from File"},{"parameters":{"operation":"set","key":"bunkerweb_documentation_hash","value":"={{ $json.data }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-832,704],"id":"3800b6c7-c89d-4c37-8260-bf4899be4e11","name":"Cache hash","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"type":"SHA256","binaryData":true},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1952,640],"id":"fdf78280-f9c5-459e-b744-301671e95abf","name":"Generate SHA256 from file"},{"parameters":{"operation":"get","propertyName":"cached_hash","key":"=bunkerweb_documentation_hash","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1728,704],"id":"de618c46-5925-4320-b171-b1436af59aca","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1504,640],"id":"6ee86899-10c4-466f-99c7-09feeff548bb","name":"Merge data with cache"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.cached_hash }}","rightValue":"={{ $json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1056,560],"id":"e28c4bc3-f896-4f5a-9bea-d3bd60690fde","name":"Have changed"},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-32,784],"id":"042457b5-ec6a-46c8-bfb7-4a077844c71a","name":"Default Data Loader"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1280,560],"id":"cc4410a7-ad39-4680-813c-9d102a7b6e62","name":"Merge data with hash"},{"parameters":{"chunkSize":1200,"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[48,992],"id":"16a2d11b-6f5f-4891-b12b-6950de2bfd2c","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"insert","tableName":"doc_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-128,560],"id":"bc3a3c19-e185-48ce-94ef-e03a83c94fe0","name":"Postgres PGVector Store - file","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"url":"https://api.github.com/repos/bunkerity/bunkerweb/releases/latest","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,560],"id":"b9c1e3a9-312b-40c7-a81a-ee7318a42542","name":"Get latest stable version of BunkerWeb"},{"parameters":{"url":"=https://github.com/bunkerity/bunkerweb/releases/download/{{ $json.name }}/BunkerWeb_documentation_{{ $json.name }}.pdf","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2176,560],"id":"0a674fcf-ee6a-4e69-90ae-8bc540e197e9","name":"Fetch latest documentation file"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-608,544],"id":"d6063be5-ee5a-4da1-b337-003d4d6c46ce","name":"Merge data with postgres output"},{"parameters":{"content":"## 💾 Filter already unchanged file.","height":320,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1760,544],"typeVersion":1,"id":"ad5b33bf-f6c8-4db1-8675-701ed482abbc","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2624,560],"id":"256b0563-355e-4bd4-9ca0-67e27e93837b","name":"Fetch latest BunkerWeb documentation"},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-160,784],"id":"6f1ee30d-50ae-45f6-9733-117bd5e26c2e","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"doc_embeddings","mode":"list","cachedResultName":"doc_embeddings"},"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-832,416],"id":"5a4263eb-971d-41e9-8769-1243071ce338","name":"Clear embeddings","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"operation":"delete","key":"bunkerweb_documentation_hash"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,-96],"id":"d92078f3-f68b-40f1-b656-801e4d45dd5e","name":"Delete doc cache","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2624,-96],"id":"18d4821b-fd6d-41f7-b3bb-635c27cc531c","name":"Delete cached doc hash"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"doc_embeddings","mode":"list","cachedResultName":"doc_embeddings"},"deleteCommand":"drop","options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2624,128],"id":"7f6ce84e-ba87-4bad-a0c4-3f62908f6ba7","name":"Drop embedding table","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}}],"connections":{"Extract from File":{"main":[[{"node":"Postgres PGVector Store - file","type":"main","index":0}]]},"Cache hash":{"main":[[{"node":"Merge data with postgres output","type":"main","index":2}]]},"Generate SHA256 from file":{"main":[[{"node":"Get cached ID","type":"main","index":0},{"node":"Merge data with cache","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge data with cache","type":"main","index":1}]]},"Merge data with cache":{"main":[[{"node":"Merge data with hash","type":"main","index":1}]]},"Have changed":{"main":[[{"node":"Cache hash","type":"main","index":0},{"node":"Clear embeddings","type":"main","index":0},{"node":"Merge data with postgres output","type":"main","index":1}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store - file","type":"ai_document","index":0}]]},"Merge data with hash":{"main":[[{"node":"Have changed","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get latest stable version of BunkerWeb":{"main":[[{"node":"Fetch latest documentation file","type":"main","index":0}]]},"Fetch latest documentation file":{"main":[[{"node":"Generate SHA256 from file","type":"main","index":0},{"node":"Merge data with hash","type":"main","index":0}]]},"Merge data with postgres output":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Fetch latest BunkerWeb documentation":{"main":[[{"node":"Get latest stable version of BunkerWeb","type":"main","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"Postgres PGVector Store - file","type":"ai_embedding","index":0}]]},"Clear embeddings":{"main":[[{"node":"Merge data with postgres output","type":"main","index":0}]]},"Delete cached doc hash":{"main":[[{"node":"Delete doc cache","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Fetch latest BunkerWeb documentation":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"45a5c85d-fbd0-4738-a101-eaef15a5a639","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"eKvlSwKBJzsZrCV0","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"createdAt":"2025-08-13T11:33:42.562Z","updatedAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"}]}