workflows/g1gdk7a6ZynYufur.json
{"updatedAt":"2025-09-21T09:01:55.775Z","createdAt":"2025-08-13T13:48:21.411Z","id":"g1gdk7a6ZynYufur","name":"Yajl alert on RHEL 10","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"372dc9f3-c47f-4b9d-b3b5-e96772fa07ea","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-448,-672]},{"parameters":{"method":"POST","url":"https://ntfy.batgregate900.dedyn.io/misc_alerts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Priority","value":"urgent"},{"name":"Title","value":"The Yajl package is Available on Rocky 10!"},{"name":"Tags","value":"tada"},{"name":"Click","value":"https://pkgs.org/search/?q=yajl"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/markdown","body":"=The workflow has detected that the target Yajl package is now available. This workflow will now be disabled.  - **Package:** yajl - **Distribution:** Rocky 10","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-672],"id":"220984d3-9893-4c3f-8146-7575f4a2c192","name":"HTTP Request","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"B23mYSBg2gdqll26","name":"Bearer Auth account"}}},{"parameters":{"operation":"deactivate","workflowId":{"__rl":true,"value":"g1gdk7a6ZynYufur","mode":"list","cachedResultName":"Yajl alert on RHEL 10 (#g1gdk7a6ZynYufur)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1792,-672],"id":"f1c89e0e-39ac-44bc-bb90-0195243257d5","name":"Deactivate a workflow","credentials":{"n8nApi":{"id":"dIz8CYuPAdejfXj4","name":"n8n account"}}},{"parameters":{"authentication":"webhook","content":"<@948183958405906482> ✅ the yajl package is Available on Rocky 10!","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1568,-672],"id":"cbaa3da5-9e40-487e-b086-5d59ec4f49d7","name":"Discord","webhookId":"0666bdb1-28d5-4b2b-a29b-9e52d00f0e39","credentials":{"discordWebhookApi":{"id":"bZF2X6Ekmk7NeZSK","name":"Discord Webhook releases"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data }}","operation":"contains","value2":"<name>yajl</name>"}]}},"id":"eb9fc0d0-a595-43ae-b54d-ac6309cf7f6a","name":"IF Version Matches","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,-672]},{"parameters":{"url":"https://dl.rockylinux.org/pub/rocky/10/BaseOS/x86_64/os/repodata/repomd.xml","options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"file"}}}},"id":"a5cb7dfc-1091-41e3-8514-53b0f29205e2","name":"Get Rocky 10 repomd.xml","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-224,-672]},{"parameters":{"url":"=https://dl.rockylinux.org/pub/rocky/10/BaseOS/x86_64/os/{{ $json.repomd.data[0].location.href }}","options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"file"}}}},"id":"a799c46b-e81c-4819-ab38-d6081ecce246","name":"Get Rocky 10 primary.xml.gz","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,-672]},{"parameters":{"operation":"xml","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,-672],"id":"32e4c51a-03e4-44db-bd1a-2ec4e4340f28","name":"Extract repomd.xml"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[224,-672],"id":"0349b136-29fa-4074-8039-43fc079adbb3","name":"Convert repomd.xml to JSON"},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[672,-672],"id":"586b3379-2732-4a6f-99dd-b0a580a7b3b4","name":"Decompress primary.xml.gz"},{"parameters":{"operation":"xml","binaryPropertyName":"file_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[896,-672],"id":"1cda63b8-7bc0-4001-b317-120744185c1a","name":"Extract primary.xml"}],"connections":{"Schedule":{"main":[[{"node":"Get Rocky 10 repomd.xml","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Discord":{"main":[[{"node":"Deactivate a workflow","type":"main","index":0}]]},"IF Version Matches":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get Rocky 10 repomd.xml":{"main":[[{"node":"Extract repomd.xml","type":"main","index":0}]]},"Get Rocky 10 primary.xml.gz":{"main":[[{"node":"Decompress primary.xml.gz","type":"main","index":0}]]},"Extract repomd.xml":{"main":[[{"node":"Convert repomd.xml to JSON","type":"main","index":0}]]},"Convert repomd.xml to JSON":{"main":[[{"node":"Get Rocky 10 primary.xml.gz","type":"main","index":0}]]},"Decompress primary.xml.gz":{"main":[[{"node":"Extract primary.xml","type":"main","index":0}]]},"Extract primary.xml":{"main":[[{"node":"IF Version Matches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de6d9c64-95d8-4957-ac9c-bbb6329ef235","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"g1gdk7a6ZynYufur","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":null,"tags":[{"updatedAt":"2025-08-13T13:48:32.010Z","createdAt":"2025-08-13T13:48:32.010Z","id":"xnEbzmbsPs13DEZE","name":"Package"}]}