workflows/GA1kmCCZf8pP7Wn7.json
{"updatedAt":"2026-01-26T14:28:51.721Z","createdAt":"2026-01-26T14:02:10.477Z","id":"GA1kmCCZf8pP7Wn7","name":"Search BunkerWeb through Reddit - new","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2304,-176],"id":"bb187dfb-36f9-4686-8b09-a8369c2a00a0","name":"Every day"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2304,720],"id":"66a3a4d0-c110-42cc-b67d-8944b9ed784a","name":"Clear processed IDs"},{"parameters":{"resource":"postComment","operation":"getAll","subreddit":"={{ $json.post_subreddit }}","postId":"={{ $json.post_id }}","returnAll":true},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[-960,176],"id":"7845e727-3396-4098-9909-fef093e74f5a","name":"Get all comments in a post","credentials":{"redditOAuth2Api":{"id":"QR3rur3Cy4Zpsvrk","name":"Reddit account"}}},{"parameters":{"operation":"search","location":"allReddit","keyword":"\"BunkerWeb\"","additionalFields":{}},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[-2080,-176],"id":"7c2ef4a3-99d0-4139-833e-e49024888be7","name":"Search the last 100 posts containing the BunkerWeb keyword","credentials":{"redditOAuth2Api":{"id":"QR3rur3Cy4Zpsvrk","name":"Reddit account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d21f2ff5-29dc-43ca-baf4-910f57688c06","leftValue":"={{ $json.created_utc.toDateTime('s') }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime().minus(1, \"year\").toUTC() }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1856,32],"id":"a521b6b1-6236-4e59-8985-b21f63578556","name":"Filter last year's posts"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab9166a7-8a2d-43e6-b94e-fa62d52e8090","leftValue":"={{ $json.post_body }}","rightValue":"BunkerWeb","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,-80],"id":"9e236a40-ddbe-4862-91f4-7cadf46e0efa","name":"If Contains BunkerWeb"},{"parameters":{"jsCode":"// Normalize to an array of top-level comment objects (plain Reddit \"t1\" data)\nfunction getRootComments(items) {\n  const out = [];\n  const first = items?.[0]?.json;\n  if (!first) return out;\n\n  // Case 1: items[0].json is an array (may contain plain data or {data})\n  if (Array.isArray(first)) {\n    for (let i = 0; i < first.length; i++) {\n      const c = first[i];\n      out.push(c?.data?.body !== undefined ? c.data : c);\n    }\n    return out;\n  }\n\n  // Case 2: items[0].json is a Listing\n  const children = first?.data?.children;\n  if (children && children.length) {\n    for (let i = 0; i < children.length; i++) {\n      const c = children[i];\n      if (c && c.kind === 't1' && c.data) out.push(c.data);\n    }\n    return out;\n  }\n\n  // Case 3: each item.json is a single comment-ish object\n  for (let i = 0; i < items.length; i++) {\n    const j = items[i]?.json;\n    if (!j || typeof j !== 'object') continue;\n    out.push(j?.data?.body !== undefined ? j.data : j);\n  }\n  return out;\n}\n\n// Extract children from any replies shape without temp arrays\nfunction getChildrenFromReplies(replies) {\n  if (!replies || typeof replies === 'string') return null; // \"\" => no replies\n  let children = replies.data?.children;\n  if (!children || !children.length) children = replies.children;\n  if (!children || !children.length) return null;\n\n  const out = [];\n  for (let i = 0; i < children.length; i++) {\n    const c = children[i];\n    if (c && c.kind === 't1' && c.data) out.push(c.data);\n  }\n  return out.length ? out : null;\n}\n\n// DFS with de-dup by id; match only raw body (case-insensitive)\nfunction findMatchesDeep(roots, keywordLC) {\n  const matches = [];\n  const seen = new Set();\n  const stack = roots.slice(); // shallow copy\n\n  while (stack.length) {\n    const node = stack.pop();\n    if (!node || typeof node !== 'object') continue;\n\n    const id = node.id || node.name || node.permalink;\n    if (id && seen.has(id)) continue;\n    if (id) seen.add(id);\n\n    const body = node.body;\n    if (typeof body === 'string' && body.toLowerCase().includes(keywordLC)) {\n      matches.push(node);\n    }\n\n    const kids = getChildrenFromReplies(node.replies);\n    if (kids) {\n      for (let i = 0; i < kids.length; i++) stack.push(kids[i]);\n    }\n  }\n\n  return matches;\n}\n\nconst keywordLC = 'bunkerweb';\nconst rootComments = getRootComments($input.all());\nconst matches = findMatchesDeep(rootComments, keywordLC);\n\nif (!matches.length) {\n  return [{ json: { matches: 0, containsBunkerWeb: false } }];\n}\n\n// Optional: stable chronological order with a cheap comparator\nmatches.sort((a, b) => (a.created_utc || 0) - (b.created_utc || 0));\n\nreturn matches.map(c => ({\n  json: {\n    id: c.id,\n    comment_author: c.author,\n    comment_body: c.body,           // raw body only\n    permalink: c.permalink,\n    created_utc: c.created_utc,\n    comment_parent_id: c.parent_id.includes(\"_\") \n  ? c.parent_id.split(/_(.+)/)[1] \n  : c.parent_id\n  },\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,176],"id":"7d60d61d-9286-4ee0-a373-f7795042c1d6","name":"Extract comments from post"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_utc"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1952,-288],"id":"aca3449b-39d8-404d-ac66-f37236e3d56f","name":"Sort by creation date"},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\n\n// Keys from the post to copy over\nconst postKeys = [\n  \"post_title\",\n  \"post_body\",\n  \"post_permalink\",\n  \"post_subreddit\",\n  \"post_thumbnail\",\n  \"post_author\",\n  \"created_utc\",\n  \"post_over_18\"\n];\n\n// Create lookup of posts by post_id\nconst postById = Object.fromEntries(\n  rows.filter(r => r.post_id).map(p => [p.post_id, p])\n);\n\n// Return only merged comment objects with matching parent post\nreturn rows\n  .filter(r => r.comment_parent_id && postById[r.comment_parent_id])\n  .map(r => {\n    const post = postById[r.comment_parent_id];\n    const merged = {};\n\n    // Copy only allowed keys from post\n    for (const key of postKeys) {\n      merged[key] = post[key] ?? null;\n    }\n\n    // Add the comment fields\n    Object.assign(merged, r);\n\n    return { json: merged };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,32],"id":"771df2ef-9ed8-4841-a7f1-4acc7cad7006","name":"Merge posts / comments"},{"parameters":{"assignments":{"assignments":[{"id":"0ee82772-bf3a-40b9-95c6-179fd37213e7","name":"id","value":"=comment_{{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,32],"id":"64ecb5b9-73c5-47f3-bcaf-d89438904f32","name":"Prefix comment ID"},{"parameters":{"jsCode":"return $input.all().map((item) => {\n  const e = item.json;\n\n  // Build post_body\n  let post_body = \"\";\n  if (e.selftext && e.selftext.trim() !== \"\") {\n    post_body = e.selftext;\n    if (e.url_overridden_by_dest && e.url_overridden_by_dest.trim() !== \"\") {\n      post_body += `\\nURL: ${e.url_overridden_by_dest}`;\n    }\n  } else {\n    post_body = e.url_overridden_by_dest || \"\";\n  }\n\n  // Helper: extract direct image\n  const getDirectImage = (post) => {\n    // Case 1: direct Reddit image link\n    if (post?.is_reddit_media_domain && post?.post_hint === \"image\" && post?.url?.match(/\\.(jpg|jpeg|png|gif)$/i)) {\n      return post.url;\n    }\n\n    // Case 2: preview image\n    if (post?.preview?.images?.[0]?.source?.url) {\n      return post.preview.images[0].source.url.replace(/&amp;/g, \"&\");\n    }\n\n    // Case 3: gallery\n    if (post?.is_gallery && post?.media_metadata) {\n      const firstMedia = Object.values(post.media_metadata)[0];\n      if (firstMedia?.s?.u) {\n        return firstMedia.s.u.replace(/&amp;/g, \"&\");\n      }\n    }\n\n    return null;\n  };\n\n  // Try to get the image from post or crosspost\n  let imageUrl =\n    getDirectImage(e) ||\n    (e.crosspost_parent_list?.length ? getDirectImage(e.crosspost_parent_list[0]) : null);\n\n  return {\n    json: {\n      post_id: e.id || null,\n      post_title: e.title || \"\",\n      post_body,\n      post_permalink: e.permalink || \"\",\n      post_subreddit: e.subreddit || \"\",\n      post_thumbnail: imageUrl || \"\",\n      post_author: e.author || \"\",\n      created_utc: e.created_utc || \"\",\n      post_over_18: e.over_18 || false,\n      comment_author: null,\n      comment_body: null\n    },\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,-80],"id":"d05cdf3d-fcca-4aa0-9337-d8c61d17cb3e","name":"Format post data"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-512,32],"id":"a9449baa-26c5-4206-be50-949c7d24e3f8","name":"Merge posts and comments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1504,-384],"id":"164ed4f3-4095-4ca9-a241-6c9976cf92b3","name":"Merge summary"},{"parameters":{"authentication":"webhook","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.summary }}\\n\\nFrom subreddit: /r/{{ $json.post_subreddit }}","author":"={{ $json.comment_author ? $json.comment_author: $json.post_author }}","color":" #FF5700 ","timestamp":"={{ DateTime.fromSeconds($json.created_utc).setZone('UTC') }}","title":"🤖 New reddit mention!","url":"=https://www.reddit.com{{ $json.post_permalink }}","thumbnail":"={{ $json.comment_thumbnail ? $json.comment_thumbnail : ($json.post_thumbnail ? $json.post_thumbnail: $json.comment_thumbnail) }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2400,-288],"id":"edd290fc-4444-407d-90e0-4332e3ff94b8","name":"Alert discord","webhookId":"ab717a65-b29c-4393-942a-df341b15f828","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"2oqKEjJqfEfwORxZ","name":"Discord Webhook social alerts"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2176,-288],"id":"ad686571-f46e-4bfc-8b7f-3e1dc00ce9d5","name":"Loop Over Items"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1","mergeMode":"shallowMerge"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2624,-368],"id":"81125326-7496-482e-a11a-d25618041a83","name":"Merge Reddit entity with discord response"},{"parameters":{"operation":"keys","keyPattern":"reddit_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2080,720],"id":"94388e3d-2227-4157-8954-f8070293e388","name":"Get all reddit_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,720],"id":"98bae467-7215-45e7-a1f2-e802077ab9ac","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1632,720],"id":"8dd57311-a840-464a-94eb-786344b57792","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d21f2ff5-29dc-43ca-baf4-910f57688c06","leftValue":"={{ $json.created_utc.toDateTime('s') }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime().minus(1, \"weeks\").toUTC() }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1856,-176],"id":"13ec0b90-abbe-48f7-b1c7-b318f75e2a69","name":"Filter last week's posts"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d21f2ff5-29dc-43ca-baf4-910f57688c06","leftValue":"={{ $json.created_utc.toDateTime('s') }}","rightValue":"={{ $now.format('yyyy-MM-dd').toDateTime().minus(4, \"weeks\").toUTC() }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1856,224],"id":"ce2839a9-ef2f-4d77-8e9a-083daf83e059","name":"Filter last month's posts"},{"parameters":{"operation":"delete","key":"gemini_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2304,944],"id":"3a1ebd28-aae9-40c0-9856-9062c6703487","name":"Manual Delete gemini_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3440,-288],"id":"8ccd3974-452b-478d-8425-e45526ad7e4b","name":"Wait 1 second","webhookId":"47078b92-3ad7-42c9-abb4-501aadd4e801"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[160,-176],"id":"ef7137af-b1d4-41a3-8027-776397bf54fa","name":"Merge comments and posts"},{"parameters":{"keys":{"key":[{"currentKey":"post_id","newKey":"id"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-64,-176],"id":"046d2139-50bc-4e4b-bfb0-f4fcfb160201","name":"Rename post_id -> id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[832,-176],"id":"0eecd24a-eac8-4ac0-a056-ac941555ff87","name":"Hasn't been processed already"},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=reddit_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[384,-32],"id":"2a8ae330-fd3c-4cf9-be38-fcdf74236727","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[608,-176],"id":"f7f517f8-15b3-46a1-a0b9-a3be4a4f0a4d","name":"Merge cached response and entity"},{"parameters":{"content":"## 📨 Inform the Bunker team on Discord and save processed entities in the cache","height":400,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2112,-528],"typeVersion":1,"id":"daa4a77e-9b84-48d6-90cd-9e199fe7f4d4","name":"Sticky Note2"},{"parameters":{"content":"## 💾 Filter already processed posts or comments.","height":368,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[336,-240],"typeVersion":1,"id":"f5bddd8a-8faa-4ae1-a7c1-7636cb030b9c","name":"Sticky Note3"},{"parameters":{"operation":"set","key":"=reddit_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ DateTime.fromSeconds(0).plus(1, \"week\").minus(1, 'hour').toSeconds() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3040,-368],"id":"a92425da-78ca-4fc4-ac08-d1ef76d78a8e","name":"Save processed ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"content":"## 🔍 If the post itself doesn't mention BunkerWeb, we fetch its comments that do.","height":352,"width":1072,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1008,-32],"typeVersion":1,"id":"756e655d-de6e-4c17-a13c-cbf2daad5544","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ (\n  ($json.post_body && $json.post_body !== \"null\" ? $json.post_body.length : 0) +\n  ($json.comment_body && $json.comment_body !== \"null\" ? $json.comment_body.length : 0)\n) }}","rightValue":1950,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-176],"id":"02b648a7-aa72-474e-886d-20cf86d45580","name":"If total is under 1950 chars"},{"parameters":{"assignments":{"assignments":[{"id":"98f3a811-a3d9-42b3-84cc-6c0f80a7aa9d","name":"summary","value":"={{ $json.comment_body ? `### [${$json.post_author}](<https://www.reddit.com/user/${$json.post_author}>) wrote:\\n${$json.post_body}` : $json.post_body }}{{ $json.comment_body ? `\\n---\\n### [${$json.comment_author}](<https://www.reddit.com/user/${$json.comment_author}>) replied with:\\n${$json.comment_body}` : \"\" }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,-192],"id":"22098cc8-7f8f-46ae-9d16-e6149fd9f680","name":"post_body + comment_body -> summary"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,352],"id":"cbbc6308-7f10-4691-9c50-a93adea7cc82","name":"Loop Over entities"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1728,-288],"id":"19dea585-e9d3-4f62-901e-47b56420712b","name":"Merge all"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c92d84b-d044-4b44-82ec-f1a50f31ebaa","leftValue":"={{ $json.created_utc }}","rightValue":"={{ $now.minus('1', 'day').toSeconds() }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1408,-80],"id":"ceea523f-9323-4108-8dcd-e4b8eb76545a","name":"Created in the last 24H"},{"parameters":{"workflowId":{"__rl":true,"value":"7bCEzIxsNVswn4A9","mode":"list","cachedResultUrl":"/workflow/7bCEzIxsNVswn4A9","cachedResultName":"Request Gemini 2.5 flash"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1856,336],"name":"Call Request Gemini 2.5 flash","id":"6a035d92-e979-4f60-9c28-272235ac1ce8"}],"connections":{"Every day":{"main":[[{"node":"Search the last 100 posts containing the BunkerWeb keyword","type":"main","index":0}]]},"Clear processed IDs":{"main":[[{"node":"Get all reddit_* keys","type":"main","index":0}]]},"Get all comments in a post":{"main":[[{"node":"Extract comments from post","type":"main","index":0}]]},"Search the last 100 posts containing the BunkerWeb keyword":{"main":[[{"node":"Filter last week's posts","type":"main","index":0}]]},"Filter last year's posts":{"main":[[{"node":"Format post data","type":"main","index":0}]]},"If Contains BunkerWeb":{"main":[[{"node":"Rename post_id -> id","type":"main","index":0}],[{"node":"Get all comments in a post","type":"main","index":0},{"node":"Merge posts and comments","type":"main","index":0}]]},"Extract comments from post":{"main":[[{"node":"Merge posts and comments","type":"main","index":1}]]},"Sort by creation date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge posts / comments":{"main":[[{"node":"Prefix comment ID","type":"main","index":0}]]},"Prefix comment ID":{"main":[[{"node":"Merge comments and posts","type":"main","index":1}]]},"Format post data":{"main":[[{"node":"Created in the last 24H","type":"main","index":0}]]},"Merge posts and comments":{"main":[[{"node":"Merge posts / comments","type":"main","index":0}]]},"Merge summary":{"main":[[{"node":"Merge all","type":"main","index":0}]]},"Alert discord":{"main":[[{"node":"Merge Reddit entity with discord response","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Merge Reddit entity with discord response","type":"main","index":0},{"node":"Alert discord","type":"main","index":0}]]},"Merge Reddit entity with discord response":{"main":[[{"node":"Save processed ID","type":"main","index":0}]]},"Get all reddit_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Filter last week's posts":{"main":[[{"node":"Format post data","type":"main","index":0}]]},"Filter last month's posts":{"main":[[{"node":"Format post data","type":"main","index":0}]]},"Wait 1 second":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Rename post_id -> id":{"main":[[{"node":"Merge comments and posts","type":"main","index":0}]]},"Merge comments and posts":{"main":[[{"node":"Get cached ID","type":"main","index":0},{"node":"Merge cached response and entity","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge cached response and entity","type":"main","index":1}]]},"Merge cached response and entity":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"Hasn't been processed already":{"main":[[{"node":"If total is under 1950 chars","type":"main","index":0}]]},"Save processed ID":{"main":[[{"node":"Wait 1 second","type":"main","index":0}]]},"If total is under 1950 chars":{"main":[[{"node":"post_body + comment_body -> summary","type":"main","index":0}],[{"node":"Merge summary","type":"main","index":0},{"node":"Loop Over entities","type":"main","index":0}]]},"post_body + comment_body -> summary":{"main":[[{"node":"Merge all","type":"main","index":1}]]},"Loop Over entities":{"main":[[{"node":"Merge summary","type":"main","index":1}],[]]},"Merge all":{"main":[[{"node":"Sort by creation date","type":"main","index":0}]]},"Created in the last 24H":{"main":[[{"node":"If Contains BunkerWeb","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Every day":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3a18e11-1e15-4f3a-a3aa-6ce4ae4c879c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-26T14:02:10.477Z","createdAt":"2026-01-26T14:02:10.477Z","role":"workflow:owner","workflowId":"GA1kmCCZf8pP7Wn7","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":null,"tags":[{"updatedAt":"2025-08-13T09:13:48.874Z","createdAt":"2025-08-13T09:13:48.874Z","id":"Af5V1Rr0ynGVFcvN","name":"Social"}]}