workflows/Gy7luwlh9mHnS9Pf.json
{"updatedAt":"2025-08-11T14:23:58.000Z","createdAt":"2025-08-11T14:17:30.970Z","id":"Gy7luwlh9mHnS9Pf","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"78e61185-a8ff-48ea-89e2-a7dd715c8842","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"url":"https://packages.debian.org/trixie/nginx","options":{}},"id":"92351d07-21b8-4035-a7e5-b553f234719c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[208,0]},{"parameters":{"sourceData":"html","options":{}},"id":"88155b6a-8453-4526-905b-3d98cb147c18","name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[400,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.version }}","operation":"contains","value2":"1.28.0"}]}},"id":"0e19867c-da46-422b-bb46-bc60930c6517","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,0]},{"parameters":{},"id":"60098c27-e7e8-4099-a017-00e7ecf48ce4","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":3,"position":[800,0]}],"connections":{"Schedule":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"HTML Extract":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"73e280f1-effe-422a-a85e-817c120f1b19","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"Gy7luwlh9mHnS9Pf","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}