workflows/IuPyoVYcKk7Mpbh_fJxFA.json
{"updatedAt":"2026-02-16T08:38:15.922Z","createdAt":"2026-01-23T17:17:05.970Z","id":"IuPyoVYcKk7Mpbh_fJxFA","name":"Auto PRO detection","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"47fe9abf-0630-49d9-bd82-19e888d48920","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,-352],"id":"15d9734b-021f-4c58-b98c-001d087c3fd0","name":"On Issue/Issue comment","webhookId":"47fe9abf-0630-49d9-bd82-19e888d48920"},{"parameters":{"authentication":"webhook","content":"=New \"PRO\" mention in an issue{{ $('On Issue/Issue comment').item.json.headers['x-github-event'] == \"issue_comment\" ? \" comment\" : \"\" }}:\n{{ $('On Issue/Issue comment').item.json.headers['x-github-event'] == \"issue_comment\" ? $('On Issue/Issue comment').item.json.body.comment.html_url : $('On Issue/Issue comment').item.json.body.issue.html_url }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[288,-352],"id":"12bb1f1e-3fe9-4462-8b84-06e91fb5d2e6","name":"Discord - sales webhook","webhookId":"2c7b3843-d384-45f7-b61e-d84c0d6d4e37","credentials":{"discordWebhookApi":{"id":"hBKBU06OrN3YYH8E","name":"Discord Webhook - sales"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1eff95-c9ec-4982-a25b-a6f59b19bd86","leftValue":"={{ $json.body.comment.body }}","rightValue":"(^|.*) \\b[pP][rR][oO]\\b (.*|$)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-448],"id":"197fe8db-68cf-4548-b71b-1d2459d1216c","name":"If comment contains \"PRO\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1eff95-c9ec-4982-a25b-a6f59b19bd86","leftValue":"={{ $json.body.issue.body }}","rightValue":"(^|.*) \\b[pP][rR][oO]\\b (.*|$)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-256],"id":"9782e7f7-3617-44d6-ab88-7759b7930964","name":"If issue contains \"PRO\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9931a0fa-7fdf-464d-82a9-2c565159955d","leftValue":"={{ $json.headers['x-github-event'] }}","rightValue":"issue_comment","operator":{"type":"string","operation":"equals"}},{"id":"5ca08249-215a-42d2-9c19-52918a0ec56a","leftValue":"={{ $json.body.action }}","rightValue":"created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-160,-352],"id":"85e63347-b915-4e95-af13-e368df33aab6","name":"If issue comment and created action"}],"connections":{"On Issue/Issue comment":{"main":[[{"node":"If issue comment and created action","type":"main","index":0}]]},"If comment contains \"PRO\"":{"main":[[{"node":"Discord - sales webhook","type":"main","index":0}]]},"If issue contains \"PRO\"":{"main":[[{"node":"Discord - sales webhook","type":"main","index":0}]]},"If issue comment and created action":{"main":[[{"node":"If comment contains \"PRO\"","type":"main","index":0}],[{"node":"If issue contains \"PRO\"","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7d874bc-5d62-460c-a8c2-69ee80c6a98e","activeVersionId":"d7d874bc-5d62-460c-a8c2-69ee80c6a98e","triggerCount":1,"shared":[{"updatedAt":"2026-01-23T17:17:05.970Z","createdAt":"2026-01-23T17:17:05.970Z","role":"workflow:owner","workflowId":"IuPyoVYcKk7Mpbh_fJxFA","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":{"updatedAt":"2026-02-16T08:38:22.269Z","createdAt":"2026-02-16T08:38:15.926Z","versionId":"d7d874bc-5d62-460c-a8c2-69ee80c6a98e","workflowId":"IuPyoVYcKk7Mpbh_fJxFA","nodes":[{"parameters":{"httpMethod":"POST","path":"47fe9abf-0630-49d9-bd82-19e888d48920","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,-352],"id":"15d9734b-021f-4c58-b98c-001d087c3fd0","name":"On Issue/Issue comment","webhookId":"47fe9abf-0630-49d9-bd82-19e888d48920"},{"parameters":{"authentication":"webhook","content":"=New \"PRO\" mention in an issue{{ $('On Issue/Issue comment').item.json.headers['x-github-event'] == \"issue_comment\" ? \" comment\" : \"\" }}:\n{{ $('On Issue/Issue comment').item.json.headers['x-github-event'] == \"issue_comment\" ? $('On Issue/Issue comment').item.json.body.comment.html_url : $('On Issue/Issue comment').item.json.body.issue.html_url }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[288,-352],"id":"12bb1f1e-3fe9-4462-8b84-06e91fb5d2e6","name":"Discord - sales webhook","webhookId":"2c7b3843-d384-45f7-b61e-d84c0d6d4e37","credentials":{"discordWebhookApi":{"id":"hBKBU06OrN3YYH8E","name":"Discord Webhook - sales"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1eff95-c9ec-4982-a25b-a6f59b19bd86","leftValue":"={{ $json.body.comment.body }}","rightValue":"(^|.*) \\b[pP][rR][oO]\\b (.*|$)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-448],"id":"197fe8db-68cf-4548-b71b-1d2459d1216c","name":"If comment contains \"PRO\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1eff95-c9ec-4982-a25b-a6f59b19bd86","leftValue":"={{ $json.body.issue.body }}","rightValue":"(^|.*) \\b[pP][rR][oO]\\b (.*|$)","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[64,-256],"id":"9782e7f7-3617-44d6-ab88-7759b7930964","name":"If issue contains \"PRO\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9931a0fa-7fdf-464d-82a9-2c565159955d","leftValue":"={{ $json.headers['x-github-event'] }}","rightValue":"issue_comment","operator":{"type":"string","operation":"equals"}},{"id":"5ca08249-215a-42d2-9c19-52918a0ec56a","leftValue":"={{ $json.body.action }}","rightValue":"created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-160,-352],"id":"85e63347-b915-4e95-af13-e368df33aab6","name":"If issue comment and created action"}],"connections":{"On Issue/Issue comment":{"main":[[{"node":"If issue comment and created action","type":"main","index":0}]]},"If comment contains \"PRO\"":{"main":[[{"node":"Discord - sales webhook","type":"main","index":0}]]},"If issue contains \"PRO\"":{"main":[[{"node":"Discord - sales webhook","type":"main","index":0}]]},"If issue comment and created action":{"main":[[{"node":"If comment contains \"PRO\"","type":"main","index":0}],[{"node":"If issue contains \"PRO\"","type":"main","index":0}]]}},"authors":"John Doe","name":"Add spacing","description":"","autosaved":false},"tags":[]}