workflows/IuwFnCnXd2mc04rk.json
{"updatedAt":"2025-11-27T16:52:27.305Z","createdAt":"2025-11-26T13:45:28.563Z","id":"IuwFnCnXd2mc04rk","name":"Auto-management panel tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"33295700-cbfa-4146-a3ad-b5a2c2f89cdb","options":{"ipWhitelist":"51.68.88.200"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1568,-1136],"id":"5176c7fe-6e94-4f61-8cbb-0096ffe9d1b2","name":"PRO tickets events","webhookId":"33295700-cbfa-4146-a3ad-b5a2c2f89cdb"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c742f056-3b5e-4861-bbb8-d3b3d6ea509b","leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"^ticket_reply_(client|admin)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ticket reply"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c9ef6e8-5c76-4af8-8094-46962f41ce74","leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"=ticket_status_change","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ticket status"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beb8124e-308d-42e2-9bd4-2a4e1ccbd38b","leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"ticket_department_change","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ticket department"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[224,-816],"id":"bcb4446e-3877-4377-a94b-d10e96a2f9ac","name":"Route events"},{"parameters":{"options":{"systemMessage":"={{ $json.systemMessage }}","maxIterations":25}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1384,-1512],"id":"f38fc025-1c4b-4a26-b789-d23018fd0eec","name":"Panel Agent"},{"parameters":{"assignments":{"assignments":[{"id":"f7a4f6fb-b451-4140-8b58-e78ea2c9384d","name":"systemMessage","value":"=### ROLE & IDENTITY\n\nYou are **BunkerWeb Ticket Analysis Agent**, an advanced support assistant specialized in analyzing new client tickets.\n\nYour responsibilities:\n\n1. **Understand** the ticket content in depth.\n2. **Explain clearly what you understood** from the ticket.\n3. **Generate a response template** a human support agent can send (after review).\n4. Use tools intelligently:\n\n   * **think** → plan your reasoning before answering.\n   * **RAG / BunkerWeb docs search** → for any BunkerWeb-related technical details.\n   * **Web search** → only for non-BunkerWeb general knowledge if needed.\n\nYou must **never invent information**. If you are uncertain or information is missing, you must **explicitly state that**.\n\n---\n\n### WORKFLOW (MANDATORY FOR EVERY TICKET)\n\n#### 1. THINK STEP (HIDDEN FROM USER)\n\nUse the `think` tool to:\n\n* Restate what the user seems to want.\n* Identify what is known vs unknown.\n* Decide which tools to use (RAG, web search, or none).\n* Plan the answer structure.\n\n> The content of the THINK step must **never** be shown to the user.\n\n---\n\n#### 2. AGENT UNDERSTANDING (VISIBLE TO USER)\n\nOutput a **clear, honest** summary of your understanding.\nYou **must** separate what is certain from what is uncertain.\n\nFormat:\n\n```md\n## Agent Understanding\n\n### What I am confident about\n- [facts directly stated in the ticket]\n- [facts directly supported by BunkerWeb docs via RAG]\n\n### Grey areas / uncertainties\n- [things that are ambiguous, missing, or not in the docs]\n- [assumptions you might make — always label them clearly as assumptions]\n```\n\nRules:\n\n* Only treat something as “confident” if it is **explicitly in the ticket** or **explicitly found in BunkerWeb documentation via RAG**.\n* If you are guessing or inferring, label it under **Grey areas / uncertainties** as an **assumption**, not as a fact.\n* If documentation does not cover something, say so clearly (e.g., “I did not find anything in the official BunkerWeb documentation about X.”).\n\n---\n\n#### 3. RESPONSE TEMPLATE (VISIBLE TO USER)\n\nThen produce a **draft response** the human agent can adapt and send.\n\nFormat:\n\n```md\n## Response Template\n\n[Write a polite, professional answer]\n\nSections to include:\n- Acknowledgement of the issue.\n- Brief restatement of the problem (only using what is actually known).\n- Explanation / diagnosis:\n  - Clearly separate confirmed information from possible causes.\n  - Cite BunkerWeb docs when relevant (e.g., “According to the BunkerWeb documentation on [feature/topic], …”).\n- Suggested steps:\n  - Only suggest steps that are supported by docs or standard practices.\n  - If suggesting steps based on assumptions, clearly label them:  \n    “If our assumption about X is correct, then you can try…”\n- Questions for the client to clarify grey areas.\n- Friendly closing.\n\nAdditionally, at the end, always add:\n\n### Internal Notes (for the human agent, not the client)\n- Known facts:\n  - [bullet list]\n- Uncertainties:\n  - [bullet list]\n- Docs consulted:\n  - [brief notes or sections / topics from BunkerWeb docs]\n```\n\n---\n\n### TRUTHFULNESS & UNCERTAINTY RULES (CRITICAL)\n\n* **Do not invent:**\n\n  * Configuration values, log outputs, environment details, versions, or customer setup details that are not explicitly provided.\n  * Nonexistent BunkerWeb features, options, or config keys.\n  * Documentation sections or links that do not exist.\n\n* **Be explicit when uncertain:**\n\n  * Use phrases like:\n\n    * “I’m not certain because the ticket does not specify…”\n    * “The documentation does not clearly cover this exact case…”\n    * “This is an assumption based on typical setups; it may be wrong.”\n  * Never present assumptions as facts.\n\n* **Docs & sources:**\n\n  * Use the RAG system for any BunkerWeb-related advice.\n  * If RAG returns nothing relevant, say so clearly and fall back to:\n\n    * general best practices (labeled as such), or\n    * asking the user for more information.\n\n* **If information is insufficient:**\n\n  * Do **not** guess a final solution.\n  * Provide:\n\n    * the most likely possibilities (clearly labeled as “possible causes”), and\n    * **specific questions** the client should answer to move forward.\n\n---\n\n### STYLE RULES\n\n* Tone: professional, clear, and calm.\n* Prefer **short, direct sentences** over long, complicated explanations.\n* Avoid technical jargon unless needed; explain briefly when used.\n* Never expose or describe the THINK step or internal tools.\n* Always follow the output structure:\n\n```md\n## Agent Understanding\n...\n\n## Response Template\n...\n```\n\n### Product Context\n\nBunkerWeb is an open-source, next-generation web application firewall (WAF) and reverse proxy developed by the French cybersecurity company Bunkerity. It is designed to provide “secure by default” protection for web applications by blocking common web attacks (including OWASP Top 10), malicious bots, and DDoS attempts before they reach backend services.\n\nThe solution is built on NGINX, ModSecurity, and the OWASP Core Rule Set, and supports multiple environments such as Linux, Docker, Docker Swarm, and Kubernetes. It is distributed under the AGPLv3 license with a free community edition at its core. Bunkerity also provides optional commercial support, consulting services, and a pro edition with additional features.\n\nSupport scope for this agent:\n- BunkerWeb installation, configuration, and troubleshooting  \n- Reverse proxy behavior and WAF rule-related questions  \n- Understanding behavior differences between Community and Pro features  \n- Guidance based strictly on official documentation and verified behavior  \n\nOut of scope:\n- Custom plugin development  \n- Non-BunkerWeb infrastructure debugging (OS tuning, network misconfigurations, cloud provider issues, etc.)  \n- Speculation about undocumented features or future releases  \n\nTone guidelines:\n- Clear, concise, technically accurate  \n- Highlight uncertainties when present  \n- Never infer features or behaviors not backed by official BunkerWeb documentation  \n","type":"string"},{"id":"ece7450b-0bf3-4739-b47d-473349332dfb","name":"chatInput","value":"=Ticket's subject: {{ $('PRO tickets events').item.json.body.subject }}\nTicket's priority: {{ $('PRO tickets events').item.json.body.priority }}\nTicket's department: {{ $('PRO tickets events').item.json.body.department.name }}\nTicket's content:\n{{ $('PRO tickets events').item.json.body.message }}","type":"string"},{"id":"6a6371ea-d978-4b44-941f-54dabf77c2dd","name":"sessionId","value":"=panel_ticket_{{ $('PRO tickets events').item.json.body.ticket_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-1568],"id":"48168218-dda4-4cb6-adf4-4720c9937517","name":"Prepare ticket opened data"},{"parameters":{"model":"model-router","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1120,-1288],"id":"99ba1d9c-63c8-4957-93d9-292100b509c7","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1248,-1288],"id":"f3e65e38-8966-4ef7-a6ea-c693e1394e90","name":"Ticket Memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get related chunks of the official BunkerWeb documentation.","tableName":"doc_embeddings","topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1376,-1288],"id":"78b614dd-86a0-4456-8982-16e695535305","name":"BunkerWeb documentation","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[1456,-1080],"id":"180d60cb-30f2-4e99-98ef-4628052b92c5","name":"text-embedding-3-small","credentials":{"azureOpenAiApi":{"id":"b3h2PflJB1VhEfVA","name":"Azure Open AI Embedding - bunkerity"}}},{"parameters":{"description":"Think about you're about to say.\nIf necessary read the documentation for more information."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1664,-1288],"id":"cd504331-f427-41e5-be41-66a1ced9aa93","name":"Think"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Provide the keyword or short phrase that should be used to search the internet for relevant information.`, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1792,-1288],"id":"00c7e4ce-8da6-45c7-90bb-0a1c6ce41ada","name":"Tavily","credentials":{"tavilyApi":{"id":"uy9TeiO4FnYJt9nC","name":"Tavily account - Bunkerity"}}},{"parameters":{"owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"tickets","mode":"name"},"title":"={{ $json.body.subject }}","body":"={{ $json.body.message }}","labels":[],"assignees":[]},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1120,-1400],"id":"ac2dc828-9efd-4679-b7b1-a426605c9c03","name":"Create ticket issue","webhookId":"45b80efa-17ef-4f35-9d75-0b2937631b31","credentials":{"githubApi":{"id":"Pyv1TfRKPoto25s6","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cca020c6-1399-4ff5-823c-02e6101aeed7","leftValue":"={{ $json.content.number }}","rightValue":"={{ $('Create ticket issue').item.json.number }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-224,-1472],"id":"055922c2-e606-488e-9acb-526e56b1996e","name":"Filter linked card","alwaysOutputData":true},{"parameters":{"jsCode":"return [\n  {\n    \"id\": 141796274,\n    \"node_id\": \"PVTI_lADOBSZxn84BJOLzzghzo7I\",\n    \"project_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/5\",\n    \"content\": {\n      \"url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3\",\n      \"repository_url\": \"https://api.github.com/repos/bunkerity/tickets\",\n      \"labels_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3/labels{/name}\",\n      \"comments_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3/comments\",\n      \"events_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3/events\",\n      \"html_url\": \"https://github.com/bunkerity/tickets/issues/3\",\n      \"id\": 3671083281,\n      \"node_id\": \"I_kwDOQeD7fc7a0EkR\",\n      \"number\": 3,\n      \"title\": \"Ticket TEST David 2\",\n      \"user\": {\n        \"login\": \"TheophileDiot\",\n        \"id\": 57175294,\n        \"node_id\": \"MDQ6VXNlcjU3MTc1Mjk0\",\n        \"avatar_url\": \"https://avatars.githubusercontent.com/u/57175294?v=4\",\n        \"gravatar_id\": \"\",\n        \"url\": \"https://api.github.com/users/TheophileDiot\",\n        \"html_url\": \"https://github.com/TheophileDiot\",\n        \"followers_url\": \"https://api.github.com/users/TheophileDiot/followers\",\n        \"following_url\": \"https://api.github.com/users/TheophileDiot/following{/other_user}\",\n        \"gists_url\": \"https://api.github.com/users/TheophileDiot/gists{/gist_id}\",\n        \"starred_url\": \"https://api.github.com/users/TheophileDiot/starred{/owner}{/repo}\",\n        \"subscriptions_url\": \"https://api.github.com/users/TheophileDiot/subscriptions\",\n        \"organizations_url\": \"https://api.github.com/users/TheophileDiot/orgs\",\n        \"repos_url\": \"https://api.github.com/users/TheophileDiot/repos\",\n        \"events_url\": \"https://api.github.com/users/TheophileDiot/events{/privacy}\",\n        \"received_events_url\": \"https://api.github.com/users/TheophileDiot/received_events\",\n        \"type\": \"User\",\n        \"user_view_type\": \"public\",\n        \"site_admin\": false\n      },\n      \"labels\": [],\n      \"state\": \"open\",\n      \"locked\": false,\n      \"assignee\": null,\n      \"assignees\": [],\n      \"milestone\": null,\n      \"comments\": 0,\n      \"created_at\": \"2025-11-27T11:46:39Z\",\n      \"updated_at\": \"2025-11-27T11:46:39Z\",\n      \"closed_at\": null,\n      \"author_association\": \"MEMBER\",\n      \"type\": null,\n      \"active_lock_reason\": null,\n      \"sub_issues_summary\": {\n        \"total\": 0,\n        \"completed\": 0,\n        \"percent_completed\": 0\n      },\n      \"issue_dependencies_summary\": {\n        \"blocked_by\": 0,\n        \"total_blocked_by\": 0,\n        \"blocking\": 0,\n        \"total_blocking\": 0\n      },\n      \"repository\": {\n        \"id\": 1105263485,\n        \"node_id\": \"R_kgDOQeD7fQ\",\n        \"name\": \"tickets\",\n        \"full_name\": \"bunkerity/tickets\",\n        \"private\": true,\n        \"owner\": {\n          \"login\": \"bunkerity\",\n          \"id\": 86405535,\n          \"node_id\": \"MDEyOk9yZ2FuaXphdGlvbjg2NDA1NTM1\",\n          \"avatar_url\": \"https://avatars.githubusercontent.com/u/86405535?v=4\",\n          \"gravatar_id\": \"\",\n          \"url\": \"https://api.github.com/users/bunkerity\",\n          \"html_url\": \"https://github.com/bunkerity\",\n          \"followers_url\": \"https://api.github.com/users/bunkerity/followers\",\n          \"following_url\": \"https://api.github.com/users/bunkerity/following{/other_user}\",\n          \"gists_url\": \"https://api.github.com/users/bunkerity/gists{/gist_id}\",\n          \"starred_url\": \"https://api.github.com/users/bunkerity/starred{/owner}{/repo}\",\n          \"subscriptions_url\": \"https://api.github.com/users/bunkerity/subscriptions\",\n          \"organizations_url\": \"https://api.github.com/users/bunkerity/orgs\",\n          \"repos_url\": \"https://api.github.com/users/bunkerity/repos\",\n          \"events_url\": \"https://api.github.com/users/bunkerity/events{/privacy}\",\n          \"received_events_url\": \"https://api.github.com/users/bunkerity/received_events\",\n          \"type\": \"Organization\",\n          \"user_view_type\": \"public\",\n          \"site_admin\": false\n        },\n        \"html_url\": \"https://github.com/bunkerity/tickets\",\n        \"description\": null,\n        \"fork\": false,\n        \"url\": \"https://api.github.com/repos/bunkerity/tickets\",\n        \"forks_url\": \"https://api.github.com/repos/bunkerity/tickets/forks\",\n        \"keys_url\": \"https://api.github.com/repos/bunkerity/tickets/keys{/key_id}\",\n        \"collaborators_url\": \"https://api.github.com/repos/bunkerity/tickets/collaborators{/collaborator}\",\n        \"teams_url\": \"https://api.github.com/repos/bunkerity/tickets/teams\",\n        \"hooks_url\": \"https://api.github.com/repos/bunkerity/tickets/hooks\",\n        \"issue_events_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/events{/number}\",\n        \"events_url\": \"https://api.github.com/repos/bunkerity/tickets/events\",\n        \"assignees_url\": \"https://api.github.com/repos/bunkerity/tickets/assignees{/user}\",\n        \"branches_url\": \"https://api.github.com/repos/bunkerity/tickets/branches{/branch}\",\n        \"tags_url\": \"https://api.github.com/repos/bunkerity/tickets/tags\",\n        \"blobs_url\": \"https://api.github.com/repos/bunkerity/tickets/git/blobs{/sha}\",\n        \"git_tags_url\": \"https://api.github.com/repos/bunkerity/tickets/git/tags{/sha}\",\n        \"git_refs_url\": \"https://api.github.com/repos/bunkerity/tickets/git/refs{/sha}\",\n        \"trees_url\": \"https://api.github.com/repos/bunkerity/tickets/git/trees{/sha}\",\n        \"statuses_url\": \"https://api.github.com/repos/bunkerity/tickets/statuses/{sha}\",\n        \"languages_url\": \"https://api.github.com/repos/bunkerity/tickets/languages\",\n        \"stargazers_url\": \"https://api.github.com/repos/bunkerity/tickets/stargazers\",\n        \"contributors_url\": \"https://api.github.com/repos/bunkerity/tickets/contributors\",\n        \"subscribers_url\": \"https://api.github.com/repos/bunkerity/tickets/subscribers\",\n        \"subscription_url\": \"https://api.github.com/repos/bunkerity/tickets/subscription\",\n        \"commits_url\": \"https://api.github.com/repos/bunkerity/tickets/commits{/sha}\",\n        \"git_commits_url\": \"https://api.github.com/repos/bunkerity/tickets/git/commits{/sha}\",\n        \"comments_url\": \"https://api.github.com/repos/bunkerity/tickets/comments{/number}\",\n        \"issue_comment_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/comments{/number}\",\n        \"contents_url\": \"https://api.github.com/repos/bunkerity/tickets/contents/{+path}\",\n        \"compare_url\": \"https://api.github.com/repos/bunkerity/tickets/compare/{base}...{head}\",\n        \"merges_url\": \"https://api.github.com/repos/bunkerity/tickets/merges\",\n        \"archive_url\": \"https://api.github.com/repos/bunkerity/tickets/{archive_format}{/ref}\",\n        \"downloads_url\": \"https://api.github.com/repos/bunkerity/tickets/downloads\",\n        \"issues_url\": \"https://api.github.com/repos/bunkerity/tickets/issues{/number}\",\n        \"pulls_url\": \"https://api.github.com/repos/bunkerity/tickets/pulls{/number}\",\n        \"milestones_url\": \"https://api.github.com/repos/bunkerity/tickets/milestones{/number}\",\n        \"notifications_url\": \"https://api.github.com/repos/bunkerity/tickets/notifications{?since,all,participating}\",\n        \"labels_url\": \"https://api.github.com/repos/bunkerity/tickets/labels{/name}\",\n        \"releases_url\": \"https://api.github.com/repos/bunkerity/tickets/releases{/id}\",\n        \"deployments_url\": \"https://api.github.com/repos/bunkerity/tickets/deployments\",\n        \"created_at\": \"2025-11-27T11:08:35Z\",\n        \"updated_at\": \"2025-11-27T11:08:35Z\",\n        \"pushed_at\": \"2025-11-27T11:08:35Z\",\n        \"git_url\": \"git://github.com/bunkerity/tickets.git\",\n        \"ssh_url\": \"git@github.com:bunkerity/tickets.git\",\n        \"clone_url\": \"https://github.com/bunkerity/tickets.git\",\n        \"svn_url\": \"https://github.com/bunkerity/tickets\",\n        \"homepage\": null,\n        \"size\": 0,\n        \"stargazers_count\": 0,\n        \"watchers_count\": 0,\n        \"language\": null,\n        \"has_issues\": true,\n        \"has_projects\": true,\n        \"has_downloads\": true,\n        \"has_wiki\": true,\n        \"has_pages\": false,\n        \"has_discussions\": false,\n        \"forks_count\": 0,\n        \"mirror_url\": null,\n        \"archived\": false,\n        \"disabled\": false,\n        \"open_issues_count\": 1,\n        \"license\": null,\n        \"allow_forking\": false,\n        \"is_template\": false,\n        \"web_commit_signoff_required\": false,\n        \"topics\": [],\n        \"visibility\": \"internal\",\n        \"forks\": 0,\n        \"open_issues\": 1,\n        \"watchers\": 0,\n        \"default_branch\": \"main\",\n        \"permissions\": {\n          \"admin\": true,\n          \"maintain\": true,\n          \"push\": true,\n          \"triage\": true,\n          \"pull\": true\n        }\n      },\n      \"body\": \"en autre test rapide\",\n      \"reactions\": {\n        \"url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3/reactions\",\n        \"total_count\": 0,\n        \"+1\": 0,\n        \"-1\": 0,\n        \"laugh\": 0,\n        \"hooray\": 0,\n        \"confused\": 0,\n        \"heart\": 0,\n        \"rocket\": 0,\n        \"eyes\": 0\n      },\n      \"timeline_url\": \"https://api.github.com/repos/bunkerity/tickets/issues/3/timeline\",\n      \"performed_via_github_app\": null,\n      \"state_reason\": null\n    },\n    \"content_type\": \"Issue\",\n    \"creator\": {\n      \"login\": \"github-project-automation[bot]\",\n      \"id\": 113052574,\n      \"node_id\": \"BOT_kgDOBr0Lng\",\n      \"avatar_url\": \"https://avatars.githubusercontent.com/in/235829?v=4\",\n      \"gravatar_id\": \"\",\n      \"url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D\",\n      \"html_url\": \"https://github.com/apps/github-project-automation\",\n      \"followers_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/followers\",\n      \"following_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/following{/other_user}\",\n      \"gists_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/gists{/gist_id}\",\n      \"starred_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/starred{/owner}{/repo}\",\n      \"subscriptions_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/subscriptions\",\n      \"organizations_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/orgs\",\n      \"repos_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/repos\",\n      \"events_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/events{/privacy}\",\n      \"received_events_url\": \"https://api.github.com/users/github-project-automation%5Bbot%5D/received_events\",\n      \"type\": \"Bot\",\n      \"user_view_type\": \"public\",\n      \"site_admin\": false\n    },\n    \"created_at\": \"2025-11-27T11:46:41Z\",\n    \"updated_at\": \"2025-11-27T11:46:42Z\",\n    \"archived_at\": null,\n    \"item_url\": \"https://api.github.com/orgs/bunkerity/projectsV2/5/items/141796274\",\n    \"fields\": [\n      {\n        \"id\": 240962992,\n        \"name\": \"Title\",\n        \"data_type\": \"title\",\n        \"value\": {\n          \"raw\": \"Ticket TEST David 2\",\n          \"html\": \"Ticket TEST David 2\"\n        }\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,96],"id":"b03a9af4-1f2f-4939-beb5-636eae1f8806","name":"Cached tickets"},{"parameters":{"method":"PATCH","url":"=https://api.github.com/orgs/bunkerity/projectsV2/5/items/{{ $('Filter linked card').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"fields","value":"={{ $json.fields }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-1568],"id":"9df3d30e-cc89-46b5-beef-2b86e16e98ed","name":"Update new ticket","credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/5/fields","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1568,-128],"id":"42de8721-b9f6-4014-8358-26b495aa55a0","name":"Fetch tickets fields","credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"content":"## Tickets fields\n* Status:\n  * id: 240962994\n  * options:\n    1. Open: \"f971fb55\"\n    2. Customer-Reply: \"47fc9ee4\"\n    3. Answered: \"5ef0dc97\"\n    4. Closed: \"98236657\"\n* Panel ID\n  * id: 241028651\n  * type: number\n* Client\n  * id: 241006605\n  * type: \"text\"\n* Department\n  * id: 240968252\n  * options:\n    1. General enquiries: \"9ffb8a08\"\n    2. PRO support: \"023da411\"\n    3. Technical support: \"4e25378c\"\n    4. Custom services: \"9727faef\"\n* Priority\n  * id: 240963231\n  * options:\n    1. High: \"79628723\"\n    2. Medium: \"0a877460\"\n    3. Low: \"da944a9c\"\n* Creation date\n  * id: 240963235\n  * Type: \"date\"","height":736,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2032,-1104],"typeVersion":1,"id":"d738168c-97d5-44b5-a05f-04fa21b22c31","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[0,-1472],"id":"f10065a9-bf5f-438a-ad61-804376ea490e","name":"Limit to 1 ticket","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e036b831-b383-41c4-85fe-4c0bc70eea17","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-1472],"id":"5e5b93c5-5643-49a3-83b2-aebc9fd98125","name":"If ticket is found"},{"parameters":{"operation":"set","key":"=panel_ticket_new_retries_{{ $('PRO tickets events').item.json.body.ticket_id }}","value":"0","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,-1400],"id":"8e230d14-90aa-481f-ae3c-d77f565fde32","name":"Initialize new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,-1400],"id":"2b662469-9f56-4661-8dd8-fbffa4763c1c","name":"Wait 5 seconds","webhookId":"971796de-e4e4-4267-aeb1-5ade8489d775"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8ba3ad71-05b7-4b7e-979e-3ce2ddfa4ff9","leftValue":"={{ $json.retries }}","rightValue":25,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-1304],"id":"43a463cf-8ff6-48af-8fb4-16a71e33e7f5","name":"If retried to much"},{"parameters":{"operation":"incr","key":"=panel_ticket_new_retries_{{ $('PRO tickets events').item.json.body.ticket_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,-1376],"id":"9ce129da-9544-425f-9b23-a7a16815f48c","name":"Increment new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"retries","key":"=panel_ticket_new_retries_{{ $('PRO tickets events').item.json.body.ticket_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[672,-1376],"id":"18275123-db3d-444b-a11b-84c898412bb1","name":"Get new retries","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"^ticket_open_(client|admin)$","operator":{"type":"string","operation":"regex"},"id":"b4414990-b900-484e-9b5a-c5879048ef52"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ticket open"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d6af4c2-e9a2-4976-b0b3-71823842ce7e","leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"ticket_reply_client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ticket reply"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2224,-1304],"id":"7cfe210b-c613-4a43-a38a-eedd36be9063","name":"Route output"},{"parameters":{"method":"POST","url":"https://bunker-utils-bwe5fnffe7fhd3b2.francecentral-01.azurewebsites.net/api/whmcs_ticket_note","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"ticket_id","value":"={{ $('PRO tickets events').item.json.body.ticket_id }}"},{"name":"message","value":"={{ $('Panel Agent').item.json.output }}"},{"name":"markdown","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1568,-352],"id":"9d0d1d73-75ab-4531-b935-6284f4699a43","name":"Write note on ticket","credentials":{"httpQueryAuth":{"id":"FEccY6TLPN8VRylK","name":"Query Auth - Azure Bunker"}}},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/5/items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-448,-1472],"id":"facd4d4d-b549-434c-a031-3467bb9da00f","name":"Fetch org tickets - new","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"url":"https://api.github.com/orgs/bunkerity/projectsV2/5/items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=panel-id:{{ $json.body.ticket_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,-800],"id":"71062a5a-8440-4c16-8def-687f294907b0","name":"Fetch org tickets - reply","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[0,-800],"id":"6f6c218e-22fb-402f-84a5-03dd78c64bf5","name":"Limit to 1 current ticket","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb52841b-9521-4297-8fc0-df210c8b996b","leftValue":"={{ $json.body.event }}","rightValue":"^ticket_open_(client|admin)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-1136],"id":"68fdd12f-f7dc-4b92-9bbc-80575672cafe","name":"If new ticket"},{"parameters":{"jsCode":"const departments = {\n  \"General enquiries\": \"9ffb8a08\",\n  \"PRO support\": \"023da411\",\n  \"Technical support\": \"4e25378c\",\n  \"Custom services\": \"9727faef\"\n}\n\nconst priorities = {\n  \"High\": \"79628723\",\n  \"Medium\": \"0a877460\",\n  \"Low\": \"da944a9c\",\n}\n\nconst client = $('PRO tickets events').first().json.body.requestor.name\nconst clientEmail = $('PRO tickets events').first().json.body.requestor.email\n\nreturn {\n  \"json\": {\n    \"fields\": [\n      {\n        \"id\": 240968252, // Department\n        \"value\": departments[$('PRO tickets events').first().json.body.department.name]\n      },\n      {\n        \"id\": 240963231, // Priority\n        \"value\": priorities[$('PRO tickets events').first().json.body.priority]\n      },\n      {\n        \"id\": 240963235, // Creation date\n        \"value\": DateTime.fromISO($('PRO tickets events').first().json.body.timestamp).toFormat('yyyy-LL-dd')\n      },\n      {\n        \"id\": 241006605, // Client\n        \"value\": client ? `${client} (${clientEmail})` : \"admin\"\n      },\n      {\n        \"id\": 241028651, // Panel ID\n        \"value\": $('PRO tickets events').first().json.body.ticket_id\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-1568],"id":"002c24cb-f45a-41f5-b063-28d74248a5e7","name":"Prepare new fields"},{"parameters":{"operation":"createComment","owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"tickets","mode":"name"},"issueNumber":"={{ $('Create ticket issue').item.json.number }}","body":"={{ $('Route output').item.json.output }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2448,-1400],"id":"5782e34c-41fa-4f8b-b456-f276405b6497","name":"Write Bot comment on ticket","webhookId":"ac85dec6-81f9-467f-9427-10df00b8941c","credentials":{"githubApi":{"id":"Pyv1TfRKPoto25s6","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"operation":"createComment","owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"tickets","mode":"name"},"issueNumber":"={{ $('Limit to 1 current ticket').item.json.content.number }}","body":"=Message from {{ $('PRO tickets events').item.json.body.actor.name }} ({{ $('PRO tickets events').item.json.body.actor.type }}):\n---\n{{ $('PRO tickets events').item.json.body.message }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[448,-1056],"id":"9ccc93a4-22e0-4d49-ad0b-00c3d7e76b57","name":"Write new message from panel in ticket","webhookId":"ac85dec6-81f9-467f-9427-10df00b8941c","credentials":{"githubApi":{"id":"Pyv1TfRKPoto25s6","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"f7a4f6fb-b451-4140-8b58-e78ea2c9384d","name":"systemMessage","value":"=You are the **BunkerWeb Follow-Up Reply Agent**, a support assistant specialized in generating **precise, safe, non-inventive follow-up responses** when a client replies to an existing ticket.\n\nYour mission:\n\n1. Interpret the client’s **new message** in the context of the full ticket history.\n2. **Update your understanding** of the situation.\n3. Draft the **next support reply** as a template for a human agent to send.\n4. Stay strictly aligned with **official BunkerWeb documentation** (via the RAG system).\n5. Be explicit about **what is clear** and **what remains uncertain**.\n6. Never invent features, configuration, or documentation.\n\n---\n\n### Tools & Capabilities\n\nYou can use the following tools (names may be mapped by the host system):\n\n* **think** → Internal planning tool. Use it to plan reasoning before answering. Its content must **never** be shown to the user.\n* **RAG / BunkerWeb Docs Search** → Retrieves relevant excerpts from official BunkerWeb documentation. Use for any BunkerWeb-related technical details.\n* **Web Search** → Use only when non-BunkerWeb, general technical information is required and not available in BunkerWeb docs.\n\nYou must **prefer RAG/BunkerWeb docs** over web search for anything related to BunkerWeb behavior, configuration, or features.\n\n---\n\n### Company Context\n\nBunkerWeb is an open-source, next-generation web application firewall (WAF) and reverse proxy developed by the French cybersecurity company Bunkerity. It is designed to provide “secure by default” protection for web applications by blocking common web attacks (including OWASP Top 10), malicious bots, and DDoS attempts before they reach backend services.\n\nThe solution is built on NGINX, ModSecurity, and the OWASP Core Rule Set, and supports multiple environments such as Linux, Docker, Docker Swarm, and Kubernetes. It is distributed under the AGPLv3 license with a free community edition at its core. Bunkerity also provides optional commercial support, consulting services, and a pro edition with additional features.\n\n**Support scope for this agent:**\n\n* BunkerWeb installation, configuration, and troubleshooting\n* Reverse proxy behavior and WAF rule-related questions\n* Understanding behavior differences between Community and Pro features\n* Guidance based strictly on official documentation and verified behavior\n\n**Out of scope:**\n\n* Custom plugin development\n* Non-BunkerWeb infrastructure debugging (OS tuning, network misconfigurations, cloud provider issues, etc.)\n* Speculation about undocumented features or future releases\n\n**Tone guidelines:**\n\n* Clear, concise, technically accurate\n* Highlight uncertainties when present\n* Never infer features or behaviors not backed by official BunkerWeb documentation\n\n---\n\n### Memory-Aware Behavior\n\nYou have access to the **full conversation history** of the ticket, including:\n\n* Previous client messages\n* Previous agent replies\n* Earlier analyses or hypotheses\n\nUse this history to:\n\n* Maintain continuity with previous reasoning.\n* Avoid repeating questions the client has already answered.\n* Correct your earlier misunderstandings if new information contradicts them.\n* Detect contradictions between earlier and new client messages.\n* Track which information was requested but still not provided.\n\nIf you discover that earlier assumptions were wrong or incomplete, **acknowledge this neutrally** in the “Changes since the previous message” section.\n\nMemory is an aid, not a source of new facts. Do **not** invent new facts from memory; only treat as confirmed what is explicitly stated or supported by documentation.\n\n---\n\n### Workflow (Mandatory for Every Follow-Up)\n\n#### 1. THINK Step (Hidden)\n\nBefore producing any visible output, internally:\n\n* Summarize what the client added or changed in their latest reply.\n* Identify:\n\n  * Newly confirmed facts\n  * New uncertainties or contradictions\n* Decide if you need:\n\n  * **RAG / BunkerWeb docs search**\n  * **Web search** (only for non-BunkerWeb topics)\n* Plan the structure of your reply.\n\nThe content of the THINK step must **never be shown** to the user.\n\n---\n\n#### 2. Updated Agent Understanding\n\nYou must output a structured update of the situation, reflecting the **entire ticket history** and the **latest client reply**.\n\nUse exactly this format:\n\n```md\n## Updated Agent Understanding\n\n### What is now clear\n- [new confirmed facts from the latest client reply]\n- [previous facts that remain valid and relevant]\n- [points verified via BunkerWeb documentation (RAG)]\n\n### Remaining uncertainties\n- [information still missing or ambiguous]\n- [details the client has not yet provided]\n- [assumptions that cannot be confirmed from docs or messages]\n\n### Changes since the previous message\n- [what was clarified or corrected by the latest reply]\n- [any earlier misunderstanding you are now correcting]\n- [any contradictions you have identified]\n```\n\nRules:\n\n* Place items under **What is now clear** only if:\n\n  * directly stated by the client, or\n  * directly supported by BunkerWeb documentation.\n* Any inference or guess must go under **Remaining uncertainties** and be labeled as an assumption if referenced.\n\n---\n\n#### 3. Follow-Up Response Template\n\nThen, generate a **professional, ready-to-send draft** reply that a human agent can review and send to the client.\n\nUse this structure:\n\n```md\n## Follow-Up Response Template\n\n[Polite intro acknowledging the client’s reply]\n\n### Summary of our current understanding\n- [brief recap of the situation, focusing on what is now clear]\n- [do not restate the entire ticket history, only what is relevant]\n\n### Explanation / answers to your latest message\n- [respond directly to the new information or questions from the client]\n- [explain what the official BunkerWeb documentation says, if applicable]\n- [when something is unclear or undocumented, state this explicitly]\n\n### Next recommended steps\n- [only steps that are consistent with BunkerWeb documentation or clearly standard practice]\n- [if a step depends on an assumption, phrase it like:\n  \"If X is the case, then we recommend trying Y.\"]\n\n### Questions to help us move forward\n- [targeted, concrete questions addressing the Remaining uncertainties]\n- [avoid re-asking questions the client has already answered]\n\n### Closing\n- [friendly, concise closing, e.g., thanking them for details and inviting a reply]\n```\n\nAfter the client-facing draft, always append **internal notes for the human agent**:\n\n```md\n### Internal Notes (for the human agent)\n- Confirmed facts:\n  - [...]\n- Uncertainties / assumptions:\n  - [...]\n- Docs referenced (BunkerWeb):\n  - [features/topics/sections you checked via RAG]\n- Suggested next internal actions (if any):\n  - [e.g., consider escalation, reproduce issue, check logs when provided]\n```\n\nThe **Internal Notes** are for internal use; they will not be sent to the client.\n\n---\n\n### Truthfulness & Uncertainty (Critical Rules)\n\nYou must **never invent**:\n\n* Configuration values, log contents, environment details, or version numbers\n* Nonexistent BunkerWeb options, directives, features, or modes\n* Documentation sections, URLs, or behaviors that do not exist\n\nIf BunkerWeb documentation is unclear or does not cover the scenario:\n\n* Clearly state this, for example:\n\n  * “The official BunkerWeb documentation does not describe this exact case.”\n  * “I did not find a specific reference for this behavior in the docs.”\n* Prefer:\n\n  * describing **likely possibilities** (labeled as such), and\n  * asking **clarifying questions**.\n\nWhen you rely on assumptions:\n\n* Clearly mark them as such in:\n\n  * **Remaining uncertainties**\n  * **Next recommended steps** (conditional suggestions)\n* Never present assumptions as confirmed facts.\n\nIf the client’s description appears to contradict known documented behavior:\n\n* State it neutrally:\n\n  * “According to the documentation, X should behave like Y, but you are observing Z.”\n* Ask for additional information (config, logs, environment) rather than forcing a conclusion.\n\n---\n\n### Style & Output Format\n\n* Be **concise**, **technical**, and **helpful**.\n* Use clear, direct language; avoid unnecessary verbosity.\n* Use Markdown headings and bullet points exactly as specified.\n* Never expose:\n\n  * internal planning,\n  * tools used, or\n  * the THINK step content.\n\nFor every reply, your final visible output to the user must follow this exact top-level structure:\n\n```md\n## Updated Agent Understanding\n...\n\n## Follow-Up Response Template\n...\n```\n\nDo not add extra top-level sections outside these two.\n","type":"string"},{"id":"ece7450b-0bf3-4739-b47d-473349332dfb","name":"chatInput","value":"=Ticket's subject: {{ $('PRO tickets events').item.json.body.subject }}\nTicket's priority: {{ $('PRO tickets events').item.json.body.priority }}\nTicket's department: {{ $('PRO tickets events').item.json.body.department.name }}\nClient's message content:\n{{ $('PRO tickets events').item.json.body.message }}","type":"string"},{"id":"6a6371ea-d978-4b44-941f-54dabf77c2dd","name":"sessionId","value":"=panel_ticket_{{ $('PRO tickets events').item.json.body.ticket_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-1056],"id":"e96c3826-1be4-4f4f-b5e3-a308e39cd4fe","name":"Prepare ticket client reply data"},{"parameters":{"operation":"createComment","owner":{"__rl":true,"value":"bunkerity","mode":"name"},"repository":{"__rl":true,"value":"tickets","mode":"name"},"issueNumber":"={{ $('Limit to 1 current ticket').item.json.content.number }}","body":"={{ $('Route output').item.json.output }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2448,-1208],"id":"04a58671-5f29-418a-8dac-22c8478b7849","name":"Write Bot follow-up comment on ticket","webhookId":"ac85dec6-81f9-467f-9427-10df00b8941c","credentials":{"githubApi":{"id":"Pyv1TfRKPoto25s6","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"f513e2ea-9140-4cd3-8ce5-b00daf9aab2f","name":"output","value":"=Panel Agent:\n---\n{{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,-1304],"id":"5bd1c120-08b1-413b-b1e3-e957c9ab07f3","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"143a211b-3cc9-43db-899d-a354b4913962","leftValue":"={{ $json.body.event }}","rightValue":"=^ticket_(reply_(client|admin)|(status|department)_change)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,-800],"id":"ba4192ec-f9cf-47f1-b2ad-a8cad9a06ecf","name":"If approved event"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15d8a0d7-f549-4ec5-9b72-d0a40f6b65ed","leftValue":"={{ $('PRO tickets events').item.json.body.event }}","rightValue":"ticket_reply_client","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[672,-1056],"id":"d76fc884-4f5f-4d1d-8364-3a80b6abb5c1","name":"Is reply from client"},{"parameters":{"jsCode":"const departments = {\n  \"General enquiries\": \"9ffb8a08\",\n  \"PRO support\": \"023da411\",\n  \"Technical support\": \"4e25378c\",\n  \"Custom services\": \"9727faef\"\n}\n\nreturn {\n  \"json\": {\n    \"fields\": [\n      {\n        \"id\": 240968252, // Department\n        \"value\": departments[$('PRO tickets events').first().json.body.department.name]\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-576],"id":"68adc353-a7c4-4d96-aaeb-216b85f5df92","name":"Prepare update department field"},{"parameters":{"jsCode":"const status = {\n  \"Open\": \"f971fb55\",\n  \"Customer-Reply\": \"47fc9ee4\",\n  \"Answered\": \"5ef0dc97\",\n  \"Closed\": \"98236657\"\n}\n\nreturn {\n  \"json\": {\n    \"fields\": [\n      {\n        \"id\": 240962994, // Status\n        \"value\": status[$('PRO tickets events').first().json.body.status_after]\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-792],"id":"c0cba1fe-3aac-409e-89f0-2fa731393f34","name":"Prepare update status field"},{"parameters":{"method":"PATCH","url":"=https://api.github.com/orgs/bunkerity/projectsV2/5/items/{{ $('Limit to 1 current ticket').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"fields","value":"={{ $json.fields }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1448,-696],"id":"17ad739b-b0bd-436d-bff6-1a039320be48","name":"Update ticket fields","credentials":{"httpBearerAuth":{"id":"KNlM2x0oDZALULUa","name":"GitHub - Panel tickets Agent"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"434a062e-576b-446b-aaf9-d4142d8443d7","leftValue":"={{ $('PRO tickets events').item.json.body.status_after }}","rightValue":"Closed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-792],"id":"bdbdbad7-a12f-4020-8e7d-7b0eee8d9436","name":"If updated status is closed"},{"parameters":{"operation":"delete","key":"=panel_ticket_{{ $('PRO tickets events').item.json.body.ticket_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[672,-864],"id":"4e1664b0-1a20-4752-b4b3-d70d2e110bae","name":"Delete agent memory","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}}],"connections":{"PRO tickets events":{"main":[[{"node":"If new ticket","type":"main","index":0}]]},"Route events":{"main":[[{"node":"Write new message from panel in ticket","type":"main","index":0}],[{"node":"If updated status is closed","type":"main","index":0}],[{"node":"Prepare update department field","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"Panel Agent","type":"ai_languageModel","index":0}]]},"Ticket Memory":{"ai_memory":[[{"node":"Panel Agent","type":"ai_memory","index":0}]]},"Prepare ticket opened data":{"main":[[{"node":"Panel Agent","type":"main","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"BunkerWeb documentation","type":"ai_embedding","index":0}]]},"BunkerWeb documentation":{"ai_tool":[[{"node":"Panel Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Panel Agent","type":"ai_tool","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Panel Agent","type":"ai_tool","index":0}]]},"Create ticket issue":{"main":[[{"node":"Initialize new retries","type":"main","index":0}]]},"Cached tickets":{"main":[[]]},"Update new ticket":{"main":[[{"node":"Prepare ticket opened data","type":"main","index":0}]]},"Filter linked card":{"main":[[{"node":"Limit to 1 ticket","type":"main","index":0}]]},"Limit to 1 ticket":{"main":[[{"node":"If ticket is found","type":"main","index":0}]]},"Initialize new retries":{"main":[[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Wait 5 seconds":{"main":[[{"node":"Fetch org tickets - new","type":"main","index":0}]]},"If ticket is found":{"main":[[{"node":"Prepare new fields","type":"main","index":0}],[{"node":"Increment new retries","type":"main","index":0}]]},"Increment new retries":{"main":[[{"node":"Get new retries","type":"main","index":0}]]},"Get new retries":{"main":[[{"node":"If retried to much","type":"main","index":0}]]},"If retried to much":{"main":[[],[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Panel Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Route output":{"main":[[{"node":"Write Bot comment on ticket","type":"main","index":0}],[{"node":"Write Bot follow-up comment on ticket","type":"main","index":0}]]},"Fetch org tickets - new":{"main":[[{"node":"Filter linked card","type":"main","index":0}]]},"Fetch org tickets - reply":{"main":[[{"node":"Limit to 1 current ticket","type":"main","index":0}]]},"Limit to 1 current ticket":{"main":[[{"node":"Route events","type":"main","index":0}]]},"If new ticket":{"main":[[{"node":"Create ticket issue","type":"main","index":0}],[{"node":"If approved event","type":"main","index":0}]]},"Prepare new fields":{"main":[[{"node":"Update new ticket","type":"main","index":0}]]},"Write Bot comment on ticket":{"main":[[]]},"Write new message from panel in ticket":{"main":[[{"node":"Is reply from client","type":"main","index":0}]]},"Prepare ticket client reply data":{"main":[[{"node":"Panel Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Route output","type":"main","index":0}]]},"If approved event":{"main":[[{"node":"Fetch org tickets - reply","type":"main","index":0}]]},"Is reply from client":{"main":[[{"node":"Prepare ticket client reply data","type":"main","index":0}]]},"Prepare update department field":{"main":[[{"node":"Update ticket fields","type":"main","index":0}]]},"Prepare update status field":{"main":[[{"node":"Update ticket fields","type":"main","index":0}]]},"If updated status is closed":{"main":[[{"node":"Delete agent memory","type":"main","index":0}],[{"node":"Prepare update status field","type":"main","index":0}]]},"Delete agent memory":{"main":[[{"node":"Prepare update status field","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"803890aa-b93b-4fd8-8eb3-f88322fec20b","triggerCount":1,"shared":[{"updatedAt":"2025-11-26T13:45:28.563Z","createdAt":"2025-11-26T13:45:28.563Z","role":"workflow:owner","workflowId":"IuwFnCnXd2mc04rk","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"updatedAt":"2025-08-26T13:05:46.387Z","createdAt":"2025-08-26T13:05:46.387Z","id":"KDJm2H5ESMPxJovN","name":"Bunkerity"}]}