workflows/JwkklYwTQf6gYnOT.json
{"updatedAt":"2025-08-14T13:19:43.000Z","createdAt":"2025-08-12T12:20:12.523Z","id":"JwkklYwTQf6gYnOT","name":"Filter processed entries","active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.found}}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[336,16],"id":"3557155e-f510-4975-ba8e-017b3e15e741","name":"Hasn't been processed already"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[112,16],"id":"82795bc2-286c-4429-aa06-3c64b15ced77","name":"Merge"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-384,48],"id":"6b2b0150-ca77-4127-a444-45a7f8cdd984","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","propertyName":"found","key":"=reddit_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-128,144],"id":"ccab3b38-32f1-4923-873c-3174ab7b35b1","name":"Get ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}}],"connections":{"Hasn't been processed already":{"main":[[]]},"Merge":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get ID","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"1hqzuj6","title":"BunkerWeb WAF - Is there any use in the community ?","body":"Hi all,\n\n\nJust discovered BunkerWeb. It had features I was looking for for quite a while (country filtering in my case) but never heard about it until few days ago \n\nI’m wondering : are many people in the community using it ? Is there some advantages/disadvantages from using it ?\n\nTrying to gather some feedbacks around it before adopting it in prod. \n\nThanks\n\nPS : One big downside is the lets encrypt DNS challenge behind a paywall that seems like a hard to justify choice. But http challenge works well enough so I guess that’s acceptable ","permalink":"/r/selfhosted/comments/1hqzuj6/bunkerweb_waf_is_there_any_use_in_the_community/","subreddit":"selfhosted","thumbnail":"","author":"Bright_Mobile_7400","created_utc":1735724583,"over_18":false}},{"json":{"id":"1kgjfui","title":"Self hosted solution for perimeter security (proxy, firewall, etc)","body":"I made a post earlier, but I think it included way too much info and got downvoted to oblivion. I'll try to keep this post targeted on one thing.\n\nI'm planning on moving my Synology NAS from my DMZ to my private network, but I'm not sure if there is an all-in-one self hosted solution for some of the roles it's currently playing.  Specifically, firewall and reverse dns proxy. \n\nI think I can do the reverse dns using nginx, but I'm hoping someone might have a solution that covers all the bases for securing the network perimeter. I'm sure I can wing it and cludge something together, but I'm looking for some guidance so I don't accidentally leave a gaping hole to exploit. It's the classic, \"I don't know what I don't know\" problem.\n\nEDIT: Self-hosted Web Application Firewalls and security tools:\n* [traefik](https://traefik.io/)\n* [bunkerweb](https://www.bunkerweb.io/) - I am leaning towards this one.\n* [coraza](https://coraza.io/)\n* [openappsec](https://www.openappsec.io/)\n* [safeline](https://safepoint.cloud/landing/safeline)\n* [mistborn](https://gitlab.com/cyber5k/mistborn)\n* [OPNSense](https://opnsense.org/)","permalink":"/r/selfhosted/comments/1kgjfui/self_hosted_solution_for_perimeter_security_proxy/","subreddit":"selfhosted","thumbnail":"https://external-preview.redd.it/9jOK_iNDtfaIRNHovxwOKYj7wV-MVEyEe1v-5mbeDwk.jpg?auto=webp&s=646aba1ee584a1160927e6a66dc680ee4da64ace","author":"Hefty-Possibility625","created_utc":1746575341,"over_18":false}},{"json":{"id":"1l400ca","title":"How to block direct IP access and allow only domain access with BunkerWeb?","body":"Hi,\n\nI installed BunkerWeb on a dedicated cloud server and added several services — everything is working fine.\n\nHowever, I’ve noticed some scans and direct access attempts to the server’s IP address (without using a domain name).\n\nIs there a way or best practice to **block direct IP access** using BunkerWeb (or at the proxy level) and force access only through domain names?\n\nThanks in advance for your help!","permalink":"/r/selfhosted/comments/1l400ca/how_to_block_direct_ip_access_and_allow_only/","subreddit":"selfhosted","thumbnail":"","author":"issam04","created_utc":1749132225,"over_18":false}},{"json":{"id":"1lriar8","title":"Show HN: BunkerWeb – the open-source and cloud-native WAF","body":"https://docs.bunkerweb.io/latest/","permalink":"/r/hypeurls/comments/1lriar8/show_hn_bunkerweb_the_opensource_and_cloudnative/","subreddit":"hypeurls","thumbnail":"https://external-preview.redd.it/ev6HcZu_QGY51QWPpLD9qHXDYcuI03P57X-n1Kv_pbA.png?auto=webp&s=bf107a7c949f673a548d8c30c570bf0ee70a9929","author":"TheStartupChime","created_utc":1751634390,"over_18":false}},{"json":{"id":"1jvtwxu","title":"use bunkerweb and traefik together","body":"hello folks  \nhave any of you uses bunkerweb as a front facing reverse proxy and then forwards all the traffic to traefik for  the actual reverse proxy in the homelab   \nTraefik makes use of pihole dns and ssl and anything else.  \nSo in short is there a a tutorial like this ( not  necessarily using traefik and bunkerweb, i can work with any example given)","permalink":"/r/homelab/comments/1jvtwxu/use_bunkerweb_and_traefik_together/","subreddit":"homelab","thumbnail":"","author":"bogdan19adrian","created_utc":1744277952,"over_18":false}},{"json":{"id":"1jbiv86","title":"Matrix Synapse Behind Bunkerweb WAF Help Setting this up is needed!","body":"I Basically was able to connect synapse server with Bunkerweb reverse proxy to the domain but if I try to login or register I get misconfiguration message shown in element and also the secure keys can’t be created also I can’t create any use from the app perspective only if I create it on the machining docker Bunkerweb seem to not allow passthrough of the crucial domain extension grok3 says that resolves it from local not forwards it to the synapse server!","permalink":"/r/selfhosted/comments/1jbiv86/matrix_synapse_behind_bunkerweb_waf_help_setting/","subreddit":"selfhosted","thumbnail":"","author":"No-Initiative4800","created_utc":1741998739,"over_18":false}},{"json":{"id":"1j7cggr","title":"BunkerWeb 1.6.0","body":"Hi all,\n\nI’m trying to deploy BunkerWeb 1.6.0 on my NAS as my intended reverse-proxy solution, but I’m having trouble with the Quickstart Docker Compose yml that is offered via the documentation.   \n\nhttps://docs.bunkerweb.io/latest/quickstart-guide/\n\nMy Docker logs complain that the bw_ui and bw_scheduler containers aren’t connecting to the database container.   The database container says it is refusing ‘unconnected’ user on ‘unauthenticated’ host ‘172.x.x.x’.\n\nIs anyone here familiar with installing BunkerWeb that thinks they might be able to help me sort out getting to the webGUI?\n\nI have a yml for a vanilla NPM install and it’s working fine, but I’m really gunning for some hardened security.   The Dockerized NPM install has no low level config files available to manipulate - I’m limited to the webGUI.\n\nThanks in advance for any tips / guidance.\n\n**Edit:** Made some progress using bind mounts - almost everything connects, and I’m getting successful connections to the database.   Now I just get the error that the scheduler is complaining “Wrong permissions on /data (RWX needed for user nginx with uid 101 and gid 101)”.   I tried to SSH in and apply this, but I’m unsure of the best way to go about it.   Researching…\n\n**Edit 2:**  Trying to work through this on their Discord - they’ve been helpful so far.  Finally got my volume mounts to work properly, and applied proper permissions to what was mounted for “/data”, so the database container connects.   Now it’s just mentioning in the bw_scheduler and bw_ui container logs that the database isn’t initialized.\n\n**Edit 3:**  Added my NAS’s UID:GID as the user for the database container in the Compose - now the database initializes.   Still can’t connect to the setup webUI, though.","permalink":"/r/selfhosted/comments/1j7cggr/bunkerweb_160/","subreddit":"selfhosted","thumbnail":"https://external-preview.redd.it/lBx7uTX1s865ObUY0D-MreDfcHNyTVxQkfKwammhEUY.jpg?auto=webp&s=6f8674fac48d25ebaa3afffedd674fd77751ea97","author":"joegenegreen2","created_utc":1741540730,"over_18":false}},{"json":{"id":"1gx711o","title":"Bunkerweb Reverse Proxy","body":"Gonna give a try to Easy7 as 10G is way to much for us internally.  \nAs we are running some service (which are mostly used by mobile devices on 4/5g) I learned that i have to run a reverse proxy on a cheap vm (wiht ip4/6).  \nSo I want to give a try with Bunkerweb as I think it is more \"secure\" as e.g Nginx Proxy Manager. \n\nIs there any hint how to solve my issue if I want to run through vpn, some synology services (drive &amp; photo) - already tried chatty but did not really work.\n\nSetup I had was on a \"always free tier\" within Oracle Cloud.\n\nThanks for your support","permalink":"/r/init7/comments/1gx711o/bunkerweb_reverse_proxy/","subreddit":"init7","thumbnail":"","author":"Numerous_Scene1966","created_utc":1732279668,"over_18":false}},{"json":{"id":"1hgj5bd","title":"Bunkerweb deploy","body":"Hi there\n\nneed help deploying BunkerWeb.\n\nI get stucked at \"Generating Bunkerweb Config\".\n\nTried the docker-compose from [https://docs.bunkerweb.io/latest/web-ui/](https://docs.bunkerweb.io/latest/web-ui/), no changes, just the password for maria-db","permalink":"/r/selfhosted/comments/1hgj5bd/bunkerweb_deploy/","subreddit":"selfhosted","thumbnail":"https://external-preview.redd.it/X6bHjd9sHf2z-f-QktS4WwuUs2L9Is4iaWATWML-_gQ.jpg?auto=webp&s=82f5e1d8de0e0c7e5e887ca51dbc1c29ac188e9a","author":"dev_milo","created_utc":1734465064,"over_18":false}},{"json":{"id":"1h84rts","title":"Show HN: BunkerWeb – The Open-Source Web Application Firewall (WAF)","body":"https://github.com/bunkerity/bunkerweb","permalink":"/r/hypeurls/comments/1h84rts/show_hn_bunkerweb_the_opensource_web_application/","subreddit":"hypeurls","thumbnail":"https://external-preview.redd.it/B4zHceVy-KNDoHofyfYVlbf5M2qC3cAx6K1BC-lfeUA.jpg?auto=webp&s=37a6e3ae0c38a68a8a807193e20972da8b08b16d","author":"TheStartupChime","created_utc":1733501234,"over_18":false}},{"json":{"id":"1ersecu","title":"Connecting Bunkerweb and Kubernets from diffrent VM","body":"HI.  \nSo here im trying to deploy bunkerweb linux on VM A , and the the Kubernets cluster on VM B.\n\nI already deploy both, but i cant connect the waf from bunkerweb to the web app on kubernets.\n\nIs there any help?","permalink":"/r/BunkerWeb/comments/1ersecu/connecting_bunkerweb_and_kubernets_from_diffrent/","subreddit":"BunkerWeb","thumbnail":"","author":"Round_Ladder3613","created_utc":1723609079,"over_18":false}},{"json":{"id":"1icd3rb","title":"Open-source WAF for Traefik","body":"Hey everyone,\n\nI'm looking for recommendations on a Web Application Firewall for Traefik. My problem with the solutions I've tried so far (ModSecurity, BunkerWeb) is that they are reverse proxies too and don't plug into Traefik properly. The [ModSec plugin for Traefik](https://github.com/acouvreur/traefik-modsecurity-plugin) is a workaround at best (since it uses a dummy container and doesn't send responses through the WAF, as well as breaks file uploads and the Range header).\n\nI've also tried [Coraza](https://github.com/jcchavezs/coraza-http-wasm-traefik) \\- unfortunately it has a broken WASM garbage collector, uses lots of RAM and takes a whole minute to process a single request.\n\nI have considered putting something like BunkerWeb in front of or behind Traefik - that doesn't work either:\n\n* BunkerWeb can't go before Traefik because Traefik does the TLS termination. Maybe it's possible to have BunkerWeb read the `acme.json` file (using a script to convert it to Nginx config) and decrypt the TLS communication? \n* BunkerWeb can't go after Traefik because BunkerWeb doesn't know where to forward the request. It does support the [PROXY protocol](https://docs.bunkerweb.io/latest/quickstart-guide/#proxy-protocol) though. Unfortunately, [Traefik can't output PROXY protocol](https://community.traefik.io/t/http-service-and-proxy-protocol/24623) when using an HTTP service.\n\nDo you know of other ways to hook up Traefik to a WAF? Thanks in advance.","permalink":"/r/selfhosted/comments/1icd3rb/opensource_waf_for_traefik/","subreddit":"selfhosted","thumbnail":"https://external-preview.redd.it/US8Ub5PcB1wWPhwGbYCcXFWf1w9A3IjyyDp2fKtsFqI.jpg?auto=webp&s=41e51772d87b8dd3a84114ec21c0dc567d6811e6","author":"antonlyap","created_utc":1738100289,"over_18":false}},{"json":{"id":"1j69lyw","title":"Multiple Cloudflare tunnels or a single NGINX connected cloudflare tunnel?","body":"I am rapidly putting more and more self hosted services on the internet and I’m thinking more about security. Currently, I have a different cloudflared tunnel for each service. \n\nI just read about the open source WAF BunkerWeb (not available on unraid yet 🙁) and did some research on hardening my web apps. Is it more secure to run everything through an NGINX instance instead of multiple cloudflared docker containers?\n\nTIA for your kind advice. ","permalink":"/r/selfhosted/comments/1j69lyw/multiple_cloudflare_tunnels_or_a_single_nginx/","subreddit":"selfhosted","thumbnail":"","author":"_marvel_movies_suck_","created_utc":1741409597,"over_18":false}},{"json":{"id":"1kg42m6","title":"How can I improve security for my publicly exposed self hosted app?","body":"I selfhosted some service like immich that I share with my families and friends, which I had to keep them publicly exposed, and can't use cloudflared (100mb limits and tos violation), and not going to use vpn either, because the point of immich is supposed to run in the background and backup their photos for them.\n\nCurrently this is my setup, I have an free vps on Oracle with tailscale and haproxy installed, haproxy in tcp mode forwarding raw packet with proxy\\_protocol header via tailscale tunnel to SWAG reverse proxy on my home machine behind gcnat.\n\nI chose not to run reverse proxy on the vps because I want ssl termination happen on my home machine for privacy and trust reasons, I use proxy\\_protocol because I also run crowdsec at my home machine reading the nginx log and running a firewall bouncer at the vps, which get decision from my home machine.\n\nNow while this working so far, I feel like I could do better, which I am trying to get WAF for my publicly exposed app, so far the only one I've tried out is bunkerweb, unfortunately while I can get it work, it just break too easily, sometimes the UI doesn't load, sometimes it doesn't respect the environment variable, sometimes it doesn't save the settings properly, overall it just feels unpolished and the UI/UX are a pain in the ass to use.\n\nIs there any other self hostable WAF that are more stable? And anything else i can do to improve the security?\n\n  \n\\--\n\nI also looked at SafeLine but it seems they lock a bunch of basic features behind paywall..so.","permalink":"/r/selfhosted/comments/1kg42m6/how_can_i_improve_security_for_my_publicly/","subreddit":"selfhosted","thumbnail":"","author":"JosephCY","created_utc":1746536997,"over_18":false}},{"json":{"id":"1lm6wm2","title":"Looking for a free WAF solution for Web Applications on Apache VPS (ARM, multiple domains)","body":"Hi everyone,\n\nI am  looking for a free WAF solution that for a VPS with multiple domains on Apache (ARM). Currently I use Cloudflare (Free version), but it doesn’t really help much against bots or hack attempts. I would need something that..\n\n* works on ARM\n* is relatively easy to configure\n* offers good protection against bots and exploits (not just simple IP blocking)\n* has a graphical user interface to configure settings\n\nI already considered / tried..\n\n* Safeline: nice user interface, but no free version for ARM and also limited free tier\n* BunkerWeb: crappy user interface, counter intuitive to setup and config-heavy\n* Cloudflare Free: not effective enough\n* ModSec: CLI only\n* Openappsec: not compatible with apache\n\nWhat free solutions would you recommend in this situation? Are there any solid free alternatives with a graphical user interface (self-hosted or cloud)?\n\nThanks a lot for your advice and help!\n\n  \nUPDATE: \n\nI decided on CrowdSec together with ModSecurity, since it’s very easy to install and it natively integrates into my existing Apache infrastructure. I use it together with the CrowdSec Console and the firewall package so i get at least a basic GUI for detection and blocking decisions.\n\nOther lesser known alternatives I found during my research (but didn’t test myself):\n\n* uuWAF (Safe3), has a nice modern GUI, works on ports 80/443, and claims better accuracy than ModSecurity and Cloudflare. \n* HaltDos Community WAF, offers a full GUI-based configuration.","permalink":"/r/software/comments/1lm6wm2/looking_for_a_free_waf_solution_for_web/","subreddit":"software","thumbnail":"","author":"WorthDetective5912","created_utc":1751062932,"over_18":false}},{"json":{"id":"1kqg96g","title":"Reverse Proxy with WAF and network monitoring","body":"I'm currently self-hosting several services and looking to harden my setup. I already use Nginx Proxy Manager (NPM) with wildcard Let's Encrypt certs, but I'm thinking of moving to something more robust with:\n\n* A proper WAF (Web Application Firewall)\n* Deep network monitoring (ideally per-container or per-service)\n* Possibly some bot protection and anomaly detection (ai scrapping is annoying)\n\nI've looked into Traefik, BunkerWeb, and Pangolin. Each has pros and cons, BunkerWeb seems WAF-ready, but has some limitations (SSL setup is nightmare). Traefik is very flexible, but I’d need to add middleware myself (also runing non docker services). Pangolin looks great but werent able to get it work in my setup.\n\nMain goals:\n\n* Secure exposure of HTTP(S) services (wildcard certs with Cloudlfare)\n* Easy rules for blocking bad IPs or patterns\n* Optional: rate-limiting, automatic fail2ban-style bans\n* Bonus: nice dashboard or at least logs that make sense\n\nI also have a mix of Docker and bare metal services, so proxying non-container stuff cleanly is important.\n\nMy final goal is setup like this: OVH (Reverse Proxy - Firewall) - Tailscale - Hetzner Server)  \n","permalink":"/r/selfhosted/comments/1kqg96g/reverse_proxy_with_waf_and_network_monitoring/","subreddit":"selfhosted","thumbnail":"","author":"Madiator2011","created_utc":1747672514,"over_18":false}},{"json":{"id":"1hulkj7","title":"WAF + Reverse Proxy recommendation for some websites","body":"Hi all selfhosters.\n\nI'm currently hosting some websites to the public with this current setup:\n\n\\- Cloudflare in front of everything\n\n\\- Nginx Proxy Manager\n\n\\- PHP-FPM + Apache Containers\n\n\\- 8G Firewall rules on .htaccess\n\n  \nBIG PREMISE: I'm often target of web attacks.\n\nSaid so, I tried with many tools out there (e.g. Nessus, Nikto and ZAPROXY) to check for vulnerabilities and I must say websites I'm hosting seem fine with it.\n\n  \nHowever I feel Nginx Proxy Manager is bottlenecking me. Don't get me wrong, even under DDoS attacks before Cloudflare mitigation kicks in, it performs really well.\n\n  \nSaid so, I believe it is missing many important features, like inbuilt bot protection, malicious patterns, rate limiting, geo blocking etc etc.\n\n  \nSome time ago I tried openappsec with NPM integration. Everything worked fine, except that when under DDoS attack it was draining all the resources and literally making unresponsive the whole host (attacks with similar power with vanilla NPM were draining at most 20-30% of my VPS resources). For this reason, I decided to abandon it.\n\n  \nNow I would like to ask you, what do you use as WAF / Reverse Proxy for your public applications if security and stability is your top priority?\n\n  \nI was reading about BunkerWeb, SafeLine or uuWAF which all seem interesting, has any of you tried them? Are they \"light\"? I see their compose files are relying on multiple containers, doesn't that make them heavier and resource dependant?","permalink":"/r/selfhosted/comments/1hulkj7/waf_reverse_proxy_recommendation_for_some_websites/","subreddit":"selfhosted","thumbnail":"","author":"NaZGuL_of_Mordor","created_utc":1736122143,"over_18":false}},{"json":{"id":"1ihqke8","title":"Session on authelia question","body":"HI\n\nI was wondering if someone could shed some light, currently sometimes authelia keeps appearing even if the 24 hours has not finished, im not sure if its an nginx issue or authelia config\n\nthis is the config\n\ni was reading a bit [https://www.authelia.com/configuration/session/introduction/](https://www.authelia.com/configuration/session/introduction/)\n\nbut in this example would this apply for all domains? \n\n\n\n`session:`\n\n  `name: authelia_session`\n\n  `secret: somerandomsecret # Change this to a random string`\n\n  `expiration: 24h`\n\n  `inactivity: 24h`\n\n  `domain:` [`domain.com`](http://domain.com)\n\nim currently using bunkerweb to reverse proxy, but not sure ifs a cookie issue?\n\nThanks\n\n","permalink":"/r/selfhosted/comments/1ihqke8/session_on_authelia_question/","subreddit":"selfhosted","thumbnail":"","author":"killmasta93","created_utc":1738698459,"over_18":false}},{"json":{"id":"1h1q6li","title":"Stuck at the last hurdle...","body":"I just started looking into WAF and app protection so I am a noob. Apologies upfront if this has an obvious answer.\n\nI implemented BunkerWeb on a Ubuntu server, Docker environment via Portainer. The reverse proxy portion was working from the compose file until I started adding the UI. I changed the file to add the UI to the stack and now I am staring at a \"Generating BunkerWeb config file\" since yesterday. I also added this [https://github.com/Tecnativa/docker-socket-proxy](https://github.com/Tecnativa/docker-socket-proxy) from the Web UI manual on the BunkerWeb page. Did that break something?\n\nThis is my compose file:\n\nservices:\n\n  bunkerweb:\n\ncontainer\\_name: bunkerweb\n\nimage: bunkerity/bunkerweb:1.6.0-beta\n\nports:\n\n\\- 80:8080\n\n\\- 443:8443\n\nvolumes:\n\n\\- bw-data:/data\n\n\\- bw-confs:/etc/nginx\n\nenvironment:\n\n\\- \"API\\_WHITELIST\\_IP=127.0.0.0/8 192.168.0.0/24 10.20.30.0/24\"\n\n\\- MULTISITE=yes\n\n\\- SERVER\\_NAME=home.company.local portainer.company.local remotely.company.local bwadm.company.local\n\n\\- USE\\_UI=yes\n\n\\- USE\\_REVERSE\\_PROXY=yes\n\n\\- REVERSE\\_PROXY\\_URL=/\n\n\\- home.company.local\\_REVERSE\\_PROXY\\_HOST=http://192.168.0.110:3550\n\n\\- portainer.company.local\\_REVERSE\\_PROXY\\_HOST=http://192.168.0.110:9000\n\n\\- remotely.company.local\\_REVERSE\\_PROXY\\_HOST=http://192.168.0.110:5371\n\n\\- bwadm.company.local\\_REVERSE\\_PROXY\\_HOST=https://bunkerweb\\_ui:7000\n\n\\- \"bwadm.company.local\\_REVERSE\\_PROXY\\_HEADERS=X-Script-Name /changeme\"\n\n\\- bwadm.company.local\\_REVERSE\\_PROXY\\_INTERCEPT\\_ERRORS=no\n\nlabels:\n\n\\- \"bunkerweb.UI\"\n\n\\- \"bunkerweb.INSTANCE=yes\"\n\nnetworks:\n\n\\- bw-universe\n\n\\- bw-services\n\n\n\n  bunkerweb\\_ui:\n\nimage: bunkerity/bunkerweb-ui:1.6.0-beta\n\ndepends\\_on:\n\n\\- bw-docker\n\nnetworks:\n\n\\- bw-universe\n\n\\- bw-docker\n\nvolumes:\n\n\\- bw-data:/data\n\n\\- bw-confs:/etc/nginx\n\nenvironment:\n\n\\- DOCKER\\_HOST=tcp://bw-docker:2375\n\n\\- ADMIN\\_USERNAME=admin\n\n\\- ADMIN\\_PASSWORD=\\[somepassword\\]\n\n\\- ABSOLUTE\\_URI=https://bwadm.company.local/changeme/ \\[will fix this eventually\\]\n\n\n\n  bw-scheduler:\n\nimage: bunkerity/bunkerweb-scheduler:1.6.0-beta\n\ndepends\\_on:\n\n\\- bunkerweb\n\n\\- bw-docker\n\nvolumes:\n\n\\- bw-data:/data\n\nenvironment:\n\n\\- DOCKER\\_HOST=tcp://bw-docker:2375\n\nnetworks:\n\n\\- bw-universe\n\n\\- bw-docker\n\n\n\n  bw-docker:\n\nimage: tecnativa/docker-socket-proxy:nightly\n\nvolumes:\n\n\\- /var/run/docker.sock:/var/run/docker.sock:ro\n\nenvironment:\n\n\\- CONTAINERS=1\n\n\\- LOG\\_LEVEL=warning\n\nnetworks:\n\n\\- bw-docker\n\n\n\nvolumes:\n\n  bw-data:\n\ndriver: local\n\ndriver\\_opts:\n\ntype: nfs\n\no: addr=192.168.0.3,nfsvers=4\n\ndevice: :/volume1/docker/bunkerweb/bw-data\n\n\n\n  bw-confs:\n\ndriver: local\n\ndriver\\_opts:\n\ntype: nfs\n\no: addr=192.168.0.3,nfsvers=4\n\ndevice: :/volume1/docker/bunkerweb/bw-confs\n\n\n\nnetworks:\n\n  bw-universe:\n\nname: bw-universe\n\nipam:\n\ndriver: default\n\nconfig:\n\n\\- subnet: [10.20.30.0/24](http://10.20.30.0/24)\n\n  bw-services:\n\nname: bw-services\n\n  bw-docker:\n\nname: bw-docker\n\n\n\nGrateful if someone can have a look and let me know what I am doing wrong.\n\nCheers.","permalink":"/r/BunkerWeb/comments/1h1q6li/stuck_at_the_last_hurdle/","subreddit":"BunkerWeb","thumbnail":"https://external-preview.redd.it/o6heYlb9piH6eWxznzpzNk7cjHsKimW34Fuj6o2QZb0.jpg?auto=webp&s=5e34172c44e3a25820db5b542a55a869023561f2","author":"osmoonlight","created_utc":1732776996,"over_18":false}},{"json":{"id":"1hv4z91","title":"Reverse Proxy with Protection : A Question","body":"Hi All,\n\nFor a couple years now I've been running NGINX Proxy Manager as my reverse proxy, and added access lists to allow 192.168.0.0/24, however if the source is not within that subnet, it prompts for a user/pass. I've been using this to protect some of my services which I don't want exposed to the general public, but still want to access (when sometimes I may not have the ability to VPN into my network). Things like Sonarr/Radarr, and also a few other things - despite them having logins of their own, I wanted another layer of security.\n\nI feel I'm doing this wrong and there's a better solutions, but I just don't know what that is.\n\nHere's the layout...  \n\n- My own domains  \n- DNS through Cloudflare  \n- Port 80 &amp; 443 port forwards on firewall to reverse proxy  \n- Various services then hosted on a handful of VMs/etc internally on my trust lan.   \n- Want to access these things from the same subnet via hostname (ie: https://service1.myname.com, https://service2.myname.com, etc, etc) but when external, I want some of them to selectively have an additional layer of security.  \n\nI know there must be a best practice here, but I'm simply missing it. I'd really prefer not to have to VPN in (tailscale, wireguard, etc) as I may not have access to using a client in some cases, and be on a friend's computer, etc. For example, my \"todo\" list on Vikunja, I'd prefer not to have it exposed directly to the Internet, but behind a secondary login before I get to the primary login screen for that service.\n\nI've yet to really play with other reverse proxies such as Traefik / Caddy / etc, but have also considered using some sort of a WAF for this, as well. BunkerWeb is interesting, but I'm a little cheesed at the lack of LetsEncrypt certificates being part of it.\n\nLooking for some suggestions from the community, perhaps there's something I've drastically overlooked. \n\nThank you.","permalink":"/r/homelab/comments/1hv4z91/reverse_proxy_with_protection_a_question/","subreddit":"homelab","thumbnail":"","author":"ilovedillpickles","created_utc":1736185750,"over_18":false}},{"json":{"id":"1ervt6e","title":"confusion about Nextcloud AIO revers proxy mode","body":"so i try to setup a Nextcloud AIO, docker compose files are running fine and i get a webpage of Nextclound in ip:8080 on local network.\n\ngot the passphrase thing as well and im on the page where i get to insert the domain name\n\nhttps://preview.redd.it/e0d93lwy3lid1.png?width=545&amp;format=png&amp;auto=webp&amp;s=db06c047eb2bbde5c9794145534dbbe71715d4ce\n\nthat [NCsite.example.com](http://NCsite.example.com) (well the true domain, not example) has valid A record attached. on firewall the 443 is connected to PFsence internal HAproxy that manages certificates and backend is connected to httpd server and i get a \"it works message\". so the piping is ok.\n\nbut im failing to understand why it does not work for this AIO setup. right now i have not set the AIO IP to the backend config, as i dont want the setup part to be exposed to the public network. also setup talks about 443 but right now im on 8080, so what does it want me to connect on that part? and as im already using valid lets encrypt cert on that https connection, why does Nextcloud want to do anything whit it? its already there.\n\nim failing to understand this \"logic\" here..\n\nend result would be connection to HAproxy &gt; bunkerweb WAF &gt; nextcloud server. but all i can see is nextcloud does not like that idea.","permalink":"/r/NextCloud/comments/1ervt6e/confusion_about_nextcloud_aio_revers_proxy_mode/","subreddit":"NextCloud","thumbnail":"","author":"Larnork","created_utc":1723621961,"over_18":false}},{"json":{"id":"1fxaq0c","title":"Engine activity","body":"What is the meaning of the \"*Last viewed*\", \"*Last status sync*\" and \"*Last signal sync*\" times in the console? And why are *status* and *signal* updated more or less frequently while *viewed* can be almost 24h behind if not completely stopped? I see this happening with the iptables bouncer and the bunkerweb bouncer, one installed as a systemd service and the other one as a container on different servers.","permalink":"/r/CrowdSec/comments/1fxaq0c/engine_activity/","subreddit":"CrowdSec","thumbnail":"","author":"jj_reds","created_utc":1728197972,"over_18":false}}]},"versionId":"5b259b7d-faee-4a52-9e77-37173c4a5864","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"JwkklYwTQf6gYnOT","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"updatedAt":"2025-08-13T11:33:42.562Z","createdAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"}]}