workflows/L6y6rJQpuykHBof0.json
{"updatedAt":"2025-08-26T14:24:48.000Z","createdAt":"2025-08-26T14:23:02.565Z","id":"L6y6rJQpuykHBof0","name":"Daily workflows backup","active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-944,-64],"typeVersion":1,"id":"75b18dad-30bb-42d9-b476-7c6eb7b9989a"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[-496,96],"typeVersion":1,"id":"6da32a9d-f5ed-4f33-8e67-5c7a1018fe7b"},{"parameters":{"url":"http://localhost:8443/rest/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[-640,96],"typeVersion":1,"id":"e66dd489-1feb-460a-849f-19087a49d4b1"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[-144,-80],"typeVersion":1,"alwaysOutputData":true,"id":"0c91cc95-838e-4ba0-9f17-a3b23a5934cf","webhookId":"58ab5adb-e300-437f-9b28-e7aabd18f6b7","credentials":{"githubApi":{"id":null,"name":"GitHub"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[64,96],"typeVersion":1,"id":"3e7d43c6-556e-47ef-8bc1-1ca9db353991"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[-144,256],"typeVersion":1,"id":"672ea366-c061-4e5c-bdc8-7533f282b9fa"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[368,96],"typeVersion":1,"id":"91590c91-8090-4498-a0fe-eaf2598ff59d"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[560,-80],"typeVersion":1,"id":"f87c4950-7780-482c-aa58-57504372fa1a"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[560,96],"typeVersion":1,"id":"ceea0633-83f0-408c-b864-7ec3e05fd519"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[560,256],"typeVersion":1,"id":"15642e72-6112-4bc7-b80b-ffd194b6b107"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[768,-32],"typeVersion":1,"id":"fa9bf0d7-1e9e-4790-a274-dd095c314549","webhookId":"f8a8f60a-a34d-4113-b332-3d95994e1c3e","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[768,256],"typeVersion":1,"id":"83fceae0-391f-4a15-aad2-c9a162fd8eee","webhookId":"71671b82-fe43-4581-b58b-281233b488f1","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[208,96],"typeVersion":1,"id":"8e059885-b5d1-4bf3-a1b7-8140867b1398"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-944,240],"typeVersion":1,"id":"86d50463-55e7-4d9a-8d4b-47a8823baeb1"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[-352,96],"typeVersion":1,"id":"778fa587-9d73-4ce9-9490-f6d407b9dab6"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"octocat"},{"name":"repo.name","value":"Hello-World"},{"name":"repo.path","value":"my-team/n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[-800,96],"typeVersion":1,"id":"324ce67c-d246-45bb-9deb-ab4760c39fef"}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2008b9b0-cf2b-4748-9f2a-119a756e5279","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"L6y6rJQpuykHBof0","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":null,"tags":[]}