workflows/lMrQqLhHWB1uziTB.json
{"createdAt":"2025-08-18T10:55:06.659Z","updatedAt":"2025-08-18T12:44:15.000Z","id":"lMrQqLhHWB1uziTB","name":"Check if BunkerWeb is trending on GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,-104],"id":"facfbc63-7bb6-4c35-95f0-5f20d6ef7188","name":"Hourly"},{"parameters":{"url":"=https://github.com/trending/python?since=daily&spoken_language_code","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-176],"id":"b8eb3fff-a05d-4657-8389-33daffb0ee9f","name":"Fetch python trending"},{"parameters":{"url":"=https://github.com/trending?since=daily&spoken_language_code","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,16],"id":"7c6cb832-94d8-47f2-a641-10fc8b0bcbc8","name":"Fetch global trending"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"is_python_trending","cssSelector":"article h2 a[href=\"/bunkerity/bunkerweb\"]"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-64,-176],"id":"7ef7ee16-0442-4383-8334-b4f3218bf078","name":"Search for BunkerWeb - python"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"is_global_trending","cssSelector":"article h2 a[href=\"/bunkerity/bunkerweb\"]"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-64,16],"id":"35a53588-13b7-407c-9da0-8a2e9ec6ce8d","name":"Search for BunkerWeb - global"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c10b96cb-13ca-4f97-b924-662e11a9c9fc","leftValue":"={{ $json.is_python_trending }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"79570725-2c26-4ffd-a1ef-5d9741526032","leftValue":"={{ $json.is_global_trending }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-104],"id":"6a3f063a-a0aa-406f-ba6e-4c37f6bec7d8","name":"If is trending"},{"parameters":{"jsCode":"return [\n  {\n    json: $input.all().reduce((acc, item) => {\n      for (const [key, value] of Object.entries(item.json)) {\n        acc[key] = value ? true : false;\n      }\n      return acc;\n    }, {})\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-104],"id":"f9ab6847-1ce9-4c21-8ee4-051d4bb2c410","name":"Merge results"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[160,-104],"id":"3cb6079d-9b3c-4b4e-a873-119f4e825ca1","name":"Merge extracts"},{"parameters":{"operation":"get","propertyName":"is_already_trending_global","key":"github_trending_global","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,88],"id":"961e58e5-7ae7-4471-a1ab-0beb13db283b","name":"Check if is already trending globally","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"is_already_trending_python","key":"github_trending_python","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,-104],"id":"d350320d-1078-4d38-bc41-2a474584d790","name":"Check if is already trending python","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1056,-120],"id":"ee376cea-053c-48e7-b9ad-b958677adc9b","name":"Merge all"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c998d0e2-8dc2-44b4-87fe-209a43abf247","leftValue":"={{ $json.is_already_trending_global }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"949f714f-ce17-4a38-8e8e-afd475414f66","leftValue":"={{ $json.is_global_trending }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1280,16],"id":"ff7f3241-e777-47fe-9174-b5b1264b9334","name":"Is global trending - no cache"},{"parameters":{"operation":"set","key":"github_trending_python","value":"1","expire":true,"ttl":"={{ $now.plus(1 'day').plus(6, 'hour').format('yyyy-MM-dd').toDateTime().toSeconds() - $now.toSeconds().round() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1504,-176],"id":"5a75f82b-785a-406e-8dc8-3b5ac7e6a951","name":"Set Python trending for today","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"set","key":"github_trending_global","value":"1","expire":true,"ttl":"={{ $now.plus(1 'day').plus(6, 'hour').format('yyyy-MM-dd').toDateTime().toSeconds() - $now.toSeconds().round() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1504,16],"id":"9e169c7c-b2d0-405b-be7f-63f8c0b18307","name":"Set Global trending for today","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"authentication":"webhook","content":"<:bunkerocket:1068207238679908383> @everyone BunkerWeb is currently trending in Python !\n<https://github.com/trending/python?since=daily&spoken_language_code>","options":{"wait":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1728,-176],"id":"a5f76f05-c6c5-4365-b0c1-f42828cd5783","name":"Alert Python","webhookId":"2e6589e8-bc05-4f1e-8623-e83716275502","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"yW8G1HkO7qOSi5Op","name":"Discord Webhook com alerts"}}},{"parameters":{"authentication":"webhook","content":"<:bunkerocket:1068207238679908383> @everyone BunkerWeb is currently trending !\n<https://github.com/trending?since=daily&spoken_language_code>","options":{"wait":true}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1728,16],"id":"5880f492-7c99-4937-be9b-e138d4c4b050","name":"Alert Global","webhookId":"2e6589e8-bc05-4f1e-8623-e83716275502","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"yW8G1HkO7qOSi5Op","name":"Discord Webhook com alerts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c998d0e2-8dc2-44b4-87fe-209a43abf247","leftValue":"={{ $json.is_already_trending_python }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"949f714f-ce17-4a38-8e8e-afd475414f66","leftValue":"={{ $json.is_python_trending }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1280,-176],"id":"b5f3d084-46cc-4ee9-b46a-e57c04b02854","name":"Is python trending - no cache"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-400],"id":"234d3c27-0a3b-42cb-a3c1-6e07a5d6cd4f","name":"Clear cache"},{"parameters":{"operation":"delete","key":"github_trending_python"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-400],"id":"a3fa5852-09ba-47e6-831c-f7854deadf2e","name":"Clear Python trending","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"delete","key":"github_trending_global"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-64,-400],"id":"f0640597-fe82-4166-a525-5f2069782ae9","name":"Clear Global trending","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}}],"connections":{"Hourly":{"main":[[{"node":"Fetch python trending","type":"main","index":0},{"node":"Fetch global trending","type":"main","index":0}]]},"Search for BunkerWeb - python":{"main":[[{"node":"Merge extracts","type":"main","index":0}]]},"Search for BunkerWeb - global":{"main":[[{"node":"Merge extracts","type":"main","index":1}]]},"Merge extracts":{"main":[[{"node":"Merge results","type":"main","index":0}]]},"Merge results":{"main":[[{"node":"If is trending","type":"main","index":0}]]},"If is trending":{"main":[[{"node":"Check if is already trending python","type":"main","index":0},{"node":"Check if is already trending globally","type":"main","index":0},{"node":"Merge all","type":"main","index":0}],[]]},"Check if is already trending globally":{"main":[[{"node":"Merge all","type":"main","index":2}]]},"Check if is already trending python":{"main":[[{"node":"Merge all","type":"main","index":1}]]},"Merge all":{"main":[[{"node":"Is global trending - no cache","type":"main","index":0},{"node":"Is python trending - no cache","type":"main","index":0}]]},"Is global trending - no cache":{"main":[[{"node":"Set Global trending for today","type":"main","index":0}]]},"Set Python trending for today":{"main":[[{"node":"Alert Python","type":"main","index":0}]]},"Set Global trending for today":{"main":[[{"node":"Alert Global","type":"main","index":0}]]},"Is python trending - no cache":{"main":[[{"node":"Set Python trending for today","type":"main","index":0}]]},"Fetch python trending":{"main":[[{"node":"Search for BunkerWeb - python","type":"main","index":0}]]},"Fetch global trending":{"main":[[{"node":"Search for BunkerWeb - global","type":"main","index":0}]]},"Clear cache":{"main":[[{"node":"Clear Python trending","type":"main","index":0}]]},"Clear Python trending":{"main":[[{"node":"Clear Global trending","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Hourly":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf9450fa-7483-4bc2-b833-95eeca0a0920","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"lMrQqLhHWB1uziTB","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}