workflows/n8n_backups.json
{"createdAt":"2025-08-26T14:25:37.017Z","updatedAt":"2025-08-26T14:43:55.000Z","id":"DbGe6X9qPlQqyROs","name":"n8n backups","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,-240],"id":"863ede82-6bf5-440d-a899-5b0786a84f05","name":"Manual backup"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,96],"id":"31fc17b4-daa2-4ae9-9406-19d8475f9a78","name":"Every day at 8pm"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-176,-32],"id":"7f7220ad-1c0d-4d6f-badc-e41eece39868","name":"Get all workflows","credentials":{"n8nApi":{"id":"dIz8CYuPAdejfXj4","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,-144],"id":"0135fc99-6d81-402a-aa86-3a5d876b883c","name":"Loop Over workflows"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"=workflows/{{$json[\"name\"]}}.json","binaryPropertyName":"github_workflow","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,176],"id":"1ec86314-7df7-4fb7-88fb-7770fa7a0ed2","name":"Get workflow file","webhookId":"5b5958c1-c232-4ec5-a37e-4107ac7284f0","alwaysOutputData":false,"credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}}},{"parameters":{"operation":"toJson","binaryPropertyName":"workflow","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[384,-64],"id":"23fb376e-9126-43d7-a6d6-ed7c667eeeed","name":"Convert to JSON"},{"parameters":{"type":"SHA256","binaryData":true,"binaryPropertyName":"workflow","dataPropertyName":"workflow_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[592,-64],"id":"75029d9c-8662-4a65-8b1d-b459de4f38fe","name":"Get workflow hash"},{"parameters":{"type":"SHA256","binaryData":true,"binaryPropertyName":"workflow","dataPropertyName":"workflow_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[800,176],"id":"ac4700d2-9fe6-4df9-9e94-f15f81f37147","name":"Get github_workflow hash"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,288],"id":"99312c81-4a6f-435f-9295-e7e4bf56318c","name":"Merge"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-96,304],"id":"766f2b2d-63e4-4836-89ad-d035b1f14c4d","name":"List saved workflow files","webhookId":"5b5958c1-c232-4ec5-a37e-4107ac7284f0","alwaysOutputData":false,"credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"TheophileDiot","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/TheophileDiot/n8n-backups"},"filePath":"=workflows/{{ $json.name.replaceAll(\" \", \"_\") }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=[N8N Backup] {{ $json.name.replaceAll(\" \", \"_\") }}.json (created)"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[848,-240],"id":"2d0c5a86-7b7a-413f-a32f-c04dd6986e7f","name":"Create workflow file","webhookId":"21fb42ca-24b5-4b7d-a990-d7f98d2b44f9","credentials":{"githubApi":{"id":"xNuogy2ngtyU6pYm","name":"GitHub - n8n-backups"}}}],"connections":{"Manual backup":{"main":[[{"node":"Get all workflows","type":"main","index":0}]]},"Every day at 8pm":{"main":[[{"node":"Get all workflows","type":"main","index":0}]]},"Get all workflows":{"main":[[{"node":"Loop Over workflows","type":"main","index":0}]]},"Loop Over workflows":{"main":[[],[{"node":"Create workflow file","type":"main","index":0}]]},"Get workflow file":{"main":[[{"node":"Get github_workflow hash","type":"main","index":0}]]},"Convert to JSON":{"main":[[{"node":"Get workflow hash","type":"main","index":0}]]},"List saved workflow files":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day at 8pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ff072fa-c4f0-4ef5-9ef3-086e22cc71f8","triggerCount":1,"tags":[{"createdAt":"2025-08-13T11:33:42.562Z","updatedAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"}]}