workflows/nOFD8QjnWUWFrmhm.json
{"createdAt":"2025-08-23T11:48:24.136Z","updatedAt":"2025-09-22T07:19:46.843Z","id":"nOFD8QjnWUWFrmhm","name":"Search BunkerWeb through YouTube","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1328,-512],"id":"918bfea3-d5cb-4bdb-8efb-a46e55cbdc4e","name":"Hasn't been processed already"},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=lobster_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1776,-432],"id":"c59b7115-89d7-48fc-8c8d-5be49fd747b6","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1552,-512],"id":"2a6a1b67-0184-4bab-8a06-4f75ccf68c2a","name":"Merge cached response and entity"},{"parameters":{"content":"## 💾 Filter already processed statuses.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1824,-624],"typeVersion":1,"id":"fa820da7-db94-4da6-8d5e-5ffce30883a9","name":"Sticky Note3"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-880,-512],"id":"aa459138-5638-4944-b927-2f32836f08e2","name":"Sort by creation date"},{"parameters":{"authentication":"webhook","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.title }}\nsource: {{ $json.url }}","author":"={{ $json.author }}","color":"#5b0000","timestamp":"={{ $json.created_at }}","title":"🦞 New Lobster hit!","url":"={{ $json.short_url }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-432,-512],"id":"4c24ed46-3515-41cc-98d9-da54b94f98be","name":"Alert discord","webhookId":"2696bfde-5a23-495d-bf4d-468e031dde14","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"2oqKEjJqfEfwORxZ","name":"Discord Webhook social alerts"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-656,-512],"id":"4b9b70df-a3c8-4200-a588-6e7446246a48","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,-512],"id":"ca8d6bc5-d9f7-4bd0-b7fc-c44a1ee77072","name":"Wait 1 second","webhookId":"8f723f74-4dd9-4a5b-b702-04262537ed11"},{"parameters":{"content":"## 📨 Inform the Bunker team on Discord and save processed entities in the cache","height":352,"width":1136,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-736,-704],"typeVersion":1,"id":"23999e30-9582-4e9a-8d14-fc9c8359544c","name":"Sticky Note2"},{"parameters":{"operation":"set","key":"=lobster_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ DateTime.fromSeconds(0).plus(1, \"month\").toSeconds() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,-576],"id":"795a88e0-fecf-4bc2-b8b0-ac95a6306623","name":"Save processed ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"955d62d6-8516-4ba3-85ff-1c9d16cc679c","name":"created_at","value":"={{ DateTime.fromISO($json.created_at) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,-512],"id":"c3e4cc2e-5169-4023-85e5-64a86652a55c","name":"Convert date string to datetime"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-208,-576],"id":"cc655d4e-4dd2-4aa4-91a2-e7cf7f89a305","name":"Merge tweet data with discord response"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2448,-208],"id":"38395199-79b9-4f58-bfa7-d7c82e3931fa","name":"Clear processed IDs"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,-208],"id":"8a2dbafd-10d2-4ede-8b85-fbb897b32a95","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1776,-208],"id":"b5236303-2dd0-4c2d-b529-306daf2dd085","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2448,-512],"id":"bc0791a1-2861-4d21-9f53-f881ee54baf2","name":"Every hour"},{"parameters":{"operation":"keys","keyPattern":"lobster_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2224,-208],"id":"05f08264-5967-47a1-83a5-14b0ef288ca5","name":"Get all lobster_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"url":"https://lobste.rs/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"\"BunkerWeb\""},{"name":"order","value":"newest"},{"name":"what","value":"stories"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2224,-752],"id":"e0218ae8-32f8-4c45-a40b-1d13e4fb9b70","name":"Search BunkerWeb in Lobsters"},{"parameters":{"jsCode":"// n8n Code node — robust Lobsters search HTML parser\n\nfunction getHtml(item) {\n  const j = item.json ?? item;\n  if (typeof j === 'string') return j;\n  if (typeof j?.body === 'string') return j.body;\n  if (typeof j?.data === 'string') return j.data;\n  throw new Error('No HTML string found (expected raw string, json.body, or json.data)');\n}\n\nfunction decodeEntities(str = '') {\n  return str\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>').replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n}\nfunction stripTags(s = '') { return s.replace(/<[^>]*>/g, ''); }\nfunction textify(s = '') { return decodeEntities(stripTags(s)).trim(); }\n\nfunction firstMatch(re, s) { const m = re.exec(s); return m ? m[1] : null; }\nfunction allMatches(re, s) { const out=[]; let m; while ((m = re.exec(s))) out.push(m[1]); return out; }\n\nfunction toIso(dt) {\n  if (!dt) return null;\n  // Accept \"YYYY-MM-DD HH:mm:ss±HHMM\" → convert to \"YYYY-MM-DDTHH:mm:ss±HH:MM\"\n  const m = /^(\\d{4}-\\d{2}-\\d{2})[ T](\\d{2}:\\d{2}:\\d{2})([+-]\\d{2})(\\d{2})$/.exec(dt);\n  if (m) return `${m[1]}T${m[2]}${m[3]}:${m[4]}`;\n  try { return new Date(dt).toISOString(); } catch { return dt; }\n}\n\nconst BASE = 'https://lobste.rs';\nconst out = [];\n\nfor (const item of $input.all()) {\n  const html = getHtml(item);\n\n  // Match each story including its opening <li ...> tag\n  const reStory = /(<li[^>]*class=\"[^\"]*\\bstory\\b[^\"]*\"[^>]*>)([\\s\\S]*?)<\\/li>/gi;\n  let m;\n  while ((m = reStory.exec(html))) {\n    const openTag = m[1];\n    const block = m[2];\n\n    // id from opening tag\n    let id = firstMatch(/data-shortid=\"([^\"]+)\"/i, openTag);\n\n    // title + url\n    const urlHref = firstMatch(/<a[^>]*class=\"[^\"]*\\bu-url\\b[^\"]*\"[^>]*href=\"([^\"]+)\"/i, block);\n    const titleHtml = firstMatch(/<a[^>]*class=\"[^\"]*\\bu-url\\b[^\"]*\"[^>]*>([\\s\\S]*?)<\\/a>/i, block);\n    const title = textify(titleHtml);\n\n    // domain\n    const domain = textify(firstMatch(/<a[^>]*class=\"[^\"]*\\bdomain\\b[^\"]*\"[^>]*>([\\s\\S]*?)<\\/a>/i, block));\n\n    // points (support either <a class=\"upvoter\">15</a> or <span class=\"score\">15</span>)\n    let points = parseInt(firstMatch(/<a[^>]*class=\"[^\"]*\\bupvoter\\b[^\"]*\"[^>]*>(\\d+)<\\/a>/i, block) ?? 'NaN', 10);\n    if (!Number.isFinite(points)) {\n      points = parseInt(firstMatch(/<span[^>]*class=\"[^\"]*\\bscore\\b[^\"]*\"[^>]*>(\\d+)<\\/span>/i, block) ?? '0', 10);\n    }\n\n    // author\n    const author = textify(firstMatch(/<a[^>]*class=\"[^\"]*\\bu-author\\b[^\"]*\"[^>]*>([\\s\\S]*?)<\\/a>/i, block));\n\n    // created_at\n    const createdAtRaw = firstMatch(/<time[^>]*datetime=\"([^\"]+)\"/i, block);\n    const created_at = toIso(createdAtRaw);\n\n    // comments link & count\n    const commentsHref = firstMatch(/<span[^>]*class=\"comments_label\"[^>]*>[\\s\\S]*?<a[^>]*href=\"([^\"]+)\"/i, block);\n    const commentsText = textify(firstMatch(/<span[^>]*class=\"comments_label\"[^>]*>[\\s\\S]*?<a[^>]*>([\\s\\S]*?)<\\/a>/i, block) || '');\n    const comments = /^\\d+/.test(commentsText) ? parseInt(commentsText, 10) : 0;\n\n    // tags\n    const tags = allMatches(/<a[^>]*class=\"[^\"]*\\btag\\b[^\"]*\"[^>]*>([\\s\\S]*?)<\\/a>/gi, block).map(textify);\n\n    // discussion & short URLs\n    const discussion_url = commentsHref\n      ? (commentsHref.startsWith('http') ? commentsHref : BASE + commentsHref)\n      : (id ? `${BASE}/s/${id}` : null);\n\n    // If id missing in opening tag, try to derive from discussion URL (/s/<id>/...)\n    if (!id) id = firstMatch(/\\/s\\/([a-z0-9]+)(?:\\/|$)/i, discussion_url || '');\n\n    const short_url = id ? `${BASE}/s/${id}` : null;\n\n    // primary URL (self posts link to discussion)\n    const is_self = !urlHref || urlHref.startsWith('/s/') || urlHref.startsWith('#');\n    const url = is_self ? (discussion_url || short_url) : urlHref;\n\n    out.push({\n      json: {\n        id,\n        title: title || null,\n        url: url || null,\n        short_url,\n        discussion_url,\n        domain: domain || null,\n        points,\n        author: author || null,\n        created_at,\n        comments,\n        tags,\n        is_self\n      }\n    });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,-512],"id":"089f6c64-b134-43f3-9ed9-9c1f3f79f94c","name":"Parse HTML"},{"parameters":{"resource":"video","filters":{"q":""},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-2240,-512],"id":"9b3aa5c9-f0e3-433b-a443-b66445100c88","name":"Get many videos","credentials":{"youTubeOAuth2Api":{"id":"FVw1sHa9Mu7xiglO","name":"YouTube account"}}}],"connections":{"Hasn't been processed already":{"main":[[{"node":"Convert date string to datetime","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge cached response and entity","type":"main","index":1}]]},"Merge cached response and entity":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"Alert discord":{"main":[[{"node":"Merge tweet data with discord response","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Merge tweet data with discord response","type":"main","index":0},{"node":"Alert discord","type":"main","index":0}]]},"Wait 1 second":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Save processed ID":{"main":[[{"node":"Wait 1 second","type":"main","index":0}]]},"Convert date string to datetime":{"main":[[{"node":"Sort by creation date","type":"main","index":0}]]},"Merge tweet data with discord response":{"main":[[{"node":"Save processed ID","type":"main","index":0}]]},"Clear processed IDs":{"main":[[{"node":"Get all lobster_* keys","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Every hour":{"main":[[{"node":"Get many videos","type":"main","index":0}]]},"Get all lobster_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Search BunkerWeb in Lobsters":{"main":[[]]},"Parse HTML":{"main":[[{"node":"Get cached ID","type":"main","index":0},{"node":"Merge cached response and entity","type":"main","index":0}]]},"Sort by creation date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day":{"recurrenceRules":[]},"node:Every hour":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78f5ae47-ac64-42cf-ba7e-f53a5661fde1","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"nOFD8QjnWUWFrmhm","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"createdAt":"2025-08-13T09:13:48.874Z","updatedAt":"2025-08-13T09:13:48.874Z","id":"Af5V1Rr0ynGVFcvN","name":"Social"}]}