workflows/pemFRHPvZR07uJTh.json
{"updatedAt":"2025-10-22T12:35:53.000Z","createdAt":"2025-09-22T08:34:40.993Z","id":"pemFRHPvZR07uJTh","name":"Disk alert","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,-352],"id":"ba3867dd-6d78-4f25-9b3c-0920fcdbfabf","name":"Every hour"},{"parameters":{"url":"http://prometheus:9090/api/v1/query?query=container_fs_usage_bytes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-448],"id":"81bcc4b1-a270-4b64-9992-a8358e2b5b6b","name":"Get usage"},{"parameters":{"url":"http://prometheus:9090/api/v1/query?query=container_fs_limit_bytes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-256],"id":"267f90f9-c433-498a-a573-63336a47aadd","name":"Get Capacity"},{"parameters":{"mode":"combine","fieldsToMatchString":"metric.device","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[384,-352],"id":"fc5bdfa6-d3df-420e-98d1-77a734ae75e7","name":"Merge metrics"},{"parameters":{"fieldToSplitOut":"data.result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-64,-448],"id":"1c877414-e241-4816-8fbc-4b7c6c1545a0","name":"Split usage metrics"},{"parameters":{"fieldToSplitOut":"data.result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-64,-256],"id":"3d2c6da0-5264-454f-bf58-7ffa8bce8e39","name":"Split capacity metrics"},{"parameters":{"keys":{"key":[{"currentKey":"value","newKey":"usage"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[160,-448],"id":"ea320198-8aec-4d54-9a4a-6b48b099a90c","name":"Rename value -> usage"},{"parameters":{"keys":{"key":[{"currentKey":"value","newKey":"capacity"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[160,-256],"id":"bc7bf1b9-fe3d-4fe4-a1df-080e1f51e11d","name":"Rename value -> capacity"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1222333f-0d37-4b11-af75-ae36791fb24e","leftValue":"={{ $json.metric.device }}","rightValue":"=/dev/sd[ab]1","operator":{"type":"string","operation":"regex"}},{"id":"c43a672b-0101-441f-b46f-83fae491512b","leftValue":"={{ $json.metric.id }}","rightValue":"/","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dd6d4c1d-cef6-4607-a89d-f5e5dd527ad0","leftValue":"={{ $json.metric.image }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[608,-352],"id":"493bd58b-3cc1-4afa-91f8-f456e1f9f043","name":"Filter root values"},{"parameters":{"jsCode":"return items.map(item => {\n  const usage = parseFloat(item.json.usage?.[1] || 0);\n  const capacity = parseFloat(item.json.capacity?.[1] || 0);\n\n  return {\n    json: {\n      device: item.json.metric.device,\n      mount: item.json.metric.id,\n      usageBytes: usage,\n      capacityBytes: capacity,\n      percentUsed: capacity > 0 ? (usage / capacity) * 100 : null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-352],"id":"0733dfd4-fc61-44bd-94ea-4ba34da01c30","name":"Calculate percentage"},{"parameters":{"method":"POST","url":"http://ntfy/services_status","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"Disk Alert"},{"name":"Priority","value":"high"},{"name":"Tags","value":"warning,disk"},{"name":"Markdown","value":"yes"},{"name":"Content-Type","value":"text/markdown"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/markdown","body":"=- **Device:** `{{ $json.device }}`\n- **Mount:** `{{ $json.mount }}`\n- **Used:** `{{ Math.round($json.usageBytes / 1024 / 1024 / 1024 * 100) / 100 }} GB`\n- **Capacity:** `{{ Math.round($json.capacityBytes / 1024 / 1024 / 1024 * 100) / 100 }} GB`\n- **Percent Used:** **{{ $json.percentUsed.toFixed(2) }}%**","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-352],"id":"6e6d3cd6-a020-4fb1-bf5f-b3ab34f1ca77","name":"Notify Disk alert","credentials":{"httpBearerAuth":{"id":"B23mYSBg2gdqll26","name":"NTFY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c2c8788-6524-421c-b553-6761d0a6a462","leftValue":"={{ $json.percentUsed }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1056,-352],"id":"ed7166a4-d62a-470c-99cf-f6954b856fe0","name":"Filter disks over 80% usage"}],"connections":{"Every hour":{"main":[[{"node":"Get usage","type":"main","index":0},{"node":"Get Capacity","type":"main","index":0}]]},"Get usage":{"main":[[{"node":"Split usage metrics","type":"main","index":0}]]},"Get Capacity":{"main":[[{"node":"Split capacity metrics","type":"main","index":0}]]},"Split usage metrics":{"main":[[{"node":"Rename value -> usage","type":"main","index":0}]]},"Split capacity metrics":{"main":[[{"node":"Rename value -> capacity","type":"main","index":0}]]},"Merge metrics":{"main":[[{"node":"Filter root values","type":"main","index":0}]]},"Rename value -> usage":{"main":[[{"node":"Merge metrics","type":"main","index":0}]]},"Rename value -> capacity":{"main":[[{"node":"Merge metrics","type":"main","index":1}]]},"Filter root values":{"main":[[{"node":"Calculate percentage","type":"main","index":0}]]},"Calculate percentage":{"main":[[{"node":"Filter disks over 80% usage","type":"main","index":0}]]},"Filter disks over 80% usage":{"main":[[{"node":"Notify Disk alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every hour":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"b5af3608-8ce6-4ebd-a947-3fd1b0f0642a","activeVersionId":"b5af3608-8ce6-4ebd-a947-3fd1b0f0642a","triggerCount":1,"shared":[{"updatedAt":"2025-09-22T08:34:40.993Z","createdAt":"2025-09-22T08:34:40.993Z","role":"workflow:owner","workflowId":"pemFRHPvZR07uJTh","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":{"updatedAt":"2025-11-22T15:12:27.759Z","createdAt":"2025-11-22T15:12:27.759Z","versionId":"b5af3608-8ce6-4ebd-a947-3fd1b0f0642a","workflowId":"pemFRHPvZR07uJTh","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,-352],"id":"ba3867dd-6d78-4f25-9b3c-0920fcdbfabf","name":"Every hour"},{"parameters":{"url":"http://prometheus:9090/api/v1/query?query=container_fs_usage_bytes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-448],"id":"81bcc4b1-a270-4b64-9992-a8358e2b5b6b","name":"Get usage"},{"parameters":{"url":"http://prometheus:9090/api/v1/query?query=container_fs_limit_bytes","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-256],"id":"267f90f9-c433-498a-a573-63336a47aadd","name":"Get Capacity"},{"parameters":{"mode":"combine","fieldsToMatchString":"metric.device","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[384,-352],"id":"fc5bdfa6-d3df-420e-98d1-77a734ae75e7","name":"Merge metrics"},{"parameters":{"fieldToSplitOut":"data.result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-64,-448],"id":"1c877414-e241-4816-8fbc-4b7c6c1545a0","name":"Split usage metrics"},{"parameters":{"fieldToSplitOut":"data.result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-64,-256],"id":"3d2c6da0-5264-454f-bf58-7ffa8bce8e39","name":"Split capacity metrics"},{"parameters":{"keys":{"key":[{"currentKey":"value","newKey":"usage"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[160,-448],"id":"ea320198-8aec-4d54-9a4a-6b48b099a90c","name":"Rename value -> usage"},{"parameters":{"keys":{"key":[{"currentKey":"value","newKey":"capacity"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[160,-256],"id":"bc7bf1b9-fe3d-4fe4-a1df-080e1f51e11d","name":"Rename value -> capacity"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1222333f-0d37-4b11-af75-ae36791fb24e","leftValue":"={{ $json.metric.device }}","rightValue":"=/dev/sd[ab]1","operator":{"type":"string","operation":"regex"}},{"id":"c43a672b-0101-441f-b46f-83fae491512b","leftValue":"={{ $json.metric.id }}","rightValue":"/","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dd6d4c1d-cef6-4607-a89d-f5e5dd527ad0","leftValue":"={{ $json.metric.image }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[608,-352],"id":"493bd58b-3cc1-4afa-91f8-f456e1f9f043","name":"Filter root values"},{"parameters":{"jsCode":"return items.map(item => {\n  const usage = parseFloat(item.json.usage?.[1] || 0);\n  const capacity = parseFloat(item.json.capacity?.[1] || 0);\n\n  return {\n    json: {\n      device: item.json.metric.device,\n      mount: item.json.metric.id,\n      usageBytes: usage,\n      capacityBytes: capacity,\n      percentUsed: capacity > 0 ? (usage / capacity) * 100 : null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-352],"id":"0733dfd4-fc61-44bd-94ea-4ba34da01c30","name":"Calculate percentage"},{"parameters":{"method":"POST","url":"http://ntfy/services_status","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"Disk Alert"},{"name":"Priority","value":"high"},{"name":"Tags","value":"warning,disk"},{"name":"Markdown","value":"yes"},{"name":"Content-Type","value":"text/markdown"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/markdown","body":"=- **Device:** `{{ $json.device }}`\n- **Mount:** `{{ $json.mount }}`\n- **Used:** `{{ Math.round($json.usageBytes / 1024 / 1024 / 1024 * 100) / 100 }} GB`\n- **Capacity:** `{{ Math.round($json.capacityBytes / 1024 / 1024 / 1024 * 100) / 100 }} GB`\n- **Percent Used:** **{{ $json.percentUsed.toFixed(2) }}%**","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-352],"id":"6e6d3cd6-a020-4fb1-bf5f-b3ab34f1ca77","name":"Notify Disk alert","credentials":{"httpBearerAuth":{"id":"B23mYSBg2gdqll26","name":"NTFY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c2c8788-6524-421c-b553-6761d0a6a462","leftValue":"={{ $json.percentUsed }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1056,-352],"id":"ed7166a4-d62a-470c-99cf-f6954b856fe0","name":"Filter disks over 80% usage"}],"connections":{"Every hour":{"main":[[{"node":"Get usage","type":"main","index":0},{"node":"Get Capacity","type":"main","index":0}]]},"Get usage":{"main":[[{"node":"Split usage metrics","type":"main","index":0}]]},"Get Capacity":{"main":[[{"node":"Split capacity metrics","type":"main","index":0}]]},"Split usage metrics":{"main":[[{"node":"Rename value -> usage","type":"main","index":0}]]},"Split capacity metrics":{"main":[[{"node":"Rename value -> capacity","type":"main","index":0}]]},"Merge metrics":{"main":[[{"node":"Filter root values","type":"main","index":0}]]},"Rename value -> usage":{"main":[[{"node":"Merge metrics","type":"main","index":0}]]},"Rename value -> capacity":{"main":[[{"node":"Merge metrics","type":"main","index":1}]]},"Filter root values":{"main":[[{"node":"Calculate percentage","type":"main","index":0}]]},"Calculate percentage":{"main":[[{"node":"Filter disks over 80% usage","type":"main","index":0}]]},"Filter disks over 80% usage":{"main":[[{"node":"Notify Disk alert","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}