workflows/uOKoiamywtOJtFLs.json
{"updatedAt":"2025-11-19T10:46:08.468Z","createdAt":"2025-08-22T16:04:08.940Z","id":"uOKoiamywtOJtFLs","name":"Search BunkerWeb through Mastodon","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-976,-720],"id":"3751b34d-422b-4deb-b7cd-da8ec68c785e","name":"Every day"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,-116],"id":"0dbf9162-d464-4ccc-9ca0-74f6029d37da","name":"Loop Over entities"},{"parameters":{"content":"### 📝 Create a summary from the status using Gemini 2.5 flash and fallback to llama3.2.","height":448,"width":784,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2336,-268],"typeVersion":1,"id":"5e05a181-e92e-4418-a7c5-cb169e227f28","name":"Sticky Note"},{"parameters":{"content":"## ⏳ Handle Gemini 2.5 flash API rate limit (10 requests per minute).","height":640,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[776,-452],"typeVersion":1,"id":"4660a421-71f8-4eca-8cf9-90689991d3a8","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[368,-720],"id":"f23fb5d2-202c-4341-8bbf-3d29bf97ea0a","name":"Hasn't been processed already"},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=mastodon_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-80,-576],"id":"6e58cbaf-9916-43f6-851f-74eb47f5128f","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[144,-720],"id":"b097a472-216f-49e6-aea1-01539abfae82","name":"Merge cached response and entity"},{"parameters":{"content":"## 💾 Filter already processed statuses.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-128,-768],"typeVersion":1,"id":"f7a6cbab-bd5e-439c-a1b9-5fe37bcda53f","name":"Sticky Note3"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1712,-720],"id":"5e73b2da-bdae-42eb-9c0f-80dbea2a6231","name":"Sort by creation date"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-864],"id":"248bd180-1772-49ef-bdb7-5d6d5c6bea64","name":"Merge summary"},{"parameters":{"authentication":"webhook","content":"=","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.summary }}","author":"={{ $json.account.username }}","color":"#6364FF","timestamp":"={{ $json.created_at }}","title":"🐘 New Mastodon mention!","url":"={{ $json.url }}","image":"={{ $json.media_attachments[0].preview_url }}","thumbnail":"={{ $json.account.avatar }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2160,-744],"id":"ffd1430c-a836-40d3-b9c2-88c7d127e93d","name":"Alert discord","webhookId":"24990fec-b92a-4de4-9348-933779f8ebfe","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"2oqKEjJqfEfwORxZ","name":"Discord Webhook social alerts"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1936,-720],"id":"7b4a05e7-e72b-4043-85dc-83a2b142e76f","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3200,-768],"id":"dbd2a705-e79f-4774-b30d-6503755e264e","name":"Wait 1 second","webhookId":"3f30b243-cae7-43b3-9274-0f852e35b9dc"},{"parameters":{"content":"## 📨 Inform the Bunker team on Discord and save processed entities in the cache","height":416,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1872,-976],"typeVersion":1,"id":"e816707f-3ae5-453f-a541-9fe652aab6b9","name":"Sticky Note2"},{"parameters":{"operation":"set","key":"=mastodon_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ DateTime.fromSeconds(0).plus(1, \"month\").toSeconds() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2976,-840],"id":"d63d280e-e846-4d1c-ada5-cbe8bb502207","name":"Save processed ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"session_mastodon"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2640,36],"id":"48fdebba-b9ff-4a86-b558-b673a918b404","name":"Redis","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2768,36],"id":"e13d192a-c41b-4854-aa0b-3467abd97b8f","name":"Tavily search","credentials":{"tavilyApi":{"id":"CpAx4VhG0PmKrOZR","name":"Tavily account - GitHub"}}},{"parameters":{"keys":{"key":[{"currentKey":"output","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2976,-64],"id":"a453fce7-add6-46e3-abe4-7692444bd392","name":"Rename output -> summary"},{"parameters":{"assignments":{"assignments":[{"id":"955d62d6-8516-4ba3-85ff-1c9d16cc679c","name":"created_at","value":"={{ DateTime.fromISO($json.created_at) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-720],"id":"6e33c252-a2a7-4efc-9282-5b755a96b855","name":"Convert date string to datetime"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2568,-840],"id":"b5c6218b-56d6-4148-aed3-224456534795","name":"Merge tweet data with discord response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.content_text.length }}","rightValue":1950,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,-720],"id":"501eb774-847c-42bb-a716-de5e8c9e31a8","name":"If total is under 1950 chars"},{"parameters":{"model":"llama3.2:3b","options":{"lowVram":true,"useMLock":true,"useMMap":true}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2512,36],"id":"a0e1aa82-e65b-4e24-a59b-eba6ebfc0746","name":"llama3.2","credentials":{"ollamaApi":{"id":"1LHuJ7liAjGaSUJT","name":"Ollama account"}}},{"parameters":{"keys":{"key":[{"currentKey":"content_text","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1040,-620],"id":"b9d59ff5-f552-4125-b7da-6bbdffda5c4f","name":"Rename text -> summary"},{"parameters":{"promptType":"define","text":"=visibility: {{ $json.visibility }}\nlanguage: {{ $json.language }}\nsensitive: {{ $json.sensitive }}\n\nauthor_display_name: {{ $json.account.display_name }}\nauthor_username: {{ $json.account.username }}\nauthor_followers_count: {{ $json.account.followers_count }}\n\nhashtags: {{ $json.tags.toJsonString() }}\nmentions: {{ $json.mentions.toJsonString() }}\n\n===== BEGIN TEXT =====\ntext:\n{{ $json.content_text || \"\" }}\n===== END TEXT =====\n","needsFallback":true,"options":{"systemMessage":"Summarize the following Mastodon post using the provided key\\:value data, your **long-term memory**, and the **Tavily search tool**.\n\nRules for Tavily:\n\n* Use Tavily **only if absolutely essential** — when a fact or term is required for understanding but cannot be inferred from the post data or your memory.\n* Since queries are limited, use Tavily only for **high-value clarifications** (unclear entities, events, or acronyms).\n* ⚠️ If the post mentions **BunkerWeb**, do **not** use Tavily. Summarize strictly based on the post and your memory.\n* The summary is for the **creator of BunkerWeb** to stay informed about mentions of their product.\n\nGeneral rules:\n\n* Do not invent facts.\n* Be concise, neutral, and factual.\n* `summary_short` ≤ 30 words, max 3 `summary_bullets`."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2504,-188],"id":"81375f8e-d77e-4356-8a51-eee0ee0a01aa","name":"Agent summarizer"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-976,252],"id":"f646ad72-da7a-4e10-9369-21b422191dc5","name":"Clear processed IDs"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,252],"id":"1a9ac513-74b3-4c33-8c64-88da7bbd48a9","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,252],"id":"e181f325-2fbb-430e-a6f3-d41a8042f34f","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2384,36],"id":"8a96d97e-37e6-443d-b39b-4bc35ced8ab3","name":"Gemini 2.5 flash","credentials":{"googlePalmApi":{"id":"GNtLDT3w0YRmjHrT","name":"Gemini Api -  tdiot@bunkerity.com"}}},{"parameters":{"amount":65},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-332],"id":"0eced3d3-46c8-4577-8b0d-36cafa100203","name":"Wait for the gemini API rate limit to end","webhookId":"19ce6afd-5f60-4e89-a7db-2fe2abd51c5a"},{"parameters":{"operation":"get","propertyName":"gemini_flash_executions","key":"gemini_flash_executions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1040,28],"id":"3cff1f3e-e58c-41d3-9625-75e52ed80fdc","name":"Get gemini flash executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,-116],"id":"5a144030-9979-406d-a1f1-cfed55d7d1f2","name":"Add gemini_flash_executions key"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.gemini_flash_executions }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,-116],"id":"23fd51b8-aa1b-4105-924d-79e39e5223ae","name":"If there's been 10 executions or more"},{"parameters":{"operation":"delete","key":"gemini_flash_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1936,-404],"id":"2ec8f52a-457d-4405-bf68-6dd37e739e84","name":"Delete gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"incr","key":"gemini_flash_executions","expire":true,"ttl":65},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1712,28],"id":"03a54b1d-1b12-4874-8ab7-733dd75a7b68","name":"Increment gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"url":"https://mastodon.social/api/v2/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"\"BunkerWeb\""},{"name":"type","value":"statuses"},{"name":"resolve","value":"true"},{"name":"limit","value":"40"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,-720],"id":"192ce5ab-dc04-45d3-8c68-d5a8f687934a","name":"Fetch mastodon posts containing the BunkerWeb keyword","credentials":{"twitterOAuth2Api":{"id":"qnc1qWIfHg6xZRoi","name":"X account - main"},"httpBearerAuth":{"id":"pR9JvoZPw6Cq0sjD","name":"Mastodon Bear Auth"}}},{"parameters":{"operation":"keys","keyPattern":"mastodon_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-752,252],"id":"989f4eb3-b561-4a0a-b7c8-ba1be45d0d15","name":"Get all mastodon_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\n// Output: one item per Mastodon status with normalized fields + original raw object.\n// Avoids the “A 'json' property isn't an object” error.\n\nconst inputItems = $input.all();\nconst out = [];\n\nfunction stripHtml(html) {\n  return String(html || \"\")\n    .replace(/<[^>]*>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction pickStatuses(root) {\n  if (!root) return [];\n  if (Array.isArray(root.statuses)) return root.statuses;\n  if (Array.isArray(root.data) && root.data[0]?.statuses) return root.data[0].statuses;\n  if (Array.isArray(root) && root[0]?.statuses) return root[0].statuses;\n  if (root.statuses) return root.statuses;\n  return [];\n}\n\nfor (const item of inputItems) {\n  const root = item.json ?? item; // support either {json: {...}} or raw\n  const statuses = pickStatuses(root);\n\n  for (const st of statuses) {\n    const contentText = stripHtml(st.content);\n\n    // Normalize tags/mentions/media while keeping full fidelity below\n    const tags = Array.isArray(st.tags) ? st.tags.map(t => ({ name: t.name, url: t.url })) : [];\n    const mentions = Array.isArray(st.mentions)\n      ? st.mentions.map(m => ({ id: m.id, username: m.username, acct: m.acct, url: m.url }))\n      : [];\n    const media = Array.isArray(st.media_attachments)\n      ? st.media_attachments.map(m => ({\n          id: m.id, type: m.type, url: m.url,\n          preview_url: m.preview_url ?? null,\n          remote_url: m.remote_url ?? null,\n          preview_remote_url: m.preview_remote_url ?? null,\n          text_url: m.text_url ?? null,\n          description: m.description ?? null,\n          blurhash: m.blurhash ?? null,\n          meta: m.meta ?? null,\n        }))\n      : [];\n\n    const account = st.account\n      ? {\n          id: st.account.id,\n          username: st.account.username,\n          acct: st.account.acct,\n          display_name: st.account.display_name,\n          url: st.account.url,\n          uri: st.account.uri,\n          avatar: st.account.avatar,\n          avatar_static: st.account.avatar_static,\n          header: st.account.header,\n          header_static: st.account.header_static,\n          followers_count: st.account.followers_count,\n          following_count: st.account.following_count,\n          statuses_count: st.account.statuses_count,\n          last_status_at: st.account.last_status_at,\n          note_html: st.account.note ?? \"\",\n        }\n      : null;\n\n    const normalized = {\n      // Identity & timing\n      id: st.id,\n      created_at: st.created_at,\n      edited_at: st.edited_at ?? null,\n\n      // Linking\n      uri: st.uri,\n      url: st.url,\n\n      // Threading\n      in_reply_to_id: st.in_reply_to_id ?? null,\n      in_reply_to_account_id: st.in_reply_to_account_id ?? null,\n\n      // Visibility & flags\n      visibility: st.visibility,\n      language: st.language ?? null,\n      sensitive: !!st.sensitive,\n      spoiler_text: st.spoiler_text || \"\",\n\n      // Engagement\n      replies_count: st.replies_count ?? 0,\n      reblogs_count: st.reblogs_count ?? 0,\n      favourites_count: st.favourites_count ?? 0,\n\n      // User-local booleans\n      favourited: !!st.favourited,\n      reblogged: !!st.reblogged,\n      muted: !!st.muted,\n      bookmarked: !!st.bookmarked,\n\n      // Content\n      content_html: st.content || \"\",\n      content_text: contentText,\n\n      // Collections\n      tags,\n      mentions,\n      media_attachments: media,\n      emojis: Array.isArray(st.emojis) ? st.emojis : [],\n\n      // Rich objects (kept concise but informative)\n      account,\n      application: st.application || null,\n      card: st.card || null,\n      poll: st.poll || null,\n      reblog: st.reblog || null,\n      quote: st.quote || null,\n      filtered: st.filtered || [],\n\n      // Full raw object for anything not explicitly normalized\n      status_raw: st,\n    };\n\n    out.push({ json: normalized });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-720],"id":"881981fd-6a8a-424c-936a-29691353aca3","name":"Parse statuses"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1936,-44],"id":"c82d9f62-2662-404c-86da-f1c526138d24","name":"Merge increment"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,-332],"id":"305482d9-615d-4476-9eff-2a01e92b6474","name":"Merge wait"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,-720],"id":"1b203a4a-2d6d-42a4-be78-34fc9a12f652","name":"Merge all"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c92d84b-d044-4b44-82ec-f1a50f31ebaa","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.minus('1', 'day') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,-720],"id":"27c0dea4-defa-4962-9aa2-f7f9fe26ca8a","name":"Created in the last 24H"}],"connections":{"Every day":{"main":[[{"node":"Fetch mastodon posts containing the BunkerWeb keyword","type":"main","index":0}]]},"Loop Over entities":{"main":[[{"node":"Merge summary","type":"main","index":1}],[{"node":"Get gemini flash executions","type":"main","index":0},{"node":"Add gemini_flash_executions key","type":"main","index":0}]]},"Hasn't been processed already":{"main":[[{"node":"If total is under 1950 chars","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge cached response and entity","type":"main","index":1}]]},"Merge cached response and entity":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"Sort by creation date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge summary":{"main":[[{"node":"Merge all","type":"main","index":0}]]},"Alert discord":{"main":[[{"node":"Merge tweet data with discord response","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Merge tweet data with discord response","type":"main","index":0},{"node":"Alert discord","type":"main","index":0}]]},"Wait 1 second":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Save processed ID":{"main":[[{"node":"Wait 1 second","type":"main","index":0}]]},"Redis":{"ai_memory":[[{"node":"Agent summarizer","type":"ai_memory","index":0}]]},"Tavily search":{"ai_tool":[[{"node":"Agent summarizer","type":"ai_tool","index":0}]]},"Rename output -> summary":{"main":[[{"node":"Loop Over entities","type":"main","index":0}]]},"Convert date string to datetime":{"main":[[{"node":"Sort by creation date","type":"main","index":0}]]},"Merge tweet data with discord response":{"main":[[{"node":"Save processed ID","type":"main","index":0}]]},"If total is under 1950 chars":{"main":[[{"node":"Rename text -> summary","type":"main","index":0}],[{"node":"Merge summary","type":"main","index":0},{"node":"Loop Over entities","type":"main","index":0}]]},"llama3.2":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":1}]]},"Rename text -> summary":{"main":[[{"node":"Merge all","type":"main","index":1}]]},"Agent summarizer":{"main":[[{"node":"Rename output -> summary","type":"main","index":0}]]},"Clear processed IDs":{"main":[[{"node":"Get all mastodon_* keys","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Gemini 2.5 flash":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":0}]]},"Wait for the gemini API rate limit to end":{"main":[[{"node":"Delete gemini_flash_executions","type":"main","index":0},{"node":"Merge wait","type":"main","index":1}]]},"Get gemini flash executions":{"main":[[{"node":"Add gemini_flash_executions key","type":"main","index":1}]]},"Add gemini_flash_executions key":{"main":[[{"node":"If there's been 10 executions or more","type":"main","index":0}]]},"If there's been 10 executions or more":{"main":[[{"node":"Wait for the gemini API rate limit to end","type":"main","index":0}],[{"node":"Increment gemini_flash_executions","type":"main","index":0},{"node":"Merge increment","type":"main","index":0}]]},"Fetch mastodon posts containing the BunkerWeb keyword":{"main":[[{"node":"Parse statuses","type":"main","index":0}]]},"Get all mastodon_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Parse statuses":{"main":[[{"node":"Created in the last 24H","type":"main","index":0}]]},"Increment gemini_flash_executions":{"main":[[{"node":"Merge increment","type":"main","index":1}]]},"Merge increment":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]},"Delete gemini_flash_executions":{"main":[[{"node":"Merge wait","type":"main","index":0}]]},"Merge wait":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]},"Merge all":{"main":[[{"node":"Convert date string to datetime","type":"main","index":0}]]},"Created in the last 24H":{"main":[[{"node":"Merge cached response and entity","type":"main","index":0},{"node":"Get cached ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every day":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d3dcd87-fafd-44df-9567-f1d597066ab7","activeVersionId":"3d3dcd87-fafd-44df-9567-f1d597066ab7","triggerCount":1,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"uOKoiamywtOJtFLs","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":{"updatedAt":"2025-11-22T15:12:27.759Z","createdAt":"2025-11-22T15:12:27.759Z","versionId":"3d3dcd87-fafd-44df-9567-f1d597066ab7","workflowId":"uOKoiamywtOJtFLs","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-976,-720],"id":"3751b34d-422b-4deb-b7cd-da8ec68c785e","name":"Every day"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,-116],"id":"0dbf9162-d464-4ccc-9ca0-74f6029d37da","name":"Loop Over entities"},{"parameters":{"content":"### 📝 Create a summary from the status using Gemini 2.5 flash and fallback to llama3.2.","height":448,"width":784,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2336,-268],"typeVersion":1,"id":"5e05a181-e92e-4418-a7c5-cb169e227f28","name":"Sticky Note"},{"parameters":{"content":"## ⏳ Handle Gemini 2.5 flash API rate limit (10 requests per minute).","height":640,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[776,-452],"typeVersion":1,"id":"4660a421-71f8-4eca-8cf9-90689991d3a8","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[368,-720],"id":"f23fb5d2-202c-4341-8bbf-3d29bf97ea0a","name":"Hasn't been processed already"},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=mastodon_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-80,-576],"id":"6e58cbaf-9916-43f6-851f-74eb47f5128f","name":"Get cached ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[144,-720],"id":"b097a472-216f-49e6-aea1-01539abfae82","name":"Merge cached response and entity"},{"parameters":{"content":"## 💾 Filter already processed statuses.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-128,-768],"typeVersion":1,"id":"f7a6cbab-bd5e-439c-a1b9-5fe37bcda53f","name":"Sticky Note3"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"created_at"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1712,-720],"id":"5e73b2da-bdae-42eb-9c0f-80dbea2a6231","name":"Sort by creation date"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-864],"id":"248bd180-1772-49ef-bdb7-5d6d5c6bea64","name":"Merge summary"},{"parameters":{"authentication":"webhook","content":"=","options":{"wait":true},"embeds":{"values":[{"description":"={{ $json.summary }}","author":"={{ $json.account.username }}","color":"#6364FF","timestamp":"={{ $json.created_at }}","title":"🐘 New Mastodon mention!","url":"={{ $json.url }}","image":"={{ $json.media_attachments[0].preview_url }}","thumbnail":"={{ $json.account.avatar }}"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2160,-744],"id":"ffd1430c-a836-40d3-b9c2-88c7d127e93d","name":"Alert discord","webhookId":"24990fec-b92a-4de4-9348-933779f8ebfe","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"discordWebhookApi":{"id":"2oqKEjJqfEfwORxZ","name":"Discord Webhook social alerts"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1936,-720],"id":"7b4a05e7-e72b-4043-85dc-83a2b142e76f","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3200,-768],"id":"dbd2a705-e79f-4774-b30d-6503755e264e","name":"Wait 1 second","webhookId":"3f30b243-cae7-43b3-9274-0f852e35b9dc"},{"parameters":{"content":"## 📨 Inform the Bunker team on Discord and save processed entities in the cache","height":416,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1872,-976],"typeVersion":1,"id":"e816707f-3ae5-453f-a541-9fe652aab6b9","name":"Sticky Note2"},{"parameters":{"operation":"set","key":"=mastodon_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ DateTime.fromSeconds(0).plus(1, \"month\").toSeconds() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2976,-840],"id":"d63d280e-e846-4d1c-ada5-cbe8bb502207","name":"Save processed ID","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"session_mastodon"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2640,36],"id":"48fdebba-b9ff-4a86-b558-b673a918b404","name":"Redis","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2768,36],"id":"e13d192a-c41b-4854-aa0b-3467abd97b8f","name":"Tavily search","credentials":{"tavilyApi":{"id":"CpAx4VhG0PmKrOZR","name":"Tavily account - GitHub"}}},{"parameters":{"keys":{"key":[{"currentKey":"output","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2976,-64],"id":"a453fce7-add6-46e3-abe4-7692444bd392","name":"Rename output -> summary"},{"parameters":{"assignments":{"assignments":[{"id":"955d62d6-8516-4ba3-85ff-1c9d16cc679c","name":"created_at","value":"={{ DateTime.fromISO($json.created_at) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-720],"id":"6e33c252-a2a7-4efc-9282-5b755a96b855","name":"Convert date string to datetime"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2568,-840],"id":"b5c6218b-56d6-4148-aed3-224456534795","name":"Merge tweet data with discord response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.content_text.length }}","rightValue":1950,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,-720],"id":"501eb774-847c-42bb-a716-de5e8c9e31a8","name":"If total is under 1950 chars"},{"parameters":{"model":"llama3.2:3b","options":{"lowVram":true,"useMLock":true,"useMMap":true}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2512,36],"id":"a0e1aa82-e65b-4e24-a59b-eba6ebfc0746","name":"llama3.2","credentials":{"ollamaApi":{"id":"1LHuJ7liAjGaSUJT","name":"Ollama account"}}},{"parameters":{"keys":{"key":[{"currentKey":"content_text","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1040,-620],"id":"b9d59ff5-f552-4125-b7da-6bbdffda5c4f","name":"Rename text -> summary"},{"parameters":{"promptType":"define","text":"=visibility: {{ $json.visibility }}\nlanguage: {{ $json.language }}\nsensitive: {{ $json.sensitive }}\n\nauthor_display_name: {{ $json.account.display_name }}\nauthor_username: {{ $json.account.username }}\nauthor_followers_count: {{ $json.account.followers_count }}\n\nhashtags: {{ $json.tags.toJsonString() }}\nmentions: {{ $json.mentions.toJsonString() }}\n\n===== BEGIN TEXT =====\ntext:\n{{ $json.content_text || \"\" }}\n===== END TEXT =====\n","needsFallback":true,"options":{"systemMessage":"Summarize the following Mastodon post using the provided key\\:value data, your **long-term memory**, and the **Tavily search tool**.\n\nRules for Tavily:\n\n* Use Tavily **only if absolutely essential** — when a fact or term is required for understanding but cannot be inferred from the post data or your memory.\n* Since queries are limited, use Tavily only for **high-value clarifications** (unclear entities, events, or acronyms).\n* ⚠️ If the post mentions **BunkerWeb**, do **not** use Tavily. Summarize strictly based on the post and your memory.\n* The summary is for the **creator of BunkerWeb** to stay informed about mentions of their product.\n\nGeneral rules:\n\n* Do not invent facts.\n* Be concise, neutral, and factual.\n* `summary_short` ≤ 30 words, max 3 `summary_bullets`."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2504,-188],"id":"81375f8e-d77e-4356-8a51-eee0ee0a01aa","name":"Agent summarizer"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-976,252],"id":"f646ad72-da7a-4e10-9369-21b422191dc5","name":"Clear processed IDs"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,252],"id":"1a9ac513-74b3-4c33-8c64-88da7bbd48a9","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,252],"id":"e181f325-2fbb-430e-a6f3-d41a8042f34f","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2384,36],"id":"8a96d97e-37e6-443d-b39b-4bc35ced8ab3","name":"Gemini 2.5 flash","credentials":{"googlePalmApi":{"id":"GNtLDT3w0YRmjHrT","name":"Gemini Api -  tdiot@bunkerity.com"}}},{"parameters":{"amount":65},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-332],"id":"0eced3d3-46c8-4577-8b0d-36cafa100203","name":"Wait for the gemini API rate limit to end","webhookId":"19ce6afd-5f60-4e89-a7db-2fe2abd51c5a"},{"parameters":{"operation":"get","propertyName":"gemini_flash_executions","key":"gemini_flash_executions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1040,28],"id":"3cff1f3e-e58c-41d3-9625-75e52ed80fdc","name":"Get gemini flash executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,-116],"id":"5a144030-9979-406d-a1f1-cfed55d7d1f2","name":"Add gemini_flash_executions key"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.gemini_flash_executions }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,-116],"id":"23fd51b8-aa1b-4105-924d-79e39e5223ae","name":"If there's been 10 executions or more"},{"parameters":{"operation":"delete","key":"gemini_flash_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1936,-404],"id":"2ec8f52a-457d-4405-bf68-6dd37e739e84","name":"Delete gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"incr","key":"gemini_flash_executions","expire":true,"ttl":65},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1712,28],"id":"03a54b1d-1b12-4874-8ab7-733dd75a7b68","name":"Increment gemini_flash_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"url":"https://mastodon.social/api/v2/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"\"BunkerWeb\""},{"name":"type","value":"statuses"},{"name":"resolve","value":"true"},{"name":"limit","value":"40"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,-720],"id":"192ce5ab-dc04-45d3-8c68-d5a8f687934a","name":"Fetch mastodon posts containing the BunkerWeb keyword","credentials":{"twitterOAuth2Api":{"id":"qnc1qWIfHg6xZRoi","name":"X account - main"},"httpBearerAuth":{"id":"pR9JvoZPw6Cq0sjD","name":"Mastodon Bear Auth"}}},{"parameters":{"operation":"keys","keyPattern":"mastodon_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-752,252],"id":"989f4eb3-b561-4a0a-b7c8-ba1be45d0d15","name":"Get all mastodon_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\n// Output: one item per Mastodon status with normalized fields + original raw object.\n// Avoids the “A 'json' property isn't an object” error.\n\nconst inputItems = $input.all();\nconst out = [];\n\nfunction stripHtml(html) {\n  return String(html || \"\")\n    .replace(/<[^>]*>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction pickStatuses(root) {\n  if (!root) return [];\n  if (Array.isArray(root.statuses)) return root.statuses;\n  if (Array.isArray(root.data) && root.data[0]?.statuses) return root.data[0].statuses;\n  if (Array.isArray(root) && root[0]?.statuses) return root[0].statuses;\n  if (root.statuses) return root.statuses;\n  return [];\n}\n\nfor (const item of inputItems) {\n  const root = item.json ?? item; // support either {json: {...}} or raw\n  const statuses = pickStatuses(root);\n\n  for (const st of statuses) {\n    const contentText = stripHtml(st.content);\n\n    // Normalize tags/mentions/media while keeping full fidelity below\n    const tags = Array.isArray(st.tags) ? st.tags.map(t => ({ name: t.name, url: t.url })) : [];\n    const mentions = Array.isArray(st.mentions)\n      ? st.mentions.map(m => ({ id: m.id, username: m.username, acct: m.acct, url: m.url }))\n      : [];\n    const media = Array.isArray(st.media_attachments)\n      ? st.media_attachments.map(m => ({\n          id: m.id, type: m.type, url: m.url,\n          preview_url: m.preview_url ?? null,\n          remote_url: m.remote_url ?? null,\n          preview_remote_url: m.preview_remote_url ?? null,\n          text_url: m.text_url ?? null,\n          description: m.description ?? null,\n          blurhash: m.blurhash ?? null,\n          meta: m.meta ?? null,\n        }))\n      : [];\n\n    const account = st.account\n      ? {\n          id: st.account.id,\n          username: st.account.username,\n          acct: st.account.acct,\n          display_name: st.account.display_name,\n          url: st.account.url,\n          uri: st.account.uri,\n          avatar: st.account.avatar,\n          avatar_static: st.account.avatar_static,\n          header: st.account.header,\n          header_static: st.account.header_static,\n          followers_count: st.account.followers_count,\n          following_count: st.account.following_count,\n          statuses_count: st.account.statuses_count,\n          last_status_at: st.account.last_status_at,\n          note_html: st.account.note ?? \"\",\n        }\n      : null;\n\n    const normalized = {\n      // Identity & timing\n      id: st.id,\n      created_at: st.created_at,\n      edited_at: st.edited_at ?? null,\n\n      // Linking\n      uri: st.uri,\n      url: st.url,\n\n      // Threading\n      in_reply_to_id: st.in_reply_to_id ?? null,\n      in_reply_to_account_id: st.in_reply_to_account_id ?? null,\n\n      // Visibility & flags\n      visibility: st.visibility,\n      language: st.language ?? null,\n      sensitive: !!st.sensitive,\n      spoiler_text: st.spoiler_text || \"\",\n\n      // Engagement\n      replies_count: st.replies_count ?? 0,\n      reblogs_count: st.reblogs_count ?? 0,\n      favourites_count: st.favourites_count ?? 0,\n\n      // User-local booleans\n      favourited: !!st.favourited,\n      reblogged: !!st.reblogged,\n      muted: !!st.muted,\n      bookmarked: !!st.bookmarked,\n\n      // Content\n      content_html: st.content || \"\",\n      content_text: contentText,\n\n      // Collections\n      tags,\n      mentions,\n      media_attachments: media,\n      emojis: Array.isArray(st.emojis) ? st.emojis : [],\n\n      // Rich objects (kept concise but informative)\n      account,\n      application: st.application || null,\n      card: st.card || null,\n      poll: st.poll || null,\n      reblog: st.reblog || null,\n      quote: st.quote || null,\n      filtered: st.filtered || [],\n\n      // Full raw object for anything not explicitly normalized\n      status_raw: st,\n    };\n\n    out.push({ json: normalized });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-720],"id":"881981fd-6a8a-424c-936a-29691353aca3","name":"Parse statuses"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1936,-44],"id":"c82d9f62-2662-404c-86da-f1c526138d24","name":"Merge increment"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,-332],"id":"305482d9-615d-4476-9eff-2a01e92b6474","name":"Merge wait"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,-720],"id":"1b203a4a-2d6d-42a4-be78-34fc9a12f652","name":"Merge all"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c92d84b-d044-4b44-82ec-f1a50f31ebaa","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.minus('1', 'day') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,-720],"id":"27c0dea4-defa-4962-9aa2-f7f9fe26ca8a","name":"Created in the last 24H"}],"connections":{"Every day":{"main":[[{"node":"Fetch mastodon posts containing the BunkerWeb keyword","type":"main","index":0}]]},"Loop Over entities":{"main":[[{"node":"Merge summary","type":"main","index":1}],[{"node":"Get gemini flash executions","type":"main","index":0},{"node":"Add gemini_flash_executions key","type":"main","index":0}]]},"Hasn't been processed already":{"main":[[{"node":"If total is under 1950 chars","type":"main","index":0}]]},"Get cached ID":{"main":[[{"node":"Merge cached response and entity","type":"main","index":1}]]},"Merge cached response and entity":{"main":[[{"node":"Hasn't been processed already","type":"main","index":0}]]},"Sort by creation date":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge summary":{"main":[[{"node":"Merge all","type":"main","index":0}]]},"Alert discord":{"main":[[{"node":"Merge tweet data with discord response","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Merge tweet data with discord response","type":"main","index":0},{"node":"Alert discord","type":"main","index":0}]]},"Wait 1 second":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Save processed ID":{"main":[[{"node":"Wait 1 second","type":"main","index":0}]]},"Redis":{"ai_memory":[[{"node":"Agent summarizer","type":"ai_memory","index":0}]]},"Tavily search":{"ai_tool":[[{"node":"Agent summarizer","type":"ai_tool","index":0}]]},"Rename output -> summary":{"main":[[{"node":"Loop Over entities","type":"main","index":0}]]},"Convert date string to datetime":{"main":[[{"node":"Sort by creation date","type":"main","index":0}]]},"Merge tweet data with discord response":{"main":[[{"node":"Save processed ID","type":"main","index":0}]]},"If total is under 1950 chars":{"main":[[{"node":"Rename text -> summary","type":"main","index":0}],[{"node":"Merge summary","type":"main","index":0},{"node":"Loop Over entities","type":"main","index":0}]]},"llama3.2":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":1}]]},"Rename text -> summary":{"main":[[{"node":"Merge all","type":"main","index":1}]]},"Agent summarizer":{"main":[[{"node":"Rename output -> summary","type":"main","index":0}]]},"Clear processed IDs":{"main":[[{"node":"Get all mastodon_* keys","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Gemini 2.5 flash":{"ai_languageModel":[[{"node":"Agent summarizer","type":"ai_languageModel","index":0}]]},"Wait for the gemini API rate limit to end":{"main":[[{"node":"Delete gemini_flash_executions","type":"main","index":0},{"node":"Merge wait","type":"main","index":1}]]},"Get gemini flash executions":{"main":[[{"node":"Add gemini_flash_executions key","type":"main","index":1}]]},"Add gemini_flash_executions key":{"main":[[{"node":"If there's been 10 executions or more","type":"main","index":0}]]},"If there's been 10 executions or more":{"main":[[{"node":"Wait for the gemini API rate limit to end","type":"main","index":0}],[{"node":"Increment gemini_flash_executions","type":"main","index":0},{"node":"Merge increment","type":"main","index":0}]]},"Fetch mastodon posts containing the BunkerWeb keyword":{"main":[[{"node":"Parse statuses","type":"main","index":0}]]},"Get all mastodon_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Parse statuses":{"main":[[{"node":"Created in the last 24H","type":"main","index":0}]]},"Increment gemini_flash_executions":{"main":[[{"node":"Merge increment","type":"main","index":1}]]},"Merge increment":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]},"Delete gemini_flash_executions":{"main":[[{"node":"Merge wait","type":"main","index":0}]]},"Merge wait":{"main":[[{"node":"Agent summarizer","type":"main","index":0}]]},"Merge all":{"main":[[{"node":"Convert date string to datetime","type":"main","index":0}]]},"Created in the last 24H":{"main":[[{"node":"Merge cached response and entity","type":"main","index":0},{"node":"Get cached ID","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[{"updatedAt":"2025-08-13T09:13:48.874Z","createdAt":"2025-08-13T09:13:48.874Z","id":"Af5V1Rr0ynGVFcvN","name":"Social"}]}