workflows/UUSDFJqKexjj5duW.json
{"createdAt":"2025-08-26T13:05:28.739Z","updatedAt":"2025-09-15T15:13:40.118Z","id":"UUSDFJqKexjj5duW","name":"Weekly ideas summary","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"854285298476646421","mode":"list","cachedResultName":"Bunkerity","cachedResultUrl":"https://discord.com/channels/854285298476646421"},"channelId":{"__rl":true,"value":"1407708488184107008","mode":"id"},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-816,80],"id":"021b0744-2073-48e1-895f-d4c85ab20b6f","name":"Get all messages from ideas channel","webhookId":"9f3bdcf1-4f1d-4352-8490-0b71fcacca05","credentials":{"discordBotApi":{"id":"uNaipVUGxj7joc9H","name":"BunkerBot - Prod"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15f8babf-b772-4758-9fcb-3467f23fb1c6","leftValue":"={{ DateTime.fromISO($json.timestamp) }}","rightValue":"={{ $now.minus(1, 'week') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-592,80],"id":"03abf2fd-142b-43f9-b3bd-50fbb25baa43","name":"Only fetch last week's messages"},{"parameters":{"content":"## 💾 Filter already processed tweets.","height":352,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-192,-48],"typeVersion":1,"id":"1d647a02-2eb8-453d-9b90-5454f4b7fed8","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8279569-43e3-4165-8d27-11482dc1f8f5","leftValue":"={{ $json.author.id }}","rightValue":"1407713481326858381","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,80],"id":"7e857f6e-bfb4-4bb9-a2f7-1b700fee27f2","name":"Ignore webhook messages"},{"parameters":{"promptType":"define","text":"=Voici un jeu de données de messages au format JSON :\n\n```json\n{{ $json.toJsonString() }}\n```\n\nMerci de produire l’analyse conformément aux instructions.","options":{"systemMessage":"You are an assistant that analyzes discussion datasets in JSON format.\n\n**Rules:**\n\n* The message is **destined for Discord**, so **Markdown formatting is recommended** (titles, bold, bullets, etc.).\n* Always produce the output **in French**, **concise**, **professional**, and **non-redundant**.\n* The final message must be **≤2000 characters** (Discord limit).\n* Use the **Tavily tool** only if strictly necessary, and **never** for topics related to *BunkerWeb* or *Bunkerity*.\n\n**Tasks:**\n\n1. Identify key points of the discussion.\n2. Classify ideas into categories.\n3. Summarize each category.\n4. Highlight recurring themes.\n5. Propose actionable recommendations."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[816,-32],"id":"b16b5b67-c057-4124-abc7-8e51223aa997","name":"Ideas summarizer"},{"parameters":{"authentication":"webhook","content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1216,-32],"id":"aaafab22-0ada-45a0-b260-9bf345b4bdef","name":"Send to Boîte à idées","webhookId":"eb0f2dc3-6d0f-452c-87a5-ff630f703ee5","credentials":{"discordWebhookApi":{"id":"cWLTpR1pX4Qk7zJe","name":"Discord Webhook - boîte à idées"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,80],"id":"385f204d-d10d-4e4d-a293-e0a9adc80156","name":"Merge cached with messages - ideas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cad6d4b-88fa-41fd-8b1c-49251513eb17","leftValue":"={{ $json.in_cache }}","rightValue":"=1","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[304,80],"id":"f7ff362a-b460-41c3-b541-26590b20b2b5","name":"Hasn't been processed already - ideas"},{"parameters":{"operation":"set","key":"=discord_ideas_{{ $json.id }}","value":"1","expire":true,"ttl":"={{ $now.plus(1, 'week').plus(1, 'hour').toSeconds().round() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[528,176],"id":"c054d0a9-fc2e-41cc-9649-675601c1f83f","name":"Set cached messages - ideas","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"in_cache","key":"=discord_ideas_{{ $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-144,144],"id":"1fe2ec01-072b-407d-909b-453acbd3fe42","name":"Get cached ID - ideas","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      messages: $input.all()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-32],"id":"fa68b98b-d366-499f-9d57-62a1c7bdcbf1","name":"Merge messages data - ideas"},{"parameters":{"model":"gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[752,208],"id":"792a9139-d66c-472f-a57a-09504047d732","name":"gpt-5-mini - ideas","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Open AI GPT 5 - Bunkerity"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=discord_ideas_bunkerity","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[880,208],"id":"042c75ec-c194-4d25-b4cf-ab55cb588845","name":"Redis - ideas","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `The **Tavily tool** is an external web search utility that allows the model to fetch **up-to-date, factual information** that cannot be inferred from the provided input or long-term memory.\n\n* Use Tavily **only when necessary**: if a critical fact, entity, event detail, or acronym is missing or ambiguous and cannot be reliably derived from the available context.\n* Do **not** use Tavily for general speculation, irrelevant lookups, or to re-confirm facts already explicit in the input or memory.\n* When generating a query, make it **precise and minimal**: include only the keywords needed to directly answer the missing point. Avoid full sentences or vague searches.\n* The Tavily response should then be **integrated into the reasoning** and used to produce a complete, accurate answer, without exposing raw search metadata unless explicitly required.\n* If the lookup fails or adds no value, continue the task using only the provided input and memory.`, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1008,208],"id":"5d72d6dd-b6b4-485b-94fe-dad7ac349df7","name":"Tavily - ideas","credentials":{"tavilyApi":{"id":"uy9TeiO4FnYJt9nC","name":"Tavily account - Bunkerity"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1040,80],"id":"117e56d0-0ed4-4c98-95d8-947cb113f2c7","name":"Create an ideas summary"},{"parameters":{"jsCode":"return Object.keys($input.first().json).map(k => {\n  return { json: { key: k } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-352],"id":"d9635571-3dfc-47d0-979b-0ab4ac191773","name":"Extract keys"},{"parameters":{"operation":"delete","key":"={{ $json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-352],"id":"65bd47ec-ee2f-478a-99d1-3de5da02539f","name":"Delete extracted keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"keys","keyPattern":"discord_ideas_*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-816,-352],"id":"83b8a069-9379-4582-9fbb-b5dc83b00ea7","name":"Get all discord_ideas_* keys","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1040,-352],"id":"3851585a-c733-41b2-900c-86257f76d4ce","name":"Clear ideas cache"}],"connections":{"Get all messages from ideas channel":{"main":[[{"node":"Only fetch last week's messages","type":"main","index":0}]]},"Only fetch last week's messages":{"main":[[{"node":"Ignore webhook messages","type":"main","index":0}]]},"Ignore webhook messages":{"main":[[{"node":"Get cached ID - ideas","type":"main","index":0},{"node":"Merge cached with messages - ideas","type":"main","index":0}]]},"Ideas summarizer":{"main":[[{"node":"Send to Boîte à idées","type":"main","index":0}]]},"Merge cached with messages - ideas":{"main":[[{"node":"Hasn't been processed already - ideas","type":"main","index":0}]]},"Hasn't been processed already - ideas":{"main":[[{"node":"Set cached messages - ideas","type":"main","index":0},{"node":"Merge messages data - ideas","type":"main","index":0}]]},"Get cached ID - ideas":{"main":[[{"node":"Merge cached with messages - ideas","type":"main","index":1}]]},"Merge messages data - ideas":{"main":[[{"node":"Ideas summarizer","type":"main","index":0}]]},"gpt-5-mini - ideas":{"ai_languageModel":[[{"node":"Ideas summarizer","type":"ai_languageModel","index":0}]]},"Redis - ideas":{"ai_memory":[[{"node":"Ideas summarizer","type":"ai_memory","index":0}]]},"Tavily - ideas":{"ai_tool":[[{"node":"Ideas summarizer","type":"ai_tool","index":0}]]},"Create an ideas summary":{"main":[[{"node":"Get all messages from ideas channel","type":"main","index":0}]]},"Extract keys":{"main":[[{"node":"Delete extracted keys","type":"main","index":0}]]},"Get all discord_ideas_* keys":{"main":[[{"node":"Extract keys","type":"main","index":0}]]},"Clear ideas cache":{"main":[[{"node":"Get all discord_ideas_* keys","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Create an ideas summary":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c21f4ac2-0a75-4c9a-97ad-0f19830261f0","triggerCount":1,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"UUSDFJqKexjj5duW","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"createdAt":"2025-08-26T13:05:46.387Z","updatedAt":"2025-08-26T13:05:46.387Z","id":"KDJm2H5ESMPxJovN","name":"Bunkerity"}]}