workflows/vHjjn9qGo8yQVM0P.json
{"updatedAt":"2025-08-14T10:07:41.000Z","createdAt":"2025-08-14T09:54:10.983Z","id":"vHjjn9qGo8yQVM0P","name":"Misc tests","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"YROU74PNxUuUIq36","mode":"list","cachedResultName":"Summarize Reddit post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"title":"={{ $json.post.title }}","body":"={{ $json.post.body }}","subreddit":"={{ $json.post.subreddit }}","author":"={{ $json.post.author }}","over_18":"={{ $json.post.over_18 }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"subreddit","displayName":"subreddit","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"over_18","displayName":"over_18","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[416,-256],"id":"7c13a488-4db2-4e43-b87a-60694baf35c2","name":"Summarize post from post object","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"\n  {\n    \"id\": \"comment_n64boag\",\n    \"author\": \"xleeuwx\",\n    \"body\": \"You can run https://www.bunkerweb.io yourself\",\n    \"permalink\": \"/r/hetzner/comments/1mdhr0z/european_waf_alternative_to_awscloudflare/n64boag/\",\n    \"depth\": 0,\n    \"created_utc\": 1753942955,\n    \"post\": {\n      \"id\": \"1mdhr0z\",\n      \"title\": \"European WAF alternative to AWS/Cloudflare?\",\n      \"body\": \"We’re hosting a quite large application distributed across around 20 VPS inside Hetzner Cloud behind a single Hetzner load balancer which also terminates SSL.\\n\\nIt’s a bummer that Hetzner’s load balancers do not offer any WAF-like protection at all.\\n\\nAnd regulations prohibit — and I personally refuse — to put an American Man-in-the-middle like Cloudflare’s WAF between us and our clients. Especially if that said MITM terminates client-side SSL traffic. Which is needed for most WAF features.\\n\\nNow I wonder what you came up with as an alternative.\\n\\nPlacing a WAF in front of the LB renders the LB useless. My current approach would be to place a NGINX reverse proxy with modsecurity on every singe application VPS to handle traffic coming from the LB. But this doesn’t feel right, either.\",\n      \"permalink\": \"/r/hetzner/comments/1mdhr0z/european_waf_alternative_to_awscloudflare/\",\n      \"subreddit\": \"hetzner\",\n      \"thumbnail\": \"\",\n      \"author\": \"whomass\",\n      \"created_utc\": 1753907790,\n      \"over_18\": false\n    }\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-256],"id":"f2e2a3f2-2193-43f0-8343-a1263c196aa4","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,-256],"id":"ef6874b3-63fe-4d60-a3a9-1207b5ff90c2","name":"Test post summarization"}],"connections":{"Edit Fields":{"main":[[{"node":"Summarize post from post object","type":"main","index":0}]]},"Test post summarization":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8c619acd-d0d1-407f-b4b9-508d8d4ce059","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"vHjjn9qGo8yQVM0P","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}