workflows/VjPujyrUOpgO6BAt.json
{"updatedAt":"2025-08-12T07:59:49.000Z","createdAt":"2025-08-12T07:58:25.073Z","id":"VjPujyrUOpgO6BAt","name":"YouTube Video Summarization & Analysis","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ytube","responseMode":"responseNode","options":{}},"id":"17565a93-bbbe-4cae-9403-1ccaacf05b78","name":"Webhook","type":"n8n-nodes-base.webhook","position":[192,16],"webhookId":"9024e29e-9080-4cf5-9a6b-0d918468f195","typeVersion":2},{"parameters":{},"id":"99fe20d5-d67e-436a-a379-bbc0a3252121","name":"YouTube Transcript","type":"n8n-nodes-youtube-transcription.youtubeTranscripter","position":[992,16],"typeVersion":1},{"parameters":{"fieldToSplitOut":"transcript","options":{}},"id":"eabaf447-d228-4ec3-bd85-0f4cebf05745","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[400,288],"typeVersion":1},{"parameters":{"options":{}},"id":"3c3a0e0c-85ee-4142-a0b3-5cd4f0d27511","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1392,160],"typeVersion":1.1},{"parameters":{"text":"={{ $json.title }}\n{{ $json.youtubeUrl }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"c6127954-fe04-4791-8f65-86c36d85565e","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1392,400],"typeVersion":1.2,"webhookId":"9b65591b-d7ae-40c6-a97d-f95562d672b7"},{"parameters":{"assignments":{"assignments":[{"id":"3ee42e4c-3cee-4934-97e7-64c96b5691ed","name":"youtubeUrl","type":"string","value":"={{ $json.body.youtubeUrl }}"}]},"options":{}},"id":"ddae9f6c-7b49-4fe8-b453-e7cbc5920213","name":"Get YouTube URL","type":"n8n-nodes-base.set","position":[400,16],"typeVersion":3.4},{"parameters":{"jsCode":"const extractYoutubeId = (url) => {\n  // Regex pattern that matches both youtu.be and youtube.com URLs\n  const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n  const match = url.match(pattern);\n  return match ? match[1] : null;\n};\n\n// Input URL from previous node\nconst youtubeUrl = items[0].json.youtubeUrl; // Adjust this based on your workflow\n\n// Process the URL and return the video ID\nreturn [{\n  json: {\n    videoId: extractYoutubeId(youtubeUrl)\n  }\n}];\n"},"id":"229c3b99-9618-4cbb-9524-37a4a9d1b8d4","name":"YouTube Video ID","type":"n8n-nodes-base.code","position":[592,16],"typeVersion":2},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.videoId }}","options":{}},"id":"536f876d-7dd6-4e45-b8e0-908f57bf55e5","name":"Get YouTube Video","type":"n8n-nodes-base.youTube","position":[800,16],"typeVersion":1},{"parameters":{"options":{}},"id":"55241bcf-f08c-44d6-a65b-3619b79290b7","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[816,464],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Please analyze the given text and create a structured summary following these guidelines:\n\n1. Break down the content into main topics using Level 2 headers (##)\n2. Under each header:\n   - List only the most essential concepts and key points\n   - Use bullet points for clarity\n   - Keep explanations concise\n   - Preserve technical accuracy\n   - Highlight key terms in bold\n3. Organize the information in this sequence:\n   - Definition/Background\n   - Main characteristics\n   - Implementation details\n   - Advantages/Disadvantages\n4. Format requirements:\n   - Use markdown formatting\n   - Keep bullet points simple (no nesting)\n   - Bold important terms using **term**\n   - Use tables for comparisons\n   - Include relevant technical details\n\nPlease provide a clear, structured summary that captures the core concepts while maintaining technical accuracy.\n\nHere is the text: {{ $json.concatenated_text\n }}"},"id":"543ec251-5b38-4ebf-90c0-d9cdcd7844f4","name":"Summarize & Analyze Transcript","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[800,288],"typeVersion":1.4},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"text","separateBy":" "}]},"options":{}},"id":"36384ec0-37cc-4b60-a705-34a3ae43d045","name":"Concatenate","type":"n8n-nodes-base.summarize","position":[592,288],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf132004-6636-411f-9d85-0c696fda84c4","name":"summary","type":"string","value":"={{ $json.text }}"},{"id":"63c8d0e3-685c-488a-9b45-363cf52479ea","name":"topics","type":"array","value":"=[]"},{"id":"171f30cf-34e9-42f3-8735-814024bfde0b","name":"title","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.title }}"},{"id":"7f26f5a3-e695-49d1-b1e8-9260c31f1b3d","name":"description","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.description }}"},{"id":"d0594232-cb39-453c-b015-3b039c098e1f","name":"id","type":"string","value":"={{ $('Get YouTube Video').item.json.id }}"},{"id":"17b6ca08-ce89-4467-bd25-0d2d182f7a8b","name":"youtubeUrl","type":"string","value":"={{ $('Webhook').item.json.body.youtubeUrl }}"}]},"options":{}},"id":"518353e1-3cb6-4c56-88ee-876fc33b058c","name":"Response Object","type":"n8n-nodes-base.set","position":[1152,288],"typeVersion":3.4}],"connections":{"Webhook":{"main":[[{"node":"Get YouTube URL","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Concatenate","type":"main","index":0}]]},"Concatenate":{"main":[[{"node":"Summarize & Analyze Transcript","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Summarize & Analyze Transcript","type":"ai_languageModel","index":0}]]},"Get YouTube URL":{"main":[[{"node":"YouTube Video ID","type":"main","index":0}]]},"Response Object":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"YouTube Video ID":{"main":[[{"node":"Get YouTube Video","type":"main","index":0}]]},"Summarize & Analyze Transcript":{"main":[[{"node":"Response Object","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f82962b7-3a73-49bc-bb96-29994cbd2ade","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"VjPujyrUOpgO6BAt","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}