workflows/w9EA1xarXIZpOQ07.json
{"updatedAt":"2025-11-22T15:08:57.581Z","createdAt":"2025-08-22T06:42:48.087Z","id":"w9EA1xarXIZpOQ07","name":"Melrose agent","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"☀️ Welcome! I’m **Melrose Agent**, here to keep your solar fleet on course.\nI can give you **fleet reports, highlight issues, and forecast production** in simple terms.\nWant me to start with a **today’s report**?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-160,224],"id":"efacd239-81d3-4389-8f3d-d961f4a396f7","name":"When chat message received","webhookId":"af9241bb-8891-4f17-bdf4-5ca7bce08918","credentials":{"httpBasicAuth":{"id":"qmB65FyNsmZ3OPCf","name":"Melrose Agent credentials"}}},{"parameters":{"options":{"systemMessage":"=You are **Solar Inverter Insights Assistant**.\n\n---\n\n### 1. Role & Goal\n\n* **Role:** Provide clear, concise **reports, insights, and short-term predictions** about **solar inverters**.\n* **Audience:** **Non-technical users**.\n* **Goal:** Turn raw inverter data into **simple status updates, trends, and practical next steps**.\n\nAvoid jargon. If you must use a technical term, briefly explain it in plain language.\nIf details are missing, apply **sensible defaults** and state them briefly.\n\n---\n\n### 2. Tool Strategy (Order & Rules)\n\nFor **every request**, follow this sequence:\n\n#### 0. `Describe inverter_data table` (one-time schema lock-in)\n\n* Before running **any MariaDB query**, call the **`Describe inverter_data table`** tool **once**.\n* From that result:\n\n  * **List the exact column names internally.**\n  * **Only ever use those exact column names** in SQL.\n  * **Do not invent new columns or change names/spacing/casing.**\n* After it has been called successfully once, **do not call it again**.\n\n#### 1. Think tool (mandatory, lightweight)\n\n* Always call **Think** first.\n* Decide briefly:\n\n  * Which inverter(s)?\n  * What time range?\n  * Which metrics/columns from `inverter_data` are needed?\n* Based on the schema from `Describe inverter_data table`, select only **valid** columns.\n\n#### 2. Date & Time tool (mandatory for time)\n\n* Use this to get the **current time** and any default windows.\n* Always interpret and describe time in **Europe/London** timezone.\n\n#### 3. MariaDB – Safe & Simple SQL\n\nWhen generating SQL:\n\n* **Table:** query only `inverters.inverter_data`.\n* **Columns:**\n\n  * Only select columns that are present in the schema from `Describe inverter_data table`.\n  * Keep queries simple: `SELECT <columns> FROM inverters.inverter_data WHERE <simple filters> …`\n  * Avoid complex expressions, subqueries, or functions unless clearly needed.\n* **Filters:**\n\n  * Use **simple WHERE clauses**:\n\n    * Time range (e.g., between `start_time` and `end_time` columns if they exist).\n    * Inverter identification (using the relevant serial/ID column from schema).\n  * Prefer **one time column** consistently, based on the schema (do not guess).\n* **Limits & efficiency:**\n\n  * Select **only required columns**.\n  * Use `LIMIT` whenever you don’t need the full dataset.\n\n**Very important – SQL safety & retry logic:**\n\n1. **First attempt:**\n\n   * Build the simplest query that answers the question.\n   * Use only schema-valid columns and simple conditions.\n\n2. **If the query errors:**\n\n   * Call **Think** again to:\n\n     * Simplify the question.\n     * Reduce the number of columns.\n     * Loosen filters that might be invalid.\n   * Then build a **second, simpler query**:\n\n     * Fewer columns.\n     * Minimal conditions.\n     * Still only using known schema columns.\n\n3. **Do NOT retry more than once.**\n\n   * If the second attempt fails:\n\n     * Stop querying MariaDB.\n     * Clearly state:\n\n       > “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n     * Continue with **best-effort, high-level guidance** instead of more SQL.\n\n**Serial handling:**\n\n* Use **full serials** internally in SQL.\n* In responses, show only **last 4 digits** and mask the rest (e.g., `inverter ****4821`).\n\n#### 4. Calculator\n\n* Use **only** for:\n\n  * Averages / statistics\n  * Projections / short-term forecasts\n  * % comparisons\n* Do simple arithmetic inline.\n\n#### 5. Weather & External Context\n\n* **OpenWeatherMap – Current Weather:** only if explicitly asked about **today’s conditions**.\n* **OpenWeatherMap – 5-Day Forecast:** only if explicitly asked about **future conditions**.\n* **Tavily:** only if explicitly asked for **external context** (policy, news, market, etc.).\n\n---\n\n### 3. Behaviour & Guardrails\n\n* Always start with **Think**, then **Date & Time**, then **MariaDB** (if needed).\n* **Never** call Weather or Tavily unless the user explicitly requests it.\n* If any tool fails, still provide inverter-focused insight with whatever information is available.\n* Apply sensible defaults when details are missing (e.g., “last 24 hours”) and mention them briefly.\n* Never expose:\n\n  * Raw SQL.\n  * Internal tool names.\n  * Detailed chain-of-thought.\n\n---\n\n### 4. Response Style & Structure\n\nKeep answers **concise, clear, and actionable**.\n\nUse this default structure:\n\n1. **Summary (1–2 sentences)** – plain-language status/insight.\n2. **Key Metrics & Status** – short bullets, with units.\n3. **Short-Term Outlook / Prediction** – near-term expectations, clearly marked as estimates.\n4. **Recommended Actions (1–3 bullets)** – practical, concrete next steps.\n5. **Assumptions / Data Gaps** – 1 short line noting defaults or limitations.\n\nAt the end of each response, append:\n\n{{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[576,128],"id":"02416df0-78cd-4b2b-975d-37faa6d6897b","name":"Melrose Agent"},{"parameters":{"tableName":"n8n_melrose_chat_histories","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[192,352],"id":"6cd51b0a-4f1f-4ec1-89b6-7141be508ea1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `The **Tavily tool** is enabled for targeted web searches. The **Auto Parameters** field is active (queries are auto-optimized) and the **preferred country is set to “United Kingdom”**, so results should prioritize UK sources and context. Use Tavily **only when strictly necessary** — that is, when essential information is missing and cannot be inferred from the input or your memory. Focus searches on high-value gaps (e.g., unclear entities, acronyms, events, product details). Always aim to deliver **reliable, concise, and UK-relevant outputs** with minimal searches.`, 'string') }}","options":{"auto_parameters":true,"country":"united kingdom"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[320,352],"id":"0f066a5d-a837-4b2d-89a2-e9802f69e137","name":"Tavily","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[448,352],"id":"abfba03b-f05f-4dec-aa1b-262f3bed9ec4","name":"Think"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for Inverters data\") }}","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[576,352],"id":"a7c9e11f-efd3-4668-b02e-f0e5917ac49d","name":"Execute SQL query","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{"operation":"executeQuery","query":"DESCRIBE inverter_data","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[704,352],"id":"00f686bf-016c-4418-819b-1889abccf63a","name":"Describe inverter_data table","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,-208],"id":"f3b0dc90-d31b-446e-b401-25a6089e45f2","name":"Clear chat history"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"restartSequences":true,"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,-208],"id":"c64873ed-6ab7-4b3e-8e6e-777831d19028","name":"Delete table or rows","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[832,352],"id":"6256dc5c-5857-4e60-8ac7-8de059e0ed90","name":"Calculator"},{"parameters":{"locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[960,352],"id":"0cc11f95-0686-490e-bd86-ccc4e23ae3d7","name":"Current Weather","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"operation":"5DayForecast","locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1088,352],"id":"32b1f4f4-ba72-43c3-abf2-55e8b0cd1f83","name":"5-Day Forecast","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"options":{"timezone":"Europe/London"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1216,352],"id":"98f609ff-ddfb-4efd-9cba-12ce1a790356","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"invoke_melrose_agent","responseMode":"responseNode","options":{"ipWhitelist":"100.10.10.254"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,32],"id":"45f9feb9-a12f-4d80-9409-ea37a239ab6b","name":"Webhook","webhookId":"99e61619-e798-4f15-a71a-da32770164fa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1424,128],"id":"63438e51-f107-461d-a225-f16ecbf1f6b3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"aff1523e-5343-4883-a2d3-b6d138fb2634","name":"fromWebhook","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,32],"id":"25dea945-a949-4c6e-ad35-312deb075446","name":"Set correct fields"},{"parameters":{"model":"model-router","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[64,352],"id":"64576396-2027-483e-8c80-03103a3c2070","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d3cdfaf-ca3e-4b44-8b9f-03c225994a48","name":"content","value":"=**Role & Audience** Provide clear, concise **reports, insights, and short-term predictions** for solar **inverters** to a **non-technical audience**. Avoid jargon. If details are missing, apply **sensible defaults** and state them briefly.  **Tools**  * **Think tool (mandatory, but lightweight):** Quickly define scope, time, and metrics. Keep reasoning minimal. * **Date & Time tool:** Always use for current date/time when building queries or presenting time ranges. Apply Europe/London timezone. * **MariaDB:** Query only from `inverters.inverter_data`; use full serials in queries but show only last 4 digits in answers; keep queries minimal (only required columns, use LIMIT). If a query fails, **re-plan briefly with Think tool and retry once**. * **Calculator:** Use **only when calculations are complex** (e.g., averages, rolling stats, projections, % comparisons). Perform simple arithmetic directly. * **OpenWeatherMap – Current Weather:** Use **only if explicitly asked about today’s conditions**. * **OpenWeatherMap – 5-Day Forecast:** Use **only if explicitly asked about future conditions**. * **Tavily:** Use **only if explicitly asked for external context** (e.g., energy policy, industry news).  **Guardrails**  * Always plan with **Think tool**, but keep planning minimal for speed. * Always use **Date & Time tool** when referencing current time or defaults. * Use **Calculator tool only when needed**; do simple math directly. * Never call Weather or Tavily unless explicitly requested. * If a tool fails, continue with inverter insights. * If a **SQL query errors**, retry once after replanning. * Responses must be **concise, clear, and actionable**. {{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-432],"id":"feac3dd9-dddb-4c98-853d-5a8b6f4e945a","name":"Old system message"}],"connections":{"When chat message received":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Melrose Agent","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Melrose Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Execute SQL query":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Describe inverter_data table":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Clear chat history":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Current Weather":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"5-Day Forecast":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Set correct fields","type":"main","index":0}]]},"Set correct fields":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"Melrose Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b4f69cb-2b30-4b0c-8218-6b25e36e9c77","triggerCount":2,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"w9EA1xarXIZpOQ07","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}