workflows/w9EA1xarXIZpOQ07.json
{"createdAt":"2025-08-22T06:42:48.087Z","updatedAt":"2025-09-15T15:13:34.628Z","id":"w9EA1xarXIZpOQ07","name":"Melrose agent","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"☀️ Welcome! I’m **Melrose Agent**, here to keep your solar fleet on course.\nI can give you **fleet reports, highlight issues, and forecast production** in simple terms.\nWant me to start with a **today’s report**?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-368,32],"id":"efacd239-81d3-4389-8f3d-d961f4a396f7","name":"When chat message received","webhookId":"af9241bb-8891-4f17-bdf4-5ca7bce08918","credentials":{"httpBasicAuth":{"id":"qmB65FyNsmZ3OPCf","name":"Melrose Agent credentials"}}},{"parameters":{"options":{"systemMessage":"=**Role & Audience**\nProvide clear, concise **reports, insights, and short-term predictions** for solar **inverters** to a **non-technical audience**.\nAvoid jargon. If details are missing, apply **sensible defaults** and state them briefly.\n\n**Tools**\n\n* **Think tool (mandatory, but lightweight):** Quickly define scope, time, and metrics. Keep reasoning minimal.\n* **Date & Time tool:** Always use for current date/time when building queries or presenting time ranges. Apply Europe/London timezone.\n* **MariaDB:** Query only from `inverters.inverter_data`; use full serials in queries but show only last 4 digits in answers; keep queries minimal (only required columns, use LIMIT). If a query fails, **re-plan briefly with Think tool and retry once**.\n* **Calculator:** Use **only when calculations are complex** (e.g., averages, rolling stats, projections, % comparisons). Perform simple arithmetic directly.\n* **OpenWeatherMap – Current Weather:** Use **only if explicitly asked about today’s conditions**.\n* **OpenWeatherMap – 5-Day Forecast:** Use **only if explicitly asked about future conditions**.\n* **Tavily:** Use **only if explicitly asked for external context** (e.g., energy policy, industry news).\n\n**Guardrails**\n\n* Always plan with **Think tool**, but keep planning minimal for speed.\n* Always use **Date & Time tool** when referencing current time or defaults.\n* Use **Calculator tool only when needed**; do simple math directly.\n* Never call Weather or Tavily unless explicitly requested.\n* If a tool fails, continue with inverter insights.\n* If a **SQL query errors**, retry once after replanning.\n* Responses must be **concise, clear, and actionable**.\n{{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[576,-80],"id":"02416df0-78cd-4b2b-975d-37faa6d6897b","name":"Melrose Agent"},{"parameters":{"tableName":"n8n_melrose_chat_histories","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[192,160],"id":"6cd51b0a-4f1f-4ec1-89b6-7141be508ea1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"model":"gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[64,160],"id":"fcb52231-e883-4fff-b02c-1baefe39580c","name":"gpt-5-mini","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Open AI GPT 5 - Bunkerity"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `The **Tavily tool** is enabled for targeted web searches. The **Auto Parameters** field is active (queries are auto-optimized) and the **preferred country is set to “United Kingdom”**, so results should prioritize UK sources and context. Use Tavily **only when strictly necessary** — that is, when essential information is missing and cannot be inferred from the input or your memory. Focus searches on high-value gaps (e.g., unclear entities, acronyms, events, product details). Always aim to deliver **reliable, concise, and UK-relevant outputs** with minimal searches.`, 'string') }}","options":{"auto_parameters":true,"country":"united kingdom"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[320,160],"id":"0f066a5d-a837-4b2d-89a2-e9802f69e137","name":"Tavily","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[448,160],"id":"abfba03b-f05f-4dec-aa1b-262f3bed9ec4","name":"Think"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for Inverters data\") }}","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[576,160],"id":"a7c9e11f-efd3-4668-b02e-f0e5917ac49d","name":"Execute SQL query","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{"operation":"executeQuery","query":"DESCRIBE inverter_data","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[704,160],"id":"00f686bf-016c-4418-819b-1889abccf63a","name":"Describe inverter_data table","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,-400],"id":"f3b0dc90-d31b-446e-b401-25a6089e45f2","name":"Clear chat history"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"restartSequences":true,"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,-400],"id":"c64873ed-6ab7-4b3e-8e6e-777831d19028","name":"Delete table or rows","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[832,160],"id":"6256dc5c-5857-4e60-8ac7-8de059e0ed90","name":"Calculator"},{"parameters":{"locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[960,160],"id":"0cc11f95-0686-490e-bd86-ccc4e23ae3d7","name":"Current Weather","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"operation":"5DayForecast","locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1088,160],"id":"32b1f4f4-ba72-43c3-abf2-55e8b0cd1f83","name":"5-Day Forecast","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"options":{"timezone":"Europe/London"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1216,160],"id":"98f609ff-ddfb-4efd-9cba-12ce1a790356","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"invoke_melrose_agent","responseMode":"responseNode","options":{"ipWhitelist":"100.10.10.254"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,-176],"id":"45f9feb9-a12f-4d80-9409-ea37a239ab6b","name":"Webhook","webhookId":"99e61619-e798-4f15-a71a-da32770164fa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1424,-80],"id":"63438e51-f107-461d-a225-f16ecbf1f6b3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"aff1523e-5343-4883-a2d3-b6d138fb2634","name":"fromWebhook","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-176],"id":"25dea945-a949-4c6e-ad35-312deb075446","name":"Set correct fields"}],"connections":{"When chat message received":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Melrose Agent","type":"ai_memory","index":0}]]},"gpt-5-mini":{"ai_languageModel":[[{"node":"Melrose Agent","type":"ai_languageModel","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Melrose Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Execute SQL query":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Describe inverter_data table":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Clear chat history":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Current Weather":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"5-Day Forecast":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Set correct fields","type":"main","index":0}]]},"Set correct fields":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58d73902-e685-4e0a-ba96-3f55d2122537","triggerCount":2,"shared":[{"createdAt":"2025-09-15T15:10:15.425Z","updatedAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"w9EA1xarXIZpOQ07","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[]}