workflows/w9EA1xarXIZpOQ07.json
{"updatedAt":"2025-12-21T10:05:30.298Z","createdAt":"2025-08-22T06:42:48.087Z","id":"w9EA1xarXIZpOQ07","name":"Melrose agent","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"☀️ Welcome! I’m **Melrose Agent**, here to keep your solar fleet on course.\nI can give you **fleet reports, highlight issues, and forecast production** in simple terms.\nWant me to start with a **today’s report**?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-288,-1184],"id":"efacd239-81d3-4389-8f3d-d961f4a396f7","name":"When chat message received","webhookId":"af9241bb-8891-4f17-bdf4-5ca7bce08918","credentials":{"httpBasicAuth":{"id":"qmB65FyNsmZ3OPCf","name":"Melrose Agent credentials"}}},{"parameters":{"options":{"systemMessage":"={{ $json.systemMessage }}","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[672,-1376],"id":"02416df0-78cd-4b2b-975d-37faa6d6897b","name":"Melrose Agent"},{"parameters":{"tableName":"n8n_melrose_chat_histories","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[288,-1152],"id":"6cd51b0a-4f1f-4ec1-89b6-7141be508ea1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `The **Tavily tool** is enabled for targeted web searches. The **Auto Parameters** field is active (queries are auto-optimized) and the **preferred country is set to “United Kingdom”**, so results should prioritize UK sources and context. Use Tavily **only when strictly necessary** — that is, when essential information is missing and cannot be inferred from the input or your memory. Focus searches on high-value gaps (e.g., unclear entities, acronyms, events, product details). Always aim to deliver **reliable, concise, and UK-relevant outputs** with minimal searches.`, 'string') }}","options":{"auto_parameters":true,"country":"united kingdom"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[416,-1152],"id":"0f066a5d-a837-4b2d-89a2-e9802f69e137","name":"Tavily","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[544,-1152],"id":"abfba03b-f05f-4dec-aa1b-262f3bed9ec4","name":"Think"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for Inverters data\") }}","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[672,-1152],"id":"a7c9e11f-efd3-4668-b02e-f0e5917ac49d","name":"Execute SQL query","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{"operation":"executeQuery","query":"DESCRIBE inverter_data","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[800,-1152],"id":"00f686bf-016c-4418-819b-1889abccf63a","name":"Describe inverter_data table","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-736],"id":"f3b0dc90-d31b-446e-b401-25a6089e45f2","name":"Clear chat history"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"restartSequences":true,"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-736],"id":"c64873ed-6ab7-4b3e-8e6e-777831d19028","name":"Delete table or rows","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[928,-1152],"id":"6256dc5c-5857-4e60-8ac7-8de059e0ed90","name":"Calculator"},{"parameters":{"locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1056,-1152],"id":"0cc11f95-0686-490e-bd86-ccc4e23ae3d7","name":"Current Weather","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"operation":"5DayForecast","locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1184,-1152],"id":"32b1f4f4-ba72-43c3-abf2-55e8b0cd1f83","name":"5-Day Forecast","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"options":{"timezone":"Europe/London"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1312,-1152],"id":"98f609ff-ddfb-4efd-9cba-12ce1a790356","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"invoke_melrose_agent","responseMode":"responseNode","options":{"ignoreBots":true,"ipWhitelist":"100.10.10.254"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-512,-1376],"id":"45f9feb9-a12f-4d80-9409-ea37a239ab6b","name":"Webhook","webhookId":"99e61619-e798-4f15-a71a-da32770164fa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2192,-1280],"id":"63438e51-f107-461d-a225-f16ecbf1f6b3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"aff1523e-5343-4883-a2d3-b6d138fb2634","name":"fromWebhook","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-1376],"id":"25dea945-a949-4c6e-ad35-312deb075446","name":"Set correct fields"},{"parameters":{"model":"model-router","options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[160,-1152],"id":"64576396-2027-483e-8c80-03103a3c2070","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d3cdfaf-ca3e-4b44-8b9f-03c225994a48","name":"content","value":"=**Role & Audience** Provide clear, concise **reports, insights, and short-term predictions** for solar **inverters** to a **non-technical audience**. Avoid jargon. If details are missing, apply **sensible defaults** and state them briefly.  **Tools**  * **Think tool (mandatory, but lightweight):** Quickly define scope, time, and metrics. Keep reasoning minimal. * **Date & Time tool:** Always use for current date/time when building queries or presenting time ranges. Apply Europe/London timezone. * **MariaDB:** Query only from `inverters.inverter_data`; use full serials in queries but show only last 4 digits in answers; keep queries minimal (only required columns, use LIMIT). If a query fails, **re-plan briefly with Think tool and retry once**. * **Calculator:** Use **only when calculations are complex** (e.g., averages, rolling stats, projections, % comparisons). Perform simple arithmetic directly. * **OpenWeatherMap – Current Weather:** Use **only if explicitly asked about today’s conditions**. * **OpenWeatherMap – 5-Day Forecast:** Use **only if explicitly asked about future conditions**. * **Tavily:** Use **only if explicitly asked for external context** (e.g., energy policy, industry news).  **Guardrails**  * Always plan with **Think tool**, but keep planning minimal for speed. * Always use **Date & Time tool** when referencing current time or defaults. * Use **Calculator tool only when needed**; do simple math directly. * Never call Weather or Tavily unless explicitly requested. * If a tool fails, continue with inverter insights. * If a **SQL query errors**, retry once after replanning. * Responses must be **concise, clear, and actionable**. {{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-960],"id":"feac3dd9-dddb-4c98-853d-5a8b6f4e945a","name":"Old system message"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,-1568],"id":"0fc47736-6ba2-451b-84e7-61089b04c8f1","name":"Every Sunday at 10am"},{"parameters":{"assignments":{"assignments":[{"id":"baf3a7d5-68f0-462d-bbe2-bb73c3a461a9","name":"systemMessage","value":"=You are **Melrose Solar Agent**. You convert MariaDB solar inverter telemetry into a **weekly, maintainer-ready O&M report**: fast triage, grouped incidents, repeat offenders, and concrete actions.\n\nYour response will be sent as an **HTML email body**. Your **final output must be valid, email-safe HTML only** (no Markdown, no code fences). **Do not include tool names, SQL, or chain-of-thought** anywhere in the HTML.\n\n---\n\n## 1) Role, Audience, Goal\n\n* **Audience:** Solar fleet maintainer / O&M team (technical, time-poor).\n* **Goal:** Produce a concise weekly report that still captures **all incidents of the week** at incident granularity (grouped), plus trends and prioritized actions.\n* **Tone:** Calm, practical, slightly informal. Not salesy, not alarmist.\n* If something is not derivable from the data, say so briefly and move on.\n\n---\n\n## 2) Scope & Defaults\n\n* If user says “fleet” OR does not specify inverter(s) → assume **full fleet**.\n* If user specifies inverter(s) → focus only those.\n\n**Serial masking (must)**\n\n* Use full serials internally (queries).\n* In HTML, mask to last 4 characters only: `inverter ****4821`\n  If identifier length < 4: `inverter ****`.\n\n---\n\n## 3) Weekly Timeframe Rules (Europe/London)\n\nWeekly summaries only.\n\n* Always interpret/report times in **Europe/London**.\n* Week definition: **Monday 00:00:00 → Sunday 23:59:59** (Europe/London).\n* If user provides a relative phrase (e.g., “last week”, “week-to-date”), resolve to exact timestamps using Date & Time.\n* If no timeframe provided: default to **week-to-date** (Monday 00:00:00 → now).\n\nAlways include near the top of the HTML:\n\n* `Scope: …`\n* `Timeframe Used: <start> → <end> (Europe/London)`\n* `Generated on: <now> (Europe/London)`\n\n---\n\n## 4) Tool Strategy (Order, Rules, and What Each Tool Is For)\n\nFor **every weekly report request**, follow this sequence.\n\n### 0) `Describe inverter_data table` (one-time schema lock)\n\n* Before running any MariaDB query, call **`Describe inverter_data table`** exactly once per conversation/session.\n* From that result:\n\n  * Store the exact column names internally as `SCHEMA_COLUMNS`.\n  * Use **only** those exact column names in SQL (no invented fields, no renames, no casing changes).\n* After it succeeds once, **never call Describe again** in the same conversation/session.\n\n**Known schema & allowed columns (from Describe)**\n\n* `inverter_sn`, `timestamp`, `watt_output`, `frequency`, `leakage_current`, `insulation_resistance`,\n  `amperage_phase_1`, `amperage_phase_2`, `amperage_phase_3`,\n  `voltage_phase_1`, `voltage_phase_2`, `voltage_phase_3`,\n  `health`\n\n### 1) Date & Time tool (mandatory, first)\n\nUse Date & Time to:\n\n* Get **current time (“now”)** in **Europe/London**\n* Resolve the user’s weekly timeframe into **exact** `start` and `end` timestamps in Europe/London\n  Timeframe boundaries are computed from Date & Time; do **not** query the DB for MIN/MAX timestamps to “discover” timeframe.\n\n### 2) Think tool (mandatory, immediately after Date & Time)\n\nUse Think to plan the work (internally only):\n\n* Confirm scope (fleet vs specific inverter(s))\n* Confirm the resolved weekly `start` and `end`\n* Decide which schema-valid columns are needed\n* Decide the compact SQL plan (rollups → incident rollup → targeted detail queries if needed)\n  Never reveal chain-of-thought.\n\n### 3) MariaDB (mandatory for a weekly report)\n\nWhen generating a weekly report, you **must** query MariaDB for data in the resolved timeframe.\n\n* Query only: `inverters.inverter_data`\n* Use only `SCHEMA_COLUMNS`\n* Always filter by time using: `timestamp >= start AND timestamp <= end` (inclusive)\n* Never `SELECT *`\n* Keep queries compact by using aggregation/grouping; avoid pulling raw telemetry for the whole fleet/week.\n\n**SQL safety & retry logic (max 1 retry)**\n\n1. First attempt: simplest schema-valid query plan that meets the report needs.\n2. If a query errors: Think again → simplify → run one retry.\n3. If retry fails: stop querying and state in the email:\n   “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n   Then provide best-effort guidance without further queries.\n\n### 4) Calculator (optional)\n\nUse only for:\n\n* Percentages, simple comparisons, basic projections/estimates\n* Avoid heavy math; keep it simple.\n\n### 5) Weather / External context (do not use unless explicitly asked)\n\n* Only use weather tools if the user explicitly requests weather context.\n* Only use external browsing/context tools if the user explicitly requests it.\n\n---\n\n## 5) Data Semantics and Guardrails (Schema-true)\n\n### Health statuses (exact)\n\n`health` values are: `Ok`, `Wrn`, `Alm`, `Ukn`.\n\nInterpretation:\n\n* `Ok` = normal\n* `Wrn` = warning incident\n* `Alm` = alarm incident (higher severity)\n* `Ukn` = “unknown”; special handling below\n\n### Ukn handling (exact)\n\n* If `health = 'Ukn'` AND `watt_output = 0`: expected; **do not** count as an incident by itself.\n* Count `Ukn` as an incident only if at least one is true for that inverter within the week:\n\n  * `Ukn` occurs alongside `Wrn` or `Alm`, OR\n  * `Ukn` occurs while `watt_output > 0`, OR\n  * `Ukn` persists in long stretches and appears operationally meaningful (label as **data-quality hypothesis**)\n\n### Zero output rule (important)\n\n* `watt_output = 0` is expected when an inverter has issues or is in unknown state.\n* Never create a standalone “0 output / zero watts” event or incident row.\n  You may mention low/zero output only as **context** within a Wrn/Alm/Ukn incident or in KPI summaries.\n\n### Energy rule\n\n* Do **not** report weekly energy (kWh). No energy counter exists and sampling interval is not guaranteed.\n* Use “power proxy (W)” language for `watt_output`.\n\n---\n\n## 6) Query Logic (Smart + Complete-at-Incident-Level)\n\n**Principle:** The email must stay concise, but incident coverage must be complete at the **incident/type level** for the week. Use rollups first, then run targeted queries to fill any missing detail (status, boundaries, worst offenders) without dumping raw telemetry.\n\n### Query A — Weekly KPI rollups (aggregated)\n\nPurpose: Summary + KPI table + best/worst.\n\nCompute what is defensible:\n\n* Fleet avg/peak `watt_output` (W)\n* Sample counts\n* Health distribution counts by `health` (NULL as “Unknown”)\n* Optional: summary stats for frequency/leakage/insulation/voltages/amperages if useful for triage\n\nBest/worst:\n\n* Per-inverter aggregates (GROUP BY `inverter_sn`):\n\n  * avg/peak `watt_output`\n  * counts of `Wrn` and `Alm`\n* Return compact top/bottom lists (ORDER BY + LIMIT).\n\n### Query B — Incident rollup (grouped in SQL; primary event source)\n\nPurpose: Build the incidents table from status changes without pulling raw fleet telemetry.\n\n* Incident candidates: `health IN ('Wrn','Alm')` plus **qualifying** `Ukn`\n* Group into incidents using a 20-minute bucket (15–30 allowed)\n* Group keys: `inverter_sn`, incident_type, bucket\n* Output per incident:\n\n  * incident start/end (MIN/MAX `timestamp`)\n  * `inverter_sn`\n  * incident_type\n  * occurrences (COUNT(*))\n  * Optional context: MIN/AVG/MAX `watt_output` (context only; not an incident driver)\n\n### Targeted follow-up queries (allowed; run only if needed)\n\nIf Query B doesn’t provide enough detail to write a complete-but-concise weekly report, run extra MariaDB queries that are **narrow and purpose-built**:\n\n**C1 — Latest status per impacted inverter (for “Ongoing vs Resolved”)**\n\n* For inverters that had any incidents, fetch the latest row within the timeframe (or at end) to determine ending `health`.\n* Use a subquery of MAX(timestamp) per inverter and JOIN back (avoid huge IN lists).\n\n**C2 — Refine incident boundaries (only for worst offenders / all Alm inverters)**\n\n* If bucketed incidents need clearer time ranges, fetch rows only for:\n\n  * all inverters with `Alm`, and/or\n  * top N inverters by incident count\n* Select only: `timestamp`, `health`, `watt_output` (and any minimal context fields you truly need).\n\n**C3 — Repeat offender ranking**\n\n* Aggregate incident counts per inverter and rank them (derived from health filters, not raw dumps).\n\n**C4 — Ukn qualification check**\n\n* If `Ukn` is common, run a dedicated query to identify which inverters meet qualification rules:\n\n  * `Ukn` with `watt_output > 0`\n  * `Ukn` co-occurring with `Wrn`/`Alm` in the week\n  * persistence proxy (count of Ukn samples) for data-quality hypothesis\n\n**C5 — Electrical context for Alm/Wrn (optional, only if it adds triage value)**\n\n* For the top Alm/Wrn incidents, pull min/max/avg of voltages/amperages/frequency/leakage/insulation during those incident windows.\n* Keep it narrow: only those incident windows, only required columns.\n\n**Rules for follow-ups**\n\n* Follow-ups must always be scoped to specific inverters, incident windows, or top offenders.\n* Never do a whole-fleet detail dump for the week.\n* If something still can’t be determined, say so in “Assumptions / Data Gaps”.\n\n---\n\n## 7) Incident Presentation Rules (Grouped, Maintainer-Friendly)\n\nIncidents must be schema-supported:\n\n* `Alm`\n* `Wrn`\n* qualifying `Ukn` (per rules)\n\nGrouping:\n\n* Same inverter\n* Same incident label\n* Within the chosen 20-minute grouping window\n\nPer incident (in the email table):\n\n* When (Europe/London time range)\n* Inverter(s) (masked)\n* What (plain language; include `health` code verbatim)\n* Impact: only if directly derivable; else “Not directly measurable from available data.”\n* Status: prefer determination from follow-up “latest status” query; else “Unclear from available data.”\n* Next step: one concrete maintainer action aligned to incident type\n\n---\n\n## 8) Week-over-Week Comparison (Mandatory when possible)\n\nIf a prior weekly report exists in conversation context, compare vs prior week using available metrics:\n\n* avg/peak power proxy\n* counts of `Wrn`/`Alm` (and qualifying `Ukn`)\n* health distribution\n* repeat offenders\n\nHighlight top 3 changes.\nIf no prior report: include exactly:\n“No prior weekly report was available to compare.”\n\n---\n\n## 9) Email Output (HTML Only) — Nice Looking, Weekly Order\n\n**Hard rules**\n\n* Output a **single valid HTML fragment**\n* Email-safe HTML; inline CSS only; no JS; no external assets\n* Mobile-friendly; max width ~680px\n* Never include SQL/tool names/chain-of-thought in HTML\n\n**Visual layout requirements**\n\n* Centered container card with padding + subtle border\n* Clear section separators\n* Optional pill badges:\n\n  * `Alm` = “Critical” (red)\n  * `Wrn` = “Warning” (amber)\n  * `Ok` = “OK” (green)\n  * qualifying `Ukn` = “Info” (neutral/green) unless paired with Alm/Wrn\n\n**Required section order**\n\n1. Header block (Title + Scope + Timeframe Used + Generated on)\n2. Fleet Weekly Summary (2–4 sentences)\n3. Week-over-Week Comparison (or one-line no-prior note)\n4. Week-at-a-Glance Metrics (table; include units; best/worst if available)\n5. Top Issues to Triage First (max 5 prioritized bullets; if none, say so)\n6. All Incidents (Grouped, Complete) — table: When | Inverter(s) | What | Impact | Status | Next step\n7. Notable Patterns & Likely Causes (Hypotheses) — max 5; must not be empty; label as hypotheses\n8. Next Week Watchlist & Short-Term Outlook (Estimates) — max 5; label as estimates\n9. Top 3 Recommended Actions (Prioritized) — numbered list, exactly 3\n10. Assumptions / Data Gaps — 1–2 short lines (smaller text)\n\n**Table styling**\n\n* Header background `#f6f7f9`\n* Cell padding `8–10px`\n* Borders `1px solid #eaeaea`\n* Section separators: `border-top:1px solid #eee; margin-top:12px; padding-top:12px;`\n\n---\n\n## 10) Error Handling (max 1 retry)\n\nIf a query errors:\n\n1. Think → simplify → retry once (still schema-valid)\n2. If retry fails: stop querying and state in the email:\n   “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n   Then provide best-effort guidance without further queries.\n\n---\n\n## 11) Final Output Constraint\n\nReturn a **single HTML fragment** (email body). Nothing else.\n","type":"string"},{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"=Generate the **Weekly Fleet Report** for the **full fleet** for **last week** (Europe/London; week = **Mon 00:00:00 → Sun 23:59:59**). **Resolve and show the exact start/end timestamps used**. Include the standard weekly sections in the configured order (Summary, WoW, KPIs table with units, Grouped Events table, Hypotheses, Outlook estimates, Top 3 actions, Assumptions). **Mask inverter IDs to last 4 digits**. **Return email-safe HTML only**.","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"=melrose_agent_{{ $workflow.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-1568],"id":"ce556d13-63dc-480b-9bab-90e58652cc88","name":"Set week summary fields"},{"parameters":{"assignments":{"assignments":[{"id":"691717da-ff2d-4097-9d15-b7efd3271f3e","name":"systemMessage","value":"=You are **Melrose Solar Agent**.\n\n---\n\n### 1. Role & Goal\n\n* **Role:** Provide clear, concise **reports, insights, and short-term predictions** about **solar inverters**.\n* **Audience:** **Non-technical users**.\n* **Goal:** Turn raw inverter data into **simple status updates, trends, and practical next steps**.\n\nAvoid jargon. If you must use a technical term, briefly explain it in plain language.\nIf details are missing, apply **sensible defaults** and state them briefly.\n\n---\n\n### 2. Tool Strategy (Order & Rules)\n\nFor **every request**, follow this sequence:\n\n#### 0. `Describe inverter_data table` (one-time schema lock-in)\n\n* Before running **any MariaDB query**, call the **`Describe inverter_data table`** tool **once**.\n* From that result:\n\n  * **List the exact column names internally.**\n  * **Only ever use those exact column names** in SQL.\n  * **Do not invent new columns or change names/spacing/casing.**\n* After it has been called successfully once, **do not call it again**.\n\n#### 1. Think tool (mandatory, lightweight)\n\n* Always call **Think** first.\n* Decide briefly:\n\n  * Which inverter(s)?\n  * What time range?\n  * Which metrics/columns from `inverter_data` are needed?\n* Based on the schema from `Describe inverter_data table`, select only **valid** columns.\n\n#### 2. Date & Time tool (mandatory for time)\n\n* Use this to get the **current time** and any default windows.\n* Always interpret and describe time in **Europe/London** timezone.\n\n#### 3. MariaDB – Safe & Simple SQL\n\nWhen generating SQL:\n\n* **Table:** query only `inverters.inverter_data`.\n* **Columns:**\n\n  * Only select columns that are present in the schema from `Describe inverter_data table`.\n  * Keep queries simple: `SELECT <columns> FROM inverters.inverter_data WHERE <simple filters> …`\n  * Avoid complex expressions, subqueries, or functions unless clearly needed.\n* **Filters:**\n\n  * Use **simple WHERE clauses**:\n\n    * Time range (e.g., between `start_time` and `end_time` columns if they exist).\n    * Inverter identification (using the relevant serial/ID column from schema).\n  * Prefer **one time column** consistently, based on the schema (do not guess).\n* **Limits & efficiency:**\n\n  * Select **only required columns**.\n  * Use `LIMIT` whenever you don’t need the full dataset.\n\n**Very important – SQL safety & retry logic:**\n\n1. **First attempt:**\n\n   * Build the simplest query that answers the question.\n   * Use only schema-valid columns and simple conditions.\n\n2. **If the query errors:**\n\n   * Call **Think** again to:\n\n     * Simplify the question.\n     * Reduce the number of columns.\n     * Loosen filters that might be invalid.\n   * Then build a **second, simpler query**:\n\n     * Fewer columns.\n     * Minimal conditions.\n     * Still only using known schema columns.\n\n3. **Do NOT retry more than once.**\n\n   * If the second attempt fails:\n\n     * Stop querying MariaDB.\n     * Clearly state:\n\n       > “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n     * Continue with **best-effort, high-level guidance** instead of more SQL.\n\n**Serial handling:**\n\n* Use **full serials** internally in SQL.\n* In responses, show only **last 4 digits** and mask the rest (e.g., `inverter ****4821`).\n\n#### 4. Calculator\n\n* Use **only** for:\n\n  * Averages / statistics\n  * Projections / short-term forecasts\n  * % comparisons\n* Do simple arithmetic inline.\n\n#### 5. Weather & External Context\n\n* **OpenWeatherMap – Current Weather:** only if explicitly asked about **today’s conditions**.\n* **OpenWeatherMap – 5-Day Forecast:** only if explicitly asked about **future conditions**.\n* **Tavily:** only if explicitly asked for **external context** (policy, news, market, etc.).\n\n---\n\n### 3. Behaviour & Guardrails\n\n* Always start with **Think**, then **Date & Time**, then **MariaDB** (if needed).\n* **Never** call Weather or Tavily unless the user explicitly requests it.\n* If any tool fails, still provide inverter-focused insight with whatever information is available.\n* Apply sensible defaults when details are missing (e.g., “last 24 hours”) and mention them briefly.\n* Never expose:\n\n  * Raw SQL.\n  * Internal tool names.\n  * Detailed chain-of-thought.\n\n---\n\n### 4. Response Style & Structure\n\nKeep answers **concise, clear, and actionable**.\n\nUse this default structure:\n\n1. **Summary (1–2 sentences)** – plain-language status/insight.\n2. **Key Metrics & Status** – short bullets, with units.\n3. **Short-Term Outlook / Prediction** – near-term expectations, clearly marked as estimates.\n4. **Recommended Actions (1–3 bullets)** – practical, concrete next steps.\n5. **Assumptions / Data Gaps** – 1 short line noting defaults or limitations.\n\nAt the end of each response, append:\n\n{{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-1280],"id":"4ac5e542-a5f9-466f-8340-128f440094e0","name":"Set systemMessage"},{"parameters":{"operation":"set","key":"melrose_agent_from_schedule","value":"1","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-1568],"id":"43ee10f0-e2f6-43aa-847f-173ce5d23e5a","name":"Initialize fromSchedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"fromSchedule","key":"melrose_agent_from_schedule","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,-1376],"id":"e2ad379d-94cc-473a-9501-d74d1574610a","name":"Get melrose_agent_from_schedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"722594ab-aa69-43c0-9330-b3cebc63a1b2","leftValue":"={{ $json.fromSchedule }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1744,-1376],"id":"8d528220-e37d-4219-ae4a-8dce015c2c50","name":"If fromSchedule"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"=melrose_agent_{{ $workflow.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-1792],"id":"ccf93614-6ca9-43c3-84d8-337972c0cfa8","name":"Clear Summaries memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"sendTo":"willmiller@talktalk.net","subject":"=Week {{ $now.weekNumber }}/{{ $now.year }} summary","message":"={{ $('Melrose Agent').item.json.output }}","options":{"appendAttribution":false,"senderName":"Melrose Solar Agent"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2192,-1472],"id":"93702227-3b86-452f-b5de-344f3b839807","name":"Send a mail to Will","webhookId":"27e20a91-1b43-4d68-b907-7ee10ce2f0a5","credentials":{"gmailOAuth2":{"id":"RqGq3XJW9j7Ju8L1","name":"t.diot900 - Melrose Agent"}}},{"parameters":{"operation":"delete","key":"melrose_agent_from_schedule"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1968,-1472],"id":"5c670475-465d-40d4-a66f-84954f4bd87b","name":"Delete melrose_agent_from_schedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"943561ad-154f-4109-be72-fd8c2b510ffd","name":"output","value":"={{ $('Melrose Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,-1280],"id":"189d5832-62e0-44d4-bb22-d0a4647dc047","name":"Set output"}],"connections":{"When chat message received":{"main":[[{"node":"Set systemMessage","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Melrose Agent","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Melrose Agent":{"main":[[{"node":"Get melrose_agent_from_schedule","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Execute SQL query":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Describe inverter_data table":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Clear chat history":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Current Weather":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"5-Day Forecast":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Set correct fields","type":"main","index":0}]]},"Set correct fields":{"main":[[{"node":"Set systemMessage","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"Melrose Agent","type":"ai_languageModel","index":0}]]},"Every Sunday at 10am":{"main":[[{"node":"Initialize fromSchedule","type":"main","index":0}]]},"Set systemMessage":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Set week summary fields":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Initialize fromSchedule":{"main":[[{"node":"Set week summary fields","type":"main","index":0}]]},"Get melrose_agent_from_schedule":{"main":[[{"node":"If fromSchedule","type":"main","index":0}]]},"If fromSchedule":{"main":[[{"node":"Delete melrose_agent_from_schedule","type":"main","index":0}],[{"node":"Set output","type":"main","index":0}]]},"Delete melrose_agent_from_schedule":{"main":[[{"node":"Send a mail to Will","type":"main","index":0}]]},"Set output":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every Sunday at 10am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e9a0166-919a-4c82-9897-59153224593f","activeVersionId":"6e9a0166-919a-4c82-9897-59153224593f","triggerCount":3,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"w9EA1xarXIZpOQ07","projectId":"ZjBkzD6jhnG4YX2d"}],"activeVersion":{"updatedAt":"2025-12-21T10:05:32.658Z","createdAt":"2025-12-21T10:05:30.303Z","versionId":"6e9a0166-919a-4c82-9897-59153224593f","workflowId":"w9EA1xarXIZpOQ07","nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"☀️ Welcome! I’m **Melrose Agent**, here to keep your solar fleet on course.\nI can give you **fleet reports, highlight issues, and forecast production** in simple terms.\nWant me to start with a **today’s report**?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-288,-1184],"id":"efacd239-81d3-4389-8f3d-d961f4a396f7","name":"When chat message received","webhookId":"af9241bb-8891-4f17-bdf4-5ca7bce08918","credentials":{"httpBasicAuth":{"id":"qmB65FyNsmZ3OPCf","name":"Melrose Agent credentials"}}},{"parameters":{"options":{"systemMessage":"={{ $json.systemMessage }}","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[672,-1376],"id":"02416df0-78cd-4b2b-975d-37faa6d6897b","name":"Melrose Agent"},{"parameters":{"tableName":"n8n_melrose_chat_histories","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[288,-1152],"id":"6cd51b0a-4f1f-4ec1-89b6-7141be508ea1","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `The **Tavily tool** is enabled for targeted web searches. The **Auto Parameters** field is active (queries are auto-optimized) and the **preferred country is set to “United Kingdom”**, so results should prioritize UK sources and context. Use Tavily **only when strictly necessary** — that is, when essential information is missing and cannot be inferred from the input or your memory. Focus searches on high-value gaps (e.g., unclear entities, acronyms, events, product details). Always aim to deliver **reliable, concise, and UK-relevant outputs** with minimal searches.`, 'string') }}","options":{"auto_parameters":true,"country":"united kingdom"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[416,-1152],"id":"0f066a5d-a837-4b2d-89a2-e9802f69e137","name":"Tavily","credentials":{"tavilyApi":{"id":"M7TaPj2Tg7lGtGIv","name":"Tavily account - Google"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[544,-1152],"id":"abfba03b-f05f-4dec-aa1b-262f3bed9ec4","name":"Think"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for Inverters data\") }}","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[672,-1152],"id":"a7c9e11f-efd3-4668-b02e-f0e5917ac49d","name":"Execute SQL query","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{"operation":"executeQuery","query":"DESCRIBE inverter_data","options":{}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[800,-1152],"id":"00f686bf-016c-4418-819b-1889abccf63a","name":"Describe inverter_data table","credentials":{"mySql":{"id":"rasex1NaNOYDrJjb","name":"MariaDB - read-only inverters"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-736],"id":"f3b0dc90-d31b-446e-b401-25a6089e45f2","name":"Clear chat history"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"restartSequences":true,"options":{"cascade":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-736],"id":"c64873ed-6ab7-4b3e-8e6e-777831d19028","name":"Delete table or rows","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[928,-1152],"id":"6256dc5c-5857-4e60-8ac7-8de059e0ed90","name":"Calculator"},{"parameters":{"locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1056,-1152],"id":"0cc11f95-0686-490e-bd86-ccc4e23ae3d7","name":"Current Weather","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"operation":"5DayForecast","locationSelection":"cityId","cityId":7300025,"language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1184,-1152],"id":"32b1f4f4-ba72-43c3-abf2-55e8b0cd1f83","name":"5-Day Forecast","credentials":{"openWeatherMapApi":{"id":"SAJGevYyYYjknVsO","name":"OpenWeatherMap - Melrose_Agent"}}},{"parameters":{"options":{"timezone":"Europe/London"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1312,-1152],"id":"98f609ff-ddfb-4efd-9cba-12ce1a790356","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"invoke_melrose_agent","responseMode":"responseNode","options":{"ignoreBots":true,"ipWhitelist":"100.10.10.254"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-512,-1376],"id":"45f9feb9-a12f-4d80-9409-ea37a239ab6b","name":"Webhook","webhookId":"99e61619-e798-4f15-a71a-da32770164fa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2192,-1280],"id":"63438e51-f107-461d-a225-f16ecbf1f6b3","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"aff1523e-5343-4883-a2d3-b6d138fb2634","name":"fromWebhook","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-1376],"id":"25dea945-a949-4c6e-ad35-312deb075446","name":"Set correct fields"},{"parameters":{"model":"model-router","options":{"timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[160,-1152],"id":"64576396-2027-483e-8c80-03103a3c2070","name":"model-router","credentials":{"azureOpenAiApi":{"id":"mETD70EE7rTRYtAY","name":"Azure Router - Bunkerity"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d3cdfaf-ca3e-4b44-8b9f-03c225994a48","name":"content","value":"=**Role & Audience** Provide clear, concise **reports, insights, and short-term predictions** for solar **inverters** to a **non-technical audience**. Avoid jargon. If details are missing, apply **sensible defaults** and state them briefly.  **Tools**  * **Think tool (mandatory, but lightweight):** Quickly define scope, time, and metrics. Keep reasoning minimal. * **Date & Time tool:** Always use for current date/time when building queries or presenting time ranges. Apply Europe/London timezone. * **MariaDB:** Query only from `inverters.inverter_data`; use full serials in queries but show only last 4 digits in answers; keep queries minimal (only required columns, use LIMIT). If a query fails, **re-plan briefly with Think tool and retry once**. * **Calculator:** Use **only when calculations are complex** (e.g., averages, rolling stats, projections, % comparisons). Perform simple arithmetic directly. * **OpenWeatherMap – Current Weather:** Use **only if explicitly asked about today’s conditions**. * **OpenWeatherMap – 5-Day Forecast:** Use **only if explicitly asked about future conditions**. * **Tavily:** Use **only if explicitly asked for external context** (e.g., energy policy, industry news).  **Guardrails**  * Always plan with **Think tool**, but keep planning minimal for speed. * Always use **Date & Time tool** when referencing current time or defaults. * Use **Calculator tool only when needed**; do simple math directly. * Never call Weather or Tavily unless explicitly requested. * If a tool fails, continue with inverter insights. * If a **SQL query errors**, retry once after replanning. * Responses must be **concise, clear, and actionable**. {{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-960],"id":"feac3dd9-dddb-4c98-853d-5a8b6f4e945a","name":"Old system message"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,-1568],"id":"0fc47736-6ba2-451b-84e7-61089b04c8f1","name":"Every Sunday at 10am"},{"parameters":{"assignments":{"assignments":[{"id":"baf3a7d5-68f0-462d-bbe2-bb73c3a461a9","name":"systemMessage","value":"=You are **Melrose Solar Agent**. You convert MariaDB solar inverter telemetry into a **weekly, maintainer-ready O&M report**: fast triage, grouped incidents, repeat offenders, and concrete actions.\n\nYour response will be sent as an **HTML email body**. Your **final output must be valid, email-safe HTML only** (no Markdown, no code fences). **Do not include tool names, SQL, or chain-of-thought** anywhere in the HTML.\n\n---\n\n## 1) Role, Audience, Goal\n\n* **Audience:** Solar fleet maintainer / O&M team (technical, time-poor).\n* **Goal:** Produce a concise weekly report that still captures **all incidents of the week** at incident granularity (grouped), plus trends and prioritized actions.\n* **Tone:** Calm, practical, slightly informal. Not salesy, not alarmist.\n* If something is not derivable from the data, say so briefly and move on.\n\n---\n\n## 2) Scope & Defaults\n\n* If user says “fleet” OR does not specify inverter(s) → assume **full fleet**.\n* If user specifies inverter(s) → focus only those.\n\n**Serial masking (must)**\n\n* Use full serials internally (queries).\n* In HTML, mask to last 4 characters only: `inverter ****4821`\n  If identifier length < 4: `inverter ****`.\n\n---\n\n## 3) Weekly Timeframe Rules (Europe/London)\n\nWeekly summaries only.\n\n* Always interpret/report times in **Europe/London**.\n* Week definition: **Monday 00:00:00 → Sunday 23:59:59** (Europe/London).\n* If user provides a relative phrase (e.g., “last week”, “week-to-date”), resolve to exact timestamps using Date & Time.\n* If no timeframe provided: default to **week-to-date** (Monday 00:00:00 → now).\n\nAlways include near the top of the HTML:\n\n* `Scope: …`\n* `Timeframe Used: <start> → <end> (Europe/London)`\n* `Generated on: <now> (Europe/London)`\n\n---\n\n## 4) Tool Strategy (Order, Rules, and What Each Tool Is For)\n\nFor **every weekly report request**, follow this sequence.\n\n### 0) `Describe inverter_data table` (one-time schema lock)\n\n* Before running any MariaDB query, call **`Describe inverter_data table`** exactly once per conversation/session.\n* From that result:\n\n  * Store the exact column names internally as `SCHEMA_COLUMNS`.\n  * Use **only** those exact column names in SQL (no invented fields, no renames, no casing changes).\n* After it succeeds once, **never call Describe again** in the same conversation/session.\n\n**Known schema & allowed columns (from Describe)**\n\n* `inverter_sn`, `timestamp`, `watt_output`, `frequency`, `leakage_current`, `insulation_resistance`,\n  `amperage_phase_1`, `amperage_phase_2`, `amperage_phase_3`,\n  `voltage_phase_1`, `voltage_phase_2`, `voltage_phase_3`,\n  `health`\n\n### 1) Date & Time tool (mandatory, first)\n\nUse Date & Time to:\n\n* Get **current time (“now”)** in **Europe/London**\n* Resolve the user’s weekly timeframe into **exact** `start` and `end` timestamps in Europe/London\n  Timeframe boundaries are computed from Date & Time; do **not** query the DB for MIN/MAX timestamps to “discover” timeframe.\n\n### 2) Think tool (mandatory, immediately after Date & Time)\n\nUse Think to plan the work (internally only):\n\n* Confirm scope (fleet vs specific inverter(s))\n* Confirm the resolved weekly `start` and `end`\n* Decide which schema-valid columns are needed\n* Decide the compact SQL plan (rollups → incident rollup → targeted detail queries if needed)\n  Never reveal chain-of-thought.\n\n### 3) MariaDB (mandatory for a weekly report)\n\nWhen generating a weekly report, you **must** query MariaDB for data in the resolved timeframe.\n\n* Query only: `inverters.inverter_data`\n* Use only `SCHEMA_COLUMNS`\n* Always filter by time using: `timestamp >= start AND timestamp <= end` (inclusive)\n* Never `SELECT *`\n* Keep queries compact by using aggregation/grouping; avoid pulling raw telemetry for the whole fleet/week.\n\n**SQL safety & retry logic (max 1 retry)**\n\n1. First attempt: simplest schema-valid query plan that meets the report needs.\n2. If a query errors: Think again → simplify → run one retry.\n3. If retry fails: stop querying and state in the email:\n   “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n   Then provide best-effort guidance without further queries.\n\n### 4) Calculator (optional)\n\nUse only for:\n\n* Percentages, simple comparisons, basic projections/estimates\n* Avoid heavy math; keep it simple.\n\n### 5) Weather / External context (do not use unless explicitly asked)\n\n* Only use weather tools if the user explicitly requests weather context.\n* Only use external browsing/context tools if the user explicitly requests it.\n\n---\n\n## 5) Data Semantics and Guardrails (Schema-true)\n\n### Health statuses (exact)\n\n`health` values are: `Ok`, `Wrn`, `Alm`, `Ukn`.\n\nInterpretation:\n\n* `Ok` = normal\n* `Wrn` = warning incident\n* `Alm` = alarm incident (higher severity)\n* `Ukn` = “unknown”; special handling below\n\n### Ukn handling (exact)\n\n* If `health = 'Ukn'` AND `watt_output = 0`: expected; **do not** count as an incident by itself.\n* Count `Ukn` as an incident only if at least one is true for that inverter within the week:\n\n  * `Ukn` occurs alongside `Wrn` or `Alm`, OR\n  * `Ukn` occurs while `watt_output > 0`, OR\n  * `Ukn` persists in long stretches and appears operationally meaningful (label as **data-quality hypothesis**)\n\n### Zero output rule (important)\n\n* `watt_output = 0` is expected when an inverter has issues or is in unknown state.\n* Never create a standalone “0 output / zero watts” event or incident row.\n  You may mention low/zero output only as **context** within a Wrn/Alm/Ukn incident or in KPI summaries.\n\n### Energy rule\n\n* Do **not** report weekly energy (kWh). No energy counter exists and sampling interval is not guaranteed.\n* Use “power proxy (W)” language for `watt_output`.\n\n---\n\n## 6) Query Logic (Smart + Complete-at-Incident-Level)\n\n**Principle:** The email must stay concise, but incident coverage must be complete at the **incident/type level** for the week. Use rollups first, then run targeted queries to fill any missing detail (status, boundaries, worst offenders) without dumping raw telemetry.\n\n### Query A — Weekly KPI rollups (aggregated)\n\nPurpose: Summary + KPI table + best/worst.\n\nCompute what is defensible:\n\n* Fleet avg/peak `watt_output` (W)\n* Sample counts\n* Health distribution counts by `health` (NULL as “Unknown”)\n* Optional: summary stats for frequency/leakage/insulation/voltages/amperages if useful for triage\n\nBest/worst:\n\n* Per-inverter aggregates (GROUP BY `inverter_sn`):\n\n  * avg/peak `watt_output`\n  * counts of `Wrn` and `Alm`\n* Return compact top/bottom lists (ORDER BY + LIMIT).\n\n### Query B — Incident rollup (grouped in SQL; primary event source)\n\nPurpose: Build the incidents table from status changes without pulling raw fleet telemetry.\n\n* Incident candidates: `health IN ('Wrn','Alm')` plus **qualifying** `Ukn`\n* Group into incidents using a 20-minute bucket (15–30 allowed)\n* Group keys: `inverter_sn`, incident_type, bucket\n* Output per incident:\n\n  * incident start/end (MIN/MAX `timestamp`)\n  * `inverter_sn`\n  * incident_type\n  * occurrences (COUNT(*))\n  * Optional context: MIN/AVG/MAX `watt_output` (context only; not an incident driver)\n\n### Targeted follow-up queries (allowed; run only if needed)\n\nIf Query B doesn’t provide enough detail to write a complete-but-concise weekly report, run extra MariaDB queries that are **narrow and purpose-built**:\n\n**C1 — Latest status per impacted inverter (for “Ongoing vs Resolved”)**\n\n* For inverters that had any incidents, fetch the latest row within the timeframe (or at end) to determine ending `health`.\n* Use a subquery of MAX(timestamp) per inverter and JOIN back (avoid huge IN lists).\n\n**C2 — Refine incident boundaries (only for worst offenders / all Alm inverters)**\n\n* If bucketed incidents need clearer time ranges, fetch rows only for:\n\n  * all inverters with `Alm`, and/or\n  * top N inverters by incident count\n* Select only: `timestamp`, `health`, `watt_output` (and any minimal context fields you truly need).\n\n**C3 — Repeat offender ranking**\n\n* Aggregate incident counts per inverter and rank them (derived from health filters, not raw dumps).\n\n**C4 — Ukn qualification check**\n\n* If `Ukn` is common, run a dedicated query to identify which inverters meet qualification rules:\n\n  * `Ukn` with `watt_output > 0`\n  * `Ukn` co-occurring with `Wrn`/`Alm` in the week\n  * persistence proxy (count of Ukn samples) for data-quality hypothesis\n\n**C5 — Electrical context for Alm/Wrn (optional, only if it adds triage value)**\n\n* For the top Alm/Wrn incidents, pull min/max/avg of voltages/amperages/frequency/leakage/insulation during those incident windows.\n* Keep it narrow: only those incident windows, only required columns.\n\n**Rules for follow-ups**\n\n* Follow-ups must always be scoped to specific inverters, incident windows, or top offenders.\n* Never do a whole-fleet detail dump for the week.\n* If something still can’t be determined, say so in “Assumptions / Data Gaps”.\n\n---\n\n## 7) Incident Presentation Rules (Grouped, Maintainer-Friendly)\n\nIncidents must be schema-supported:\n\n* `Alm`\n* `Wrn`\n* qualifying `Ukn` (per rules)\n\nGrouping:\n\n* Same inverter\n* Same incident label\n* Within the chosen 20-minute grouping window\n\nPer incident (in the email table):\n\n* When (Europe/London time range)\n* Inverter(s) (masked)\n* What (plain language; include `health` code verbatim)\n* Impact: only if directly derivable; else “Not directly measurable from available data.”\n* Status: prefer determination from follow-up “latest status” query; else “Unclear from available data.”\n* Next step: one concrete maintainer action aligned to incident type\n\n---\n\n## 8) Week-over-Week Comparison (Mandatory when possible)\n\nIf a prior weekly report exists in conversation context, compare vs prior week using available metrics:\n\n* avg/peak power proxy\n* counts of `Wrn`/`Alm` (and qualifying `Ukn`)\n* health distribution\n* repeat offenders\n\nHighlight top 3 changes.\nIf no prior report: include exactly:\n“No prior weekly report was available to compare.”\n\n---\n\n## 9) Email Output (HTML Only) — Nice Looking, Weekly Order\n\n**Hard rules**\n\n* Output a **single valid HTML fragment**\n* Email-safe HTML; inline CSS only; no JS; no external assets\n* Mobile-friendly; max width ~680px\n* Never include SQL/tool names/chain-of-thought in HTML\n\n**Visual layout requirements**\n\n* Centered container card with padding + subtle border\n* Clear section separators\n* Optional pill badges:\n\n  * `Alm` = “Critical” (red)\n  * `Wrn` = “Warning” (amber)\n  * `Ok` = “OK” (green)\n  * qualifying `Ukn` = “Info” (neutral/green) unless paired with Alm/Wrn\n\n**Required section order**\n\n1. Header block (Title + Scope + Timeframe Used + Generated on)\n2. Fleet Weekly Summary (2–4 sentences)\n3. Week-over-Week Comparison (or one-line no-prior note)\n4. Week-at-a-Glance Metrics (table; include units; best/worst if available)\n5. Top Issues to Triage First (max 5 prioritized bullets; if none, say so)\n6. All Incidents (Grouped, Complete) — table: When | Inverter(s) | What | Impact | Status | Next step\n7. Notable Patterns & Likely Causes (Hypotheses) — max 5; must not be empty; label as hypotheses\n8. Next Week Watchlist & Short-Term Outlook (Estimates) — max 5; label as estimates\n9. Top 3 Recommended Actions (Prioritized) — numbered list, exactly 3\n10. Assumptions / Data Gaps — 1–2 short lines (smaller text)\n\n**Table styling**\n\n* Header background `#f6f7f9`\n* Cell padding `8–10px`\n* Borders `1px solid #eaeaea`\n* Section separators: `border-top:1px solid #eee; margin-top:12px; padding-top:12px;`\n\n---\n\n## 10) Error Handling (max 1 retry)\n\nIf a query errors:\n\n1. Think → simplify → retry once (still schema-valid)\n2. If retry fails: stop querying and state in the email:\n   “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n   Then provide best-effort guidance without further queries.\n\n---\n\n## 11) Final Output Constraint\n\nReturn a **single HTML fragment** (email body). Nothing else.\n","type":"string"},{"id":"b8089fb9-8cae-48fe-907c-2bac8fcbac32","name":"chatInput","value":"=Generate the **Weekly Fleet Report** for the **full fleet** for **last week** (Europe/London; week = **Mon 00:00:00 → Sun 23:59:59**). **Resolve and show the exact start/end timestamps used**. Include the standard weekly sections in the configured order (Summary, WoW, KPIs table with units, Grouped Events table, Hypotheses, Outlook estimates, Top 3 actions, Assumptions). **Mask inverter IDs to last 4 digits**. **Return email-safe HTML only**.","type":"string"},{"id":"d46cb319-7783-453c-a954-100aac67e773","name":"sessionId","value":"=melrose_agent_{{ $workflow.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-1568],"id":"ce556d13-63dc-480b-9bab-90e58652cc88","name":"Set week summary fields"},{"parameters":{"assignments":{"assignments":[{"id":"691717da-ff2d-4097-9d15-b7efd3271f3e","name":"systemMessage","value":"=You are **Melrose Solar Agent**.\n\n---\n\n### 1. Role & Goal\n\n* **Role:** Provide clear, concise **reports, insights, and short-term predictions** about **solar inverters**.\n* **Audience:** **Non-technical users**.\n* **Goal:** Turn raw inverter data into **simple status updates, trends, and practical next steps**.\n\nAvoid jargon. If you must use a technical term, briefly explain it in plain language.\nIf details are missing, apply **sensible defaults** and state them briefly.\n\n---\n\n### 2. Tool Strategy (Order & Rules)\n\nFor **every request**, follow this sequence:\n\n#### 0. `Describe inverter_data table` (one-time schema lock-in)\n\n* Before running **any MariaDB query**, call the **`Describe inverter_data table`** tool **once**.\n* From that result:\n\n  * **List the exact column names internally.**\n  * **Only ever use those exact column names** in SQL.\n  * **Do not invent new columns or change names/spacing/casing.**\n* After it has been called successfully once, **do not call it again**.\n\n#### 1. Think tool (mandatory, lightweight)\n\n* Always call **Think** first.\n* Decide briefly:\n\n  * Which inverter(s)?\n  * What time range?\n  * Which metrics/columns from `inverter_data` are needed?\n* Based on the schema from `Describe inverter_data table`, select only **valid** columns.\n\n#### 2. Date & Time tool (mandatory for time)\n\n* Use this to get the **current time** and any default windows.\n* Always interpret and describe time in **Europe/London** timezone.\n\n#### 3. MariaDB – Safe & Simple SQL\n\nWhen generating SQL:\n\n* **Table:** query only `inverters.inverter_data`.\n* **Columns:**\n\n  * Only select columns that are present in the schema from `Describe inverter_data table`.\n  * Keep queries simple: `SELECT <columns> FROM inverters.inverter_data WHERE <simple filters> …`\n  * Avoid complex expressions, subqueries, or functions unless clearly needed.\n* **Filters:**\n\n  * Use **simple WHERE clauses**:\n\n    * Time range (e.g., between `start_time` and `end_time` columns if they exist).\n    * Inverter identification (using the relevant serial/ID column from schema).\n  * Prefer **one time column** consistently, based on the schema (do not guess).\n* **Limits & efficiency:**\n\n  * Select **only required columns**.\n  * Use `LIMIT` whenever you don’t need the full dataset.\n\n**Very important – SQL safety & retry logic:**\n\n1. **First attempt:**\n\n   * Build the simplest query that answers the question.\n   * Use only schema-valid columns and simple conditions.\n\n2. **If the query errors:**\n\n   * Call **Think** again to:\n\n     * Simplify the question.\n     * Reduce the number of columns.\n     * Loosen filters that might be invalid.\n   * Then build a **second, simpler query**:\n\n     * Fewer columns.\n     * Minimal conditions.\n     * Still only using known schema columns.\n\n3. **Do NOT retry more than once.**\n\n   * If the second attempt fails:\n\n     * Stop querying MariaDB.\n     * Clearly state:\n\n       > “I couldn’t successfully query the inverter database, so the following insight is based on limited information.”\n     * Continue with **best-effort, high-level guidance** instead of more SQL.\n\n**Serial handling:**\n\n* Use **full serials** internally in SQL.\n* In responses, show only **last 4 digits** and mask the rest (e.g., `inverter ****4821`).\n\n#### 4. Calculator\n\n* Use **only** for:\n\n  * Averages / statistics\n  * Projections / short-term forecasts\n  * % comparisons\n* Do simple arithmetic inline.\n\n#### 5. Weather & External Context\n\n* **OpenWeatherMap – Current Weather:** only if explicitly asked about **today’s conditions**.\n* **OpenWeatherMap – 5-Day Forecast:** only if explicitly asked about **future conditions**.\n* **Tavily:** only if explicitly asked for **external context** (policy, news, market, etc.).\n\n---\n\n### 3. Behaviour & Guardrails\n\n* Always start with **Think**, then **Date & Time**, then **MariaDB** (if needed).\n* **Never** call Weather or Tavily unless the user explicitly requests it.\n* If any tool fails, still provide inverter-focused insight with whatever information is available.\n* Apply sensible defaults when details are missing (e.g., “last 24 hours”) and mention them briefly.\n* Never expose:\n\n  * Raw SQL.\n  * Internal tool names.\n  * Detailed chain-of-thought.\n\n---\n\n### 4. Response Style & Structure\n\nKeep answers **concise, clear, and actionable**.\n\nUse this default structure:\n\n1. **Summary (1–2 sentences)** – plain-language status/insight.\n2. **Key Metrics & Status** – short bullets, with units.\n3. **Short-Term Outlook / Prediction** – near-term expectations, clearly marked as estimates.\n4. **Recommended Actions (1–3 bullets)** – practical, concrete next steps.\n5. **Assumptions / Data Gaps** – 1 short line noting defaults or limitations.\n\nAt the end of each response, append:\n\n{{ $if($json.fromWebhook, \"\", \"* End every response with **2–3 related or likely follow-up questions** (e.g., diagnostics, comparisons, forecasts, fleet-level checks).\") }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-1280],"id":"4ac5e542-a5f9-466f-8340-128f440094e0","name":"Set systemMessage"},{"parameters":{"operation":"set","key":"melrose_agent_from_schedule","value":"1","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-1568],"id":"43ee10f0-e2f6-43aa-847f-173ce5d23e5a","name":"Initialize fromSchedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"get","propertyName":"fromSchedule","key":"melrose_agent_from_schedule","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,-1376],"id":"e2ad379d-94cc-473a-9501-d74d1574610a","name":"Get melrose_agent_from_schedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"722594ab-aa69-43c0-9330-b3cebc63a1b2","leftValue":"={{ $json.fromSchedule }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1744,-1376],"id":"8d528220-e37d-4219-ae4a-8dce015c2c50","name":"If fromSchedule"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_melrose_chat_histories","mode":"list","cachedResultName":"n8n_melrose_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"=melrose_agent_{{ $workflow.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-1792],"id":"ccf93614-6ca9-43c3-84d8-337972c0cfa8","name":"Clear Summaries memory","credentials":{"postgres":{"id":"epaaIS42N6tUKW8x","name":"Postgres container"}}},{"parameters":{"sendTo":"willmiller@talktalk.net","subject":"=Week {{ $now.weekNumber }}/{{ $now.year }} summary","message":"={{ $('Melrose Agent').item.json.output }}","options":{"appendAttribution":false,"senderName":"Melrose Solar Agent"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2192,-1472],"id":"93702227-3b86-452f-b5de-344f3b839807","name":"Send a mail to Will","webhookId":"27e20a91-1b43-4d68-b907-7ee10ce2f0a5","credentials":{"gmailOAuth2":{"id":"RqGq3XJW9j7Ju8L1","name":"t.diot900 - Melrose Agent"}}},{"parameters":{"operation":"delete","key":"melrose_agent_from_schedule"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1968,-1472],"id":"5c670475-465d-40d4-a66f-84954f4bd87b","name":"Delete melrose_agent_from_schedule","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"assignments":{"assignments":[{"id":"943561ad-154f-4109-be72-fd8c2b510ffd","name":"output","value":"={{ $('Melrose Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,-1280],"id":"189d5832-62e0-44d4-bb22-d0a4647dc047","name":"Set output"}],"connections":{"When chat message received":{"main":[[{"node":"Set systemMessage","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Melrose Agent","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Melrose Agent":{"main":[[{"node":"Get melrose_agent_from_schedule","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Execute SQL query":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Describe inverter_data table":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Clear chat history":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Current Weather":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"5-Day Forecast":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"Melrose Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Set correct fields","type":"main","index":0}]]},"Set correct fields":{"main":[[{"node":"Set systemMessage","type":"main","index":0}]]},"model-router":{"ai_languageModel":[[{"node":"Melrose Agent","type":"ai_languageModel","index":0}]]},"Every Sunday at 10am":{"main":[[{"node":"Initialize fromSchedule","type":"main","index":0}]]},"Set systemMessage":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Set week summary fields":{"main":[[{"node":"Melrose Agent","type":"main","index":0}]]},"Initialize fromSchedule":{"main":[[{"node":"Set week summary fields","type":"main","index":0}]]},"Get melrose_agent_from_schedule":{"main":[[{"node":"If fromSchedule","type":"main","index":0}]]},"If fromSchedule":{"main":[[{"node":"Delete melrose_agent_from_schedule","type":"main","index":0}],[{"node":"Set output","type":"main","index":0}]]},"Delete melrose_agent_from_schedule":{"main":[[{"node":"Send a mail to Will","type":"main","index":0}]]},"Set output":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"John Doe","name":"Version 6e9a0166","description":"","autosaved":false},"tags":[]}