workflows/YROU74PNxUuUIq36.json
{"updatedAt":"2025-08-14T13:19:45.000Z","createdAt":"2025-08-13T06:04:25.771Z","id":"YROU74PNxUuUIq36","name":"Summarize Reddit post","active":false,"isArchived":true,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"models/gemma-3-27b-it","mode":"list","cachedResultName":"models/gemma-3-27b-it"},"messages":{"values":[{"content":"=You are summarizing a Reddit post in 1–2 concise sentences.\nYour summary must include the main issue, relevant context, and any described approach, solution, or constraint. If the post is marked NSFW, prepend the summary with “(NSFW)”. Mention the subreddit or author only if it adds critical context.\nTreat multiple blank lines in the body as normal paragraph breaks. Ignore formatting artifacts and discard any fields that are empty or contain “null” or “undefined”. Output only the plain summary — no quotes, labels, extra whitespace, or formatting.\n\nUse the following format as input:\n\n```\n===== BEGIN META =====\nsubreddit: {{ $json.subreddit || \"\" }}\nauthor: {{ $json.author || \"\" }}\nnsfw: {{ $json.over_18 ? \"true\" : \"false\" }}\n===== END META =====\n\n===== BEGIN TEXT =====\ntitle: {{ $json.title || \"\" }}\nbody:\n{{ $json.body || \"\" }}\n===== END TEXT =====\n```\n\nNow write a 1–2 sentence summary, plain text only, using the information above."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[848,48],"id":"2d2fe2af-1460-4cd6-a04a-6eaa86ff1fa6","name":"Message a model","credentials":{"googlePalmApi":{"id":"GNtLDT3w0YRmjHrT","name":"Gemini Api -  tdiot@bunkerity.com"}}},{"parameters":{"keys":{"key":[{"currentKey":"content.parts[0].text","newKey":"summary"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1200,48],"id":"8669451d-6bf7-4a4f-a8c7-36fdd0efcd0b","name":"Normalize output key"},{"parameters":{"assignments":{"assignments":[{"id":"93f1da33-c838-4bd3-a115-97b4e2f5cc01","name":"summary","value":"={{ $json.summary.trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,112],"id":"1d639357-d9d0-4848-ac3b-521268679f7f","name":"Keep only summary key"},{"parameters":{"workflowInputs":{"values":[{"name":"title"},{"name":"body"},{"name":"subreddit"},{"name":"author"},{"name":"over_18","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,64],"id":"bf4aeb53-65ee-4237-85bf-4bf27f1c9806","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","propertyName":"gemini_executions","key":"gemini_executions","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-496,208],"id":"83e103a8-df3e-4fb5-a8ff-83c5bb2c0830","name":"Get gemini executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,64],"id":"6a2c6d62-3be9-438f-b964-c674e50c76b4","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8152c702-f81c-471b-a7bc-33c4fedc9593","leftValue":"={{ $json.gemini_executions }}","rightValue":20,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,64],"id":"14841958-0d29-4a3d-872f-2427877fc182","name":"If there's been 20 executions"},{"parameters":{"amount":65},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,-112],"id":"36611168-f098-4cea-aef7-f41f75428b68","name":"Wait","webhookId":"19ce6afd-5f60-4e89-a7db-2fe2abd51c5a"},{"parameters":{"operation":"incr","key":"gemini_executions","expire":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[176,208],"id":"d76cc898-dc9d-4042-8570-70359c357ab7","name":"Increment gemini_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"delete","key":"gemini_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[400,-112],"id":"acf4c8a8-4039-473a-ada2-f643ec488299","name":"Delete gemini_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{"operation":"delete","key":"gemini_executions"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-720,-400],"id":"41309fae-7d8f-4e82-856e-7e7e6782caf2","name":"Manual Delete gemini_executions","credentials":{"redis":{"id":"AfgIqWjfLKZzroBz","name":"Redis db 1"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-944,-400],"id":"04da4635-8479-451b-a6b8-9f2d9726b615","name":"Manually clear gemini executions key"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-496,-176],"id":"b29847dc-b8d3-4c94-a116-fd0a039c9f4d","name":"End"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-272,64],"id":"c6400b8b-747b-4928-a7cf-2cc11e70845b","name":"Add gemini_executions key"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,-112],"id":"4f351243-679d-4ac4-b81f-bb4647280346","name":"Merge data"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[400,192],"id":"2cef978f-ed58-4370-a5df-c70a7555efe3","name":"Merge data1"}],"connections":{"Message a model":{"main":[[{"node":"Normalize output key","type":"main","index":0}]]},"Normalize output key":{"main":[[{"node":"Keep only summary key","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"End","type":"main","index":0}],[{"node":"Get gemini executions","type":"main","index":0},{"node":"Add gemini_executions key","type":"main","index":0}]]},"Get gemini executions":{"main":[[{"node":"Add gemini_executions key","type":"main","index":1}]]},"If there's been 20 executions":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Increment gemini_executions","type":"main","index":0},{"node":"Merge data1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Merge data","type":"main","index":0},{"node":"Delete gemini_executions","type":"main","index":0}]]},"Increment gemini_executions":{"main":[[{"node":"Merge data1","type":"main","index":1}]]},"Delete gemini_executions":{"main":[[{"node":"Merge data","type":"main","index":1}]]},"Keep only summary key":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Manually clear gemini executions key":{"main":[[{"node":"Manual Delete gemini_executions","type":"main","index":0}]]},"Add gemini_executions key":{"main":[[{"node":"If there's been 20 executions","type":"main","index":0}]]},"Merge data":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Merge data1":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a13c9c59-9b46-45c8-ba1e-0ab7bdd107ac","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T15:10:15.425Z","createdAt":"2025-09-15T15:10:15.425Z","role":"workflow:owner","workflowId":"YROU74PNxUuUIq36","projectId":"ZjBkzD6jhnG4YX2d"}],"tags":[{"updatedAt":"2025-08-13T11:33:42.562Z","createdAt":"2025-08-13T11:33:42.562Z","id":"ppRCyWayVv2OPX7e","name":"Util"},{"updatedAt":"2025-08-13T11:33:39.345Z","createdAt":"2025-08-13T11:33:39.345Z","id":"nwDQwW9fHHJylaLZ","name":"Reddit"}]}